// bootstrap override
.container {
	width: 100%;
	max-width: $pageWidth;
	padding: 0 15px;
	@include respond-to(break2) {
		padding: 0 80px;
	}
}

/* Grid System
-------------------------------------------------- */
  // gutters
  // $gutter: 1rem;
  // $gutterx2: 2rem;
  // $one-third-gutter: 0.3333rem;
  // $half-gutter: 0.5rem;
  // $two-thirds-gutter: 0.6667rem;
  // $vgut: 1.5rem; // bottom gutter
  
  // $half: 50%;
  // $four: 33.33333%;
  // $six: 50%;
  // $eight: 66.66667%;

	// bootstrap gutter override
	
	// $gutter-medium: 1.35%;
	$gutter-small: 7.5px;
	$gutter-medium: 1.35%;
	.row {
		margin-left: -$gutter-small;
		margin-right: -$gutter-small;
		@include respond-to(break2) {
			margin-left: -$gutter-medium;
			margin-right: -$gutter-medium;
		}
		@include respond-to(fullwidth) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom:0;
		}
	}
	// [class^="col-"] {
	[class*="col-"] {
		padding-left: $gutter-small;
		padding-right: $gutter-small;
		@include respond-to(break2) {
			padding-left: $gutter-medium;
			padding-right: $gutter-medium;
		}
		@include respond-to(fullwidth) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}