// fonts used:
// Acumin light, regular, semibold, bold

body {
	font-family: $sans;
}

// KNOCKOUT
%meganav-font {
// font-family: $knockoutNarrow;
	font-family: $slabLight;
	font-family: $sans;
	text-transform: uppercase;
	// font-weight: 700; 
	// font-weight: 300; 
	// font-weight: 700; $slabLight
	font-weight: 800;
	letter-spacing: 1px;
	// font-size: 2.2rem;
	font-size: 4vw;
	font-size: 5vw;
	// letter-spacing: 0.5px;
	@include respond-to(break2) {
		// font-size: 2.5rem;
		font-size: 1.5vw;
		line-height: 1.2;
	}
	@include respond-to(fullwidth) {
		// font-size: 2.2rem;
		font-size: 2rem;
	}
}

@mixin section-header {
	font-family: $slabWide;
	text-transform: uppercase;
	// font-size: 2.2rem;
	// font-size: 10vw;
	font-size: 5vw;
	letter-spacing: 0.5px;
	line-height: 0.7; // so margins accurate
	margin-top: 0; // bootstrap reset
	margin-bottom: 1.5rem;
	color: $black65;
	@include respond-to(break2) {
		// font-size: 4rem; // ff-good
		// font-size: 2.5rem;
		font-size: 2vw;
		margin-bottom: 2.8vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3rem;
		margin-bottom: 4.2rem;
	}
}
@mixin slab--largest {
	font-family: $slabWide;
	text-transform: uppercase;
	font-size: 6vw;
	letter-spacing: 0.5px;
	margin-top: 0; // bootstrap reset
	margin-bottom: 5vw;
	@include respond-to(break2) {
		// font-size: 4rem; // ff-good
		// font-size: 2.5rem;
		font-size: 2.5vw;
		// margin-bottom: 2.8vw;
		margin-bottom: 0;
	}
	@include respond-to(fullwidth) {
		font-size: 3.25rem;
		// margin-bottom: 4.2rem;
	}
}

@mixin link-font {
	font-family: $sans;
  // font-size: 1.5rem;
  font-size: 1.7rem;
  line-height: 2;
	@include respond-to(break2) {
		font-size: 1.35vw;
		line-height: 1.45;
	}
	@include respond-to(fullwidth) {
		font-size: 2rem;
		// line-height: 1.5;
		line-height: 1.4;
	}
}

@mixin link-font--small {
	font-family: $sans;
  // font-size: 1.3rem;
  font-size: 1.5rem;
  line-height: 1.7;
  @include respond-to(break2) {
  	font-size: 1vw;
  	line-height: 1.45;
  }
  @include respond-to(fullwidth) {
  	font-size: 1.5rem;
  	line-height: 1.5;
  }
}


%title--sans {
	font-family: $sans;
	font-weight: 600; // semibold for acumin
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 1.6vw;
  		margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 2.4rem;
  		margin-bottom: 0.5rem;
	}
}
@mixin title--sans--large {
	font-family: $sans;
	font-weight: 700;
	// font-size: 5vw;
	font-size: 5vw;
	@include respond-to(break2) {
		font-size: 2vw;
		line-height: 1.2;
	}
	@include respond-to(fullwidth) {
		font-size: 3rem;
	}
}
@mixin title--sans--alt {
	font-family: $sans;
	font-weight: 300;
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 2vw;
  		margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 3rem;
		line-height: 1.25;
  		// margin-bottom: 0.5rem;
  		margin-bottom: 0;
	}
}
@mixin subtitle--sans {
	font-family: $sans;
	font-weight: 300; // light for acumin
	line-height: 1.2;
	line-height: 1.4;
  	font-size: 4vw;
	@include respond-to(break2) {
  		font-size: 1.35vw;
		line-height: 1.25;
	}
	@include respond-to(fullwidth) {
		line-height: 1.3;
  		// font-size: 2rem;
  		font-size: 1.8rem; // oct 19 for fritz
	}
}
@mixin subtitle--sans--large {
	font-family: $sans;
	font-weight: 300; // light for acumin
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 2vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 3rem;
		line-height: 1.3;
	}
}

// search bar
%small-sans-title {
  font-family: $sans;
  font-weight: 500;
  line-height: 1.7;
  font-size: 2.5rem;
  // @include respond-to(break1) {
  //   font-size: 4vw;
  // }
  // @include respond-to(break2) {
  //   // font-size: 1.8vw;
  //   font-size: 2vw;
  //   line-height: 1.25;
  // }
  // @include respond-to(fullwidth) {
  //   // font-size: 1.3rem;
  //   font-size: 1.4rem;
  // }
}


/******************
 * Serif
 *
 ******************/

// Body
@mixin body-text {
	font-family: $serif;
	font-size:5vw;
	color: black;
	@include respond-to(break2) {font-size:1.6vw;}
	@include respond-to(fullwidth) {font-size:2.4rem;}
}
@mixin h3 {
	font-weight: 600;
	font-size:6vw;
	margin-bottom: 1rem;
	@include respond-to(break2) {
		font-size:1.9vw;
		margin-bottom: 1vw; 
	}
	@include respond-to(fullwidth) {
		font-size:2.8rem;
		margin-bottom: 1.5rem; // 30px
	}
}
@mixin title--serif {
	font-family: $serif;
	font-weight: 700;
	line-height: 1.2;
  	font-size: 6vw;
	@include respond-to(break2) {
  		font-size: 1.9vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 2.8rem;
	}
}
%title--serif--large {
	font-family: $serif;
	font-weight: 700;
	line-height: 1.2;
	font-size: 6vw;
	@include respond-to(break2) {
		font-size: 2.8vw;
		line-height: 1.2;
	}
	@include respond-to(fullwidth) {
		// font-size: 4rem;
		font-size: 4.2rem;
	}
}
@mixin title--serif--xlarge {
	font-family: $serif;
	font-weight: 700;
	line-height: 1.1;
	font-size: 8vw;
	@include respond-to(break2) {
		font-size: 4.2vw;
		// line-height: 1.1;
		margin-top: -1rem;
	}
	@include respond-to(fullwidth) {
		font-size: 6.2rem;
		// line-height: 1.1;
		margin-top: -1rem;
	}
}


@mixin category {
	text-transform: uppercase;
	font-family: $sansWide;
	color: $black65;
	font-weight: 300;
	letter-spacing: 1px;
	// line-height: 0.8; // so margins accurate
	margin-bottom: 0.5rem;
	margin-bottom: 0;
	font-size: 2.5vw;
	@include respond-to(break2) {
		font-size: 1.05vw;
		margin-bottom: 0.3rem;
	}
	@include respond-to(fullwidth) {
		// margin-top: 0;
	// font-size: 1.6rem;
		// font-size: 1.8rem; // ff good
		font-size: 1.6rem; // acumin pro
		margin-bottom: 0.5rem;
		// font-size: 1.5rem; // acumin pro wide
	}
}



@mixin type--logo {
	font-family: $slabLight;
	line-height: 1.15;
	font-size: 3.3rem;
	@include respond-to(break2) {
		font-size: 2.2vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3.3rem;
		line-height: 1.15;
	}


}
@mixin email-newsletter {
	font-family: $sans;
	font-size: 5vw;
	@include respond-to(break2) {
		padding-top: 1vw;
		font-size: 2.3vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3.5rem;
		padding-top: 1.5rem;
	}
}

@mixin smithsonian-institution-logo {
	font-family: $serif;
	font-size: 5vw;
	@include respond-to(break2) {
		font-size: 2.3vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3.5rem;
	}
}

// FONTS
@mixin sans-semibold {
	font-family: $sans;
	font-weight: 600;
}
// SCALES
@mixin fs-18 {
	font-size: 4.1vw;
	@include respond-to(break2) {font-size: 1.2vw;}
	@include respond-to(fullwidth) {font-size: 1.8rem;}
}


%type--date {
	@include category;
	font-weight: 700;
}

@mixin sidebar-subtitle {
	@include category;
	font-family: $sans;
}
@mixin sidebar-copy {
	font-family: $sans;
	@include fs-18;
	letter-spacing: 0;
	font-weight: 600;
	text-transform: none;
	color: $black70;
	line-height: 1.33333;
	p {
		margin-bottom:0;
	}

}


/* Sans reference
-------------------------------------------------- */

// Variation 	font-family 	font-weight 	font-style 	Copy CSS
// Thin 				 	100 	 	
// Extra Light 				200 	 	
// Light 				 	300 	 	
// Regular 				 	400 	 	
// Medium 				 	500 	 	
// Semibold 				600 	 	
// Bold 				 	700 	 	
// Black 				 	800 	 	
// Ultra Black 				900 	 	

