.blog-categories
	h2.blog-sidebar__header Categories
	ul.blog-categories
		li: a.high: span.light: span.er Traditional Knowledge
		li: a.high: span.light: span.er Music
		li: a.high: span.light: span.er Dance
		li: a.high: span.light: span.er Dress
		li: a.high: span.light: span.er Crafts
		li: a.high: span.light: span.er Games
		li: a.high: span.light: span.er Languages
		li: a.high: span.light: span.er Foodways
		li: a.high: span.light: span.er Building Arts
		li: a.high: span.light: span.er Celebrations
		li: a.high: span.light: span.er Environment
		li: a.high: span.light: span.er Cultural Transmission
		li: a.high: span.light: span.er By Our Interns