.related-content
	h2.sidebar-section-title Related Content
	-if($page->template() == 'article'):
		// blog article sidebar
		ul.row
			-foreach($page->siblings(false)->visible()->filterBy('tags','basque',',')->limit($limit) as $card):
				-snippet('card', array('card' => $card, 'card_classes' => 'col-xs-12 sidebar-card' ))
			-endforeach
	-else:
		// program sidebar
		ul.row
			-foreach($pages->find('blog')->children()->visible()->filterBy('tags','basque',',')->limit($limit) as $card):
				-snippet('horizontal-card', array('card' => $card, 'card_classes' => 'col-xs-12 border-top sidebar-card', 'image_col' => 'col-xs-6', 'details_col' => 'col-xs-6', 'excerpt' => 12 ))
			-endforeach
	-endif

	