.blog-most-popular
	h2.blog-sidebar__header Most Popular
	//- get all articles marked popular
	- $n=0;
	-foreach($pages->find('blog')->children()->visible()->filterBy('tags', 'popular', ',')->limit(5) as $entry): $n++
		div.blog-sidebar__feature
			.blog-sidebar__number!= $n
			//- a.high.title(data-number="<?= $n ?>" href="<?= $entry->url() ?>")
			a.high.title(href="<?= $entry->url() ?>")
				span.light: span.er= $entry->title()->excerpt('8', 'words')
	-endforeach