.related-content
	h2.sidebar__section-title Related Content
	-if($page->template() == 'article'):
		// blog article sidebar
		ul.row.cards.cards--sidebar
			-foreach($page->siblings(false)->visible()->filterBy('tags','basque',',')->limit($limit) as $card):
				-snippet('card', array('card' => $card, 'card_classes' => 'col-xs-12' ))
			-endforeach
	-else:
		// program sidebar
		ul.row.cards.cards--horizontal.cards--border-top.cards--sidebar.cards--image-xs-6
			-foreach($pages->find('blog')->children()->visible()->filterBy('tags','basque',',')->limit($limit) as $card):
				-snippet('card-horizontal', array('card' => $card, 'card_classes' => 'col-xs-12 border-top', 'image_col' => 'col-xs-6', 'details_col' => 'col-xs-6', 'excerpt' => 12 ))
			-endforeach
	-endif

	