.blog-categories.sidebar-section
	h2.sidebar-section-title Categories
	ul.blog-categories
		li.sidebar-item.sidebar-highlight: a Traditional Knowledge
		li.sidebar-item.sidebar-highlight: a Music
		li.sidebar-item.sidebar-highlight: a Dance
		li.sidebar-item.sidebar-highlight: a Dress
		li.sidebar-item.sidebar-highlight: a Crafts
		li.sidebar-item.sidebar-highlight: a Games
		li.sidebar-item.sidebar-highlight: a Languages
		li.sidebar-item.sidebar-highlight: a Foodways
		li.sidebar-item.sidebar-highlight: a Building Arts
		li.sidebar-item.sidebar-highlight: a Celebrations
		li.sidebar-item.sidebar-highlight: a Environment
		li.sidebar-item.sidebar-highlight: a Cultural Transmission
		li.sidebar-item.sidebar-highlight: a By Our Interns