//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.blog-article-card.col-xs-12(class="<? if ($card->type() == 'video') echo 'video-card' ?> <? if (isset($card_classes)) echo $card_classes ?>")
	.image
		a(href="<?= $card->url() ?>")
			img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
	.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= excerpt($card->copy(), 25, "words") ?> <a href=\'#\'>more</a>')
		.center-box
			.modal-trigger
				img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
			.icon-play-button
	.details
		.details-inner
			-if(isset($type) && $type != 'general-content'):
			.tag!= $card->festival(), ', ', $card->program();
			-endif

			//- if subtitle, group with title for correct highlighting
			-if('' != $card->subtitle()):	
				h1.title!= $card->title(), ': ', $card->subtitle()
			-else:
				h1.title!= $card->title()
			-endif

			-if(isset($type) && $type != 'general-content'):
			.byline!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
			-endif
