-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.col-sm-3.top-border-card.blog-card(class="<? if ($card->type() == 'video' || ((isset($type)) && ($type == 'video'))) echo 'video-card'?>")
	.card-inner
		.details.mh-fs-quarter-blog
			.details-inner
				.date!= $card->date('M d, Y')
				a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()

		-if ($card->type() == 'video'):
			.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= excerpt($card->copy(), 25, "words") ?> <a href=\'#\'>more</a>')
				.center-box
					.modal-trigger
						img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
					.icon-play-button.video-icon-play-button.icon-stack
						.icon-circle
						.icon-play
		-else:
			.image
				a(href="<?= $card->url() ?>")
					img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
		-endif
