-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.col-xs-6.col-sm-2.card-xs-break-2.card-sm-break-6
	.image
		a(href="<?= $card->url() ?>")
			img.card__image(src="<?= $image->url() ?>")
	.details
		.details__inner
			a.high(href="<?= $card->url() ?>").title.card__title: span.light: span.er= $card->title()

