//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.card-horizontal(class="<? if (isset($card_classes)) echo $card_classes ?> <? if ($card->type() == 'audio') echo 'card-audio' ?>")
	.image
		a(href="<?= $card->url() ?>")
			img.card__image(src="<?= $image->url() ?>")
	.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
		.center-box
			.modal-trigger
				img.card__image(src="<?= $image->url() ?>")
			.icon-play-button.icon-play-button--video.icon-stack
				.icon-circle
				.icon-play
	.details
		.details__inner
			.category!= $card->category()
			
			-if (isset($date) && isset($time)):
				.tag!= $card->date('M d, Y'), '<br />', $card->time()
			-elseif (isset($date)):
				.tag!= $card->date()
			-endif

			a.high(href="<?= $card->url() ?>").title.card__title: span.light: span.er= $card->title()
			
			//- blurb
			-if (isset($blurb)):
				.description.card__description.link-underline.blurb!= $card->blurb()->kt()
			-endif
			
			-if (isset($excerpt)):
				.description.card__description.link-underline
					p!= excerpt($card->copy()->kt(), $excerpt, 'words')
			-endif

			-if (isset($more_link)):
				-snippet('more-link', array('link' => $card->url()))
			-endif

			-if(isset($album)):
				.subtitle!= $card->audio_album()
			-endif

			-if (isset($artist)):
				.artist!= $card->artist()->kt()
			-endif

			-if ($card->type() == 'audio'):
				.audio-player
					.icon-play-button.icon-stack
						.icon-circle
						.icon-play
					.audio-player__details
						.audio-progress-bar
							img(src="/assets/images/icons/audio-progress-bar.png")
						.audio-time
							|0:00 &vert;&nbsp;
							!= $card->audio_length()
						.volume.icon-volume-up
			-endif
