//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.blog-article.col-xs-12(class="<? if ($card->type() == 'video') echo 'card-video' ?>")
	.image
		a(href="<?= $card->url() ?>")
			img(src="<?= $image->url() ?>")
	.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
		.center-box
			.modal-trigger
				img(src="<?= $image->url() ?>")
			.icon-play-button.video-icon-play-button.icon-stack
				.icon-circle
				.icon-play
	.details
		.details-inner
			.tag!= $card->festival(), ', ', $card->program();

			.title!= $card->title()

			.date!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'