-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.col-sm-3.border-top(class="<? if ($card->type() == 'video' || ((isset($type)) && ($type == 'video'))) echo 'card-video'?>")
	.card-inner
		.details
			.details-inner
				.date!= $card->date('M d, Y')
				a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()

		.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
			.center-box
				.modal-trigger
					img(src="<?= $image->url() ?>")
				.icon-play-button.video-icon-play-button.icon-stack
					.icon-circle
					.icon-play

		.image
			a(href="<?= $card->url() ?>")
				img(src="<?= $image->url() ?>")