//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
-elseif($src = $card->image()):
	-$image = $src
-else:
	-$image = null
-endif

-if (isset($col_override)):
	-$col = $col_override
-else:
	-$col = 'col-xs-6 col-sm-2'
-endif

li.card.album-card(class="<?= $col ?>")
	.image
		a(href="<?= $card->url() ?>")
			img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
	.details
		.details-inner
			a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()
			
			.artist!= $card->artist()->kt()