-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.video-card(class="<?= $card_classes ?>")
	.row
		.video(class="<?= $video_col ?>" data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= excerpt($card->copy(), 25, "words") ?> <a href=\'#\'>more</a>')
			.center-box
				.modal-trigger
					img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
				.icon-play-button
		.details(class="<?= $details_col ?>")
			.details-inner
				.tag!= $card->category()
				a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()
				.description.link-underline
					p!= excerpt($card->copy()->kt(), '20', 'words')
