-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.audio-card.col-xs-6.col-sm-3.card-xs-break-2.full-border-card
		.image
			a(href="<?= $card->url() ?>")
				img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
		.details
			.details-inner
				.tag!= $card->category() 
				.title-wrapper
					a.high.title(href="<?= $card->url() ?>"): span.light: span.er= $card->title()
					-if('' != $card->audio_album()):
						.subtitle!= $card->audio_album()
					-endif
					.artist!= $card->artist()->kt()
				.audio-player
					.track-title Test Title Here
					//- <audio class="mejs-player" src="/assets/audio/Music2same.mp3" data-mejsoptions='{"startVolume": 0.5, "setDimensions": false}'>
					<audio class="mejs-player-svg" src="/assets/audio/Music2same.mp3"></audio>
				//- script debugger