//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.col-xs-12
	.image
		figure
			img.ms-header-image(src="<?= $src->url() ?>")
			//- show caption if it exists
			-if($caption = $page->img_caption()->kt()):
				figcaption!= $caption
			-endif
	.details
		.details-inner
			.title!= $card->title()
			.byline!= $card->byline()
			
			.description.link-underline.blurb!= $card->blurb()->kt()