-if ('' != $card->thumbnail_img()):
	//- set thumbnail as image if it's set in panel
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.horizontal-card.col-xs-12
	.row
		.image.col-sm-7
			figure
				img(src="<?= $src->url() ?>")
				//- show caption if it exists
				-if($caption = $page->img_caption()->kt()):
					figcaption
						.figcaption-inner!= $caption
				-endif
		.details.col-sm-5
			.details-inner
				a.high(href="<?= $card->url() ?>").subtitle: span.light: span.er= $card->subtitle()
				-if('' != $card->byline()):
					.byline!= $card->byline()
				-endif
				
				.description.link-underline.blurb!= $card->blurb()->kt()

				-snippet('more-link', array('link' => $card->url()))
