//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.feature.col-xs-12
	.image
		a(href="<?= $card->url() ?>")
			img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
	.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= excerpt($card->copy(), 25, "words") ?> <a href=\'#\'>more</a>')
		.center-box
			.modal-trigger
				img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
			.icon-play-button
	.details
		.details-inner
			.tag!= $card->festival(), ', ', $card->program();

			a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()

			.byline!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
			
			.description.link-underline
				p!= excerpt($card->copy()->kt(), 55, 'words')

			-snippet('more-link', array('link' => $card->url()))