//- use thumbnail if it’s set in panel
-if ('' != $card->banner_img()):
	-$image = $card->image($card->banner_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card.col-xs-12
	.image
		figure
			img.ms-header-image(src="<?= $image->url() ?>")
			//- show caption if it exists
			-if($caption = $page->img_caption()):
				figcaption
					.figcaption-inner!= $caption
			-endif
	.details
		.details-inner
			.title!= $card->subtitle()
			.byline!= $card->byline()
			
			.description.link-underline.blurb!= $card->blurb()->kt()