//- set thumbnail as image if it's set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
- elseif($src = $card->image()):
	-$image = $src
-endif

li.card(class="<?= $card_classes ?>")
	a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()
	.image
		a(href="<?= $card->url() ?>")
			img(src="<?= $image->url() ?>")
	.details
		.details-inner
			.tag!= $card->category()

			.description.link-underline
				p!= excerpt($card->copy()->kt(), $excerpt, 'words')