//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
-elseif($src = $card->image()):
	-$image = $src
-else:
	-$image = null
-endif

-$gallery_img = $card->image($card->gallery_img())


.image-gallery
	.center-box
		.modal-trigger
			img.gallery-thumbnail(src="<?= $gallery_img->url() ?>" alt="Gallery image")
		.icon-play-button

	ul.gallery-list
		-foreach($card->images()->filterBy('filename', '*=', 'slide') as $image):
			.gallery-image
				.gallery-image-inner
					img(src="<?= $image->url() ?>" alt="Gallery image")
					//- .remodal-description!= $image->caption()
					//- .remodal-credit!= $image->credit()
		-endforeach
	ul.gallery-list-captions
		-foreach($card->images()->filterBy('filename', '*=', 'slide') as $image):
			.gallery-caption
				.remodal-description!= $image->caption()
				.remodal-credit!= $image->credit()
		-endforeach
