//- use thumbnail if it’s set in panel
-if ('' != $card->thumbnail_img()):
	-$image = $card->image($card->thumbnail_img())
-elseif($src = $card->image()):
	-$image = $src
-else:
	-$image = null
-endif

li.card(class="<? if (isset($card_classes)) echo $card_classes . ' ' ?><? if ($card->type() == 'audio') echo ' audio-card' ?><? if ($card->type() == 'video') echo ' video-card' ?>")

	-if ($card->type() == 'video'):
		.video(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= excerpt($card->copy(), 25, "words") ?> <a href=\'#\'>more</a>')
			.center-box
				.modal-trigger
					img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
				.icon-play-button.video-icon-play-button.icon-stack
					.icon-circle
					.icon-play
	-elseif($image):
		.image
			-if (null != $card->url()):
			a(href="<?= $card->url() ?>")
				img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>" class="<? if (isset($image_class)) echo $image_class ?>")
			-else:
			a(href="#")
				img(src="<?= $image->url() ?>" alt="<?= $card->title() ?>")
			-endif
	-endif
	.details
		//- clearfix holds floating more info arrows at narrow widths
		.details-inner.clearfix
			-if('' != $card->category()):	
				.tag!= $card->category()
			-endif
			
			-if (isset($date) && isset($time)):
				.tag!= $card->date('M d, Y'), '<br />', $card->time()
			-elseif (isset($date)):
				.tag!= $card->date('F j')
			-elseif (isset($year)):
				//- year for past festival program page
				.tag.year!= $year
			-endif

			//- if subtitle, group with title for correct highlighting
			-if('' != $card->subtitle()):	
				a.high(href="<?= $card->url() ?>")
					.title: span.light: span.er= $card->title()
					.subtitle: span.light: span.er= $card->subtitle()
			-else:
				a.high(href="<?= $card->url() ?>").title: span.light: span.er= $card->title()
			-endif
			
			//- album name
			-if('' != $card->audio_album()):
				.subtitle!= $card->audio_album()
			-endif

			

			//- blurb
			-if (isset($blurb)):
				.description.link-underline.blurb!= $card->blurb()->kt()
			-endif
			
			-if (isset($excerpt)):
				.description.link-underline
					p!= excerpt($card->copy()->kt(), $excerpt, 'words')
			-endif

			-if (isset($more_link)):
				-snippet('more-link', array('link' => $card->url()))
			-endif

			-if(isset($album)):
				.subtitle!= $card->audio_album()
			-endif

			-if (isset($artist)):
				.artist!= $card->artist()->kt()
			-endif

			-if ($card->type() == 'audio'):
				.audio-player
					.icon-play-button.icon-stack
						.icon-circle
						.icon-play
					.audio-player-details
						.audio-progress-bar
							img(src="/assets/images/icons/audio-progress-bar.png" alt="audio progress bar")
						.audio-time
							|0:00 &vert;&nbsp;
							!= $card->audio_length()
						.volume.icon-volume-up
			-endif
