.container: hr.hr--thick
section.container.section--festival-blog.blog
	.more-link-wrapper
		h2.section-title Festival Blog
		-snippet('more-link')
		ul.row.cards
			-foreach ($pages->find('blog')->children()->visible()->limit(4) as $card):
				-snippet('card-quarter-blog', array('card' => $card, 'video_id' => $card->video_id() ))
			-endforeach