-if($page->intendedTemplate() != 'magazine'):
.container: hr.thick-hr.above-support-hr
-endif

//- half sections must be wrapped in container to stay in middle and together
.newsletter-signup-wrapper.container
	.short-newsletter-signup
		.newsletter-signup.clearfix
			.newsletter-signup-copy
				.icon-mail-svg
					svg(title="play button circle" class="svg-play-button-circle"): use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Images/icons/icons.svg#icon-mail")

				= $site->newsletter_text()
			
	.short-newsletter-signup.short-newsletter-signup-form-wrapper
		a.click-to-join-folkways.newsletter-input(href="http://google.com") Click to Join
		//- form(action="/").newsletter-signup-form.newsletter
			input.newsletter-input(type="email" placeholder="Enter your email")
