-if($page->intendedTemplate() != 'magazine'):
.container: hr.thick-hr.above-support-hr
-endif

//- half sections must be wrapped in container to stay in middle and together
.newsletter-signup-wrapper.container
	.short-newsletter-signup
		.newsletter-signup.clearfix
			.newsletter-signup-copy
				.icon-mail
				= $site->newsletter_text()
			
	.short-newsletter-signup.short-newsletter-signup-form-wrapper
		form(action="/").newsletter-signup-form.newsletter
			input.newsletter-input(type="email" placeholder="Enter your email")
