.row
	.album-info.col-sm-12
		h3.sidebar-section-title Folkways Suggests
		.album-sidebar-tab ALBUMS 
			.icon-down-open-mini(aria-hidden="true")
		ul.row.suggested-albums
			-foreach($pages->find('explore')->children()->find('sounds')->children()->filterBy('tags', '!=', 'radio')->shuffle()->limit(6) as $album):
				-snippet('card-horizontal', array('card' => $album, 'card_classes' => 'col-xs-6 col-sm-12 suggested-album sidebar-card top-border-card', 'image_col' => 'col-sm-6', 'details_col' => 'col-sm-6', 'artist' => true ))
			-endforeach
		.album-sidebar-tab VIDEOS 
			.icon-right-open-mini(aria-hidden="true")
		.album-sidebar-tab PLAYLISTS
			.icon-right-open-mini(aria-hidden="true")
		.album-sidebar-tab TOOLS FOR TEACHING
			.icon-right-open-mini(aria-hidden="true")
		.album-sidebar-tab ARTICLES
			.icon-right-open-mini(aria-hidden="true")