div(data-remodal-id="modal")
	button(data-remodal-action="close" class="remodal-close")
	.remodal-image: img
	.remodal-iframe#remodal-iframe
	.remodal-copy
		h3.remodal-title .
		.remodal-description
			p