div(data-remodal-id="modal")
	button(data-remodal-action="close" class="remodal-close")
	//- image gallery when needed (folkways membership page)
	ul.remodal-gallery
	ul.remodal-captions
	.remodal-iframe#remodal-iframe
	.remodal-copy
		h3.remodal-title .
		.remodal-description
			p