hr.footer-hr
ul.footer-row.footer-row-2.row
	li.footer-main-item.col-sm-3
		.footer-logo.active-footer-logo
			//- show appropriate link depending on what the current site is and if its on Dev or Live servers
			-if (c::get('isFolklife') || c::get('isStyleguide')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3001'; else echo 'http://folklife.lukehatfield.com' ?>"): img.footer-logo-img.folklife-footer-logo-img(src="/assets/images/logo/smithsonian_center_for_folklife_and_cultural_heritage.png?v=2016.10.21" alt="Smithsonian Center for Folklife and Cultural Heritage") 
			-elseif (c::get('isFestival')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3003'; else echo 'http://on.festival.lukehatfield.com' ?>"): img.footer-logo-img(src="/assets/images/logo/smithsonian_folklife_festival.png?v=2016.10.21" alt="Smithsonian Folklife Festival") 
			-elseif (c::get('isFolkways')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3005'; else echo 'http://folkways.lukehatfield.com' ?>"): img.footer-logo-img(src="/assets/images/logo/smithsonian_folkways_recordings.png?v=2016.10.21" alt="Smithsonian Folkways Recordings") 
			-endif
	li.footer-main-item.col-sm-3 
		.footer-logo
			//- show appropriate link depending on what the current site is and if its on Dev or Live servers
			-if (c::get('isFolklife') || c::get('isStyleguide')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3005'; else echo 'http://folkways.lukehatfield.com' ?>"): img.footer-logo-img(src="/assets/images/logo/smithsonian_folkways_recordings.png?v=2016.10.21" alt="Smithsonian Folkways Recordings") 
			-elseif (c::get('isFestival') || c::get('isFolkways')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3001'; else echo 'http://folklife.lukehatfield.com' ?>"): img.footer-logo-img.folklife-footer-logo-img(src="/assets/images/logo/smithsonian_center_for_folklife_and_cultural_heritage.png?v=2016.10.21" alt="Smithsonian Center for Folklife and Cultural Heritage") 
			-endif
	li.footer-main-item.col-sm-3 
		.footer-logo
			//- show appropriate link depending on what the current site is and if its on Dev or Live servers
			-if (c::get('isFolklife') || c::get('isFolkways') || c::get('isStyleguide')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3003'; else echo 'http://on.festival.lukehatfield.com' ?>"): img.footer-logo-img(src="/assets/images/logo/smithsonian_folklife_festival.png?v=2016.10.21" alt="Smithsonian Folklife Festival") 
			-elseif (c::get('isFestival')):
				a(href="<? if (c::get('isDev')) echo 'http://localhost:3005'; else echo 'http://folkways.lukehatfield.com' ?>"): img.footer-logo-img(src="/assets/images/logo/smithsonian_folkways_recordings.png?v=2016.10.21" alt="Smithsonian Folkways Recordings") 
			-endif
	li.footer-main-item.col-sm-1 
		ul.footer-list.copyright-list
			li.footer-sub-item.copyright-list-item: a(href="#") Copyright
			li.footer-sub-item.copyright-list-item: a(href="#") Contact
			li.footer-sub-item.copyright-list-item: a(href="#") Privacy
			li.footer-sub-item.copyright-list-item: a(href="#") Credits
	li.footer-main-item.col-sm-2.social-media
		.footer-sub-item.social-media-title Connect with us
		ul.footer-list
			// Folklife
			-if (c::get('isFolklife')):
			li
				a(href="https://www.facebook.com/smithsonianfolklifefestival" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-facebook")
			li
				a(href="https://twitter.com/smithsonianfolk" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-twitter")
			li
				a(href="http://smithsonianfolklife.tumblr.com/" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-tumblr")
			li
				a(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-flickr")
			li
				a(href="https://www.instagram.com/smithsonianfolklife/" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-instagrem")

			// Festival
			-elseif (c::get('isFestival')):
			li
				a(href="https://www.facebook.com/smithsonianfolklifefestival" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-facebook")
			li
				a(href="https://twitter.com/smithsonianfolk" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-twitter")
			li
				a(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-flickr")
			li
				a(href="https://www.youtube.com/user/SmithsonianFolklife" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-youtube")
			li
				a(href="https://www.instagram.com/smithsonianfolklife/" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-instagrem")
			// Folkways
			-else:
			li
				a(href="http://www.facebook.com/smithsonianfolkwaysrecordings" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-facebook")
			li
				a(href="https://twitter.com/folkways" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-twitter")
			li
				a(href="https://www.youtube.com/user/SmithsonianFolkways" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-youtube")
			li
				a(href="https://www.pinterest.com/smithsofolkways/" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-pinterest")
			li
				a(href="https://www.instagram.com/smithsonianfolklife/" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-instagrem")
			li
				a(href="https://soundcloud.com/smithsonian-folkways" target="_blank")
					svg.svg-social-icon-footer: use(xlink:href="/Images/icons/icons.svg#icon-soundcloud")

			-endif;
ul.footer-row.footer-row-3.row
	li.footer-main-item.col-sm-3
		.smithsonian-institution-logo
			img(src="/assets/images/logo/smithsonian_institution.png" alt="Smithsonian Institution")
	li.footer-main-item.col-sm-4
		.copyright
			|&copy; 2016 Smithsonian Institution