.container: hr.thick-hr.above-support-hr

//- half sections must be wrapped in container to stay in middle and together
.container
	.row
		section.col-sm-6.newsletter-signup-section
			.newsletter-signup.clearfix
				.newsletter-signup-copy
					.icon-mail
					= $site->newsletter_text()
				form(action="/").newsletter-signup-form.newsletter
						input.newsletter-input(type="email" placeholder="Enter your email")
		section.col-sm-6.support-section
			.support.clearfix
				.support-copy.clearfix
					= $site->support_text()
				.support-button.button
					.button-inner
						= $site->support_button_text()
