.magazine-title-bar-wrapper
	.magazine-title-bar
		.container
			//- if custom title passed
			.row
				.col-sm-6
					.folkways-magazine-logo
						img(src="/assets/images/logo/folkways-magazine.gif" alt="Smithsonian Folkways Magazine")
				.col-sm-2.black-spacer
				.col-sm-4
					.issue-title
						.tag Winter/Spring 2017
						.title Education
