.magazine-title-bar-wrapper
	.magazine-title-bar#main-content(tabindex="-1")
		.container
			//- if custom title passed
			.row
				.col-sm-6.folkways-magazine-logo-wrapper
					.folkways-magazine-logo
						a(href="/explore/magazine")
							img(src="/assets/images/logo/folkways-magazine.gif" alt="Smithsonian Folkways Magazine")
				.col-sm-2.black-spacer.hidden-xs
				.col-sm-4.issue-title-wrapper
					.issue-title
						.tag Winter/Spring 2017
						.title Education
