// Member | Support
.highlight-bar
	.container
		.row.equal-height-parent
			.col-sm-6.become-a-member.equal-height-child
				.become-a-member-inner.clearfix
					.image
						img(src="/assets/images/become-a-member.jpg")
						.vertically-align Become a member
					.copy.equal-height-child 
						.copy-inner.vertically-align
							|Free downloads <br />
							|Cover art prints  <br />
							|Exclusive events
			.col-sm-6.col-sm-push-6.support-folkways
				.support
					.support-copy.clearfix
						= $site->support_text()
					.support-button.button
						.button-inner
							= $site->support_button_text()
