// Member | Support
.highlight-bar
	.container
		.row
			.col-sm-6.become-a-member
				.become-a-member-inner.clearfix
					.image
						img#member-image(src="/Themes/Folkways/Assets/images/become-a-member.jpg" alt="Become a Member")
						.vertically-align.become-a-member-image-text Become a member
					.copy
						.copy-inner.vertically-align
							|Free downloads <br />
							|Cover art prints  <br />
							|Exclusive events
			.col-sm-6.support-folkways
				.support.clearfix
					.support-copy
						= $site->support_text()
					.support-button.button
						.button-inner
							= $site->support_button_text()
