a.high.more-link(class="<? if(isset($class)) echo $class ?>" href="<? if(isset($link)) echo $link ?>")
	.light
		.er
			//- for custom text like festival/program
			-if(isset($text)):
				.more-link__text!= $text
			- else:
				.more-link__text more
			-endif
			//- .more-link__arrow.icon-right-thin
			.more-link__arrow.icon-arrow2

