a.high.more-link(class="<? if(isset($class)) echo $class ?>" href="<? if(isset($link)) echo $link ?>")
	.light
		.er
			//- for custom text like festival/program
			-if(isset($text)):
				.more-link-text!= $text
			- else:
				.more-link-text more
			-endif
			.more-link-arrow.icon-arrow2

