// Search Bar
form.search-bar.desktop-search-bar.col-sm-offset-1.col-sm-5.col-md-5.col-md-offset-1.col-lg-offset-2.col-lg-6(action="/search")
	input#search-input(placeholder="Search..." type="search" name="q" value="<? if(isset($query)) echo esc($query) ?>")

// Main Navigation Icons
.nav-icons.col-sm-3.col-lg-2
	.icon-menu.nav-icon.main-nav-icon#menu-icon(aria-hidden="true" title="menu" tabindex="0")
	.icon-share.nav-icon.main-nav-icon#share-icon(aria-hidden="true" title="share" tabindex="0")
	.icon-search.nav-icon.main-nav-icon#search-icon(aria-hidden="true" title="search" tabindex="0")