// Search Bar
form.search-bar.desktop-search-bar.col-sm-offset-1.col-sm-5.col-md-5.col-md-offset-1.col-lg-offset-2.col-lg-6(action="/search")
	//- input#search-input(placeholder="Search..." type="search" name="q" value="<? if(isset($query)) echo esc($query) ?>")
	input#search-input.search-input(placeholder="Search..." type="search" name="q" value="<? if(isset($query)) echo esc($query) ?>")

// Main Navigation Icons
.nav-icons.col-sm-3.col-lg-2
	.nav-icon#search-icon(aria-hidden="true" title="search" tabindex="0")
		svg.svg-nav-icon.main-nav-icon(title="search"): use(xlink:href="/Images/icons/icons.svg#icon-search")
	.nav-icon#share-icon(aria-hidden="true" title="share" tabindex="0")
		svg.svg-nav-icon.main-nav-icon(title="share"): use(xlink:href="/Images/icons/icons.svg#icon-share")
	.nav-icon#menu-icon(aria-hidden="true" title="menu" tabindex="0")
		svg.svg-nav-icon.main-nav-icon(title="menu"): use(xlink:href="/Images/icons/icons.svg#icon-menu-1")

#cart-quantity.is-hidden
	//- <script src="https://checkout.netsuite.com/app/site/query/getcartitemcount.nl?c=297799"></script>