//- add tabindex so can focus this when clicked to
.title-bar#main-content(tabindex="-1")
	.container.title-height
		// Program Year
		-if (isset($year)):
			.program-year-outer
				.program-year-inner
					.program-year
						!= $year
		-endif
		
		//- if custom title passed
		-if (isset($title)):
			//- if link passed
			-if (isset($link)):
				a(href="<?= $link ?>"): h1.page-title= $title
			//- no link passed
			-else:
				h1.page-title= $title
			-endif
		//- if no title passed
		- else:
			h1.page-title= $page->title()
		-endif

	// Program subtitles
	-if (isset($subtitle)):
	-snippet('svg-thin-hr')

	.container.subtitle-height
		.page-subtitle= $subtitle
	-endif
