.title-bar
	.container.title-height
		//- if custom title passed
		-if (isset($title)):
			//- if link passed
			-if (isset($link)):
				a(href="<?= $link ?>"): h1.page-title= $title
			//- no link passed
			-else:
				h1.page-title= $title
			-endif
		//- if no title passed
		- else:
			h1.page-title= $page->title()
		-endif
	-if (isset($subtitle)):
	-snippet('svg-thin-hr')

	.container.subtitle-height
		.page-subtitle= $subtitle
	-endif