-snippet('header')

#navspacer.navspacer

-snippet('title-bar', array('title' => 'Archives', 'link' => '/archives'))

.container
	.row
		section.first-section.article-section.col-sm-8
			article.article
				// use card for correct video/image header
				ul.row.cards.blog-feature
					-snippet('card-blog-article', array('card' => $page, 'type' => 'general-content' ))

				.content
					!= $page->copy()->kt()
				.content.content-footer
					!= $page->footer()->kt()
				
		div.col-sm-1.spacer
		aside.sidebar.col-sm-3.blog-sidebar

			//- -snippet('blog-related-content', array('orientation' => 'horizontal', 'limit' => 5))

			//- -snippet('blog-most-popular')
			
			//- -snippet('blog-categories')

-snippet('footer')