-snippet('header')

#navspacer.navspacer

-snippet('magazine-title-bar', array('link' => $page->parent()->url()))

.container
	.row
		section.first-section.article-section.col-sm-8
			article.article
				// use card for correct video/image header
				ul.row.cards.blog-feature
					-snippet('card-magazine-article', array('card' => $page, 'card_classes' => 'magazine-article-top' ))

				.content
					!= $page->contents()->kt()

					-snippet('disqus')         


		aside.sidebar.col-sm-4.blog-sidebar

			-snippet('sidebar-audio')

			-snippet('blog-related-content', array('orientation' => 'vertical', 'limit' => 3))
			

-snippet('footer')