-snippet('header')

#navspacer.navspacer

-snippet('magazine-title-bar', array('link' => $page->parent()->url()))

.container
	.row
		section.first-section.article-section.col-sm-8
			article.article
				// use card for correct video/image header
				ul.row.cards
					-snippet('card-magazine-article', array('card' => $page, 'card_classes' => 'magazine-article-top' ))

				.content
					!= $page->contents()->kt()
					.references
						h2 References
						!= $page->references()->kt()

					-snippet('disqus')         


		aside.sidebar.col-sm-4

			-snippet('sidebar-audio')

			//- -snippet('card-horizontal', array('card' => $pages->find('explore')->children()->find('videos')->children()->find('music-of-central-asia-and-the-aga-khan-music-initiative'), 'card_classes' => 'sidebar-video horizontal-card', 'image_col' => 'col-xs-half-image', 'details_col' => 'col-xs-half-details' ))
			-snippet('card', array('card' => $pages->find('explore')->children()->find('videos')->children()->find('music-of-central-asia-and-the-aga-khan-music-initiative'), 'card_classes' => 'sidebar-video' ))
			
			-snippet('card', array('card' => $pages->find('explore')->children()->find('sounds')->children()->find('album-covers'), 'card_classes' => 'sidebar-album' ))

			-snippet('blog-related-content', array('orientation' => 'vertical', 'limit' => 3))
			

-snippet('footer')