-snippet('header')

#navspacer.navspacer

.container
	.search-message
		.tag Showing 798 Results For
		-snippet('svg-thin-hr')
		.search-query-title!= $query

// Filter
.filter-outside
.highlight-bar
	.container
		.row
			.col-sm-12
				.filter-by-title Filter By		
		ul.row.dropdown-wrapper
			li.col-sm-2
				// inside so 100% width takes bootstrap padding into account
				.dropdown 
					.first-level-dropdown-title Content type
					ul.first-level-dropdown
						li Album
						li Artist
						li Merchandise
						li Vinyl
						li Lesson Plan
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Genre
					ul.first-level-dropdown
						li African American Music
						li African American Spoken
						li American Folk
						li American History
						li American Indian
						li American Popular
						li Bluegrass
						li Blues
						li Cajun
						li Caribbean
						li Celtic
						li Central Asia
						li Children's
						li Classical
						li Contemporary &amp; Electronic
						li Country
						li Documentary
						li Drama
						li Gospel
						li Hawai'i
						li Historical Song
						li Holiday
						li Humor
						li India
						li Islamica
						li Jazz &amp; Ragtime
						li Judaica
						li Language Instruction
						li Latin
						li Miscellany
						li Music Instruction
						li Old Time
						li Oral History &amp; Biography
						li Poetry
						li Prose
						li Psychology &amp; Health
						li Sacred
						li Science &amp; Nature
						li Sounds
						li Soundtracks &amp; Musicals
						li Spoken Word
						li Struggle &amp; Protest
						li World
						li World History
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Artist
					ul.first-level-dropdown
						li Ella Jenkins (500)
						li Lead Belly (403)
						li Lightnin' Hopkins (229)
						li Various Artists (175)
						li Mary Lou Williams (137)
						li John Jackson (134)
						li Big Joe Williams (107)
						li Mance Lipscomb (94)
						li Brownie McGhee (79)
						li Snooks Eaglin (75)
						li Bilal Abdurahman (73)
						li Sonny Terry (70)
						li Memphis Slim (68)
						li Robert Pete Williams (60)
						li Big Mama Thornton (56)
						li Elizabeth Cotten (55)
						li Fred McDowell (54)
						li Little Brother Montgomery (54)
						li Pete Seeger (52)
						li K.C. Douglas (49)
						li Lizzie Miles (47)
						li James P. Johnson (45)
						li Moving Star Hall Singers (45)
						li Child Development Group of Mississippi (42)
						li Grupo de Capoeira Angola Pelourinho (41)
						li Bernice Johnson Reagon (39)
						li Big Bill Broonzy (38)
						li Francis Clay (38)
						li J.C. Burris (38)
						li Horace Sprott (37)
						li Josh White (37)
						li Sam "Lightning" Hopkins (37)
						li Earl Hooker (33)
						li Paul Robeson (33)
						li Reverend Gary Davis (33)
						li Arbee Stidham (32)
						li Langston Hughes (32)
						li Lonnie Johnson (32)
						li Michel LaRue (32)
						li Jesse Fuller (30)

			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Geography
					ul.first-level-dropdown
						li 
							.second-level-dropdown-title Africa
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Eastern Africa
									ul.third-level-dropdown
										li Eritrea
										li Ethiopia
										li Kenya
										li Madagascar
										li Malawi
										li Mozambique
										li Rwanda
										li Somalia
										li Tanzania
										li Uganda
										li Zambia
										li Zimbabwe
								li 
									.third-level-dropdown-title Middle Africa
									ul.third-level-dropdown
										li Angola
										li Cameroon
										li Central African Republic
										li Chad
										li Congo (Democratic Republic)
										li Equatorial Guinea
										li Gabon
								li 
									.third-level-dropdown-title Northern Africa
									ul.third-level-dropdown
										li Algeria
										li Egypt
										li Libya
										li Morocco
										li Sudan
										li Tunisia
								li 
									.third-level-dropdown-title Southern Africa
									ul.third-level-dropdown
										li Botswana
										li Lesotho
										li Namibia
										li South Africa
										li Swaziland
								li 
									.third-level-dropdown-title Western Africa
									ul.third-level-dropdown
										li Benin
										li Burkina Faso
										li Cote d'Ivoire
										li Gambia
										li Ghana
										li Guinea
										li Guinea-Bissau
										li Liberia
										li Mali
										li Niger
										li Nigeria
										li Senegal
										li Sierra Leone
										li Togo
						li 
							.second-level-dropdown-title Americas
							ul.second-level-dropdown
								li
									.third-level-dropdown-title  
									ul.third-level-dropdown
										li Antigua and Barbuda
										li Bahamas
										li Barbados
										li British Virgin Islands
										li Cuba
										li Dominican Republic
										li Grenada
										li Guadeloupe
										li Haiti
										li Jamaica
										li Martinique
										li Puerto Rico
										li Saint Kitts and Nevis
										li Saint Lucia
										li Trinidad and Tobago
										li Virgin Islands of the United States
								li 
									.third-level-dropdown-title Central America
									ul.third-level-dropdown
										li Belize
										li Costa Rica
										li El Salvador
										li Guatemala
										li Honduras
										li Nicaragua
										li Panama
								li 
									.third-level-dropdown-title Northern America
									ul.third-level-dropdown
										li Bermuda
										li Canada
										li Greenland
										li Mexico
										li United States
								li 
									.third-level-dropdown-title Southern America
									ul.third-level-dropdown
										li Argentina
										li Bolivia
										li Brazil
										li Chile
										li Colombia
										li Ecuador
										li French Guiana
										li Guyana
										li Paraguay
										li Peru
										li Suriname
										li Uruguay
										li Venezuela
						li 
							.second-level-dropdown-title Asia
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Central Asia
									ul.third-level-dropdown
										li Kazakhstan
										li Kyrgyzstan
										li Tajikistan
										li Turkmenistan
										li Uzbekistan
								li 
									.third-level-dropdown-title Northeastern Asia
									ul.third-level-dropdown
										li China
										li Hong Kong
										li Japan
										li Korea, North
										li Korea, South
										li Mongolia
										li Taiwan
								li 
									.third-level-dropdown-title Southeastern Asia
									ul.third-level-dropdown
										li Cambodia
										li Indonesia
										li Laos
										li Malaysia
										li Myanmar
										li Philippines
										li Thailand
										li Vietnam
								li 
									.third-level-dropdown-title Southern Asia
									ul.third-level-dropdown
										li Afghanistan
										li Bangladesh
										li Bhutan
										li India
										li Iran
										li Nepal
										li Pakistan
										li Palestinian Territory
										li Sri Lanka
								li 
									.third-level-dropdown-title Western Asia
									ul.third-level-dropdown
										li Armenia
										li Azerbaijan
										li Cyprus
										li Iraq
										li Israel
										li Jordan
										li Lebanon
										li Oman
										li Saudi Arabia
										li Syria
										li Turkey
										li Yemen
						li 
							.second-level-dropdown-title Europe
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Eastern Europe
									ul.third-level-dropdown
										li Belarus
										li Bulgaria
										li Byelorussia
										li Czech Republic
										li Hungary
										li Moldova
										li Poland
										li Romania
										li Russia
										li Slovakia
										li Ukraine
										li USSR (former)
								li 
									.third-level-dropdown-title Northern Europe
									ul.third-level-dropdown
										li Denmark
										li England
										li Estonia
										li Finland
										li Iceland
										li Ireland
										li Latvia
										li Lithuania
										li Northern Ireland
										li Norway
										li Scotland
										li Sweden
										li United Kingdom
										li Wales
								li 
									.third-level-dropdown-title Southern Europe
									ul.third-level-dropdown
										li Albania
										li Croatia
										li Greece
										li Italy
										li Macedonia
										li Malta
										li Portugal
										li Slovenia
										li Spain
										li Yugoslavia (former)
								li 
									.third-level-dropdown-title Western Europe
									ul.third-level-dropdown
										li Austria
										li Belgium
										li France
										li Germany
										li Netherlands
										li Switzerland
						li 
							.second-level-dropdown-title Oceania
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Australia &amp; New Zealand
									ul.third-level-dropdown
										li Australia
										li New Zealand
										li Papua New Guinea
										li Solomon Islands
										li Vanuatu
										li French Polynesia
										li Samoa
										li Tonga
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Label/Archive
					ul.first-level-dropdown
						li Folkways Records (257)
						li Smithsonian Folkways Recordings (121)
						li Arhoolie Records (66)
						li Blue Ridge Institute (5)
						li Paredon Records (5)
						li Cook Records (4)
						li Monitor Records (3)
						li Fast Folk Musical Magazine (2)
						li Mickey Hart Collection (2)
						li A.R.C.E. (1)
						li Collector Records (1)
						li Smithsonian Folkways Special Series (1)
						li UNESCO (1)
			li.col-sm-2.hidden-xs
				.filter-more-button More
		ul.row.dropdown-wrapper.filter-more-band
			li.col-sm-2
				// inside so 100% width takes bootstrap padding into account
				.dropdown 
					.first-level-dropdown-title Culture Group
					ul.first-level-dropdown
						li African American (4,070)
						li Anglo-American (149)
						li European American (46)
						li African Brazilian (42)
						li Cajun (37)
						li Hispanic (33)
						li Gullah (30)
						li American (26)
						li Maroon (20)
						li Pikilio (20)
						li African (18)
						li Creole (14)
						li African Caribbean (11)
						li Jewish (10)
						li Yoruba (7)
						li Zulu (7)
						li Wolof (6)
						li Bantu (5)
						li Irish (5)
						li Kpelle (5)
						li Scottish (5)
						li Baule (4)
						li Lucumi (4)
						li Muslim (4)
						li Pende (4)
						li Tutsi (4)
						li Apache (3)
						li Bahamian (3)
						li Basa (3)
						li Czech-American (3)
						li Ewe (3)
						li Igbo (3)
						li Japanese-American (3)
						li Luhya (3)
						li Mahafaly (3)
						li Mbala (3)
						li Mexican-American (3)
						li Puerto Rican (3)
						li Shona (3)
						li Swazi (3)
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Language
					ul.first-level-dropdown
						li English (2,325)
						li Spanish (46)
						li Portuguese (45)
						li French (16)
						li Yiddish (9)
						li Russian (5)
						li Afrikaans (4)
						li Arabic (4)
						li Shona (4)
						li Wolof (4)
						li Chinese (3)
						li German (3)
						li Haitian French Creole (3)
						li Hebrew (modern) (3)
						li Italian (3)
						li Luhya (3)
						li Swahili (3)
						li Zulu (3)
						li Cree (2)
						li French Creole (2)
						li Ga (2)
						li Indonesian (2)
						li Korean (2)
						li Tai (2)
						li Yoruba (2)
						li Albanian (1)
						li Bantu (1)
						li Gaelic-Scots (1)
						li Georgian (1)
						li Greek (1)
						li Hebrew (1)
						li Hindi (1)
						li Inuktitut, Eastern Canadian (1)
						li Inuktitut, Western Canadian (1)
						li Inupiatun, North Alaskan (1)
						li Lingala (1)
						li Michif (1)
						li Nootka (1)
						li Pashto (1)
						li Persian (1)
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Instrument
					ul.first-level-dropdown
						li Guitar (2,525)
						li Vocals (2,423)
						li Piano (1,249)
						li Harmonica (582)
						li Bass (546)
						li Drum (528)
						li Drums (333)
						li Trumpet (322)
						li Banjo (304)
						li Trombone (263)
						li Clarinet (237)
						li Saxophone (197)
						li Fiddle (120)
						li Mandolin (80)
						li Kazoo (79)
						li Organ (75)
						li Violin (62)
						li Accordion (59)
						li Tuba (59)
						li Saxophone, tenor (56)
						li Cornet (52)
						li Viola (49)
						li Washboard (49)
						li Washboard band music (46)
						li Tambourine (Drum) (43)
						li Agogo (42)
						li Organ (Musical instrument) (42)
						li Pandeiro (Drum) (42)
						li Atabaque (41)
						li Gunga (40)
						li Medio (40)
						li Reco-reco (Musical instrument) (40)
						li Maraca (38)
						li Vocals, group (37)
						li Drum kit (35)
						li Bones (34)
						li Flute (34)
						li Ukulele (31)
						li Bass guitar (30)
						li Cowbells (27)
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Format
					ul.first-level-dropdown
						li Digital Download (378)
						li Custom CD (295)
						li Custom Cassette (271)
						li CD (154)
						li LP (26)
						li 7-inch (3)
						li Box Set (2)
						li DVD (1)
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Decade
					ul.first-level-dropdown
						li 1990s (2,263)
						li 1960s (958)
						li 1950s (897)
						li 1970s (813)
						li 1980s (617)
						li 2000s (578)
						li 2010s (263)
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Grade Level
					ul.first-level-dropdown
						li K-2 (5)
						li 6-8 (4)
						li 9-12 (4)
						li 3-5|6-8 (3)
						li 6-8|9-12 (3)
						li 3-5|6-8|9-12 (2)
						li K-2|3-5|6-8|9-12 (2)
						li 1-2 (1)
						li 3-5 (1)
						li 3-5|5-6 (1)
						li 3-5|9-12 (1)
						li 3-6 (1)
						li 3-8 (1)
						li 4-5|6-8|9-12 (1)
						li 4-8 (1)
						li 5-6|7-8 (1)
						li 5-6|7-12 (1)
						li 7-12 (1)
		ul.row.dropdown-wrapper.visible-xs
			li.col-sm-2
				.filter-more-button More

.container
	section.first-section
		ul.row
			-foreach($pages->find('explore')->children()->find('sounds')->children()->visible() as $card):
				-snippet('card-album', array('card' => $card ))
			-endforeach
			//- -foreach($results as $result):
				li
					a(href="<?php echo $result->url() ?>")
						!= $result->title()->html() ?>
			//- -endforeach




-snippet('footer')