-snippet('header')
#navspacer.navspacer

.container.first-container
	.search-message
		.tag Showing 798 Results For
		-snippet('svg-thin-hr')
		.search-query-title!= $query

// Filter
.filter-outside
.highlight-bar
	.container
		.row
			.col-sm-12
				.filter-by-title Filter By	
		ul.row.dropdown-wrapper
			li.dropdown.filter-dropdown.col-sm-2
				label(for="genre" class="filter-label") Genre
				select#ddl(name="genre" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") World
					option(value="") American Folk
					option(value="") Latin
					option(value="") Children's
					option(value="") Blues
			li.dropdown.filter-dropdown.col-sm-2
				label(for="artist" class="filter-label") Artist
				select#ddl(name="artist" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Various Artists
					option(value="") Pete Seeger
					option(value="") Ella Jenkins
					option(value="") The New Lost City Ramblers
					option(value="") Woody Guthrie
			li.dropdown.filter-dropdown.col-sm-2
				label(for="country" class="filter-label") Country
				select#ddl(name="country" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") United States
					option(value="") United Kingdom
					option(value="") Canada
					option(value="") USSR
					option(value="") Russia
			li.dropdown.filter-dropdown.col-sm-2
				label(for="culture" class="filter-label") Culture
				select#ddl(name="culture" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Anglo-American
					option(value="") African American
					option(value="") Jewish
					option(value="") African Caribbean
					option(value="") Scottish
			li.dropdown.filter-dropdown.col-sm-2
				label(for="instruments" class="filter-label") Instruments
				select#ddl(name="instruments" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Guitar
					option(value="") Vocals
					option(value="") Banjo
					option(value="") Fiddle
					option(value="") Piano
			li.dropdown.filter-dropdown.col-sm-2
				label(for="language" class="filter-label") Language
				select#ddl(name="language" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") English
					option(value="") French
					option(value="") Spanish
					option(value="") Yiddish
					option(value="") Hebrew
			li.dropdown.filter-dropdown.col-sm-2
				label(for="decade" class="filter-label") Decade
				select#ddl(name="decade" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") 1960s
					option(value="") 1950s
					option(value="") 1970s
					option(value="") 1990s
					option(value="") 1980s
			li.dropdown.filter-dropdown.col-sm-2
				label(for="label" class="filter-label") Label
				select#ddl(name="label" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Folkways Records
					option(value="") Smithsonian Folkways Recordings
					option(value="") Monitor Records
					option(value="") Arhoolie Records
					option(value="") Cook Records
			li.dropdown.filter-dropdown.col-sm-2
				label(for="format" class="filter-label") Format
				select#ddl(name="format" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Digital Download
					option(value="") Custom CD
					option(value="") Custom Cassette
					option(value="") CD
					option(value="") LP
			li.dropdown.filter-dropdown.col-sm-2
				label(for="grade-level" class="filter-label") Grade Level
				select#ddl(name="grade-level" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") 3-5
					option(value="") 9-12
					option(value="") 3-5|6-8
					option(value="") 6-8|9-12
					option(value="") 6-8
			li.dropdown.filter-dropdown.col-sm-2
				label(for="sub-region" class="filter-label") Sub Region
				select#ddl(name="sub-region" runat="server" onchange="javascript:document.location.href = this.value;")
					option(value="") Northern America
					option(value="") Caribbean
					option(value="") Northern Europe
					option(value="") Southern America
					option(value="") Central America

				//-                                     <option>Region</option>

				//- option(value="") The Americas
				//- option(value="") Europe
				//- option(value="") Asia
				//- option(value="") Africa
				//- option(value="") Oceania

				//-                             </select>
				//-                         </li>
				//-         </ul>	
		//- ul.row.dropdown-wrapper
			li.col-sm-2
				// inside so 100% width takes bootstrap padding into account
				.dropdown 
					.first-level-dropdown-title Content type
					ul.first-level-dropdown
						li: a(href="http://google.com") Album
						li: a(href="http://google.com") Artist
						li: a(href="http://google.com") Merchandise
						li: a(href="http://google.com") Vinyl
						li: a(href="http://google.com") Lesson Plan
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Genre
					ul.first-level-dropdown
						li: a(href="http://google.com") African American Music
						li: a(href="http://google.com") African American Spoken
						li: a(href="http://google.com") American Folk
						li: a(href="http://google.com") American History
						li: a(href="http://google.com") American Indian
						li: a(href="http://google.com") American Popular
						li: a(href="http://google.com") Bluegrass
						li: a(href="http://google.com") Blues
						li: a(href="http://google.com") Cajun
						li: a(href="http://google.com") Caribbean
						li: a(href="http://google.com") Celtic
						li: a(href="http://google.com") Central Asia
						li: a(href="http://google.com") Children's
						li: a(href="http://google.com") Classical
						li: a(href="http://google.com") Contemporary &amp; Electronic
						li: a(href="http://google.com") Country
						li: a(href="http://google.com") Documentary
						li: a(href="http://google.com") Drama
						li: a(href="http://google.com") Gospel
						li: a(href="http://google.com") Hawai'i
						li: a(href="http://google.com") Historical Song
						li: a(href="http://google.com") Holiday
						li: a(href="http://google.com") Humor
						li: a(href="http://google.com") India
						li: a(href="http://google.com") Islamica
						li: a(href="http://google.com") Jazz &amp; Ragtime
						li: a(href="http://google.com") Judaica
						li: a(href="http://google.com") Language Instruction
						li: a(href="http://google.com") Latin
						li: a(href="http://google.com") Miscellany
						li: a(href="http://google.com") Music Instruction
						li: a(href="http://google.com") Old Time
						li: a(href="http://google.com") Oral History &amp; Biography
						li: a(href="http://google.com") Poetry
						li: a(href="http://google.com") Prose
						li: a(href="http://google.com") Psychology &amp; Health
						li: a(href="http://google.com") Sacred
						li: a(href="http://google.com") Science &amp; Nature
						li: a(href="http://google.com") Sounds
						li: a(href="http://google.com") Soundtracks &amp; Musicals
						li: a(href="http://google.com") Spoken Word
						li: a(href="http://google.com") Struggle &amp; Protest
						li: a(href="http://google.com") World
						li: a(href="http://google.com") World History
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Artist
					ul.first-level-dropdown
						li: a(href="http://google.com") Ella Jenkins
						li: a(href="http://google.com") Lead Belly
						li: a(href="http://google.com") Lightnin' Hopkins
						li: a(href="http://google.com") Various Artists
						li: a(href="http://google.com") Mary Lou Williams
						li: a(href="http://google.com") John Jackson
						li: a(href="http://google.com") Big Joe Williams
						li: a(href="http://google.com") Mance Lipscomb
						li: a(href="http://google.com") Brownie McGhee
						li: a(href="http://google.com") Snooks Eaglin
						li: a(href="http://google.com") Bilal Abdurahman
						li: a(href="http://google.com") Sonny Terry
						li: a(href="http://google.com") Memphis Slim
						li: a(href="http://google.com") Robert Pete Williams
						li: a(href="http://google.com") Big Mama Thornton
						li: a(href="http://google.com") Elizabeth Cotten
						li: a(href="http://google.com") Fred McDowell
						li: a(href="http://google.com") Little Brother Montgomery
						li: a(href="http://google.com") Pete Seeger
						li: a(href="http://google.com") K.C. Douglas
						li: a(href="http://google.com") Lizzie Miles
						li: a(href="http://google.com") James P. Johnson
						li: a(href="http://google.com") Moving Star Hall Singers
						li: a(href="http://google.com") Child Development Group of Mississippi
						li: a(href="http://google.com") Grupo de Capoeira Angola Pelourinho
						li: a(href="http://google.com") Bernice Johnson Reagon
						li: a(href="http://google.com") Big Bill Broonzy
						li: a(href="http://google.com") Francis Clay
						li: a(href="http://google.com") J.C. Burris
						li: a(href="http://google.com") Horace Sprott
						li: a(href="http://google.com") Josh White
						li: a(href="http://google.com") Sam "Lightning" Hopkins
						li: a(href="http://google.com") Earl Hooker
						li: a(href="http://google.com") Paul Robeson
						li: a(href="http://google.com") Reverend Gary Davis
						li: a(href="http://google.com") Arbee Stidham
						li: a(href="http://google.com") Langston Hughes
						li: a(href="http://google.com") Lonnie Johnson
						li: a(href="http://google.com") Michel LaRue
						li: a(href="http://google.com") Jesse Fuller

			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Geography
					ul.first-level-dropdown
						li 
							.second-level-dropdown-title Africa
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Eastern Africa
									ul.third-level-dropdown
										li Eritrea
										li Ethiopia
										li Kenya
										li Madagascar
										li Malawi
										li Mozambique
										li Rwanda
										li Somalia
										li Tanzania
										li Uganda
										li Zambia
										li Zimbabwe
								li 
									.third-level-dropdown-title Middle Africa
									ul.third-level-dropdown
										li Angola
										li Cameroon
										li Central African Republic
										li Chad
										li Congo
										li Equatorial Guinea
										li Gabon
								li 
									.third-level-dropdown-title Northern Africa
									ul.third-level-dropdown
										li Algeria
										li Egypt
										li Libya
										li Morocco
										li Sudan
										li Tunisia
								li 
									.third-level-dropdown-title Southern Africa
									ul.third-level-dropdown
										li Botswana
										li Lesotho
										li Namibia
										li South Africa
										li Swaziland
								li 
									.third-level-dropdown-title Western Africa
									ul.third-level-dropdown
										li Benin
										li Burkina Faso
										li Cote d'Ivoire
										li Gambia
										li Ghana
										li Guinea
										li Guinea-Bissau
										li Liberia
										li Mali
										li Niger
										li Nigeria
										li Senegal
										li Sierra Leone
										li Togo
						li 
							.second-level-dropdown-title Americas
							ul.second-level-dropdown
								li
									.third-level-dropdown-title  
									ul.third-level-dropdown
										li Antigua and Barbuda
										li Bahamas
										li Barbados
										li British Virgin Islands
										li Cuba
										li Dominican Republic
										li Grenada
										li Guadeloupe
										li Haiti
										li Jamaica
										li Martinique
										li Puerto Rico
										li Saint Kitts and Nevis
										li Saint Lucia
										li Trinidad and Tobago
										li Virgin Islands of the United States
								li 
									.third-level-dropdown-title Central America
									ul.third-level-dropdown
										li Belize
										li Costa Rica
										li El Salvador
										li Guatemala
										li Honduras
										li Nicaragua
										li Panama
								li 
									.third-level-dropdown-title Northern America
									ul.third-level-dropdown
										li Bermuda
										li Canada
										li Greenland
										li Mexico
										li United States
								li 
									.third-level-dropdown-title Southern America
									ul.third-level-dropdown
										li Argentina
										li Bolivia
										li Brazil
										li Chile
										li Colombia
										li Ecuador
										li French Guiana
										li Guyana
										li Paraguay
										li Peru
										li Suriname
										li Uruguay
										li Venezuela
						li 
							.second-level-dropdown-title Asia
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Central Asia
									ul.third-level-dropdown
										li Kazakhstan
										li Kyrgyzstan
										li Tajikistan
										li Turkmenistan
										li Uzbekistan
								li 
									.third-level-dropdown-title Northeastern Asia
									ul.third-level-dropdown
										li China
										li Hong Kong
										li Japan
										li Korea, North
										li Korea, South
										li Mongolia
										li Taiwan
								li 
									.third-level-dropdown-title Southeastern Asia
									ul.third-level-dropdown
										li Cambodia
										li Indonesia
										li Laos
										li Malaysia
										li Myanmar
										li Philippines
										li Thailand
										li Vietnam
								li 
									.third-level-dropdown-title Southern Asia
									ul.third-level-dropdown
										li Afghanistan
										li Bangladesh
										li Bhutan
										li India
										li Iran
										li Nepal
										li Pakistan
										li Palestinian Territory
										li Sri Lanka
								li 
									.third-level-dropdown-title Western Asia
									ul.third-level-dropdown
										li Armenia
										li Azerbaijan
										li Cyprus
										li Iraq
										li Israel
										li Jordan
										li Lebanon
										li Oman
										li Saudi Arabia
										li Syria
										li Turkey
										li Yemen
						li 
							.second-level-dropdown-title Europe
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Eastern Europe
									ul.third-level-dropdown
										li Belarus
										li Bulgaria
										li Byelorussia
										li Czech Republic
										li Hungary
										li Moldova
										li Poland
										li Romania
										li Russia
										li Slovakia
										li Ukraine
										li USSR
								li 
									.third-level-dropdown-title Northern Europe
									ul.third-level-dropdown
										li Denmark
										li England
										li Estonia
										li Finland
										li Iceland
										li Ireland
										li Latvia
										li Lithuania
										li Northern Ireland
										li Norway
										li Scotland
										li Sweden
										li United Kingdom
										li Wales
								li 
									.third-level-dropdown-title Southern Europe
									ul.third-level-dropdown
										li Albania
										li Croatia
										li Greece
										li Italy
										li Macedonia
										li Malta
										li Portugal
										li Slovenia
										li Spain
										li Yugoslavia
								li 
									.third-level-dropdown-title Western Europe
									ul.third-level-dropdown
										li Austria
										li Belgium
										li France
										li Germany
										li Netherlands
										li Switzerland
						li 
							.second-level-dropdown-title Oceania
							ul.second-level-dropdown
								li 
									.third-level-dropdown-title Australia &amp; New Zealand
									ul.third-level-dropdown
										li Australia
										li New Zealand
										li Papua New Guinea
										li Solomon Islands
										li Vanuatu
										li French Polynesia
										li Samoa
										li Tonga
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Label/Archive
					ul.first-level-dropdown
						li Folkways Records
						li Smithsonian Folkways Recordings
						li Arhoolie Records
						li Blue Ridge Institute
						li Paredon Records
						li Cook Records
						li Monitor Records
						li Fast Folk Musical Magazine
						li Mickey Hart Collection
						li A.R.C.E.
						li Collector Records
						li Smithsonian Folkways Special Series
						li UNESCO
			li.col-sm-2.hidden-xs
				//- need .filter-more-button for js
				.filter-button.filter-more-button More
		ul.row.dropdown-wrapper.filter-more-band
			li.col-sm-2
				// inside so 100% width takes bootstrap padding into account
				.dropdown 
					.first-level-dropdown-title Culture Group
					ul.first-level-dropdown
						li African American
						li Anglo-American
						li European American
						li African Brazilian
						li Cajun
						li Hispanic
						li Gullah
						li American
						li Maroon
						li Pikilio
						li African
						li Creole
						li African Caribbean
						li Jewish
						li Yoruba
						li Zulu
						li Wolof
						li Bantu
						li Irish
						li Kpelle
						li Scottish
						li Baule
						li Lucumi
						li Muslim
						li Pende
						li Tutsi
						li Apache
						li Bahamian
						li Basa
						li Czech-American
						li Ewe
						li Igbo
						li Japanese-American
						li Luhya
						li Mahafaly
						li Mbala
						li Mexican-American
						li Puerto Rican
						li Shona
						li Swazi
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Language
					ul.first-level-dropdown
						li English
						li Spanish
						li Portuguese
						li French
						li Yiddish
						li Russian
						li Afrikaans
						li Arabic
						li Shona
						li Wolof
						li Chinese
						li German
						li Haitian French Creole
						li Hebrew
						li Italian
						li Luhya
						li Swahili
						li Zulu
						li Cree
						li French Creole
						li Ga
						li Indonesian
						li Korean
						li Tai
						li Yoruba
						li Albanian
						li Bantu
						li Gaelic-Scots
						li Georgian
						li Greek
						li Hebrew
						li Hindi
						li Inuktitut, Eastern Canadian
						li Inuktitut, Western Canadian
						li Inupiatun, North Alaskan
						li Lingala
						li Michif
						li Nootka
						li Pashto
						li Persian
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Instrument
					ul.first-level-dropdown
						li Guitar
						li Vocals
						li Piano
						li Harmonica
						li Bass
						li Drum
						li Drums
						li Trumpet
						li Banjo
						li Trombone
						li Clarinet
						li Saxophone
						li Fiddle
						li Mandolin
						li Kazoo
						li Organ
						li Violin
						li Accordion
						li Tuba
						li Saxophone, tenor
						li Cornet
						li Viola
						li Washboard
						li Washboard band music
						li Tambourine
						li Agogo
						li Organ
						li Pandeiro
						li Atabaque
						li Gunga
						li Medio
						li Reco-reco
						li Maraca
						li Vocals, group
						li Drum kit
						li Bones
						li Flute
						li Ukulele
						li Bass guitar
						li Cowbells
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Format
					ul.first-level-dropdown
						li Digital Download
						li Custom CD
						li Custom Cassette
						li CD
						li LP
						li 7-inch
						li Box Set
						li DVD
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Decade
					ul.first-level-dropdown
						li 1990s
						li 1960s
						li 1950s
						li 1970s
						li 1980s
						li 2000s
						li 2010s
			li.col-sm-2
				.dropdown
					.first-level-dropdown-title Grade Level
					ul.first-level-dropdown
						li K-2
						li 6-8
						li 9-12
						li 3-5|6-8
						li 6-8|9-12
						li 3-5|6-8|9-12
						li K-2|3-5|6-8|9-12
						li 1-2
						li 3-5
						li 3-5|5-6
						li 3-5|9-12
						li 3-6
						li 3-8
						li 4-5|6-8|9-12
						li 4-8
						li 5-6|7-8
						li 5-6|7-12
						li 7-12
		ul.row.dropdown-wrapper.visible-xs
			li.col-sm-2
				//- need .filter-more-button for js
				.filter-button.filter-more-button More

.container
	section.first-section
		ul.row
			-foreach($pages->find('explore')->children()->find('sounds')->children()->visible() as $card):
				-snippet('card-album', array('card' => $card ))
			-endforeach

-snippet('footer')