/* Blog Article Styles
************************/

/* Article page
-------------------------------------------------- */
.article-page {
	.title-bar {
		color: white;
		background-color: $fs-purple;
	}
	.blog-feature {
		figure {
			margin: 0;
		}
	}
	figure {
		@include margin-top(4);
		@include margin-bottom(4);
	}
	figcaption {
		color: $black65;
		@include sm-sans;
		@include margin-top(2);
	}
	.related-content {
		h2 {
			@include border(bottom);
			@include margin-bottom(2);
		}
	}
}
.blog-article {
	.image {
		@include margin-bottom(2);
	}
	.tag {
		// @include margin-bottom(1);
	}
	.title {
		@include lg-serif;
		// @include margin-bottom(0.5);
		@include margin-bottom(1);
	}
	.date {
		@include sm-sans;
		font-weight: 300;
		@include margin-bottom(2);
	}
}

/* Sidebar
-------------------------------------------------- */
.blog-sidebar {
	color: $black65; // formerly $black70
	a {
		color: $black65; // formerly $black70
	}
}