/* Blog Article Styles
************************/

/* Article page
-------------------------------------------------- */
.article-page {
	.title-bar {
		color: white;
		background-color: $fs-purple;
	}
	.blog-feature {
		figure {
			margin: 0;
		}
	}
	figure {
		@include margin-top(4);
		@include margin-bottom(4);
	}
	figcaption {
		color: $black60;
		@include sans-xxs;
		@include margin-top(2);
	}
	.related-content {
		h2 {
			@include border(bottom);
			@include margin-bottom(2);
		}
	}
}
.blog-article {
	.image {
		@include margin-bottom(2);
	}
	.category {
		// @include margin-bottom(1);
	}
	.title {
		@include serif-xl;
		@include margin-bottom(0.5);
	}
	.date {
		@include sans-xxs;
		font-weight: 300;
		@include margin-bottom(2);
	}
}

/* Sidebar
-------------------------------------------------- */
.blog-sidebar {
	color: $black70;
	a {
		color: $black70;
	}
}