/* Blog Article Styles
************************/

/* Article page
-------------------------------------------------- */
.article-page {
	.title-bar {
		color: #fff;
		background-color: $fs-purple;
	}
	.blog-feature {
		figure {
			margin: 0;
		}
	}
	figure {
		@include margin-top(4);
		@include margin-bottom(4);
	}
	figcaption {
		color: $black65;
		@include sm-sans;
		@include margin-top(2);
	}
	.related-content {
		h2 {
			@include border(bottom);
			@include margin-bottom(2);
		}
	}
}

/* Sidebar
-------------------------------------------------- */
.blog-sidebar {
	color: $black70;
	a {
		color: $black70;
	}
}

/* Article Sidebar Retrofit
-------------------------------------------------- */
	// temp
	.audio-sample-grey {
		display: none;
	}
	.magazine-article-page {		
		.sidebar {
			.latest-issue-article, .latest-issue-footer, img.head {
				display: none !important; // hide old design element
			}
			.tag {
				@include margin-bottom(0.5);
			}
			.caption {
				@include margin-top(1);
			}
			.horizontal-audio-card-single {
				@include margin-top(4);
			}
		}
		.sidebar 
		iframe {
			width: 100%;
		}
		// hide audio tag image, until js can swap it out
		img[alt="Audio"] {
			// display: none;
		}
		// 	& ~ iframe {
		// 		position: relative;
		// 		&:after {
		// 			content: "Related Content";
		// 			display: block;
		// 			position: absolute;
		// 			top:0;
		// 			left:0;
		// 			width: 100%;
		// 		}
		// 	}
		// }
		.top-forty {
			@include margin-top(4);
		}
		img[alt="Related Content"] {
			display: none;
		}
		#related-content-mag {
			position: relative;
			@include padding-top(6);
			&:before {
				content: "Related Content";
				display: block;
				position: absolute;
				top:0;
				left:0;
				width: 100%;
			}
		}

		// audio player
		.audio-sample-grey p {
		    margin: 0 0 5px 80px;
		    padding: 0;
		}
		.audio-sample-grey div {
		    overflow: visible;
		}
		.PKL_wrapper {
		    left: 0px;
		    display: block;
		    top: 0px;
		    width: 130px;
		    float: left;
		    position: relative;
		    z-index: 1;
		    height: 13px;
		}
	}