/* #audio card
-------------------------------------------------- */
	.audio-card {
		.card {
			@include respond-to(break2) {
				margin-bottom: 1.5rem;
			}
		}
		.image {
			padding-bottom:0; // prevent making gap in outline
		}
		.title {
			@include sans-md;
			// font-weight: 500;
			font-weight: 600;
			margin-bottom:0;
		}
		.subtitle, .artist {
			@include sans-caption;
		}
		.details-inner {
			position: relative; // hold player
			// bottom padding for abs positioned audio player
			padding-bottom:7rem;
			padding-bottom:15vw;
			@include respond-to(break2) {padding-bottom:7vw;}
			@include respond-to(fullwidth) {padding-bottom:10rem;}
		}
	}

/* #audio player
-------------------------------------------------- */

	.audio-player-details, .audio-progress-bar, .audio-time, .volume {
		display: inline-block;
		vertical-align: bottom;
	}
	.audio-player {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		right: 0;
		@include padding(2);
	}
	.audio-player-details {
		line-height: 1;
		width:67%;
		// @include respond-to(break2) {width:73%;}
		@include respond-to(break2) {width:70%;}
		@include respond-to(fullwidth) {
			width:75%;
		}
		@include padding-left(1);
	}
	.audio-progress-bar {
		max-width: 100%;
		@include respond-to(break2) {
			margin-bottom: 4px;
		}
	}
	.volume {
		display: none;
		float: right;
		margin-right: 3px;
		color: $black80;
		@include respond-to(break2) {
			display: block;
		}
	}
	.audio-time {
		@include sans-caption;
		@include respond-to(break2full) {
			font-size: 1.5vw;
		}
	}


// // for all 1/2 width columns on the phone, break every 2nd one starting at 3!!!
// @include respond-to(break2max) {
// 	// line 'em up!!!
// 	&:nth-of-type(2n + 1) {
// 		clear:left;
// 	}
// }