/* audio card
-------------------------------------------------- */
	.audio-card {
		.card {
			@include respond-to(break2) {
				margin-bottom: 1.5rem;
			}
		}
		.image {
			padding-bottom:0; // prevent making gap in outline
		}
		.title {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(0.7);
		}
		.subtitle, .artist {
			@include sm-sans;
		}
		.details-inner {
			position: relative; // hold player
			// bottom padding for abs positioned audio player
			@include padding-bottom(10)
			@include respond-to(break2max) {
				padding-bottom:15vw; // mobile
			}
		}
	}

/* audio player
-------------------------------------------------- */
	.audio-player-details, .audio-progress-bar, .audio-time, .volume {
		display: inline-block;
		vertical-align: bottom;
	}
	.audio-player {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		right: 0;
		@include padding(2);
		@include respond-to(break2max) {
			padding-left:0.7rem;
			padding-top:0;
		}
	}
	.audio-player-details {
		line-height: 1;
		width:65%;
		@include respond-to(break2) {width:70%;}
		@include respond-to(fullwidth) {
			width:75%;
		}
		@include padding-left(1);
	}
	.audio-progress-bar {
		max-width: 100%;
		@include respond-to(break2) {
			margin-bottom: 4px;
		}
	}
	.volume {
		display: none;
		float: right;
		margin-right: 3px;
		color: $black80;
		@include respond-to(break2) {
			display: block;
		}
	}
	.audio-time {
		@include sm-sans;
		@include respond-to(break2max) {
			font-size: 4vw;
		}
		@include respond-to(break2full) {
			font-size: 1.2vw;
		}
	}


/* media element js - overrides
-------------------------------------------------- */
	$mobilePlayWidth: 10vw;
	$mobilePlayHeight: 10vw;
	.mejs-container {
		background: white;
		.mejs-controls {
			background: none;
			position: relative; // contain timer slider
			width: auto;
			height: auto;
			// @include margin-bottom(-0.8); // line height compensation, from http://stackoverflow.com/a/11754317
			div {
				@include sans-tag;
				line-height: 1 !important; // type override for all media queries
				letter-spacing: initial !important;
				float: none;
				width: initial;
				height: initial;
				margin-bottom: 0 !important;
				@include respond-to(break2max) {
					font-size: 3vw;
				}
			}			
			.mejs-playpause-button {
				position: relative;
				display: inline-block;
				vertical-align: bottom; // get rid of extra white space below inline-block element, from http://stackoverflow.com/a/10612455
				@include margin-right(2);
				@include width(6);
				@include height(6);
				@include respond-to(break2max) {
					margin-right: 2vw;
					width: $mobilePlayWidth;
					height: $mobilePlayHeight;
				}
			}
			.mejs-playpause-button button {
				position: relative; // keep width
				margin:0;
				left: 0;
				bottom: 0;
				z-index: 10;
				@include width(6);
				@include height(6);
				@include respond-to(break2max) {
					width: $mobilePlayWidth;
					height: $mobilePlayHeight;
				}
				&:before, &:after {
					display: block;
					left:0;
					text-align: center;
					line-height: 1;
					@include width(6);
					@include height(6);
					@include respond-to(break2max) {
						width: 100%;
						width: $mobilePlayWidth;
						height: $mobilePlayHeight;
					}
				}
				&:before {
					position: absolute;
					left:0;
					bottom:0;
					content: "\61";
					color: $black20;
				}
				&:hover:before {
					color: $hover;
				}
				&:after {
					content: "\62";
					position: relative;
				}
			}
			// show pause icon when audio element playing, for some reason title changes to Pause by default (or by mediaelementJS)
			.mejs-playpause-button button[title="Pause"] {
				text-align: center;
				&:after {
					content: "\6b";
					line-height: 1.45;
					text-align: center;
					@include respond-to(break2max) {
						font-size:7vw;
						padding-left: 0.3vw;
					}
					@include respond-to(break2full) {
						font-size:2.8vw;
					}
					@include respond-to(fullwidth) {
						font-size:4rem;
						padding-left: 0.1rem;
					}
				}
			}
			.mejs-time-wrapper {
				position: absolute;
				bottom:0;
				width: 75%;
				@include left(8.2);
				@include respond-to(break2max) {
					left: 11.5vw;
				}
				@include respond-to(break2) {
					width: 50%;
				}
			}
			.mejs-time {
				color: $copy;
				text-align: left;
				color: $black65;
				height: auto;
				bottom: 0;
				@include padding-top(1);
				@include respond-to(break2max) {
					padding-top:0;
					padding-left:0;
				}
			}
			.mejs-currenttime-container {
				display: inline-block;
				margin-left: 0;
				@include respond-to(break2max) {
					min-width:3vw;
				}
				@include respond-to(break2full) {
					min-width:2.5vw;
				}
				@include respond-to(fullwidth) {
					min-width:4.5rem;
				}
			}
			.mejs-duration-container {
				display: inline-block;
			}
			.mejs-duration {
				&:before {
					content: "\0007C";
					display: inline-block;
					@include margin-right(0.5);
				}
			}
			.mejs-time-rail {
				position: absolute;
				@include respond-to(break2max) {
					top:2vw;
					top:1.5vw;
					width: 65% !important;
					left: 12vw;
				}
				@include respond-to(break1) {
					top: 1rem;
					width: 70.25% !important;
				}
				@include respond-to(break2full) {
					width: 66.25% !important;
					left: 5.5vw;
				}
				@include respond-to(break3) {
					top: 20%;
					width: 68.5% !important; // js override
				}
				@include respond-to(fullwidth) {
					top:1.5rem;
					left: 8.4rem;
					width: 69.75% !important; // js override
				}
				@include height(2);
				.mejs-time-loaded {
					width: initial !important;
				}
				span {
					height: 3px;
				}
			}
			.mejs-time-slider {
				width: 100% !important; // js override
				position: absolute;
				right:0;
				margin-right:0;
			}
			.mejs-time-float {
				border:none;
				background-color: transparent;
			}
			.mejs-time-float-corner {
				display:none;
			}
			.mejs-horizontal-volume-slider {
				display: none;
				position: absolute;
				right:0;
				bottom:0;
				@include width(3);
				@include respond-to(break1) {
					display:block;
					margin-bottom: 0;
				}
				@include height(1.2);
				.mejs-horizontal-volume-total, .mejs-horizontal-volume-current {
					top: auto;
					@include width(3);
				}
			}
			.mejs-volume-button {
				display: none;
			}
		}
	}

/* Tall Audio Card
-------------------------------------------------- */
.tall-audio-card {
	.image {
		@include border(all, 2px, $black15);
		border-bottom: none;
	}
	.details-inner {
		// border-top: none;
	}
}
/* Horizontal Audio Card
-------------------------------------------------- */
$horizontalMobilePlayWidth: 8vw;
$horizontalMobilePlayHeight: 8vw;
// common single and playlist styles below
.sidebar .audio-card {
	.mejs-container {
		background-color: transparent;
	}
}
.horizontal-audio-card {
	position: relative; // contain abs border
	// show play button on card hover (timeline exempt because z-index above)
	&:hover .details .mejs-controls .mejs-playpause-button {
		display: inline-block;
	}
	.image {
		padding-right: 0; // snuggle with details box
	}
	.details {
		padding-left: 0; // tight with image
	}		
	.details-inner {
		@include padding-top(1);
		@include padding-right(1.5);
		padding-bottom: 0; // audio player here
		padding-left:$small-gutter;
		@include respond-to(break2full) {padding-left:$small-gutter;}
		@include respond-to(fullwidth) {padding-left:1rem;}
	}
	.title-wrapper {
		height:30vw;
		@include respond-to(break23) {height:6vw;}
		@include respond-to(break3full) {height:6.8vw;}
		@include respond-to(fullwidth) {height:11.2rem;}
	}
	.title {
		@include sm-sans;
		font-weight: 600;	
	}
	.audio-player {
		position: static;
		padding: 0;
		@include margin-top(1);
	}
	.mejs-controls {
		div {
			// font-size:3vw;
			@include respond-to(break2) {font-size:0.9vw;}
			@include respond-to(fullwidth) {font-size:1.4rem;}
		}
		.mejs-playpause-button {
			display: none;
		}
		.mejs-playpause-button, .mejs-playpause-button button, .mejs-playpause-button button:before, .mejs-playpause-button button:after {
			@include respond-to(break2full) {
				width:2.88vw;
				height:2.88vw;}
			@include respond-to(fullwidth) {
				width:4.5rem;
				height:4.5rem;
			}
		}
		.mejs-playpause-button button:before, .mejs-playpause-button button:after {
			// font-size:8vw;
			@include respond-to(break2full) {font-size:3vw;}
			@include respond-to(fullwidth) {font-size:4rem;}
		}
		.mejs-playpause-button button[title='Pause']:after {
			// font-size:5.5vw;
			@include respond-to(break2full) {font-size:2.2vw;}
			@include respond-to(fullwidth) {font-size:3rem;}
		}
		.mejs-time-rail {
			// @include left(0.3);
			// top: 7.5vw;
			@include respond-to(break23) {
				top: 2.7vw;
				left: 0.3vw;
			}
			@include respond-to(break3full) {
				top: 2.9vw;
				left: 0.3vw;
				width: 50% !important;
			}
			@include respond-to(fullwidth) {
				top:4.5rem;
				left: 0.3rem;
				width: 50% !important;
			}
		}
		.mejs-time-wrapper {
			@include respond-to(break2) {
				position: static;
				width: 75%;
				margin-top: 5vw;	
			}
			@include respond-to(break23) {margin-top: 0.9vw;}
			@include respond-to(break3full) {margin-top: 0.7vw;}
			@include respond-to(fullwidth) {margin-top:1rem;}
		}
	}
}
.horizontal-audio-card-single {
	// don't hide play button
	.details .mejs-controls .mejs-playpause-button {
		display: inline-block;
	}
}

// inherits many styles from .horizontal-audio-card
.horizontal-audio-card-playlist {
	.title-wrapper {
		height:12vw;
		@include respond-to(break23) {height:3vw;}
		@include respond-to(break3full) {height:3.2vw;}
		@include respond-to(fullwidth) {height:5rem;}
	}
	.title {
		@include respond-to(break2full) {
			margin-bottom: 0;
		}	
	}
	.mejs-controls {
		.mejs-playpause-button {
			position: absolute;
			top: -8vw;
			left:-18vw;
			@include respond-to(break23) {
				top: -4vw;
				left:-2vw;
			}
			@include respond-to(break3full) {
				top: -2.7vw;
				left:-5.1vw;
			}
			@include respond-to(fullwidth) {
				top: -4rem;
				left:-8rem;
			}
		}
		.mejs-time-rail {
			padding-top: 0;
			position: relative;
			left: 0;
			@include respond-to(break2) {
				top: 0;
			}
		}
		// .mejs-time-wrapper, .mejs-horizontal-volume-slider {
		.mejs-horizontal-volume-slider {
			@include bottom(0.5);
		}
		.mejs-time-wrapper {
			display: none
		}
	}
}

