.card {
	// for consistency with rows of cards and next sections
	@include margin-bottom(4);
}

.border {
	border-top: 1px solid $black30;
}
.inset-border {
	margin-left:2rem;
	margin-right:2rem;
	@include respond-to(break2) {
		margin-left:2rem;
		margin-right:2rem;
	}
	@include respond-to(fullwidth) {
		margin-left:2rem;
		margin-right:2rem;
	}
}

// details only include top padding
.details-inner {
	@include respond-to(break2) {
		min-height: initial; // reset // for ios
		min-height: auto; // for windows
	}
	@include padding-top(2);
	@include padding-right(1);
	padding-top:1.3rem;
	@include respond-to(break2) {
		padding-top:1.5rem;
	}
	@include respond-to(fullwidth) {
		padding-top:3rem;
	}
}
a.details {
	display: inline-block; // for anchor tags that are .details
}

// TITLE
.title {
	display: block; // so space above is consistent, unline inline-block with 2 lines vs 2 line
	width: 100%; // text align center does exactly that
}
.tag {
	@include sans-tag;
}
.date {@include date;}
.date-sm {@include date-sm;}
.byline {@include byline;}


/* #textbox
-------------------------------------------------- */
	@mixin textbox {
		background-color: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;

		@include respond-to(break2) {
			left: 2.8%;
			width: 22.86%; // 320 px at fullwidth
			min-height: 40%;
		}
		@include respond-to(fullwidth) {
			left: 4rem;
		}
		@include bottom(4);
	}

/* #text card, folklfe/learn or collectiom
-------------------------------------------------- */
	.text-card {
		// cards that are more text-based need to be closer together, and have no image, FL-learn page
		@include margin-bottom(0);
		// turn off link highlighting for titles because under .content div
		a.title {
			border-bottom: none;
			box-shadow: none;
		}
		.details-inner {
			@include padding-top(0);
		}
	}

/* #publication card
-------------------------------------------------- */
	.publication-card {
		@include margin-bottom(4); // add back to horizontal cards section
		@include clear-2;
		.title {
			@include margin-top(-0.8);
			@include lg-sans;
		}
		.author {
			@include sm-sans;
			@include margin-top(1);
			@include margin-bottom(3);
		}
		.details-inner {
			@include padding-top(2);
		}
		.more-link {
			display: none;
		}
		.buy-now-button {
			@include buy-button;
			text-transform: initial;
			color: $black65;
			font-weight: 400;
			display: block; // force new line for multiple buttons
		}
	}

/* #program highlight (on.festival/learn 1/4 card)
* before audio card because audio title needs to override
-------------------------------------------------- */
	.card-program {
		.title {
			@include sm-serif;
			display: block; // for better height management;
			@include respond-to(break2max) {
				margin-bottom:0;
			}
		}
	}


/* #blog on festival on and off pages
-------------------------------------------------- */
	.blog-card {
		@include respond-to(break2max) {
			margin-bottom: 4rem;
		}
	}

/* #video
-------------------------------------------------- */
	// onlye show video if video card. card-video class dynamically from server, eg festival blog post listing with video on on.festival homepage
	.video {
		display: none;
	}
	.video-card:not(.horizontal-card) {
		.video {
			// vert align grandparent includes display: table
			@include vertically-align-grandparent;
		}
	}
	// Show on program sidebar, but not at 100% like above
	.video-card.horizontal-card {
		.video {
			display: block;
		}
	}
	.video-card {
		.image {
			display: none;
		}
		.icon-play-button {
			left: 50%;
			&:before, &:after {
				@include respond-to(break2max) {
					font-size: 15vw;
				}
			}
		}
	}
	// hover effect on entire video card and on audio player play button
	.video, .icon-play-button  {
		&:hover .icon-circle:before {
			color: $hover;
		}
		&:hover .icon-play:before {
			color: $black80;
		}
	}
	// modal
	.remodal {
	  padding:0.2rem;
	  text-align: left;
	  position: relative;
	  // trade gpu acceleration for correct placement of close button
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
	  @include respond-to(break1) {
		max-width: 70%;
	  }
	  @include respond-to(fullwidth) {
		max-width: 1080px;
	  }
	}
	.remodal-overlay {
	  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
	}
	.remodal-close {
		position: absolute;
		top:-4.5rem;
		right:-1rem;
		left:auto;
		z-index: 10001;
		color: #fff;
		width:50px;
		height:50px;
		@include respond-to(break2) {
			right: -4.5rem;
		}
	}
	.remodal-close:hover {
	  color: $black20;
	}
	.remodal-close::before {
	  font-size: 4rem;
	  width:50px;
	  height:50px;
	  line-height: 50px;
	}
	.remodal-iframe {
	  position: relative;
	  padding-bottom: 56.25%;
	  height: 0;
	  overflow: hidden;
	}
	.remodal-iframe iframe {
	  position: absolute;
	  top:0;
	  left:0;
	  max-width: 100%;
	  width:100%;
	  height:100%;
	  z-index: 2;
	}
	.remodal-copy {
	  padding:10px 20px 30px;
	}
	.remodal-title {
		margin-bottom:10px;
		@include sm-sans;
	}
	.remodal-description {
		@include md-sans;
	}

/* #background
* the following rules apply a background color to the :after element
* if color was applied to the card itself, it would show through the padding on the edges
-------------------------------------------------- */

	// horizontal backgrounds
		.background-card {
			position: relative;
			&:after {
				background-color: #fff;
				content:"";
				display: block;
				position: absolute;
				top:0;
				bottom:0;
				z-index:-1;
				left:$small-gutter;
				right:$small-gutter;
				@include respond-to(break2) {
					left:$medium-gutter;
					right:$medium-gutter;
				}
				@include respond-to(fullwidth) {
					left:2rem; // folklife talkstory
					right:2rem; // folklife talkstory
				}
			}
		}
	.full-feature-card, .details, .ms-section__copy {
		.more-link {
			position: static;
			float: right;
			@include margin-top(2);
			@include margin-bottom(2);
			@include margin-left(2);
			@include respond-to(break2) {
				margin: 0;
				float: none;
				margin-top: 2vw;
				display: inline-block;
			}
			@include respond-to(breakfull) {
				margin-top: 2rem;
			}
		}
	}
	.half-section .more-link {
		@include right(2);
	}

/* #category
-------------------------------------------------- */
	.tag {
		// counteract line height of first line for padding
		// due to line height. to make spacing accurate with padding above
		@include respond-to(break2) {margin-top:-0.28125vw;}
		@include respond-to(fullwidth) {margin-top:-0.5rem;}
	}

/* #horizontal
-------------------------------------------------- */
	.horizontal-cards-section {
		@include respond-to(break2) {margin-bottom:2.5vw;}
		@include respond-to(fullwidth) {margin-bottom:6rem;}
	}
	.horizontal-card {
		.details-inner {
			padding-left:$small-gutter;
			@include respond-to(break2) {padding-left:0;}
			@include respond-to(fullwidth) {padding-left:0;}
		}
	}
	.horizontal-card {
		// featurette list
		li:last-of-type {
			margin-bottom: 0 !important;
		}
		.video, .image {
			@include respond-to(break2) {
				padding-bottom:0;
			}
		}
		.details.hasborder {
			@include margin-top(1); // add margin back if have border b/c no title above in horizontal layout
		}
		.details-inner {
			@include padding(0); // start with no padding, need media queries to win specificity 
			@include padding-top(2);
			@include padding-right(1);
		}
	}


/* Feature cards
-------------------------------------------------- */
	.feature-card {
		@include respond-to(break2) {
			margin-bottom: 0;
		}
	}

/* Full feature cards
-------------------------------------------------- */
	.full-feature-card {
		@include margin-bottom(0);
		.tag {
			display: none;
		}
		.image {
			@include respond-to(break2max) {
				padding-bottom: 2.5vw;
			}
		}
		.title {
			@include lg-serif;
			@include margin-bottom(2);
		}
		.details-inner {
			@include padding-top(0);
			@include padding-right(2);
			@include respond-to(break2max) {
				padding-left:0; // for full width detail copy
			}
		}
		.description {
			@include lg-sans;
		}
	}

/* Sidebar cards
-------------------------------------------------- */
	.sidebar-card {
		@include margin-bottom(4);
		.image  {
			padding-bottom:0;
		}
		.details {
			@include sm-sans;
			@include respond-to(fullwidth) {
				padding-left:0;
			}
		}
		.author, .date {
			display: none;
		}
		.title {
			font-weight: 600;
			@include margin-top(-0.5); // for true 20px padding top
			line-height: 1.33 !important; // 18/24
			
		}
		&.horizontal-card, &.suggested-album {
			.details {
				padding-left:$small-gutter;
				@include respond-to(break2) {padding-left:0.8vw;}
				@include respond-to(fullwidth) {padding-left:0;}
			}
		}
	}


/* Albums & Vinyl
-------------------------------------------------- */
	.album-card, .vinyl-card, .books-card {
		
		.details-inner {
			padding:0;
			@include padding-top(1.7);
		}
		.description {
			display: none; // hide copy on cards
		}
		.title {
			@include sm-sans;
			font-weight: 700;
			@include margin-bottom(0.5);
		}
		.artist {
			@include sm-sans;
		}
		@include clear-2;
		@include respond-to(break2) {@include clear-6;}
	}


/* Merchandise
-------------------------------------------------- */
	.merchandise-card {
		&:nth-of-type(2n + 1) {
			@include respond-to(break2max) {
				clear:left;
			}
		}
		&:nth-of-type(6n + 1) {
			@include respond-to(break2) {
				clear:left;
			}
		}
		.title {
			@include sm-sans;
			color: #fff;
			font-weight: bold;
			text-align: center;
			@include margin-bottom(0.5);
		}
		.price {
			@include sm-sans;
			color: $black70;
			text-align: center;
		}
	}


/* Inverse cards (titles above images)
-------------------------------------------------- */
	.inverse-card {
		// need to add space below title after gets matchHeight. apply margin to image because matchHeight ignores it
		.image {
			@include margin-top(2);
		}
	}

/* Cards with borders
-------------------------------------------------- */
	.top-border-card {
		&:before {
			content: '';
			border-top: 1px solid $black30; // formerly
			width: 100%;
			display: block;
		}
	}
	.full-border-card {
		.image, .video {
			padding-bottom: 0;
		}
		.details-inner {
			border: 2px solid $black15;
			@include padding-bottom(2); // padding on left by default
			@include padding-left(2);
		}
	}


/* Card stacking
-------------------------------------------------- */
	.card-xs-break-2 {
		&:nth-of-type(2n + 1) {
			@include respond-to(break2max) {
				clear:left;
			}
		}
	
	}
	.card-sm-break-6 {
		@include respond-to(break2) {
			&:nth-of-type(2n + 1) {
				clear:none;
			}
			&:nth-of-type(6n + 1) {
				clear:left;
			}
		}
	}