.section--horizontal-cards {
	// remove extra margin from last row
	// @include margin-bottom(-1);
	margin-bottom: 0;;
}
.card--horizontal {
	@include margin-bottom(4);
	.details {
		@include margin-top(1); // add margin back in b/c no title above in horizontal layout
	}
}


.border {
	border-top: 1px solid $black65;
	&--inset {
		margin-left:2rem;
		margin-right:2rem;
		@include respond-to(break2) {
			margin-left:2rem;
			margin-right:2rem;
		}
		@include respond-to(fullwidth) {
			margin-left:2rem;
			margin-right:2rem;
		}
	}
}

.card__image-wrapper {
	@include padding-bottom(2);
}

// details only include top padding
.details {
	// @include padding-top(2);

	@include respond-to(break2) {
		min-height: initial; // reset // for ios
		min-height: auto; // for windows
		// padding-top: 1.6vw;
	}
	@include respond-to(fullwidth) {
		// padding-top: 2.5rem;
	}
}
a.details {
	display: inline-block; // for anchor tags that are .details
}
// details inner includes left and right padding, and less top padding
.details--inset {
	// padding: 3vw 2vw 2vw;
	padding: 2vw 2.5vw 2vw;
	@include respond-to(break2) {
		// padding: 1.5vw 1.25vw 1.2vw;
		padding: 1.5vw 1.25vw 0vw;
	}
	@include respond-to(fullwidth) {
		padding: 2.5rem 2rem 2rem;
	}
	@include padding-top(2);
}
.details--notop {
	@include respond-to(break2) {padding-top: 0 !important;}
}
// smaller featurette details require less padding
.details--tight {
	@include respond-to(break2) {
		// padding: 1.35vw 0.6vw 0 1.35vw;
		padding: 0.9vw 0.7vw 0 1.0vw;
	}
	@include respond-to(fullwidth) {
		// padding: 1.4rem 1.8rem 0 2rem;
		padding: 1.6rem 1.8rem 0 1.8rem;
	}
}
// smaller featurette details require less padding
.details--tight-bottom {
	@include respond-to(break2) {
		padding-bottom: 1.25vw;
	}
	@include respond-to(fullwidth) {
		padding-bottom: 1.5rem;
	}
}
.details__inner {
	// counteract line height of first line for padding
	margin-top:0;
	@include respond-to(break2) {
		margin-top:-2px;
	}
	@include respond-to(fullwidth) {
		margin-top:-3px;
	}
}
.title {
}
.title--serif {
	@include serif-md;
}
.title--sans {
	@extend %title--sans;
}
.subtitle--sans {
	@include sans-xxs;
}
.category {
	@include category;
}
.date {@include date;}
.date-sm {@include date-sm;}

/* #video
-------------------------------------------------- */

	.video__thumbnail {
		@include vertically-align-grandparent;
		&:hover .icon-circle:before {
			color: $hover;
		}
		&:hover .icon-play:before {
			color: $black80;
		}
	}
	.modal-trigger {
		// cursor: pointer; // set in links
	}
	.icon-play-button--video {
		@include vertically-align;
		left: 50%;
		margin-left: -3rem;
	}
	.center-box {
		@include vertically-align-parent;
		@include padding-bottom(2);
	}
	// modal
	.remodal {
	  padding:2px 2px 20px;
	  text-align: left;
	  // trade gpu acceleration for correct placement of close button
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
	  @include respond-to(break1) {
		max-width: 70%;
	  }
	  @include respond-to(fullwidth) {
		max-width: 1080px;
	  }
	}
	.remodal-overlay {
	  // background: rgba(43, 46, 56, 0.9) none repeat scroll 0% 0%; // original
	  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
	}
	.remodal-close {
	  position: fixed;
	  top:0;
	  right:10px;
	  left:auto;
	  display: block;
	  z-index: 10001;
	  color:white;
	  width:50px;
	  height:50px;
	  // pointer:cursor;
	}
	.remodal-close:hover {
	  color: $black20;
	}
	.remodal-close::before {
	  font-size:40px;
	  width:50px;
	  height:50px;
	  line-height: 50px;
	}
	.remodal__iframe {
	  position: relative;
	  padding-bottom: 56.25%;
	  height: 0;
	  overflow: hidden;
	}
	.remodal__iframe iframe {
	  position: absolute;
	  top:0;
	  left:0;
	  max-width: 100%;
	  width:100%;
	  height:100%;
	  z-index: 2;
	}
	.remodal__copy {
	  padding:10px 20px;
	}
	.remodal__title {
		// font-size:1.4rem; // 28px
		margin-bottom:10px;
		@include sans-xxs;
	}