/* 


	  ___|         |                   
	 |       _ \   |   _ \    __|  __| 
	 |      (   |  |  (   |  |   \__ \ 
	\____| \___/  _| \___/  _|   ____/ 
	                                   


*/

/* Grays
-------------------------------------------------- */
	$black80: hsl(0, 0, 20);
	$black70: hsl(0, 0, 30);
	$black65: hsl(0, 0, 35);
	$black60: hsl(0, 0, 40);
	$black50: hsl(0, 0, 50);
	$black40: hsl(0, 0, 60);
	$black30: hsl(0, 0, 70);
	$black25: hsl(0, 0, 75); // icon play button
	$black20: hsl(0, 0, 80);
	$black15: hsl(0, 0, 85);
	$black10: hsl(0, 0, 90);
	$black08: hsl(0, 0, 92);
	$black05: hsl(0, 0, 95);

	// utilities
	.black-80 {color: $black80;}
	.black-70 {color: $black70;}
	.black-65 {color: $black65;}
	.black-60 {color: $black60;}
	.black-50 {color: $black50;}
	.black-40 {color: $black40;}
	.black-30 {color: $black30;}
	.black-25 {color: $black25;}
	.black-20 {color: $black20;}
	.black-15 {color: $black15;}
	.black-10 {color: $black10;}
	.black-08 {color: $black08;}
	.black-05 {color: $black05;}

/* Folklife
-------------------------------------------------- */
	$fl-light-blue: #adbedd;
    .fl-light-blue {color: $fl-light-blue;}
    .fl-light-blue-bg {background-color: $fl-light-blue;}

	$fl-blue: #418abd;
    .fl-blue {color: $fl-blue;}
    .fl-blue-bg {background-color: $fl-blue;}

	$fl-purple: #a34d8f;
    .fl-purple {color: $fl-purple;}
    .fl-purple-bg {background-color: $fl-purple;}

	$fl-light-green: #e2f0d8;
    .fl-light-green {color: $fl-light-green;}
    .fl-light-green-bg {background-color: $fl-light-green;}

	$fl-green: #31b3a0;
    .fl-green {color: $fl-green;}
    .fl-green-bg {background-color: $fl-green;}

	$fl-teal: #277b89;
    .fl-teal {color: $fl-teal;}
    .fl-teal-bg {background-color: $fl-teal;}

	$fl-yellow: #fdefc3;
    .fl-yellow {color: $fl-yellow;}
    .fl-yellow-bg {background-color: $fl-yellow;}

	$fl-orange: #ce6e52;
    .fl-orange {color: $fl-orange;}
    .fl-orange-bg {background-color: $fl-orange;}

	$fl-red: #b44435;
    .fl-red {color: $fl-red;}
    .fl-red-bg {background-color: $fl-red;}


	// application
	$fl-hover: $fl-light-green;

/* Folkways
-------------------------------------------------- */
	$fw-light-blue: #c0d5e7;
    .fw-light-blue { color: $fw-light-blue; }
    .fw-light-blue-bg { background-color: $fw-light-blue; }

	$fw-blue: #acd1d4;
    .fw-blue { color: $fw-blue; }
    .fw-blue-bg { background-color: $fw-blue; }

	$fw-dark-blue: #31586a;
    .fw-dark-blue { color: $fw-dark-blue; }
    .fw-dark-blue-bg { background-color: $fw-dark-blue; }

	$fw-purple: #9e93ae;
    .fw-purple { color: $fw-purple; }
    .fw-purple-bg { background-color: $fw-purple; }

	$fw-light-green: #bedcaf;
    .fw-light-green { color: $fw-light-green; }
    .fw-light-green-bg { background-color: $fw-light-green; }

	$fw-green: #628a61;
    .fw-green { color: $fw-green; }
    .fw-green-bg { background-color: $fw-green; }

	$fw-cream: #fef3db;
    .fw-cream { color: $fw-cream; }
    .fw-cream-bg { background-color: $fw-cream; }

	$fw-brown: #c9c1ae;
    .fw-brown { color: $fw-brown; }
    .fw-brown-bg { background-color: $fw-brown; }

	$fw-orange: #ca772c;
    .fw-orange { color: $fw-orange; }
    .fw-orange-bg { background-color: $fw-orange; }

	$fw-red: #b44b41;
    .fw-red { color: $fw-red; }
    .fw-red-bg { background-color: $fw-red; }


	$fw-magazine: #ffd51d;

	// application
	$fw-hover: $fw-light-blue;

/* Festival
-------------------------------------------------- */
	$fs-light-blue: #71b6d9;
    .fs-light-blue { color: $fs-light-blue; }
    .fs-light-blue-bg { background-color: $fs-light-blue; }

	$fs-blue: #4967a3;
    .fs-blue { color: $fs-blue; }
    .fs-blue-bg { background-color: $fs-blue; }

	$fs-purple: #6f498d;
    .fs-purple { color: $fs-purple; }
    .fs-purple-bg { background-color: $fs-purple; }

	$fs-green: #00a765;
    .fs-green { color: $fs-green; }
    .fs-green-bg { background-color: $fs-green; }

	$fs-teal: #409fa1;
    .fs-teal { color: $fs-teal; }
    .fs-teal-bg { background-color: $fs-teal; }

	$fs-yellow: #fddd6b;
    .fs-yellow { color: $fs-yellow; }
    .fs-yellow-bg { background-color: $fs-yellow; }

	$fs-tan: #cfbb8a;
    .fs-tan { color: $fs-tan; }
    .fs-tan-bg { background-color: $fs-tan; }

	$fs-orange: #e5a058;
    .fs-orange { color: $fs-orange; }
    .fs-orange-bg { background-color: $fs-orange; }

	$fs-red: #ce3c45;
    .fs-red { color: $fs-red; }
    .fs-red-bg { background-color: $fs-red; }


	// application
	$fs-hover: $fs-yellow;

/* General
-------------------------------------------------- */
	// from bootstrap
	$body: #333333; 
	$copy: $body; 
	$banner-gray: #EBE6E6; // from 50 Objects credits

/* Color Application
-------------------------------------------------- */
	$link: $black80;
	$navbar: rgba(white, 0.97);
	$tagline: $black50;
	$sitelinks: $black40; // new

	$searchText: $black40;


/* Helper classes
-------------------------------------------------- */
.black {color: #000;}