/* 


	  ___|         |                   
	 |       _ \   |   _ \    __|  __| 
	 |      (   |  |  (   |  |   \__ \ 
	\____| \___/  _| \___/  _|   ____/ 
	                                   


*/

/* Grays
-------------------------------------------------- */
	$black80: hsl(0, 0, 20);
	$black70: hsl(0, 0, 30);
	$black65: hsl(0, 0, 35);
	$black60: hsl(0, 0, 40);
	$black50: hsl(0, 0, 50);
	$black40: hsl(0, 0, 60);
	$black30: hsl(0, 0, 70);
	$black25: hsl(0, 0, 75); // icon play button
	$black20: hsl(0, 0, 80);
	$black15: hsl(0, 0, 85);
	$black10: hsl(0, 0, 90);
	$black08: hsl(0, 0, 92);
	$black05: hsl(0, 0, 95);

/* Folklife
-------------------------------------------------- */
	$fl-light-blue: #adbedd;
	$fl-blue: #418abd;
	$fl-purple: #a34d8f;
	$fl-light-green: #e2f0d8;
	$fl-green: #31b3a0;
	$fl-teal: #277b89;
	$fl-yellow: #fdefc3;
	$fl-orange: #ce6e52;
	$fl-red: #b44435;

	// application
	$fl-hover: $fl-light-green;

/* Folkways
-------------------------------------------------- */
	$fw-light-blue: #c0d5e7;
	$fw-blue: #acd1d4;
	$fw-dark-blue: #31586a;
	$fw-purple: #9e93ae;
	$fw-light-green: #bedcaf;
	$fw-green: #628a61;
	$fw-cream: #fef3db;
	$fw-brown: #c9c1ae;
	$fw-orange: #ca772c;
	$fw-red: #c8635a;

	$fw-magazine: #ffd51d;

	// application
	$fw-hover: $fw-light-blue;

/* Festival
-------------------------------------------------- */
	$fs-light-blue: #71b6d9;
	$fs-blue: #4967a3;
	$fs-purple: #6f498d;
	$fs-green: #00a765;
	$fs-teal: #409fa1;
	$fs-yellow: #fddd6b;
	$fs-tan: #cfbb8a;
	$fs-orange: #e5a058;
	$fs-red: #ce3c45;

	// application
	$fs-hover: $fs-yellow;

	// basque
	$basque-red: #cd181f;
	$basque-green: #79b93e;
	.basque-child-page .section-title {color: $basque-red;}


/* General
-------------------------------------------------- */
	// from bootstrap
	$body: #333333; 
	$copy: $body; 

/* Color Application
-------------------------------------------------- */
	$link: $black80;
	$navbar: rgba(white, 0.97);
	$tagline: $black50;
	$sitelinks: $black40; // new

	$searchText: $black40;


/* Helper classes
-------------------------------------------------- */
.black {color: #000;}