/* 

-----------------------------------------------------
item: 						| mobile 	| tablet	| desktop
-----------------------------------------------------
%meganav-font 				| 10vw   	| 4rem		| 4rem
%link-font 					| 1.7rem 	| 2rem   	|
%title--sans 				| 5vw		| 1.6vw		| 2.4rem
%title--sans--alt 			| 5vw		| 2vw		| 3rem
%subtitle--sans  			| 4vw		| 1.35vw	| 2rem
%category 					| 4.1vw		| 1.2vw		| 1.8rem
%section-header				|			| 2vw		| 3rem
-----------------------------------------------------
%serif-sm 				| 6vw		| 1.9vw		| 2.8rem
%serif-sm--large 		| 5vw		| 2.7vw		|
email-newsletter: 			| 			| 			| 3.5rem
										| 3vw		| 6.2rem
-----------------------------------------------------
.audio__details padding		| 2vw		| 2rem		|
.item__details--audio padd: | 3vw		| 2vw		| 3rem
.item__details--audio padd: | 2vw		| 1.3vw		| 2rem
.details--banner			| 2vw		| 1.35vw	| 2rem


-----------------------------------------------------
conversion: 				| mobile 	| tablet	| desktop
-----------------------------------------------------
										| 2.65vw	| 4rem

*/


/* Gutters
-------------------------------------------------- */

// $gutter--medium: 1.35%;
$gutter--small: 7.5px;
// $gutter--medium: 1.35%;
$gutter--medium: 1.36%;

$gutter--full: 2.72%;
// $gutter--medium: %;

/* Sizes
-------------------------------------------------- */
  // $headerWidth: 74rem; // 1420px + 30px + 30px = 1480px for design overhang
  // $small-header: 48px;
  // // $pageWidth: 72rem; // 1420px + 10px + 10px = 1440px for mobile gutters on both sides
  // // $pageWidth: 73rem; // 1420px + 20px + 20px = 1460px for mobile gutters on both sides
  $pageWidth: 1560px; // 1400px + 80px + 80px = 1560px for desktop gutters on both sides

  /**********
  * Calculate height of full screen banner
  * Accomplished by taking full height and subtracting height of navbar
  **********/
  // height of site toggle area on tablet and desktop
  // $navbarSiteToggle--tablet: 2.5vw;
  $navbarSiteToggle--mobile: 0px;
  $navbarSiteToggle--tablet: 3.5rem;
  $navbarSiteToggle--desktop: 36px;

  // height of navbar on tablet and desktop
  // $navbarHeight--home--mobile: 11vw;
  // $navbarHeight--home--mobile: 9vw; // new hamburger nav
  $navbarHeight--home--mobile: 5.5rem; // new hamburger nav
  // $navbarHeight--subpage--mobile: 6.2rem;
  $navbarHeight--subpage--mobile: 5.5rem;
  // $navbarHeight--subpage--mobile--smaller: 12vw;
  $navbarHeight--subpage--mobile--smaller: 5rem;
  $navbarHeight--home--tablet: 5.1vw;
  // $navbarHeight--home--tablet: 6.29vw;
  $navbarHeight--subpage--tablet: 15.1vw;
  $navbarHeight--subpage--tablet: 5.1vw;
  $navbarHeight--subpage--tablet--smaller: 5.1vw;
  $navbarHeight--desktop: 80px;

  // spacer for logo
  $logoSpacer--mobile:20vw;
  $logoSpacer--tablet:9vw;
  // $logoSpacer--desktop:153px; // from layout
  $logoSpacer--desktop:125px; // from layout

  // height of toggle, navbar, and spacer
  // $headerHeight--home--mobile: 7.4vw; // temp for mobile
  $headerHeight--home--mobile: 5.5rem; // temp for mobile
  // $headerHeight--home--mobile: 7rem; // temp for mobile
  // $headerHeight--subpage--mobile: 34vw; // temp for mobile
  // $headerHeight--subpage--mobile: 16rem; // temp for mobile
  $headerHeight--subpage--mobile:#{$navbarHeight--subpage--mobile} + #{$navbarSiteToggle--mobile} + #{$logoSpacer--mobile};
  $headerHeight--home--tablet:#{$navbarHeight--home--tablet} + #{$navbarSiteToggle--tablet};
  $headerHeight--subpage--tablet:#{$navbarHeight--subpage--tablet} + #{$navbarSiteToggle--tablet} + #{$logoSpacer--tablet};
  // $headerHeight--subpage--tablet:#{$navbarHeight--subpage--tablet} + #{$navbarSiteToggle--tablet};
  $headerHeight--home--desktop:#{$navbarHeight--desktop} + #{$navbarSiteToggle--desktop};
  $headerHeight--subpage--desktop:#{$navbarHeight--desktop} + #{$navbarSiteToggle--desktop} + #{$logoSpacer--desktop};


  // tab heights for Festival on homepage so can peek from bottom
  $tabHeight--mobile:12rem;
  // $tabHeight--tablet:6.5vw;
  $tabHeight--tablet:4.7vw;
  $tabHeight--desktop:94px;

  // tab heights for Folkways banner title tabs
  // $tabHeight--mobile:200px;
  // $tabHeight--tablet:6.5vw;
  // $tabHeight--desktop:94px;

  // toggle nav and navbar height for navspacer
  @mixin navbarHeight--home {
    height: $navbarHeight--home--mobile;
    @include respond-to(break2) {height: $navbarHeight--home--tablet;}
    @include respond-to(fullwidth) {height: $navbarHeight--desktop;}

  }
  @mixin navbarHeight--subpage {
    height: $navbarHeight--subpage--mobile;
    @include respond-to(break2) {height: $navbarHeight--subpage--tablet;}
    @include respond-to(fullwidth) {height: $navbarHeight--desktop;}

  }
  @mixin navbarHeight--subpage--smaller {
    height: $navbarHeight--subpage--mobile--smaller;
    @include respond-to(break2) {height: $navbarHeight--subpage--tablet--smaller;}
    @include respond-to(fullwidth) {height: $navbarHeight--desktop;}

  }
  @mixin headerHeight--home {
    height:$headerHeight--home--mobile;
    @include respond-to(break2) {height:calc(#{$headerHeight--home--tablet});}
    @include respond-to(fullwidth) {height:calc(#{$headerHeight--home--desktop});}
  }

  @mixin headerHeight--subpage {
    height:calc(#{$headerHeight--subpage--mobile});
    @include respond-to(break2) {height:calc(#{$headerHeight--subpage--tablet});}
    @include respond-to(fullwidth) {height:calc(#{$headerHeight--subpage--desktop});}
  }

  // calculate full height minus height of header, grouping media queries in mixin
  @mixin bannerHeight {
    height: calc(100vh - (#{$headerHeight--home--mobile}));
    @include respond-to(break2) {height:calc(100vh - (#{$headerHeight--home--tablet});}
    @include respond-to(fullwidth) {height:calc(100vh - (#{$headerHeight--home--desktop});}
  }
  // tab top margin for on.festival homepage
  // gets full screen height minus header height, minus tab height
  @mixin marginTopBanner {
    margin-top: calc(100vh - (#{$headerHeight--home--mobile} + #{$tabHeight--mobile}));
    @include respond-to(break2) {margin-top:calc(100vh - (#{$headerHeight--home--tablet} + #{$tabHeight--tablet});}
    @include respond-to(fullwidth) {margin-top:calc(100vh - (#{$headerHeight--home--desktop} + #{$tabHeight--desktop});}
  }

  /*******
  * set margins with scales
  *******/
  // $scale: 0.625;
  $scale: 0.5625; // major 2nd / 2 
  $mobile-scale: 0.64; // major 2nd / major 2nd
  @mixin right($distance) {
    right:#{$distance / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {right:#{$distance * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {right:#{$distance}rem;} // eg 4rem
  }
  @mixin left($distance) {
    left:#{$distance / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {left:#{$distance * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {left:#{$distance}rem;} // eg 4rem
  }
  @mixin margin($margin) {
    margin:#{$margin / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {margin:#{$margin * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin:#{$margin}rem;} // eg 4rem
  }
  @mixin margin-top($margin) {
    margin-top:#{$margin / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {margin-top:#{$margin * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-top:#{$margin}rem;} // eg 4rem
  }
  @mixin margin-right($margin) {
    margin-right:#{$margin / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {margin-right:#{$margin * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-right:#{$margin}rem;} // eg 4rem
  }
  @mixin margin-bottom($margin) {
    // margin-bottom:#{$margin / $mobile-scale }vw; // eg. 5rem
    margin-bottom:#{$margin / 1.125}rem; // eg. 5rem
    @include respond-to(break2) {margin-bottom:#{$margin * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-bottom:#{$margin}rem;} // eg 4rem
  }
  @mixin margin-left($margin) {
    margin-left:#{$margin / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {margin-left:#{$margin * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-left:#{$margin}rem;} // eg 4rem
  }

  @mixin padding($padding) {
    padding:#{$padding / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {padding:#{$padding * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-top($padding) {
    padding-top:#{$padding / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {padding-top:#{$padding * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-top:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-right($padding) {
    padding-right:#{$padding / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {padding-right:#{$padding * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-right:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-bottom($padding) {
    padding-bottom:#{$padding / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {padding-bottom:#{$padding * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-bottom:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-left($padding) {
    padding-left:#{$padding / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {padding-left:#{$padding * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-left:#{$padding}rem;} // eg 4rem
  }
  @mixin top($top) {
    top:#{$top / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {top:#{$top * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {top:#{$top}rem;} // eg 4rem
  }
  @mixin bottom($bottom) {
    bottom:#{$bottom / $mobile-scale }vw; // eg. 5rem
    @include respond-to(break2) {bottom:#{$bottom * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {bottom:#{$bottom}rem;} // eg 4rem
  }
  @mixin width($width) {
    width:#{$width / $mobile-scale }vw; // eg. 5rem
    // width:#{$width * 2.5}vw; // eg. 5rem
    @include respond-to(break2) {width:#{$width * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {width:#{$width}rem;} // eg 4rem
  }
  @mixin height($height) {
    height:#{$height / $mobile-scale }vw; // eg. 5rem
    // height:#{$height * 2.5}vw; // eg. 5rem
    @include respond-to(break2) {height:#{$height * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {height:#{$height}rem;} // eg 4rem
  }
  @mixin min-height($height) {
    min-height:#{$height / $mobile-scale }vw; // eg. 5rem
    // min-height:#{$height * 2.5}vw; // eg. 5rem
    @include respond-to(break2) {min-height:#{$height * $scale}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {min-height:#{$height}rem;} // eg 4rem
  }
  @mixin col {
  	display: inline-block;
  	vertical-align: top;
  }