/* 

-----------------------------------------------------
item: 						| mobile 	| tablet	| desktop
-----------------------------------------------------
%meganav-font 				| 10vw   	| 4rem		| 4rem
%link-font 					| 1.7rem 	| 2rem   	|
%title--sans 				| 5vw		| 1.6vw		| 2.4rem
%title--sans--alt 			| 5vw		| 2vw		| 3rem
%subtitle--sans  			| 4vw		| 1.35vw	| 2rem
%category 					| 4.1vw		| 1.2vw		| 1.8rem
%section-header				|			| 2vw		| 3rem
-----------------------------------------------------
%serif-md 				| 6vw		| 1.9vw		| 2.8rem
%serif-md--large 		| 5vw		| 2.7vw		|
email-newsletter: 			| 			| 			| 3.5rem
										| 3vw		| 6.2rem
-----------------------------------------------------
.audio__details padding		| 2vw		| 2rem		|
.item__details--audio padd: | 3vw		| 2vw		| 3rem
.item__details--audio padd: | 2vw		| 1.3vw		| 2rem
.details--banner			| 2vw		| 1.35vw	| 2rem


-----------------------------------------------------
conversion: 				| mobile 	| tablet	| desktop
-----------------------------------------------------
										| 2.65vw	| 4rem

*/

/* Sizes
-------------------------------------------------- */
  // $headerWidth: 74rem; // 1420px + 30px + 30px = 1480px for design overhang
  // $small-header: 48px;
  // // $pageWidth: 72rem; // 1420px + 10px + 10px = 1440px for mobile gutters on both sides
  // // $pageWidth: 73rem; // 1420px + 20px + 20px = 1460px for mobile gutters on both sides
  $pageWidth: 1560px; // 1400px + 80px + 80px = 1560px for desktop gutters on both sides

  // $twitter-height: 95px;
  // $twitter-sidebar-height: 60px;
  $halfGutter: 1.35%;
  /*******
  * set margins with scales
  *******/
  @mixin margin-top($margin) {
    margin-top:#{$margin * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {margin-top:#{$margin * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-top:#{$margin}rem;} // eg 4rem
  }

  @mixin margin-bottom($margin) {
    margin-bottom:#{$margin * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {margin-bottom:#{$margin * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {margin-bottom:#{$margin}rem;} // eg 4rem
  }

  @mixin padding-top($padding) {
    padding-top:#{$padding * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {padding-top:#{$padding * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-top:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-right($padding) {
    padding-right:#{$padding * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {padding-right:#{$padding * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-right:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-bottom($padding) {
    padding-bottom:#{$padding * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {padding-bottom:#{$padding * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-bottom:#{$padding}rem;} // eg 4rem
  }
  @mixin padding-left($padding) {
    padding-left:#{$padding * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {padding-left:#{$padding * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {padding-left:#{$padding}rem;} // eg 4rem
  }
  @mixin top($top) {
    top:#{$top * 1.25}vw; // eg. 5rem
    @include respond-to(break2) {top:#{$top * 0.625}vw;} // eg 2.5vw
    @include respond-to(fullwidth) {top:#{$top}rem;} // eg 4rem
  }
  @mixin col {
  	display: inline-block;
  	vertical-align: top;
  }