/* 

-----------------------------------------------------
item: 						| mobile 	| tablet	| desktop
-----------------------------------------------------
%meganav-font 				| 10vw   	| 4rem		| 4rem
%link-font 					| 1.7rem 	| 2rem   	|
%title--sans 				| 5vw		| 1.6vw		| 2.4rem
%title--sans--alt 			| 5vw		| 2vw		| 3rem
%subtitle--sans  			| 4vw		| 1.35vw	| 2rem
%category 					| 4.1vw		| 1.2vw		| 1.8rem
%section-header				|			| 2vw		| 3rem
-----------------------------------------------------
%serif-md 				| 6vw		| 1.9vw		| 2.8rem
%serif-md--large 		| 5vw		| 2.7vw		|
-----------------------------------------------------
.audio__details padding		| 2vw		| 2rem		|
.item__details--audio padd: | 3vw		| 2vw		| 3rem
.item__details--audio padd: | 2vw		| 1.3vw		| 2rem


-----------------------------------------------------
conversion: 				| mobile 	| tablet	| desktop
-----------------------------------------------------
										| 2.65vw	| 4rem

*/

@mixin feature {
	// background-color: $black08;
	// .details-inner {
	// 	@include padding-top(2);
	// 	// @include padding-right(1);
	// 	@include padding-bottom(2);
	// 	@include padding-left(2);
	// }
	// .tag {
	// 	// @include margin-top(1.2);
	// 	// @include margin-top(1);
	// 	// @include margin-bottom(1);
	// }
	// .title {
	// 	@include serif-lg;
	// 	// @include margin-bottom(0.5);
	// }
}


.feature {
	.textbox {
		@include padding-top(1);
	}
	.image {
		padding-bottom:0;
	}
}




// .featurette-list {
	// margin-bottom:0;
// }
@mixin featurette {

	// background-color: $black08;
	// @include margin-bottom(3);
	.image {
		// padding-bottom: 0;
	}
	.details {
		// @include margin-top(2.5); // add margin back in b/c no title above in horizontal layout
	}
	.tag {
		// @include margin-bottom(0.5);
	}
	.title {
		// @include serif-md;
	}
}