/*


  __|              |         
 |     _ \   __ \   __|   __| 
 __|  (   |  |   |  |   \__ \ 
_|   \___/  _|  _| \__| ____/


*/

@font-face {
	font-family: "slick";
	src: url("fonts/slick.eot");
	src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("bower_components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("bower_components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("bower_components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: "vd-icons";
	src:url("fonts/vd-icons.eot?v=<?= time() ?>");
	src:url("fonts/vd-icons.eot?#iefix") format("embedded-opentype"),
	  url("fonts/vd-icons.woff?v=<?= time() ?>") format("woff"),
	  url("fonts/vd-icons.ttf?v=<?= time() ?>") format("truetype"),
	  url("fonts/vd-icons.svg#vd-icons?v=<?= time() ?>") format("svg");
	font-weight: normal;
	font-style: normal;
}


// $sansFallback: 'Josefin Sans', Futura, "Century Gothic", CenturyGothic, Arial, sans-serif; 
$sansFallback: Arial, sans-serif; 
$seriffallback: Georgia, Cambria, "Times New Roman", Times, serif;

$serif: "freight-text-pro", $seriffallback;

$sans: 'acumin-pro', $sansFallback; // typekit
$sansWide: 'acumin-pro-wide', $sansFallback; // typekit
// $sansNarrow: 'Archivo Narrow', $sansFallback; // google font
// $knockoutWide: "ff-good-headline-web-pro-con", $sansFallback; // typekit KNOCKOUT substitution
// $knockoutNarrow: "unit-gothic-720", $sansFallback;
// $slabLight: "balboa", $sansFallback;
$slabWide: "unit-gothic-717", $sansFallback; // widest HTW
$slabNarrow: "unit-gothic-718", $sansFallback; // widest HTW
// $slabExtraWide: "unit-gothic-716", $sansFallback; // widest HTW
// $knockoutWide: "unit-gothic-717", $sansFallback;
// $knockout: $sansFallback;

// Serif 'Chronicle ScreenSmart'
// $slab: 'Chronicle SSm A', 'Chronicle SSm B', $sansFallback;