/*


  __|              |
 |     _ \   __ \   __|   __|
 __|  (   |  |   |  |   \__ \
_|   \___/  _|  _| \__| ____/


*/

@font-face {
	font-family: "slick";
	src: url("./fonts/slick.eot");
	src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("bower_components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("bower_components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("bower_components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "vd-icons";
	src:url("./fonts/vd-icons.eot");
	src:url("./fonts/vd-icons.eot?#iefix") format("embedded-opentype"),
	  url("./fonts/vd-icons.woff") format("woff"),
	  url("./fonts/vd-icons.ttf") format("truetype"),
	  url("./fonts/vd-icons.svg#vd-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "galano";
	src:url("./galano/galanogrotesquedemo-bold-webfont.eot");
	src:url("./galano/galanogrotesquedemo-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("./galano/galanogrotesquedemo-bold-webfont.woff") format("woff"),
		url("./galano/galanogrotesquedemo-bold-webfont.woff2") format("woff2"),
		url("./galano/galanogrotesquedemo-bold-webfont.ttf") format("truetype"),
		url("./galano/galanogrotesquedemo-bold-webfont.svg#galano") format("svg");
	font-weight: normal;
	font-style: normal;
}


// fallbacks
$sansFallback: Arial, sans-serif;
$seriffallback: Georgia, Cambria, "Times New Roman", Times, serif;
$woodtypeFallback: "Arial Black", "Arial Bold", Gadget, sans-serif;

// Serif
$serif: "freight-text-pro", $seriffallback;

// Sans
$sans: 'acumin-pro', $sansFallback; // typekit
$sansWide: 'acumin-pro-wide', $sansFallback; // typekit

// Woodtype Extended
$woodtypeExtended: "unit-gothic-717", $woodtypeFallback; // widest HTW
$woodtypeNarrow: "unit-gothic-718", $woodtypeFallback; // widest HTW

// Galano
$galano: 'galano', $sans;
