


/* #footer
-------------------------------------------------- */
	.footer {
		@include padding-top(2.6);
		@include padding-bottom(1.9);
		background-color: $black80;
		color: $black20;

		z-index: 1;
		@include respond-to(break2max) { padding-top:2rem; }

		&-logo {
			color: $black30;
			margin-bottom: 1vw;
			&-active {
				color: white;
			}
		}
		&-row-1 {
			@include respond-to(break2max) {
				margin-bottom: 4rem;
				// margin-bottom: 3.4rem;
			}
		}
		&-row-2 {
			@include margin-top(3);
		}
		&-row-3 {
			color: $black20;
			@include margin-top(3.8);
		}
		&-list {
			margin-bottom: 0rem;
			@include respond-to(fullwidth) {margin-bottom:0;}
		}
	}
	.footer-nav {
		&-news {
			@include margin-top(1.1);
		}
		&-title {
			@include respond-to(break2max) {color:$black40;}
		}
		&-sub-item {
			a:hover {
				color: $black20;
			}
		}
		.sunsplash {
			@include respond-to(break2) {
				margin-left: -2.3vw;
				margin-right: 0.15vw;
			}
			@include respond-to(fullwidth) {
				margin-left: -3.5rem;
				margin-right: 0.5rem;
			}
		}
	}
	.footer-hr {
		@include border(top, 1px, $black20);

	}
	.folklife-footer-logo-img {
		@include respond-to(break2max) {margin-bottom: 3vw;}
	}
	.copyright-list, .footer-title {
		@include respond-to(break2) {margin-top: -3px;}
	}
	.copyright-list, .social-media .footer-list {
		display: block;
	}
	.copyright-list {
		@include respond-to(break2max) {margin-top: 1rem;}
	}
	.copyright-list-item {
		// @include link-font-xs;
		@include link-font;
		// line-height: 1.9 !important;
		a {
			color: $black65;
			&:hover {
				color: $black20;
			}
		}
	}
	.social-media-title {
		@include link-font;
		font-weight: 400;
		text-transform: uppercase;
		color: $black65;
		@include margin-bottom(0.6); // align sibling menu list
		@include margin-left(0.3); // align with facebook icon
	}
	.social-media-icon {
		display: inline-block;
		font-size: 8vw; margin-right: 3vw;
		@include respond-to(break2) { font-size: 1.9vw; margin-right: 0.2vw; }
		@include respond-to(fullwidth) { font-size: 3rem; margin-right: 0.5rem; }

		a {
			color:$black65;
			&:hover {
				color: $black20;
				text-decoration: none;
			}
		}
	}
	.copyright-wrapper {
		@include respond-to(break2max) {margin-top: 2vw;}
	}
	.copyright {
		@include link-font;
		color: $black65;
		padding-top: 2vw;
		font-weight: 300;
		@include respond-to(break2) {padding-top:0.4vw;}
		@include respond-to(fullwidth) {padding-top:1px;}
	}

/* Helpers II
-------------------------------------------------- */
	.visually-hidden {display:none;}