/* Bootstrap overrides
-------------------------------------------------*/
.navbar-header {
	float: none;
}
.container {
	width: 100%;
	max-width: $pageWidth;
	padding: 0 15px;
	@include respond-to(break2) {
		padding: 0 80px;
	}
	
}
.highlight-container {
	width: 100%;
	max-width: $pageWidth;
	padding: 0;
	@include respond-to(break2) {
		// keep inner bg color smaller
		padding: 0 40px;
	}
	.highlight-inner {
		background-color: $black30;
		// show highlight on mobile
		padding: 15px;

		// go below card colors
		position: relative;
		z-index: 0;
		
		@include respond-to(break2) {
			// show highlight color around box
			padding: 40px 40px;
		}
	}
	.section-title {
		@include margin-bottom(3.4);
	}
}

.last-container {
	section {
		margin-bottom: 2.5rem;
	}
}

// folklife - talk story
.col-xs-half-image {
	@include respond-to(break2max) {
		float: left;
		width: 54%;
	}
}
.col-xs-half-details {
	@include respond-to(break2max) {
		float: left;
		width: 46%;
	}
}
.col-sm-half-image {
	@include respond-to(break2) {
		float: left;
		width: 54%;
	}
}
.col-sm-half-details {
	@include respond-to(break2) {
		float: left;
		width: 46%;
	}
}

// folklife homepage bottom collections
.col-half {
	width: 50%;
	float: left;
	&:nth-of-type(2n + 1) {
		padding-right:$small-gutter;
		@include respond-to(break2) {padding-right:$medium-gutter;}
	}
	&:nth-of-type(2n) {
		padding-left:$small-gutter;
		@include respond-to(break2) {padding-left:$medium-gutter;}
	}
	// break every 2 cards so cards don't get hung
	&:nth-of-type(2n + 1) {
		clear:left;
	}
}

// folklife teach
.col-thirds {
	width: 33.33333%;
	float: left;
	&:nth-of-type(3n + 1) {
		padding-right:$small-gutter;
		@include respond-to(break2) {padding-right:$medium-gutter;}
	}
	&:nth-of-type(3n + 2) {
		padding-left:$small-gutter;
		padding-right:$small-gutter;
		@include respond-to(break2) {padding-left:$medium-gutter;}
		@include respond-to(break2) {padding-right:$medium-gutter;}
	}
	&:nth-of-type(3n + 3) {
		padding-left:$small-gutter;
		@include respond-to(break2) {padding-left:$medium-gutter;}
	}
	// break every 3 cards so cards don't get hung
	&:nth-of-type(3n + 1) {
		clear:left;
	}
}


/* Grid System
-------------------------------------------------- */
	// bootstrap gutter override!!!
	.row {
		margin-left: -$small-gutter;
		margin-right: -$small-gutter;
		@include respond-to(break2) {
			margin-left: -$medium-gutter;
			margin-right: -$medium-gutter;
		}
		@include respond-to(fullwidth) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom:0;
		}
	}
	// bootstrap override default padding. Make it more responsive. Be specific enough to apply to our card system with 2 selectors
	// 3 selectors to win specificity war
	// [class*="col-"], .cards .card, .cards .image, .cards .details {
	[class*="col-"] {
		padding-left: $small-gutter;
		padding-right: $small-gutter;
		@include respond-to(break2) {
			padding-left: $medium-gutter;
			padding-right: $medium-gutter;
		}
		@include respond-to(fullwidth) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

/* #half sections
-------------------------------------------------- */
	$half-padding-mobile-section: 4rem;
	$half-padding-tablet-section: 2.7%;
	$half-padding-desktop-section: 4rem;

	@include respond-to(break2) {

		.half-section:nth-of-type(1) {
			padding-right: $half-padding-mobile-section;
			@include respond-to(break2) {
				padding-right: $half-padding-tablet-section;
			}
			@include respond-to(fullwidth) {
				padding-right: $half-padding-desktop-section;
			}
		}
		.half-section:nth-of-type(2) {
			padding-left: $half-padding-mobile-section;
			@include respond-to(break2) {
				padding-left: $half-padding-tablet-section;
			}
			@include respond-to(fullwidth) {
				padding-left: $half-padding-desktop-section;
			}
		}
	}

	.vertical-rule {
		display: none;
		@include respond-to(break2) {
			display: block;
			position: absolute;
			top: -1rem;
			right: -4.5px;
			height: 100%;
			width: 9px;
		// right border as image from http://stackoverflow.com/a/7948532
			background-image: url(/assets/images/folklife-vr.png);
			background-position: right;
			background-repeat: no-repeat;
			background-size: 9px 100%;
		}
	}

/* General / Sections
-------------------------------------------------- */

	body {
		@include serif-body;
	}
	section {
		position: relative; // contain more link
		@include margin-bottom(2);
	}
	p {
		margin: 0;
	}
	ul {
		margin: 0;
	}
	.first-section {
		// padding-top:1.5rem;
		// @include respond-to(break2) {padding-top:2.6vw;}
		// @include respond-to(fullwidth) {margin-top:0;}
		.section-title {
			@include margin-top(-0.8);
		}
	}
	.section-title {
		@include slab-md;
		color: $black65;
		margin-bottom: 1.5rem;
		@include respond-to(break2) {
			margin-bottom: 2.6vw;
		}
		@include respond-to(fullwidth) {
			margin-bottom: 3.3rem; // 40px
		}
	}
	.main {
		.section-title {
			margin-bottom:2.2rem;
			@include respond-to(break2) {margin-bottom:1.3vw;}
			@include respond-to(fullwidth) {margin-bottom:2.2rem;} // 30 px
		}
	}
	.sidebar {
		color: $black70;	
		@include margin-bottom(6); // keep from footer
		h3, &-section-title {
			@include sans-lg;
			color: $black50;
			@include padding-bottom(1);
			@include margin-top(4);
			@include padding-bottom(0);
			@include margin-bottom(1.1);
		}
		h4, &-item-title {
			@include sans-mini;
			@include margin-top(0.6);
			color: $black50;
			margin: 0;
		}
		&-item {
			border-top: 1px solid $black50;
			@include padding-bottom(1);
		}
		.sidebar-highlight {
			&.active, &:hover {
				background-color: $black10;
			}
			// text stays same
			a:hover {
				color: $black70;
			}
		}
	}
	hr {
		margin: 0; // bootstrap reset
		border: none;
	}
	.hr {
		// from http://stackoverflow.com/a/24499695
		display:block;
		border:0px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.thick-hr {
		height:11px;
		background-image:url(/assets/images/hr/hr.jpg);
		@include respond-to(break2) {
			margin-top:0;
		}
		@include margin-bottom(5.2);
	}
	.half-hr {
		margin-bottom:2.5vw;
		@include respond-to(break2) {margin-bottom:1.3vw;}
		@include respond-to(fullwidth) {margin-bottom:2rem;}
	}
	.thin-hr {
		height:5px;
		background-image:url(/assets/images/hr/hr--thin.png);
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 1vw;
		margin-bottom: 3vw;
		@include respond-to(break2) {
			margin-top:0.5vw;
			margin-bottom: 2.4vw;
		}
		@include respond-to(fullwidth) {
			margin-top:0.8rem;
			margin-bottom:3.75rem;
		}
	}
	.mobile-only-hr {
		margin-bottom: 1rem;
	}

	// sub pages
	.title-bar {
		// bootstrap reset
		padding: 0;
		margin: 0;
		border: none;
		.title-height {
			height:12vw;
			@include respond-to(break2) {height:4.2vw;}
			@include respond-to(fullwidth) {height:66px;}	
		}
		&-hr {
			margin-top: -1.6rem;
		}
		@include margin-bottom(4);
	}
	.page-title {
		color: white;
		@include slab-xl;
		margin-top:1.4vw;
		@include respond-to(break2) {margin-top:0.6vw;}
		@include respond-to(fullwidth) {margin-top:0.9rem;}
	}
	a .page-title {
		color: white; // override a color
		&:hover {
			// custom hover, getting variable from top of main scss file, e.g. festival.scss
			color: $hover;
		}
	}

	.subcollection {
		@include padding-bottom(1.5); // not margin b/c margin carries over on column breaks
		display: inline-block; // prevent column overhang
	}

/* #remodal
-------------------------------------------------- */
	.remodal-description {
		@include sans-md;
	}

/* #Become a Member
-------------------------------------------------- */
	// as seen on folkways homepage for becoming a member and support
	.highlight-bar {
		background-color: $black20;
		@include padding-top(4);
		@include padding-bottom(4);
		@include margin-bottom(7.2); // 80px
	}
	.become-a-member {
		position: relative; // so absolute .copy can be correct width
		@include respond-to(break2max) {
			position: static !important;
			margin-bottom:5vw;
		}
		&-inner {
			position: relative;
			background-color: white;
		}
		.image, .copy {
			float: left;
		}
		.image {
			position: relative; // contain vert child
			@include slab-md;
			@include margin-bottom(0);
			color: white;
			text-align: center;
			width: 50%;
			@include respond-to(break2) {
				width: 53%;
			}

		}
		&-image-text {
			width: 100%;
		}
		.copy {
			@include sans-lg;
			text-align: center;
			@include respond-to(break2max) {
				width: 50%;
				font-size: 4vw;
			}
			&-inner {
				@include respond-to(break2max) {
					width: 50%;
					padding: 1.5rem 0;
				}
				// make up for line-height
				@include respond-to(break2) {
					width: 47%;
					margin-top:-0.1vw;
				}
				@include respond-to(break2full) {
					font-size: 1.9vw;
				}
				@include respond-to(fullwidth) {margin-top:-0.6rem;}
			}
		}
	}

/* #Support Us
-------------------------------------------------- */
	.support-folkways {
		.support {
			border: none;
		}
	}
	.support {
		background-color: white;
		@include border(all, 2px, $black40);
		position: relative; // contain support button
		&-copy, &-button {
			width: 50%;
			float: left;
			@include respond-to(break2) {
				display: inline-block;
				vertical-align: top;
			}
		}
		&-copy {
			@include respond-to(break2max) {
				font-size: 2.7vw;
			}
			@include respond-to(break2) {
				width: 46.45%; // 314px / 676px
				line-height: 1.25;
				height: 9.6vw;
			}
			@include respond-to(break2full) {
				font-size: 1.2vw;
			}
			@include padding-top(1.6);
			padding-top: 1vw; // responsive for sizing at mobile
			@include padding-right(2);
			@include padding-bottom(2);
			@include padding-left(2);
			@include respond-to(fullwidth) {
				height: 14rem;
			}

		}
		&-button {
			background-color: $black40;
			@include slab-md;
			margin-bottom:0;
			padding: 3vw;
			color: white;
			text-align: center;
			@include respond-to(break2) {
				padding: 0;
				@include vertically-align-parent;
				width: 53.55%; // 100 - 46.45%
				// height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
	.button-inner {
		@include respond-to(break2max) {
			font-size: 4vw;
		}
		@include respond-to(break2) {
			line-height: 1.5;
			@include vertically-align;
			line-height: 1.1;
		}
	}

/* #Newsletter Signup
-------------------------------------------------- */
	.newsletter-signup-section, .support-section, .support-folkways {
		@include sans-caption;
	}
	.newsletter-signup-section, .support-section {
		margin-bottom: 2rem;
		@include respond-to(break2) {
			margin-bottom: 4rem;
		}
	}
	.newsletter-signup-copy {
		background-color: $black10;
		@include padding-top(1.9);
		@include padding-right(2);
		@include padding-left(2);
		@include padding-bottom(2);
		@include sans-caption;
		@include respond-to(break2full) {
			font-size: 1.2vw;
		}
	}
	.newsletter-signup-form {
		width: 100%;
	}
	.newsletter-input {
		background-color: $black20;
		width: 100%;
		@include padding-right(2);
		@include padding-left(2);
		@include email-newsletter;
		height: 5rem;
		@include respond-to(break2) {
			height: 4.5vw;
		}
		@include respond-to(fullwidth) {
			height: 6.1rem;
			padding-bottom: 2rem;
		}
	}

	// Short version 12.18
	.newsletter-signup-wrapper {
		@include margin-bottom(4);
	}
	.short-newsletter-signup {
		float:left;
		width: 100%;
		@include respond-to(break2) {
			width: 50%;
			height: 5vw;
		}
		@include respond-to(fullwidth) {
			height: 8rem;
		}
		form, input {
			height: 7rem;
		}
		.newsletter-signup, .newsletter-signup-copy, form, input {
			@include respond-to(break2) {
				height: 100%;
			}
		}
		.newsletter-signup-copy {
			@include sans-sm;
			@include padding-top(1.5);
			@include padding-bottom(2);
			@include respond-to(break2) {
				@include padding-bottom(1);
			}
		}
	}