// bootstrap override
.container {
	width: 100%;
	max-width: $pageWidth;
	padding: 0 15px;
	@include respond-to(break2) {
		padding: 0 80px;
	}
}

.container--xl {
	// max-width: $pageWidth + 80;
	@include respond-to(break2) {
		padding: 0 40px;
	}
}

.container--last {
	section {
		margin-bottom: 2.5rem;
	}
}

/* Grid System
-------------------------------------------------- */
  // gutters
  // $gutter: 1rem;
  // $gutterx2: 2rem;
  // $one-third-gutter: 0.3333rem;
  // $half-gutter: 0.5rem;
  // $two-thirds-gutter: 0.6667rem;
  // $vgut: 1.5rem; // bottom gutter
  
  // $half: 50%;
  // $four: 33.33333%;
  // $six: 50%;
  // $eight: 66.66667%;

	// bootstrap gutter override
	
	// $gutter-medium: 1.35%;
	$gutter-small: 7.5px;
	$gutter-medium: 1.35%;
	.row {
		margin-left: -$gutter-small;
		margin-right: -$gutter-small;
		@include respond-to(break2) {
			margin-left: -$gutter-medium;
			margin-right: -$gutter-medium;
		}
		@include respond-to(fullwidth) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom:0;
		}
	}
	// [class^="col-"] {
	[class*="col-"] {
		padding-left: $gutter-small;
		padding-right: $gutter-small;
		@include respond-to(break2) {
			padding-left: $gutter-medium;
			padding-right: $gutter-medium;
		}
		@include respond-to(fullwidth) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

/* #half sections
-------------------------------------------------- */
	$section--vr-padding-mobile: 4rem;
	$section--vr-padding-tablet: 2.7%;
	$section--vr-padding-desktop: 4rem;

	@include respond-to(break2) {
		.section--vr:nth-of-type(1) {
			padding-right: $section--vr-padding-mobile;
			@include respond-to(break2) {
				padding-right: $section--vr-padding-tablet;
			}
			@include respond-to(fullwidth) {
				padding-right: $section--vr-padding-desktop;
			}
		}
		.section--vr:nth-of-type(2) {
			padding-left: $section--vr-padding-mobile;
			@include respond-to(break2) {
				padding-left: $section--vr-padding-tablet;
			}
			@include respond-to(fullwidth) {
				padding-left: $section--vr-padding-desktop;
			}
		}
	}

	.vertical-rule {
		display: none;
		@include respond-to(break2) {
			display: block;
			position: absolute;
			top: -1rem;
			right: -4.5px;
			height: 100%;
			width: 9px;
			// right border as image from http://stackoverflow.com/a/7948532
			background-image: url(/assets/images/folklife-vr.png);
			background-position: right;
			background-repeat: no-repeat;
			background-size: 9px 100%;
			// margin-right: -1rem;
		}
	}

/* Special Event - on.festival / Learn - folkways
-------------------------------------------------- */
	.special-event {
		@include respond-to(break2max) {
			margin-bottom: 5vw;
		}
	}
	.special-event__image {
		@include col;
		width: 53%; // 361px/682px
	}
	.special-event__textbox {
		@include col;
		width: 47%; // 281/682				
		// border-top: 2px solid $black65;
		padding-left:3vw;
		@include respond-to(break2) {padding-left:1.3vw;}
		@include respond-to(fullwidth) {padding-left:2rem;}
		.time {
			@include date;
		}
		.title {
			@include sans-sm;
			font-weight: 600;
		}
		.description {
			@include sans-xs;
			font-weight: 400;
		}
	}

/* General / Sections
-------------------------------------------------- */

	.site-toggle__link.active {
		// color: $black70;
		color: $black20;
	}
	body {
		// padding-top: 100px; // clear fixed header
		@include body-text;
	}
	h3 {
		@include h3;
	}
	section {
		// margin-bottom: 0;
		position: relative; // contain more link
		@include respond-to(break2) {
			margin-bottom: 2.3vw;
			// margin-bottom: 4.6vw;
		}
		@include respond-to(fullwidth) {
			// margin-bottom: 3.5rem;
			// margin-bottom: 5.5rem;
			// margin-bottom: 4rem;
			margin-bottom: 7.3rem; // with line height this equals 80 below for most sections
			// margin-bottom: 6rem; // with line height this equals 80 below for most sections
		}

	}
	section li {
		@include respond-to(break2max) {
			margin-bottom: 1.5rem;
		}
	}
	.section {
		&--first {
			padding-top:1.5rem;
			@include respond-to(break2) {padding-top:2.6vw;}
			@include respond-to(fullwidth) {padding-top:4rem;}
		}
		&--blank {
			height: 50vh;
			padding-top: 20vh;
			text-align: center;
			@include section-title;
			color: $black50;
		}
	}
	.main--copy {
		.section-title {
			margin-bottom:2.2rem;
			@include respond-to(break2) {margin-bottom:1.3vw;}
			@include respond-to(fullwidth) {margin-bottom:2.2rem;} // 30 px
		}
		p {
			margin-bottom:0.5rem;
			@include respond-to(break2) {margin-bottom:1.5vw;}
			@include respond-to(fullwidth) {margin-bottom:2.5rem;} // 40 px
		}
	}
	.sidebar {
		&__title {
			@include title--sans--alt;
			color: $black50;
			margin-bottom:1.5rem;
			@include respond-to(break2) {margin-bottom:0.9vw;}
			@include respond-to(fullwidth) {margin-bottom:1.5rem;}
		}
		&__item {
			border-top: 1px solid $black50;
			margin-bottom:0.5rem;
			@include respond-to(break2) {margin-bottom:0.4vw;}
			@include respond-to(fullwidth) {margin-bottom:0.8rem;}
		}
		&__subtitle {
			@include sidebar-subtitle;
			letter-spacing: 0;
			// line-height:1.5;
			margin-top: 0.5rem;
			@include respond-to(break2) {
				// line-height:1.5;
				// margin-bottom:
				margin-top: 0.5vw;
				margin-bottom: 0.1vw;
			}
			@include respond-to(fullwidth) {
				// line-height:0.9;
				margin-top: 0.9rem; // 15px
				margin-bottom: 0rem;
			}
		}
		&__copy {
			@include sidebar-copy;
		}
	}
	hr {
		margin: 0; // bootstrap reset
		border: none;
	}
	.hr {
		// from http://stackoverflow.com/a/24499695
		display:block;
		border:0px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		// &--folklife {
		&--thick {
			height:11px;
			background-image:url(/assets/images/hr.jpg);
			margin-bottom: 5vw;
			margin-top: 10vw;
			@include respond-to(break2) {
				margin-bottom: 2.6vw;
				margin-top:0;
			}
			@include respond-to(fullwidth) {
				margin-bottom: 4rem;
			}
		}
		&--half {
			margin-bottom:2.5vw;
			@include respond-to(break2) {margin-bottom:1.3vw;}
			@include respond-to(fullwidth) {margin-bottom:2rem;}
		}
		&--thin {
			height:4px;
			height:5px;
			background-image:url(/assets/images/hr--thin.png);
			// background-image:url(/assets/images/hr--thin4.png);
			background-repeat: no-repeat;
			background-size: 100%;
			margin-top: 1vw;
			margin-bottom: 3vw;
			@include respond-to(break2) {
				margin-top:0.5vw;
				margin-bottom: 2.4vw;
			}
			@include respond-to(fullwidth) {
				margin-top:0.8rem;
				margin-bottom:3.75rem;
			}

		}
	}

	// sub pages
	.title-bar {
		// bootstrap reset
		padding: 0;
		margin: 0;
		border: none;
		.title-height {
			height:66px;
			@include respond-to(break2) {height:66px;}
			@include respond-to(fullwidth) {height:66px;}	
		}
		// .container {
			// height: 100%; // so vertically center works
		// }
		&__hr {
			margin-top: -1.6rem;
		}
	}
	.page-title {
		@include slab-xl;
		margin: 0;
		@include vertically-align;
	}
	.page-subtitle {
		@include vertically-align;
	}


/* #video
-------------------------------------------------- */

	.video__thumbnail {
			@include vertically-align-grandparent;
			&:hover .icon-circle:before {
				color: $hover;
			}
			&:hover .icon-play:before {
				color: $black80;
			}
		}
	.modal-trigger {
		cursor: pointer;
	}
	.icon-play-button--video {
		@include vertically-align;
		left: 50%;
		margin-left: -3rem;
	}
	.center-box {
		@include vertically-align-parent;
	}
	// modal
	.remodal {
	  padding:2px 2px 20px;
	  text-align: left;
	  // trade gpu acceleration for correct placement of close button
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
	  @include respond-to(break1) {
		max-width: 70%;
	  }
	  @include respond-to(fullwidth) {
		max-width: 1080px;
	  }
	}
	.remodal-overlay {
	  // background: rgba(43, 46, 56, 0.9) none repeat scroll 0% 0%; // original
	  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
	}
	.remodal-close {
	  position: fixed;
	  top:0;
	  right:10px;
	  left:auto;
	  display: block;
	  z-index: 10001;
	  color:white;
	  width:50px;
	  height:50px;
	  // pointer:cursor;
	}
	.remodal-close:hover {
	  color: $black20;
	}
	.remodal-close::before {
	  font-size:40px;
	  width:50px;
	  height:50px;
	  line-height: 50px;
	}
	.remodal__iframe {
	  position: relative;
	  padding-bottom: 56.25%;
	  height: 0;
	  overflow: hidden;
	}
	.remodal__iframe iframe {
	  position: absolute;
	  top:0;
	  left:0;
	  max-width: 100%;
	  width:100%;
	  height:100%;
	  z-index: 2;
	}
	.remodal__copy {
	  padding:10px 20px;
	}
	.remodal__title {
		// font-size:1.4rem; // 28px
		margin-bottom:10px;
		@include sans-xxs;
	}