/* Bootstrap overrides
-------------------------------------------------*/
	.navbar-header {
		float: none;
	}
	.container {
		width: 100%;
		max-width: $pageWidth;
		padding: 0 15px;
		@include respond-to(break2) {
			padding: 0 80px;
		}
	}
	.highlight-container {
		width: 100%;
		max-width: $pageWidth;
		padding: 0;
		@include respond-to(break2) {
			// keep inner bg color smaller
			padding: 0 40px;
		}
		.highlight-inner {
			background-color: $black30;
			// go below card colors
			position: relative;
			z-index: 0;
			@include padding(4);
			@include respond-to(break2max) {
				padding: 1.5rem;
			}
		}
		.section-title {
			@include margin-bottom(3.4);
		}
	}
	.last-container {
		section {
			margin-bottom: 2.5rem;
		}
	}
	// folklife - talk story
	.col-xs-half-image {
		@include respond-to(break2max) {
			float: left;
			width: 54%;
		}
	}
	.col-xs-half-details {
		@include respond-to(break2max) {
			float: left;
			width: 46%;
		}
	}
	.col-sm-half-image {
		@include respond-to(break2) {
			float: left;
			width: 54%;
		}
	}
	.col-sm-half-details {
		@include respond-to(break2) {
			float: left;
			width: 46%;
		}
	}
	// folklife homepage bottom collections
	.col-half {
		width: 50%;
		float: left;
		&:nth-of-type(2n + 1) {
			padding-right:$small-gutter;
			@include respond-to(break2full) {padding-right:$medium-gutter;}
			@include respond-to(fullwidth) {padding-right:$full-gutter;}
		}
		&:nth-of-type(2n) {
			padding-left:$small-gutter;
			@include respond-to(break2full) {padding-left:$medium-gutter;}
			@include respond-to(fullwidth) {padding-left:$full-gutter;}
		}
		// break every 2 cards so cards don't get hung
		&:nth-of-type(2n + 1) {
			clear:left;
		}
	}

	// folklife teach
	.col-xs-thirds {
		width: 33.33333%;
		float: left;
		&:nth-of-type(3n + 1) {
			padding-right:$small-gutter;
			@include respond-to(break2full) {padding-right:$medium-gutter;}
			@include respond-to(fullwidth) {padding-right:$full-gutter;}
		}
		&:nth-of-type(3n + 2) {
			padding-left:$small-gutter;
			padding-right:$small-gutter;
			@include respond-to(break2full) {
				padding-left:$medium-gutter;
				padding-right:$medium-gutter;
			}
			@include respond-to(fullwidth) {
				padding-left:$full-gutter;
				padding-right:$full-gutter;
			}
		}
		&:nth-of-type(3n + 3) {
			padding-left:$small-gutter;
			@include respond-to(break2full) {padding-left:$medium-gutter;}
			@include respond-to(fullwidth) {padding-left:$full-gutter;}
		}
		// break every 3 cards so cards don't get hung
		&:nth-of-type(3n + 1) {
			clear:left;
		}
	}
	.col-sm-thirds {
		@include respond-to(break2) {
			width: 33.33333%;
			float: left;
		}
		@include respond-to(break2full) {
			&:nth-of-type(3n + 1) {
				padding-right:$medium-gutter;
			}
			&:nth-of-type(3n + 2) {
				padding-left:$medium-gutter;
				padding-right:$medium-gutter;
			}
			&:nth-of-type(3n + 3) {
				padding-left:$medium-gutter;
			}
			// break every 3 cards so cards don't get hung
			&:nth-of-type(3n + 1) {
				clear:left;
			}
		}
		@include respond-to(fullwidth) {
			&:nth-of-type(3n + 1) {
				padding-right:$full-gutter;
			}
			&:nth-of-type(3n + 2) {
				padding-left:$full-gutter;
				padding-right:$full-gutter;
			}
			&:nth-of-type(3n + 3) {
				padding-left:$full-gutter;
			}
			// break every 3 cards so cards don't get hung
			&:nth-of-type(3n + 1) {
				clear:left;
			}
		}
	}

/* Grid System
-------------------------------------------------- */
	// bootstrap gutter override!!!
	.row {
		margin-left: -$small-gutter;
		margin-right: -$small-gutter;
		@include respond-to(break2) {
			margin-left: -$medium-gutter;
			margin-right: -$medium-gutter;
		}
		@include respond-to(fullwidth) {
			margin-left: -20px;
			margin-right: -20px;
			margin-bottom:0;
		}
	}
	// bootstrap override default padding. Make it more responsive. Be specific enough to apply to our card system with 2 selectors
	// 3 selectors to win specificity war
	[class*="col-"] {
		padding-left: $small-gutter;
		padding-right: $small-gutter;
		@include respond-to(break2) {
			padding-left: $medium-gutter;
			padding-right: $medium-gutter;
		}
		@include respond-to(fullwidth) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

/* half sections
-------------------------------------------------- */
	$half-padding-mobile-section: 4rem;
	$half-padding-tablet-section: 2.7%;
	$half-padding-desktop-section: 4rem;

	.half-section:nth-of-type(1) {
		// padding-right: $half-padding-mobile-section;
		@include respond-to(break2) {
			padding-right: $half-padding-tablet-section;
		}
		@include respond-to(fullwidth) {
			padding-right: $half-padding-desktop-section;
		}
	}
	.half-section:nth-of-type(2) {
		// padding-left: $half-padding-mobile-section;
		@include respond-to(break2) {
			padding-left: $half-padding-tablet-section;
		}
		@include respond-to(fullwidth) {
			padding-left: $half-padding-desktop-section;
		}
	}
	.vertical-rule {
		display: none;
		@include respond-to(break2) {
			display: block;
			position: absolute;
			top: -1rem;
			right: -4.5px;
			height: 100%;
			width: 9px;
		// right border as image from http://stackoverflow.com/a/7948532
			background-image: url(../../assets/images/hr/vertical-rule.png);
			background-position: right;
			background-repeat: no-repeat;
			background-size: 9px 100%;
		}
	}

/* General / Sections
-------------------------------------------------- */
	body {
		@include body-serif;
		overflow-y: scroll; // force vertical scroll bar so image galleries don't jump page
	}
	section {
		position: relative; // contain more link
		@include margin-bottom(2);
	}
	p {
		margin: 0;
	}
	ul {
		margin: 0;
	}
	.first-section {
		.section-title {
			@include margin-top(-0.8);
		}
	}
	.section-title {
		@include sm-woodtype-extended;
		color: $black65;
		margin-bottom: 1.5rem;
		@include respond-to(break2full) {
			margin-bottom: 2.6vw;
		}
		@include respond-to(fullwidth) {
			margin-bottom: 3.3rem; // 40px
		}
	}
	.main {
		.section-title {
			margin-bottom:2.2rem;
			@include respond-to(break2full) {margin-bottom:1.3vw;}
			@include respond-to(fullwidth) {margin-bottom:2.2rem;} // 30 px
		}
	}
	.sidebar {
		color: $black70;
		@include margin-bottom(6); // keep from footer
		@include respond-to(break2max) {
			padding: 0 1.5rem;
		}
		li:last-of-type {
			border-bottom: none;
		}
		.horizontal-card .tag {
			@include respond-to(break2max) {
				margin-top:1rem;
			}
		}
		.top-border-card:before {
			@include respond-to(break2max) {
				border: none;
			}
		}
		.sidebar-highlight {
			&.active, &:hover {
				background-color: $black10;
			}
			// text stays same
			a:hover {
				color: $black80;
			}
			// grandchild bold
			li.active {
				font-weight: 600;
			}
		}
	}
	.sidebar h3, .sidebar-section-title, #related-content-mag:before {
		@include lg-sans;
		color: $black50;
		margin-top: 0;
		@include margin-bottom(0); // override default h3
		@include padding-bottom(0.8);
		@include border(bottom);
	}
	.sidebar h4, .sidebar -item-title {
		@include caption-sans;
		@include padding-top(0.8);
		color: $black50;
		margin: 0;
	}
	.sidebar-item, #related-content-mag li {
		@include border(bottom);
		@include padding-bottom(1);
	}
	.last-sidebar-item {
		display: block; // in case it's liner notes <a>
		@include margin-bottom(3.2);
	}
	.sidebar-section {
		@include margin-bottom(2.4);
		@include respond-to(break2max) {
			margin-bottom: 3rem;
		}
	}
	hr {
		margin: 0; // bootstrap reset
		border: none;
	}
	.hr {
		// from http://stackoverflow.com/a/24499695
		display:block;
		border:0px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.thick-hr {
		height:11px;
		background-image:url(../../assets/images/hr/horizontal-rule.png);
		background-size: 100% 100%; // scrunch for mobile
		@include respond-to(break2) {
			margin-top:0;
		}
		@include margin-bottom(5.2);
	}
	.half-hr {
		@include respond-to(break2max) {
			margin-bottom:2.5vw;
		}
		@include respond-to(break2full) {margin-bottom:1.3vw;}
		@include respond-to(fullwidth) {margin-bottom:2rem;}
	}
	.svg-thin-hr {
		// make inline with js, from http://stackoverflow.com/questions/24933430/img-src-svg-changing-the-fill-color
		font-size: 1px; // make smaller
		height: 5px; // for older ie
		path {
			fill: $black50; // default
		}
		@include respond-to(break2max) {
			margin-top: 1vw;
			margin-bottom: 3vw;
		}
		@include respond-to(break2full) {
			margin-top:0.5vw;
			margin-bottom: 2.4vw;
		}
		@include respond-to(fullwidth) {
			margin-top:0.8rem;
			margin-bottom:3.75rem;
		}
	}
	.mobile-only-hr {
		margin-bottom: 1rem;
	}
	// sub pages
	.title-bar {
		// bootstrap reset
		padding: 0;
		margin: 0;
		border: none;
		background-color: $black65; // default
		&-hr {
			margin-top: -1.6rem;
		}
		@include margin-bottom(4);
	}
	.page-title {
		color: #fff;
		@include lg-woodtype-extended;
		@include margin-top(1.3);
		@include margin-bottom(1.3);
	}
	a .page-title {
		color: #fff; // override a color
		&:hover {
			// custom hover, getting variable from top of main scss file, e.g. festival.scss
			color: $hover;
		}
	}
	.subcollection {
		@include padding-bottom(1.5); // not margin b/c margin carries over on column breaks
		display: inline-block; // prevent column overhang
		ul, ol {
			// counter default list indendation
			padding-left: 0;
		}
	}

/* Folkways Magazine Article and Lesson Plans Sidebar
-------------------------------------------------- */
	.sidebar-audio {
		@include margin-bottom(4);
		.sidebar-title {
			@include xl-sans;
			font-weight: 600;
			@include margin-bottom(3.7);
			line-height: 1 !important; // mq override
		}
		.sidebar-card {
			@include margin-bottom(4);
			.title {
				@include margin-top(0);
				line-height: 1.3;
				@include margin-bottom(0.2);
			}
			.details-inner {
				@include respond-to(break2) {
					padding-top:0; // horizontal card
				}
			}
		}
		.table-hover > tbody > tr:hover {
			background-color: $black10; // bootstrap override
		}
		.track {
			@include sm-sans;
		}
		.track-title {
			font-weight: 600;
		}
		.track-action {
			@include caption-sans;
			text-transform: none;
		}
	}

	// Sidebar Video
	.sidebar-video, .sidebar-album {
		.details-inner {
			@include padding-top(2);
		}
		.title {
			@include xl-sans;
			font-weight: 600;
		}
	}

/* Collection page (Folklife Archives page)
-------------------------------------------------- */
	.collection-page {
		.general-content-card {
			@include margin-bottom(0.8);
		}
		.details-inner {
			@include padding-top(0.8);
		}
	}

/* General Content page
-------------------------------------------------- */
	.general-content {
		.intro-content {
			margin-bottom:0;
			p {
				@include intro-serif;
				margin-bottom: 0 !important;
			}
		}
	}
	// Mission page
	.sidebar-image {
		@include margin-bottom(4);
	}
	.sidebar-pull-quote {
		.copy {
			@include sm-sans;
			line-height: 1.3 !important;
			font-weight: 600;
			@include margin-top(1);	
		}
		p {
			@include margin-bottom(1.5);
		}

	}
	.sidebar-pagination {
		.sidebar-section-title a {
			color: inherit; // keep sidebar title although a link
		}
		.image {
			@include margin-top(2);
		}
		.title {
			@include sm-serif;
			@include margin-top(2);
			color: black;
		}
	}

/* Become a Member
-------------------------------------------------- */
	// as seen on folkways homepage for becoming a member and support
	.highlight-bar {
		background-color: $black20;
		@include padding-top(4);
		@include padding-bottom(4);
		@include margin-bottom(7.2); // 80px
	}
	.become-a-member {
		position: relative; // so absolute .copy can be correct width
		@include respond-to(break2max) {
			position: static !important;
			margin-bottom:5vw;
		}
		&-inner {
			position: relative;
			background-color: #fff;
		}
		.image, .copy {
			float: left;
		}
		.image {
			position: relative; // contain vert child
			@include sm-woodtype-extended;
			@include margin-bottom(0);
			color: #fff;
			text-align: center;
			width: 50%;
			@include respond-to(break2) {
				width: 53%;
			}
		}
		&-image-text {
			width: 100%;
		}
		.copy {
			@include lg-sans;
			text-align: center;
			@include respond-to(break2max) {
				width: 50%;
				font-size: 4vw;
			}
			&-inner {
				@include respond-to(break2max) {
					width: 50%;
					padding: 1.5rem 0;
				}
				// make up for line-height
				@include respond-to(break2) {
					width: 47%;
				}
				@include respond-to(break2full) {
					margin-top:-0.1vw;
					font-size: 1.9vw;
				}
				@include respond-to(fullwidth) {
					margin-top:-0.6rem;
				}
			}
		}
	}

/* Buttons
-------------------------------------------------*/
	.button {
		cursor: pointer;
		// clear: left;
		.title {
			@include button-title;
			color: #fff;
			font-weight: 700;
			margin:0 !important;
			width: auto;
			display: inline-block; // override default .title display:block;
			@include respond-to(fullwidth) {
				padding-right: 0.5rem;
			}
		}
		.price {
			color: #fff;
			@include sm-sans;
			@include margin-left(0);
		}
	}
	.button-inner {
		background-color: $black60;
		position: static;
		@include padding-top(0.6);
		@include padding-right(1);
		@include padding-bottom(0.8);
		@include padding-left(1);
		&:hover {
			background-color: black;
		}
	}

/* Support and Signup
-------------------------------------------------- */
	.newsletter-signup-copy, .support-copy {
		@include padding-top(1);
		@include padding-bottom(2);
		@include padding-right(2);
		@include padding-left(2);
	}

/* Support Us
-------------------------------------------------- */
	.above-support-hr {
		@include respond-to(break2) {
			@include margin-bottom(3);
		}
	}
	.support-folkways {
		.support {
			border: none;
		}
		.support-copy {
			@include respond-to(break2max) {
				padding-top: 1.8vw;
			}
			@include respond-to(fullwidth) {
				height: 15.6rem;
			}
		}
	}
	.support {
		background-color: #fff;
		@include border(all, 2px, $black40);
		position: relative; // contain support button
	}
	.support-copy, .support-button {
		@include respond-to(break2) {
			float: left;
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.support-copy {
		@include respond-to(break2) {
			width: 46.45%; // 314px / 676px
			line-height: 1.2;
		}
		@include respond-to(break2full) { // don't override common css above for full width
			padding-top: 1.1vw;
			height: 9.8vw;
		}
		@include respond-to(fullwidth) {
			height: 15rem;
		}
	}
	.support-button {
		background-color: $black60;
		@include sm-woodtype-extended;
		margin-bottom:0;
		color: #fff;
		text-align: center;
		clear:none;
		@include respond-to(break2max) {
			padding: 3vw;
			// height: 19vw; // responsive for text
			height: auto;
		}
		@include respond-to(break2) {
			padding: 0;
			@include vertically-align-parent;
			width: 53.55%; // 100 - 46.45%
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}
		&:hover {
			background-color: black;
			.button-inner {
				background-color: black;
			}
		}
		.button-inner {
			@include respond-to(break2) {
				@include vertically-align;
			}
		}
	}
	.button-inner {
		@include respond-to(break2) {
			line-height: 1.1;
		}
	}

/* Newsletter Signup
-------------------------------------------------- */
	.newsletter-signup-section, .support-section, .support-folkways {
		@include body-sans;
	}
	.newsletter-signup-section, .support-section {
		margin-bottom: 2rem;
		@include respond-to(break2) {
			margin-bottom: 4rem;
		}
	}
	.newsletter-signup-copy {
		background-color: $black10;
		// @include sm-sans;
		@include respond-to(break2full) {
			font-size: 1.2vw;
		}
	}
	.magazine-page, .magazine-article-page {
		.newsletter-signup-copy {
			background-color: #fff;
		}
	}
	.newsletter-signup-form {
		width: 100%;
	}
	.newsletter-input {
		background-color: $black20;
		width: 100%;
		@include padding-right(2);
		@include padding-left(2);
		@include email-newsletter;
		@include respond-to(break2max) {
			height: 5rem;
		}
		@include respond-to(break2) {
			min-height: initial;
			min-height: auto;
		}
		@include respond-to(break2full) {
			height: 4.8vw;
		}
		@include respond-to(fullwidth) {
			height: 6.9rem;
			padding-bottom: 2rem;
		}

		// placeholder text color, from http://stackoverflow.com/a/2610741
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    $black60;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    $black60;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    $black60;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    $black60;
		}
	}

	// Short version 12.18
	.newsletter-signup-wrapper {
		@include margin-bottom(4);
	}
	.short-newsletter-signup {
		float:left;
		width: 100%;
		@include respond-to(break2) {
			width: 50%;
		}
		@include respond-to(break2full) {
			height: 5vw;
		}
		@include respond-to(fullwidth) {
			height: 8rem;
		}
		form, input {
			@include respond-to(break2max) {
				// height: 5rem;
			}
			// @include height(7);
		}
		input {
			font-weight: 500;
		}
		.newsletter-signup, .newsletter-signup-copy, form, input {
			@include respond-to(break2) {
				height: 100%;
			}
		}
		.newsletter-signup-copy {
			@include body-sans;
			@include padding-top(1.5);
			@include padding-bottom(2);
			@include respond-to(break2) {
				@include padding-bottom(1);
			}
			@include respond-to(fullwidth) {
				font-size: 2rem;
			}
		}
	}
	.short-newsletter-signup-form-wrapper, .newsletter-input {
		@include respond-to(break2max) {
			height: 5rem;
		}
	}

/* Plus icons for figures with figcaptions and General Captions
-------------------------------------------------- */
	// Images with captions
	figure {
		position: relative; // contain figcaption
	}
	figcaption {
		position: absolute;
		@include padding-top(1.5);
		@include padding-right(1);
		@include padding-bottom(1.5);
		@include padding-left(2);
		bottom: 0;
		left: 0;
		color: #fff;
		background-color: rgba($black65, 0.9);
		@include caption-sans;
		// text-transform: capitalize;
		text-transform: initial;
		line-height: 1.4 !important;
		width: 100%;
		cursor: pointer;
		visibility: hidden; // initial hide
		// plus sign
		@include respond-to(break2max) {
			min-height: 4rem;
		}
		.credit {
			font-style: italic;
			@include margin-top(0.7);
			@include margin-bottom(1);
		}
		&:after {
			display: block;
			content: "+";
			position: absolute;
			bottom: 0;
			right: 0;
			background-color: $black50;
			color: #fff;
			@include padding-right(0.5);
			@include padding-bottom(0.8);
			@include padding-left(0.5);
			@include margin-top(-5);
			@include sans-plus-icon;
			line-height: 0.8 !important;
			visibility: visible; // initial show, from http://stackoverflow.com/a/4912823/4504073
			@include respond-to(break2max) {
				width: 4rem;
				height: 4rem;
				text-align: center;
				padding-top: 0.5rem;
			}
		}
		// minus sign. Need to use other pseudo element b/c chrome not updating content from :after
		&.minus-sign:after {
			display: none;
		}
		&.minus-sign:before {
			content: "–";
			position: absolute;
			bottom: 0;
			right: 0;
			@include right(0.5);
			color: #fff;
			// @include padding-top(0);
			@include padding-right(0.2);
			@include padding-bottom(0.8);
			@include padding-left(0.5);
			@include margin-top(-5);
			@include sans-plus-icon;
			line-height: 0.8 !important;
			visibility: visible; // initial show, counteracts parent visiblity hidden. From http://stackoverflow.com/a/4912823/4504073
			@include respond-to(break2max) {
				width: 4rem;
				height: 4rem;
				font-size: 3rem;
				text-align: center;
				padding-top: 0.5rem;
			}
		}
	}
	.caption {
		@include caption-sans;
		text-transform: initial;
	}


/* Dropdown Select, multi level select, from http://stackoverflow.com/a/9101168
-------------------------------------------------- */
	@mixin dropdown-arrow {
		content: '\62';
		display: block;
		position: absolute;
		font-family: "vd-icons" !important;
		border: none; // remove default arrow
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
		// override nice-select defaults
		height: auto;
		@include top(0.8);
		@include margin-top(0);
		@include respond-to(break2max) {
			font-size: 2rem;
			top: 0rem;
			right:0.5rem;
		}
		@include respond-to(break2full) {
			transform-origin: 0.9vw;
			font-size: 1.5vw;
			top: 0.4vw;
			right:0.6vw;
		}
		@include respond-to(fullwidth) {
			transform-origin: 15px 15px;
			font-size: 2.5rem;
			top: 0.5rem;
			right: 1rem;
		}
	}
	.dropdown-wrapper {
		@include sm-sans;
		font-weight: 600;
		color: $black60;
	}
	.dropdown:hover, .first-level-dropdown li:hover {
		background-color: $black20;
		@include respond-to(break2) {
			// show next menu on hover
			& > ul {
				display: block;
			}
			.first-level-dropdown-title:after {
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}	
		}
	}
	.dropdown {
		background-color: #fff;
		position: relative;
		cursor: pointer;
	}
	.dropdown, .filter-button {
		@include margin-top(1.5); // 19px
	}
	.first-level-dropdown {
		display: none; // initial hide
		position: absolute;
		z-index: 2;
		width: 100%;
		background-color: #fff;
		font-weight: 400;
		line-height: 1.7;
		li {
			position: relative; // contain arrow
			@include padding-left(1);
		}
	}
	.second-level-dropdown, .third-level-dropdown {
		display: none;
		background-color: #fff;
		@include respond-to(break2) {
			position: absolute;
			top:0;
			right: -100%;
			width: 100%;	
		}
	}
	.third-level-dropdown {
		li:after {
			display:none;
		}
	}
	.first-level-dropdown-title, .filter-button {
		@include padding-top(0.7);
		@include height(3.7); // 35px
		height: 3rem; // mobile override
		@include padding-left(1);
	}
	.first-level-dropdown-title {
		&:after {
			@include dropdown-arrow;
		}
	}
	.second-level-dropdown-title, .third-level-dropdown-title {
		&:after {
			@include dropdown-arrow;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			transform: rotate(0deg);
			color: $black40;
			font-size: 2rem;
			top:-0.5rem;
			right:1rem;
			@include respond-to(break2full) {
				font-size: 1.3vw;
				top: 0vw;
				right:0.6vw;
			}
			@include respond-to(fullwidth) {
				font-size: 2rem;
				top: -0.3rem;
				right: 1rem;
			}
		}
	}
	.dropdown-title-is-open {
		&:after {
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}	
	}

/* Search, Festival Past Festival Programs
-------------------------------------------------*/
	// Search only
	.search-page, .past-festivals-page {
		.svg-thin-hr {
			padding:0;
			margin-top:0;
			@include margin-bottom(0.5);
			path {
				fill: $black30;
			}
		}
		.search-query-title {
			@include lg-woodtype-extended;
			text-transform: capitalize;
			@include margin-bottom(2.4);
		}
		.highlight-bar {
			background-color: $black10;
			@include padding-top(1.6); // 20px with line height
			@include padding-bottom(4);
			@include margin-bottom(4);
			// for click outside
			position: relative;
			z-index: 10;
		}
		.filter-more-band {
			display: none; // initial hide
			@include respond-to(break2) {
				@include padding-top(2);
			}
		}
		.filter-by-title {
			@include nav-header;
			color: $black60;
			@include respond-to(break2max) {
				font-size:5vw;
			}
			@include respond-to(break2full) {font-size:1.15vw;}
			@include respond-to(fullwidth) {font-size:1.8rem;}
		}
		.filter-button {
			background-color: $black20;
			@include border;
			text-align: center;
			cursor: pointer;
			padding-left:0;
		}
	}

/* Slideshow/Gallery arrows, from Folklife homepage banner
-------------------------------------------------*/
	$arrowSizeBreak2: 6rem;
	$arrowSizeFullwidth: 8rem;

	// slick default overrride
	.slick-dots li.slick-active button:before {opacity: 1;}

	.slick-prev:before, .slick-next:before {
		font-family: 'vd-icons';
		-webkit-transform: translateY(-49%);
		-ms-transform: translateY(-49%);
		transform: translateY(-49%);
		color: $black40;
		position: absolute;
		left:0;
	    opacity: 1;
	    line-height: 0.6; // so will align more centered vertically
	    font-size:$arrowSizeBreak2;
	    @include respond-to(fullwidth) {font-size:$arrowSizeFullwidth;}
	}
	.slick-prev:hover::before, .slick-next:hover::before {
		color: #fff;
	}
	.slick-prev:before {content: "\65";}
	.slick-prev:before {content: "\6e";}
	.slick-next:before {content: "\66";}
	.slick-next:before {content: "\79";}
	.slick-prev, .slick-next {
		z-index: 1;
		width: $arrowSizeBreak2;
		height: $arrowSizeBreak2;
		@include respond-to(fullwidth) {
			width: $arrowSizeFullwidth;
			height: $arrowSizeFullwidth;
		}
	}
	.slick-prev {
  		@include respond-to(break2max) {
			left: 3.4vw;
  		}
  		@include respond-to(break2) {
			left: 40px;
  		}
  		@include respond-to(fullwidth) {
  			left: auto;
  			margin-left: -5.4rem;
		}
	}
	.slick-next {
		@include respond-to(break2max) {
			right: 3.4vw;
		}
		@include respond-to(break2) {
			// right: calc((100vw - 1415px) / 2); // screen width, minus width of center area, divided by 2 because just one side
			right: 40px;
		}
		@include respond-to(fullwidth) {
			// right: calc((100vw - 1400px) / 2); // screen width, minus width of center area, divided by 2 because just one side
			right: calc((100vw - 1415px) / 2); // screen width, minus width of center area, divided by 2 because just one side
			// margin-right: -5.5rem;
			margin-right: -4.8rem;
		}
	}

/* Hide Ios Play button
-------------------------------------------------*/
	// .home-video iframe {width:100%;height:100%;position: absolute;top:0;right:0;bottom:0;left:0;}
	// hide iOS play button from http://stackoverflow.com/questions/8911247/hide-iphone-html5-video-play-button
	video::-webkit-media-controls {
	  display:none !important;
	}
	// Apple play button changed again
	// from http://stackoverflow.com/a/37553385
	/* This used to work for parent element of button divs */
	/* But it is not enough now, below dont hide play button parent div */
	*::-webkit-media-controls-panel {
	  display: none!important;
	  -webkit-appearance: none;
	}
	/* Old shadow dom for play button */
	*::--webkit-media-controls-play-button {
	  display: none!important;
	  -webkit-appearance: none;
	}
	/* New shadow dom for play button */
	*::-webkit-media-controls-start-playback-button {
	  display: none!important;
	  -webkit-appearance: none;
	}

/* Cover art popup
-------------------------------------------------*/
	// hide video divs
	// .remodal-image ~ .remodal-iframe, .remodal-image ~ .remodal-copy {
		// display:none;
	// }
	.cover-art-popup {
		display: none; // initial hide
	}


/* Image gallery
-------------------------------------------------*/
	.image-gallery {
		.icon-play-button {
			&:before, &:after {
				@include respond-to(break2max) {
					font-size: 15vw;
				}
				@include respond-to(break2full) {
					font-size: 6vw;
				}
				@include respond-to(fullwidth) {
					font-size: 10rem;
				}
			}
		}
	}
	.gallery-list, .gallery-list-captions {
		display: none; // initial hide
	}
	.remodal-captions {
		display: none;
	}
	.remodal-captions  a {
		color: white;
	}
	.remodal-image-gallery {
		max-width: none !important;
		background-color: transparent;
		.remodal-close {
			right: 0 !important;
			@include respond-to(break2max) {
				top: -4.5rem;
			}
		}
		.remodal-captions {
			display: block;
		}
	}
	.remodal-gallery {
		.slick-track {
			height: initial;
		}
		.slick-slide {
			height: auto;
			max-width: 100vw;
			@include padding-right(4);
			@include padding-left(4);
		}
		.slick-slide img {
			max-height: 70vh;
			width: auto;
		}
		.gallery-image-inner {
			position: relative; // contain gray overlay
			&:after {
				@include respond-to(break2) {
					content: '';
					display: block;
					position: absolute;
					top: 0;right: 0;bottom: 0;left: 0;
					background-color: rgba(0,0,0,0.8);
				}	
			}
		}
		.slick-active .gallery-image-inner:after {
			display: none;
		}		
		.slick-arrow {
			@include respond-to(break2max) {
				display: none !important;
			}
		}
		.slick-prev {
			@include respond-to(break2) {
				left: 1vw;
			}
			@include respond-to(fullwidth) {
				left: 5rem;
			}
		}
		.slick-next {
			@include respond-to(break2full) {
				right: 1vw;
			}
			@include respond-to(fullwidth) {
				right: 5rem;
			}
		}		
	}
	.remodal-captions {
		@include margin-top(4);
		// turn down non-active captions
		.slick-slide:not(.slick-active) {
			.remodal-description, .remodal-credit {
				color: $black80;
			}
		}
		.remodal-description {
			@include padding(2);			
			padding-bottom: 0 !important;
			color: white;
		}
		.remodal-credit {
			@include padding(2);
			color: $black50;
			@include caption-sans;
		}
	}