/* Helpers II
-------------------------------------------------- */
	.visually-hidden {display:none;}
	// .displayBlockImportant {display: block !important;} // because jQuery doesn't understand important
	// .hidden {display:none;} // in bootstrap with !important
	