@mixin hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

/* #Helpers
-------------------------------------------------- */
	// $navheightdelay: 0.3s;
	$navheightdelay: 5s;

  .sans {font-family:$sans;}
  .cf:after {content: "";display: table;clear: both;}
  // .no-mobile, .no-mobile-inline {display:none;}  // use bootstrap instead
  .tablet-only {display:none;}
  .desktop-only {display:none !important;}
	.desktop-only-inline {display:none;}
  // .no-tablet {display:block;}
  .break-2-only-inline {display:none;}
  @include respond-to(break1) {
	.mobile-only {display:none;}
	// .no-mobile {display:block;} // use bootstrap instead
	// .no-mobile-inline {display:inline-block;}  // use bootstrap instead
	.no-tablet {display:none;}
	.tablet-only {display:block;}
  }
  @include respond-to(break2) {
	.break-2-only-inline {display:inline-block;}
	.mobile-tablet-only {display:none;}
	.no-tablet {display:block;}
	.no-tablet-inline {display: inline-block;}
	.tablet-only {display:none;}
	.showroom-narrow {display:none;}
	.manufacturer-narrow {display:none;}
	.no-desktop {display:none !important;}
	.desktop-only {display:block !important;}
	.desktop-only-inline {display:inline-block !important;}
  }
  @include respond-to(break3) {
  }
  @include respond-to(break4) {
  }
  @include respond-to(fullwidth) {
  }

  // so more arrow parent can be height 100% of image
  // from http://stackoverflow.com/a/2715397
  @include respond-to(break2) {
  	
  	.table {
  		display: table;
  		height: 100%;
  	}
  	.table-row {
  		// allow make table cells to be same height
  		display: table-row;
  	}
  	.table-cell {
  		// allow more arrow to be at bottom of div, no matter how long inner content is
  		display: table-cell;
  		height: 100%;	
  	}	
  }


	@mixin border($location: all, $width: 1px, $color: $black40) {
		@if $location == top {
		  border-top: $width solid $color;
		} @else if $location == bottom {
		  border-bottom: $width solid $color;
		} @else if $location == right {
		  border-right: $width solid $color;
		} @else if $location == left {
		  border-left: $width solid $color;
		} @else {
		  border: $width solid $color;
		}
	}

	// %section-padding {
	// padding: 10px;
	// padding: 4vw 3vw;
	// @include respond-to(break1) {
	// 	padding: 1.9vw;
	// }
	// @include respond-to(fullwidth) {
	// 		padding: 20px 28px 30px; // less on top b/c of line height
	// 	}
	// }

	// %section-padding--abs {
	// 	top:10px;right:10px;bottom:10px;left:10px; // fallback older browsers
	// 	top:3vw;right:3vw;bottom:3vw;left:3vw;
	// 	@include respond-to(break1) {
	// 		top:2vw;right:2vw;bottom:2vw;left:2vw;
	// 	}
	// 	@include respond-to(fullwidth) {
	// 		top:28px;right:30px;bottom:30px;left:30px;
	// 	}
	// }