
/* Icons
-------------------------------------------------- */
	[class^="icon-"]:before,
	[class*=" icon-"]:before {
		vertical-align: middle;
	}
	.icon-stack {
		// from font-awesome stacking, http://www.w3schools.com/icons/tryit.asp?filename=tryicons_awesome_intro_stack
		position: relative;
		display: inline-block;
		width: 2em;
		// height: 2em;
		line-height: 2em;
		vertical-align: middle;
		div {
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}

/* Navbar
-------------------------------------------------- */
	.nav-icon {
		color: $black65; // new
		line-height: 0.9; // for center alignment
		margin: 0;
		@include respond-to(break2max) {
			font-size: 2.3rem;
		}
		@include respond-to(break2) {
			line-height: 0.7; // for center alignment
		}
		@include respond-to(break2full) {
			font-size: 2.3rem; // new, not responsive
			padding: 1.2vw;
		}
		@include respond-to(fullwidth) {
			padding: 14px;
			font-size: 2.5rem;
		}		
	}
	.main-nav-icon {
		@include respond-to(break2max) {
			padding: 1rem; // 12.16 to match with new hamburger nav
		}
		&:hover {
			@include respond-to(break2) {
			color: $black30;
			}
		}
	}
	.social-icons {
		display: none; // initial hide
		text-align: right;
		padding: 0;
		// place above outside click
		position: relative;
		z-index: 10;
		@include respond-to(break2max) {
			display: none;
			background-color: #fff;
			background-color: $black10;
			width: 100%;
			left: 0;
		}
	}
	.desktop-social-icons {
		@include respond-to(break2max) {
			display: none !important; // override js hiding and showing
		}
		display: none; // initial hide
	}
	.social-icon-link {
		vertical-align: middle;
	}

	.social-icon-link:hover, .social-icon-link:focus {
		text-decoration: none;
	}
	.social-icon {
		color:$black65;
		@include padding(1);
		&:hover {
			color: $black30;
			text-decoration: none;
		}
	}

/* Play button
-------------------------------------------------- */
	.center-box {
		position: relative;
	}
	.icon-play-button {
		position: relative; // contain absolute pseudo icons
		cursor: pointer;		
		&:before {
			position: absolute;
			top:0;
			left:0;
			z-index: 0;
  			content: "\61";
			color: $black25;
		}
		&:hover:before {
			color: $hover;
		}
		&:after {
			position: relative;
			z-index: 1;
  			content: "\62";
			color: $black80;
  			display: block;
		}
	}	
	.icon-gallery:before, .icon-gallery:after, .icon-play-button:before, .icon-play-button:after, .mejs-controls .mejs-playpause-button button:before, .mejs-controls .mejs-playpause-button button:after {
		@include respond-to(break2max) {
			font-size: 10vw;
		}
		@include respond-to(break2full) {
			font-size: 4vw;
		}
		@include respond-to(fullwidth) {
			font-size: 6rem;
		}
	}
	// Album page track listing
	// .track .mejs-controls button {
	// 	&:before, &:after {
	// 		@include respond-to(break2max) {
	// 			font-size: 5vw;
	// 		}
	// 		@include respond-to(break2full) {
	// 			font-size: 3vw;
	// 		}
	// 		@include respond-to(fullwidth) {
	// 			font-size: 3rem;
	// 		}
	// 	}
	// }

/* Image Gallery
-------------------------------------------------- */
	.icon-gallery {
		cursor: pointer;
		position: absolute;
		@include left(1);
		@include bottom(1);
		&:before {
			z-index: 0;
			color: $black25;
		}
		&:hover:before {
			color: $hover;
		}
		&:after {
			position: absolute;
			z-index: 1;
			color: $black80;
			display: block;
			@include respond-to(break2max) {
				font-size: 6vw;
				top: 2vw;
				left: 1.8vw;
			}
			@include respond-to(break2full) {
				font-size: 2.6vw;
				top: 0.7vw;
				left: 0.6vw;
			}
			@include respond-to(fullwidth) {
				font-size: 4rem;
				top: 1rem;
				left: 0.9rem;
			}
		}
	}

/* More Link
-------------------------------------------------- */
	.more-link-wrapper {
		position: relative;
	}
	.more-link {
		color: $black60;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		line-height: 1;
		&-text {
			@include sm-sans;
			display: inline-block;
			vertical-align: top;
			line-height: 1.1; // match section header for alignment
				@include respond-to(break2) {
					line-height: 1.2; // match section header for alignment
				}
		}
		&-arrow {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			line-height: 0.9; // for vert alignment with more text
			line-height: 0.2; // for vert alignment with more text
			@include respond-to(break2) {
				line-height: 1; // for vert alignment with more text
			}
			@include respond-to(fullwidth) {
				line-height: 0.75; // for vert alignment with more text
			}
			&:before {
				font-size: 2rem;
				@include respond-to(break2full) {
					font-size: 1.4vw;
					line-height: 1.3;
				}
				@include respond-to(fullwidth) {
					font-size: 2rem;
					line-height: 1.3;
				}
			}
		}
	}

/* Slider dots
-------------------------------------------------- */
	$filledInCircle: "\61";
	$hollowCircle: "\70";
	$mobileSize: 1rem;

	.slick-dots li button:before {
		font-family: 'vd-icons';
		content: $hollowCircle;
		opacity: 1;
		width: 14px; 
		height: 14px;
		display: block;
		@include respond-to(break2max) {
			font-size:1.5rem;
			font-size:$mobileSize;
		}
		@include respond-to(break2full) {
			font-size:1vw;
		}
		@include respond-to(fullwidth) {
			font-size:1.7rem;
		}
	}
	.slick-dots li button:hover:before {
		@include respond-to(break2) {
			content: $filledInCircle;
		}
		@include respond-to(break2full) {
			font-size:0.8vw;
		}
		@include respond-to(fullwidth) {
			font-size:1.5rem;
			padding-left:1px;
		}
	}

	// nth slide, nth dot is active because default slick dot activation doesn't work with multiple dot instances
	// mobile only
	@include respond-to(break2max) {
		li[aria-hidden="false"] button:before {
			content: "\61";
			font-size:1.3rem;
			font-size:1rem;
			padding-left:0;
		}
	}

/* Footer
-------------------------------------------------- */
	.newsletter-signup {
		.icon-mail {
			color: $black40;
			float: right;
			@include respond-to(break2max) {
				margin-left: 3vw;
			}
			@include respond-to(break2full) {
				margin-left: 1.9vw;
			}
			@include respond-to(fullwidth) {
				margin-left: 2rem;
			}
		}
		.icon-mail:before {
			@include respond-to(break2max) {
				font-size: 2rem;
			}
			@include respond-to(break2full) {
				font-size: 4vw;
				padding-right: 0.2vw; 
				line-height: 0.8;
			}
			@include respond-to(fullwidth) {
				font-size: 5.2rem;
				padding-right: 2px; 
				line-height: 1;
			}
		}
	}