/* #Links
-------------------------------------------------- */
	a { color: $link; }
	a:hover { 
		text-decoration: none; 
		@include respond-to(break2max) {
			color: $link;
		}
	}
	// a:hover, .main-copy h2 a:hover  { color: $hover; }
	// .main-copy a { color: $copylinks; }
	// .title a:hover {
		// color: $copy;
	// }

	// prevent the above
	.footer-title, .logo-mask, .site-toggle-link {
		&:hover {
			background-color: transparent; // prevent highlighting color
		}
	}

	/* inspired by links on medium.com */
	.content a {
		color: $copy;
		// underline effect
		border-bottom: 3px solid $hover;
		box-shadow: inset 0 -4px 0 $hover;
		-webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
		transition: background .15s cubic-bezier(.33,.66,.66,1);
		&:hover {
			background: $hover;
			color: $copy;
		}
	}
	a.high, .high, .video {
		@include respond-to(break2) {
			-webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
			transition: background .15s cubic-bezier(.33,.66,.66,1);
			cursor: pointer;
			// highlight siblings with links as children for images
			// &:hover .light, &:hover + .details .light, &:hover + .high .light {
			// if subtitle or title, highlight each other
			&:hover .light {
				background: $hover;
				color: $copy;
				.er {
					position: relative; // Overlap fix for background color highlighting text. Use span.no-highlight inside titles to prevent overlap. From http://stackoverflow.com/a/31440811
				}
			}
		}
	}
	.more-link .er {
		// show more highlight color around arrow and text
		@include padding(0.2);
	}
	.anchor-link {
		display: block;
			position: relative;
			visibility:hidden;
			top:-28vw;
			// @include respond-to(break2) {top:-13vw;}
			@include respond-to(break2) {top:-10vw;}
			// @include respond-to(fullwidth) {top:-18rem;}
			@include respond-to(fullwidth) {top:-17rem;}
		
	}
	.first-anchor-link {
		// take above the page top so can see top of page when go to first link and not get some cut-off
		top:-20rem;
	}