
/* #Media Queries
-------------------------------------------------- */
  $break1: 40em; // 640 px
  $break2: 53.25em; // 852 px
  // $break-25: 72em; // 1152 px
  $breakTagline: 62.5em; // 1000px
  $breaksearch: 74.25em; // 1188px for search bar
  // $break-3: 80em; // 1350 px feature descriptions
  // $break-4: 89.375em; // 1430 px for showrooms page only
  $fullWidth: $pageWidth; // use em for correct media query calculation

  @mixin respond-to($media) {
    @if $media == break1 {
      @media only screen and (min-width: $break1) { @content; }
    }
    @if $media == break1max {
      @media only screen and (max-width: $break1) { @content; }
    }
    @else if $media == break2 {
      @media only screen and (min-width: $break2) { @content; }
    }
    @else if $media == break2max {
      @media only screen and (max-width: $break2) { @content; }
    }
    @else if $media == breakTagline {
      @media only screen and (min-width: $breakTagline) { @content; }
    }
    @else if $media == breaksearch {
      @media only screen and (min-width: $breaksearch) { @content; }
    }
    @else if $media == breaksearchmax {
      @media only screen and (max-width: $breaksearch) { @content; }
    }
    // @else if $media == break3 {
    //   @media only screen and (min-width: $break-3) { @content; }
    // }
    // @else if $media == break4 {
    //   @media only screen and (min-width: $break-4) { @content; }
    // }
    @else if $media == fullwidth {
      @media only screen and (min-width: $fullWidth) { @content; }
    }
  }


/* Class helpers
-------------------------------------------------- */

.no-mobile, .no-mobile-inline {display:none;}
.tablet-only {display:none;}
.desktop-only {display:none !important;}
.desktop-only-inline {display:none;}
.break-2-only-inline {display:none;}
@include respond-to(break1) {
  .mobile-only {display:none;}
  .no-mobile {display:block;}
  .no-mobile-inline {display:inline-block;}
  .no-tablet {display:none;}
  .tablet-only {display:block;}
}
@include respond-to(break2) {
  .break-2-only-inline {display:inline-block;}
  .mobile-tablet-only {display:none;}
  .no-tablet {display:block;}
  .no-tablet-inline {display: inline-block;}
  .tablet-only {display:none;}
  .showroom-narrow {display:none;}
  .manufacturer-narrow {display:none;}
  .no-desktop {display:none !important;}
  .desktop-only {display:block !important;}
  .desktop-only-inline {display:inline-block !important;}
}
@include respond-to(fullwidth) {
}