
/* Nav
-------------------------------------------------- */
	// bootstrap override
	.navbar {
		background-color: $navbar;		
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		position: absolute; // so make transition to fixed easier on content below
		width: 100%;
		@include respond-to(break2max) {
			position: fixed;
			width: 100%;
			z-index: 10;
		}
		@include respond-to(break2) {
			top: 60px;
			z-index: 2;
			z-index: 10;
		}

	}

	// SITE TOGGLE BANNER
	.navbar__site-toggle {
		display: none;		
		@include respond-to(break2) {
			display: block;
			position: absolute; // height 72px
			width: 100%;
			text-transform: uppercase;
			background-color: white;
			font-family: $slabLight;
			// letter-spacing: 0.5px;		
			font-size: 2.7rem; // ff-good
			// font-size: 1.5rem;
			text-align:right;
			font-weight: 300;

			height: 60px; // hold even without tagline
			padding: 13px 0 0;
		}
	}
	.tagline {
		display: none;
		color: $tagline;
		@include respond-to(breakTagline) {
			display: inline-block;
		}
	}
	.site-toggle__link {
		color: $sitelinks;
		margin-left: 2.5rem;
		&:hover {
			color: $black80;
			text-decoration: none;
		}
	}

	// OUTSIDE NAVBAR CLICKING TO CLOSE
	.navbar-outside {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9; // just below navbar
		// background-color: rgba(red, 0.2);
	}

	.navbar-header {
		// keep above outside click div
		position: relative;
		z-index: 10;
		max-width: 1480px;
		padding: 0 15px;
		margin: 0 auto;
		@include vertically-align-grandparent;
		@include respond-to(break2) {
			padding: 0 40px;
		}
	}
	.navbar-header__inner {
		@include vertically-align-parent;
		position: relative;
		z-index: 100;

		// new header

	}
	.navspacer {
		background-color: $black80;
		height: 50px;
		@include respond-to(break2) {
			// height: 185px !important;
			height: 178px !important;
			// new header
			// height: 160px !important;
		}
		&--taller {
		}
		&-open {
			height: 132px !important;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
	.navbar-brand {
		font-size: 10px; // prevent gap to sunsplash
		padding: 10px 0 5px 0;
		padding: 10px 0 0 0;
		@include respond-to(break2) {
			height: 115px;
			padding: 23px 0 10px 0;
		}

		@include respond-to(fullwidth) {
			padding: 23px 0 18px 0;
			// line up with left side
			font-size: 25px; // back to normal

			height: 118px; // from layout
		}
	}
	.logo-mask {
		overflow: hidden; // hide logo when scrolls up
		display: inline-block;
	}
	img.sunsplash {
		width: 4.5vw;
		width: 15px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		display: none;

		@include respond-to(break2) {
			display: inline-block;
			// width: 35px;
			width: 30px;
		}
	}
	.logo__copy {
		position: relative;
		display: inline-block;
	}
	.logo__copy, img.logo--folklife, img.logo--center, img.logo--folkways {
		width: 193px;
		height: 32px;
		@include respond-to(break2) {
			width: 420px;
			height: 70px;
		}
		@include respond-to(fullwidth) {
			width: 420px;
			height: 70px;
		}
	}
	// new logo
	img.logo--folklife, .site--folklife .logo__copy {
		// @include width(15);
		// @include height(15);
	}
	img.logo--folklife {
		// padding: 15px;
	}
	// new nav
	// .site--folklife {
	// 	.navbar-brand {
	// 		@include padding-top(4);
	// 	}
	// 	.logo-mask {
	// 		position: relative;
	// 		@include left(2);
	// 	}
	// }
	img.logo--center, img.logo--folklife, img.logo--festival, img.logo--folkways {
		-webkit-transition: top 0.1s ease;
		-moz-transition: top 0.1s ease;
		-ms-transition: top 0.1s ease;
		-o-transition: top 0.1s ease;
		transition: top 0.1s ease;
	}
	img.logo--folklife, img.logo--center, img.logo--festival, img.logo--folkways {
		position: absolute;
		top:0;
		left: 0;
	}
	.smaller-header {
		// new logo
		background-color: #333;
		// switch to fixed
		position: fixed;
		top:0;
		width: 100%;
		.navbar-brand {
			height: 50px;
			@include respond-to(break2) {
				padding: 17px 0;
				height: 70px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
		img.sunsplash { position: relative; top: 0.7rem; }
		// img.logo--center { top: -5rem; }
		img.logo--center { top: -100%; }
		// img.logo--folklife { top: -0.8rem; }
		img.logo--folklife, img.logo--festival, img.logo--folkways { top: -25%; }

		@include respond-to(break2) {
			img.sunsplash { top: 0.3rem; }
			img.logo--center { top: -8rem; }
			img.logo--center { top: -100%; }
			// img.logo--folklife { top: -3.3rem; }
			img.logo--folklife, img.logo--festival, img.logo--folkways { top: -45%; }
			// new nav
			.logo__copy {
				// @include height(4.5);
			}
		}
		& + .section--banner.container {
			position: relative;
			top: 142px; // add height of fixed header to next element when activated
		}
	}

	.nav-icons {
		right: 0;
		text-align:right;
		margin-top: 12px;
		margin-top: 7px;
		margin-right: -10px;
		@include respond-to(break2) {
			margin-top:0;
			margin-right: 0;
			@include vertically-align();
			width: 66.66667%;
			right: 0;
		}
		@include respond-to(fullwidth) {
			right: 0;
		}
	}
	.nav-icon {
		display:inline-block;
		// vertical-align: top;
		cursor: pointer;
		float: right;
		// margin: 2px;
		opacity: 1; // so bright white on mobile
		@include respond-to(break2) {
			// margin: 5px;
		}
	}
	.lighter-nav-icons {
		opacity: 0.2;
	}
	.navbar-toggle {
		position: relative;
		z-index: 2;
	}
	.navbar-toggle .icon-bar {
		color: white;
		background-color: white;
	}
	.social-icons, .search-bar {
		@include respond-to(break2max) {
			height: 5rem;
			// height: 15vw; // responsive with responsive social icons
		}
	}
	.social-icon-link {
		display: inline-block;
		@include respond-to(break2max) {
			padding: 10px;
			// padding: 2vw; // responsive with responsive icon font
		}
	}
	

	// SEARCH BAR
	.search-bar {
		display: none;
		background-color: white;
		width: 100%; // 3/4ish of col-8 to be half of page
		float: right;
		text-align: left;
		color: $searchText;
		padding: 0; // override bootstrap
		@extend %small-sans-title;
		@include respond-to(breaksearch) {
			margin-top: 12px;
			width: 70%; // 3/4ish of col-8 to be half of page
		}
		input {
			width: 100%;
			@include respond-to(breaksearch) {
				padding: 0 15px;
			}
		}
		&--desktop {
			@include respond-to(breaksearchmax) {
				display: none !important;
			}

		}
		&--mobile {
			padding: 5px 15px;
			// border: 5px solid $black80;

			// place above outside click
			position: relative;
			z-index: 11;
			@include respond-to(breaksearch) {
				display: none !important;
			}
		}
	}


	// testing
	// a.meganav__title, a.meganav__title + .meganav__list a {color: pink;}
	a.meganav__title, .meganav__list a, a.footer__title, .footer__list a {
		color: pink !important;
	}
	// MEGANAV
	.meganav, .footer {

		// keep above outside click div
		position: relative;

		// padding: 1rem 0 0; // 40px above and below
		padding: 0 0 0.5rem; // 40px above and below
		@include respond-to(break2) {
			padding: 3.6rem 0 2.6rem; // 40px above and below
			padding: 4rem 0 2.6rem; // 40px above and below
		}
		.active &__title {
			@include respond-to(break2max) {color: white;}
		}
		&__title {
			@extend %meganav-font;
			cursor: pointer;
			padding: 10px 0 0;
			// color: $black20;
			color: $black20;
			display: block; // for mobile

			@include respond-to(break2) {color: white;}
			&:hover {
				color: white;
				@include respond-to(break2) {color: $black20;}
			}
			@include respond-to(break2) {
				padding: 0;
				color: white;
			}
		}
		&__list {
			display: none;
			@include respond-to(break2) {
				display: inline-block;

			}
		}

		&__sub-item {
			display: block;
			@include link-font;
			color: white;
			color:$black20;
			a {
				color: $black20;
				display: block;
				&:hover {
					color: white;
				}
			}
			@include respond-to(break2) {color:$black20;}
			font-weight: 400;	
			// line-height: 1.44;
			cursor: pointer;
			&:hover {
				color: white;
			}
		}
	}
	.meganav {
		display: none;
		background-color: $black60;
		z-index: 10;
	}
	.nav-show-mobile {
		// display: inline-block;
		display: block;
	}


	// BROWSENAV
	.browsenav {
		display: none; // initial hide
		// background-color: $black40;
		background-color: $black50;
		position: relative;
		z-index: 10;
		top: 3rem;
		// color: white;
		// padding: 3rem 0 1rem; // really 40 px with line-height
		@include respond-to(break2) {
			padding: 2.8vw 0 2vw; // really 40 px with line-height
			top: 3rem;
		}
		@include respond-to(breaksearch) {
			top: 0;
		}
		@include respond-to(fullwidth) {
			padding: 4rem 0 4rem;
		}
	}
	
	.browsenav__title {
		// font-family: $slabExtraWide;
		// font-weight: 700;
		// @extend %meganav-font;
		@include section-header;
		color: white;
		margin-bottom: 3rem;
		@include respond-to(break2) {
			margin-bottom: 1.5vw;
		}
		@include respond-to(fullwidth) {
			margin-bottom: 2rem;
		}
	}
	.browsenav__item {
		margin-bottom: 2rem;
		@include respond-to(break2) {
			margin-bottom: 0;
		}
	}
	.browsenav__inner {
		// background: url(/assets/images/icons/navicons--tablet.png) no-repeat;
		// background: url(/assets/images/icons/dropdown.png) no-repeat;
		// background-position: right 0px center;
		// background-position: right 0px top -154px; 
		// background-position: -220px -169px; 
		// width: 25px; 
		// height: 14px; 
		// background-color: white;
		// background-color: $black20;
	}


	// browse bar

	select {

		/* make arrow and background */
		// background-color: white;
		// idea from http://stackoverflow.com/a/28274325
		// background-position: 100% 0;
		  // calc(100% - 21px) calc(1em + 2px),
		  // calc(100% - 16px) calc(1em + 2px),
		  // 100% 0;
		// background-size: 2.5em 2.5em;
		  // 5px 5px,
		  // 5px 5px,
		  // 2.5em 2.5em;
		background-repeat: no-repeat;

		/* reset */
		background: transparent;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		outline: none;

		border-radius: 0;
		padding: 10px 15px 10px;
		width: 100%;
		@include link-font;
		line-height: 1 !important;
		font-weight: 600;
		width: 100%; 
		height: 44px;
		// from http://stackoverflow.com/a/30783140
		// overflow:hidden;
		// position: relative;
		// display: block;

	}
	// icon font as selet dropdown arrow, from http://stackoverflow.com/questions/30782605/customize-a-select-with-font-awesome
	.select {
		width: 100%;
		margin-bottom:0;
		background-color: $black20;

		&:after {
			content: "\6f";
			font-family: "vd-icons";
			font-size: 3rem;
			vertical-align: top;
			color: $black50;
			position: absolute;
			right: 2rem; // clear padding right
			top: 0;
			background: $black20;
			// z-index: 1;
			line-height: 1.1;
			text-align: center;
			width: 10%;
			height: 100%;      
			pointer-events: none;
			box-sizing: border-box; 
		}
		&:hover:after {
			color: white;
		}
	}
