
/* Nav
-------------------------------------------------- */
	// bootstrap override
	.navbar {
		background-color: $navbar;		
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		position: absolute; // so make transition to fixed easier on content below
		width: 100%;
		min-height: initial;
		min-height: auto;
		@include respond-to(break2max) {
			position: fixed;
			width: 100%;
			z-index: 10;
		}
		@include respond-to(break2) {
			// top: 60px;
			top: $navbarSiteToggle--tablet;
			z-index: 2;
			z-index: 10;
		}
		@include respond-to(fullwidth) {
			top: $navbarSiteToggle--desktop;
		}

		// shadow, from 
		box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);
		-webkit-box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);
		-moz-box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);

		box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);
		-webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);
		-moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);

	}


	// SITE TOGGLE BANNER

	.site-toggle {
		// new
		display: none;		
		background-color: $black80; // new
		text-align:right;
		line-height:2vw;
		@include sans-xxxs;
		font-weight: 500;
		line-height: 1;
		@include respond-to(break2) {
			display: block;
			position: absolute; // height 72px
			width: 100%;
			text-transform: uppercase;
			padding-top: 0.8rem;
			height: $navbarSiteToggle--tablet;
		}
		@include respond-to(fullwidth) {
			line-height:3.5rem !important;
			padding: 0;
			height: $navbarSiteToggle--desktop;
		}
	}
	.tagline {
		display: none;
		color: $tagline;
		// @include respond-to(breakTagline) {
		@include respond-to(break2) {
			display: inline-block;
		}
	}
	.site-toggle__link {
		color: $sitelinks;
		margin-left: 2.5rem;
		&:hover {
			color: white;
			text-decoration: none;
		}
		&.active {
			color: $black20;
		}
	}

	// OUTSIDE NAVBAR CLICKING TO CLOSE
	.navbar-outside {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9; // just below navbar
		// background-color: rgba(red, 0.2);
	}

	.navbar-header {
		// keep above outside click div
		position: relative;
		z-index: 10;
		max-width: 1480px;
		padding: 0 15px;
		margin: 0 auto;
		@include vertically-align-grandparent;
		@include respond-to(break2) {
			padding: 0 40px;
		}
	}
	.navbar-header__inner {
		// @include vertically-align-parent;
		position: relative;
		z-index: 100;

		// new header
	}
	

	.navbar-brand {
		margin-left: 0 !important; // bootstrap override
		font-size: 10px; // prevent gap to sunsplash
		padding: 10px 0 0 0;
		@include navbarHeight--subpage;
		@include respond-to(break2) {
			// height: 115px; // old
			// height: $navbarHeight--home--tablet; // new
			// padding: 1.4vw 0 10px 0;
			// width: 14.2857%; // 200 / 1400
		}

		@include respond-to(fullwidth) {
			// padding: 23px 0 18px 0;
			// padding: 20px 0 18px 0;
			// line up with left side
			font-size: 25px; // back to normal

			// height: 118px; // from layout
			// new header
			// height: $navbarHeight--home--desktop; // from new layout

			// new
			// padding-left:0; // align with left side instead of col
			// folkways
			// width: 14.2857%; // 200 / 1400
		}
	}
	.home-page {
		.navbar-brand {
			@include navbarHeight--home;
		}
	}
	.navspacer {
		@include headerHeight--subpage;
		// background-color: $black80;
		&-open {
			// height: 132px !important;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
	.home-page {
		.navspacer {
			@include headerHeight--home;
		}
	}
	.logo-mask {
		overflow: hidden; // hide logo when scrolls up
		display: inline-block;
	}
	.navbar.one-line-logo {
		.navbar-brand {
			
		}
	}
	.logo {
		position: relative;
		display: inline-block;
	}
	.logo__bg, .logo--block {
		// width: 193px;
		// height: 32px;
		width: 25vw;
		height: 25vw;
		@include respond-to(break2) {
			// width: 420px;
			// height: 70px;
			width: 11vw;
			height: 11vw;
		}
		@include respond-to(fullwidth) {
			// width: 420px;
			// height: 70px;
			width: 175px;
			height: 175px;
		}
	}
	.logo--block {
		@include padding(1);
		// -webkit-transition: top 0.1s ease;
		// -moz-transition: top 0.1s ease;
		// -ms-transition: top 0.1s ease;
		// -o-transition: top 0.1s ease;
		// transition: top 0.1s ease;
		position: absolute;
		top:0;
		left: 0;
	}
	.one-line-logo{
		.logo__bg, .logo--block {
			display: none;
		}
		.logo--one-line {
			display: block;
		}
	}
	.logo--one-line {
		display: none;
		width:25vw;
		@include respond-to(break2) {width:11vw;}
		@include respond-to(fullwidth) {width:160px;}
	}
	.smaller-header, .one-line-logo {
		.navbar-brand {
			@include respond-to(break2) {
				// padding: 17px 0;
				// -webkit-transition: all 0.3s ease;
				// -moz-transition: all 0.3s ease;
				// -ms-transition: all 0.3s ease;
				// -o-transition: all 0.3s ease;
				// transition: all 0.3s ease;
			}
			@include respond-to(fullwidth) {
				padding-top: 2rem;
			}

		}
	}
	.smaller-header {
		// new logo
		// switch to fixed
		position: fixed;
		top:0;
		width: 100%;
		.logo--block { top: -25%; }
		.logo {
			.folkways-logo { top: -35%; }
			overflow: hidden;
		}
		.logo__bg, .logo--block {
			display: none;
		}
		.logo--one-line {
			display: block;
		}
		@include respond-to(break2) {
			.logo--block { top: -45%; }
			.folkways-logo { top: -35%; }
			.logo--block { top: -115%; }
		}
		& + .section--banner.container {
			position: relative;
			top: 142px; // add height of fixed header to next element when activated
		}
	}
	// Only on subpages, navbar gets smaller on scroll
	body:not(.home-page) {
		.smaller-header {
			.navbar-brand {
				@include navbarHeight--subpage--smaller;
			}
		}
	}

	.nav-icons {
		right: 0;
		text-align:right;
		margin-top: 2vw; // 12.16 to help with new hamburger nav
		margin-right: -10px;
		@include respond-to(break2) {
			margin-top:0.5vw; // 12.16
			margin-right: 0;
			float: right;
			// width: 58.33333%;
			// width: 75%;
		}
		@include respond-to(fullwidth) {
			margin-top:1.3rem;
			right: 0;
		}
	}
	.nav-icon {
		display:inline-block;
		cursor: pointer;
		float: right;
		opacity: 1; // so bright white on mobile
	}
	.lighter-nav-icons {
		opacity: 0.2;
	}
	.navbar-toggle {
		position: relative;
		z-index: 2;
	}
	.navbar-toggle .icon-bar {
		color: white;
		background-color: white;
	}
	.social-icons, .search-bar {
		@include respond-to(break2max) {
			height: 5rem;
			// height: 15vw; // responsive with responsive social icons
		}
	}
	.social-icon-link {
		display: inline-block;
		@include respond-to(break2max) {
			padding: 10px;
			// padding: 2vw; // responsive with responsive icon font
		}
	}
	

	// SEARCH BAR
	.search-bar {
		display: none;
		// background-color: red;
		// float: right;
		text-align: left;
		color: $searchText;
		padding: 0; // override bootstrap
		@extend %small-sans-title;
		@include respond-to(break2max) {
			width: 100%; // 3/4ish of col-8 to be half of page
		}
		@include respond-to(breaksearch) {
			margin-top: 12px;
			// width: 70%; // 3/4ish of col-8 to be half of page
		}
		input {
			width: 100%;
			background-color: transparent; // override user agent
			border-bottom: 1px solid black;
			@include respond-to(breaksearch) {
				padding: 0 15px;
			}
		}
		&--desktop {
			@include respond-to(breaksearchmax) {
				display: none !important;
			}

		}
		&--mobile {
			padding: 5px 15px;
			// border: 5px solid $black80;

			// place above outside click
			position: relative;
			z-index: 11;
			@include respond-to(breaksearch) {
				display: none !important;
			}
		}
	}


	.header-nav, .footer {
		@include padding-top(3.4);
		@include padding-bottom(2.6);
	}

	.header-nav, .footer-nav {

		// keep above outside click div
		position: relative;

		.active &__title {
			@include respond-to(break2max) {color: white;}
		}
		&__title {
			@extend %header-nav-font;
			cursor: pointer;
			padding: 10px 0 0;
			display: block; // for mobile
			&:hover {
				color: $black60;
			}
			@include respond-to(break2) {
				padding: 0;
			}
		}
		&__list {
			display: none;
			@include respond-to(break2) {
				display: inline-block;
			}
			@include margin-bottom(12);
		}

		&__sub-item {
			display: block;
			@include link-font;
			color:$black60; // 12.12
			a {
				color: $black60;
				display: block;
				&:hover {
					color: black;
				}
			}
			cursor: pointer;
			&:hover {
				color: black;
			}
		}
	}
	.header-nav {
		display: none;
		// background-color: $black60;
		// background-color: $black30;
		// background-color: rgba(white, 0.95);
		z-index: 10;
	}
	.footer-nav {
		&__title {
			color: $black20;
		}
		&__sub-item {
			&:hover {
				color: $black20;
			}
		}
	}
	.footer-nav__sub-item {
		@include link-font-sm;
	}
	.nav-show-mobile {
		// display: inline-block;
		display: block;
	}


	// BROWSENAV
	.browsenav {
		display: none; // initial hide
		// background-color: $black40;
		// background-color: $black50;
		// background-color: $black30; // 12.12
		background-color: $black10; // 12.16
		position: relative;
		// z-index: 10;
		z-index: 9; // just below logo
		top: 3rem;
		// color: white;
		// padding: 3rem 0 1rem; // really 40 px with line-height
		@include respond-to(break2) {
			padding: 2.8vw 0 2vw; // really 40 px with line-height
			top: 3rem;
		}
		@include respond-to(breaksearch) {
			top: 0;
		}
		@include respond-to(fullwidth) {
			padding: 5rem 0 2rem;
		}
	}
	
	.browsenav__title {
		// font-family: $slabExtraWide;
		// font-weight: 700;
		// @extend %header-nav-font;
		text-align: right;
		// @include section-title;
		@extend %header-nav-font;
		font-family: $slabNarrow;
		color: $black60;
		margin-bottom: 3rem;
		@include respond-to(break2) {
			margin-bottom: 1.5vw;
		}
		@include respond-to(fullwidth) {
			margin-bottom: 2rem;
		}
		// vertically align
		.vertically-align-grandparent {
			// @include height(3.4);
			height: 34px;
		}
		.vertically-align {
			right: 0;
		}
	}
	.browsenav__item {
		margin-bottom: 2rem;
		@include respond-to(break2) {
			margin-bottom: 0;
		}
	}
	.browsenav__inner {
		// background: url(/assets/images/icons/navicons--tablet.png) no-repeat;
		// background: url(/assets/images/icons/dropdown.png) no-repeat;
		// background-position: right 0px center;
		// background-position: right 0px top -154px; 
		// background-position: -220px -169px; 
		// width: 25px; 
		// height: 14px; 
		// background-color: white;
		// background-color: $black20;
	}


	// browse bar

	select {

		/* make arrow and background */
		// background-color: white;
		// idea from http://stackoverflow.com/a/28274325
		// background-position: 100% 0;
		  // calc(100% - 21px) calc(1em + 2px),
		  // calc(100% - 16px) calc(1em + 2px),
		  // 100% 0;
		// background-size: 2.5em 2.5em;
		  // 5px 5px,
		  // 5px 5px,
		  // 2.5em 2.5em;
		background-repeat: no-repeat;

		/* reset */
		background: transparent;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		outline: none;

		border-radius: 0;
		// padding: 10px 15px 10px;
		@include padding-top(0);
		@include padding-right(1.5);
		@include padding-bottom(0.5);
		@include padding-left(1.5);
		// padding: 5px 15px 5px;
		width: 100%;
		@include link-font;
		line-height: 1 !important;
		font-weight: 600;
		width: 100%; 
		// height: 44px;
		height: 34px;
		// from http://stackoverflow.com/a/30783140
		// overflow:hidden;
		// position: relative;
		// display: block;

	}
	// icon font as selet dropdown arrow, from http://stackoverflow.com/questions/30782605/customize-a-select-with-font-awesome
	.select {
		width: 100%;
		margin-bottom:0;
		// background-color: $black20;
		background-color: white;
		color: $black60;

		&:after {
			content: "\6f";
			font-family: "vd-icons";
			font-size: 3rem;
			vertical-align: top;
			// color: $black50;
			color: $black60;
			position: absolute;
			// right: 2rem; // clear padding right
			right: 3rem; // clear padding right // 12.12
			top: 0;
			// background: $black20;
			// z-index: 1;
			// line-height: 1.1;
			line-height:5vw;
			@include respond-to(break2) {line-height:2.5rem;}
			@include respond-to(fullwidth) {line-height:0.7;}
			text-align: center;
			width: 10%;
			height: 100%;      
			pointer-events: none;
			box-sizing: border-box; 
			font-size:3rem;
			@include respond-to(break2) {font-size:2.5vw;}
			@include respond-to(fullwidth) {font-size:3rem;}
		}
		&:hover:after {
			color: $fw-link;
		}
	}
