
/* Nav
-------------------------------------------------- */
	// bootstrap override
	.navbar {
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		position: absolute; // so make transition to fixed easier on content below
		width: 100%;
		min-height: initial;
		min-height: auto;
		@include subpage-navbarHeight;	
		@include respond-to(break2max) {
			// position: fixed;
			width: 100%;
			z-index: 10;
			// height: $mobile-subpage-navbarHeight;
		}
		@include respond-to(break2) {
			// top: 60px;
			top: $tablet-navbarSiteToggle;
			// z-index: 2;
			z-index: 10;
			// height: $tablet-subpage-navbarHeight;
		}
		@include respond-to(fullwidth) {
			top: $desktop-navbarSiteToggle;
			// height: $tablet-subpage-navbarHeight; // need height b/c fixed??
		}

		// if open, go light
		background-color: white; // only go less opacity here otherwise folklife banner movement will show below
		&.is-open {
			background-color: $navbar; // only go less opacity here otherwise folklife banner movement will show below
			height: auto !important; // so will expand with menu when needed
		}

		// set height to match with navbar
		// @include subpage-headerHeight;

		// shadow, from 
		box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);
		-webkit-box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);
		-moz-box-shadow: 0px 17px 41px -8px rgba(0,0,0,0.20);

		box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);
		-webkit-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);
		-moz-box-shadow: 0px 10px 41px -8px rgba(0,0,0,0.08);

	}
	.home-page {
		.navbar {
			// set height to match with navbar
			// @include home-headerHeight;
			@include home-navbarHeight;
		}
	}



	// SITE TOGGLE BANNER

	.site-toggle {
		// new
		display: none;
		background-color: $black80; // new
		text-align:right;
		line-height:2vw;
		// line-height:2rem;
		@include mini-sans;
		font-weight: 500;
		line-height: 1;
		@include respond-to(break2) {
			display: block;
			position: absolute; // height 72px
			width: 100%;
			padding-top: 0.8rem;
			height: $tablet-navbarSiteToggle;
		}
		@include respond-to(fullwidth) {
			line-height:3.5rem !important;
			padding: 0;
			height: $desktop-navbarSiteToggle;
		}
	}
	.tagline {
		display: none;
		color: $tagline;
		@include respond-to(breakTagline) {
		// @include respond-to(break2) {
			display: inline-block;
		}
	}
	.site-toggle-link {
		color: $sitelinks;
		margin-left: 2.5rem;
		&:hover {
			color: white;
			text-decoration: none;
		}
		&.active {
			color: $black20;
		}
	}

	// OUTSIDE NAVBAR CLICKING TO CLOSE
	.navbar-outside {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9; // just below navbar
		// background-color: rgba(red, 0.2);
	}

	.navbar-header {
		// keep above outside click div
		position: relative;
		z-index: 10;
		max-width: 1480px;
		padding: 0 15px;
		margin: 0 auto;
		@include vertically-align-grandparent;
		@include respond-to(break2) {
			padding: 0 40px;
		}
		@include respond-to(fullwidth) {
			height: $desktop-navbarHeight; // to push social media down when open
		}
	}
	.navbar-header-inner {
		// @include vertically-align-parent;
		position: relative;
		z-index: 100;

		// new header
	}

	.logo-wrapper {
		float: left; // allow nav icons to go to right
		height: auto; // bootstrap override
		margin-left: 0 !important; // bootstrap override
		font-size: 10px; // prevent gap to sunsplash
		// @include padding-top(2);
		margin-top: 1rem;
		@include respond-to(break2full) {
			margin-top: 1.5rem;
			margin-top: 1rem;
			width: 175px;
		}

		@include respond-to(fullwidth) {
			margin-top: 2rem;
			font-size: 25px; // back to normal
		}
	}
	.home-page {
		.logo-wrapper {
			// @include home-navbarHeight;
		}
	}
	.home-page {
		.navbar.is-smaller {
			@include home-smaller-navbarHeight;
		}
	}
	.navspacer {
		@include subpage-headerHeight;
		// background-color: $black80;
		&-open {
			// height: 132px !important;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
	.home-page {
		.navspacer {
			@include home-headerHeight; // account for sit-toggle as well
		}
	}
	.logo-mask {
		overflow: hidden; // hide logo when scrolls up
		display: inline-block;
	}
	.logo {
		position: absolute; // for menu dropdown height not to be effected
		display: inline-block;
		top:0;
		a {
			display: block;
		}
	}
	.block-logo {
		max-width: initial; // otherwise will shrink to a tag above when absolutely positioned
		// width: 193px;
		// height: 32px;
		// width: 25vw;
		// height: 25vw;
		width: 100px;
		height: 100px;
		@include respond-to(break2) {
			// width: 420px;
			// height: 70px;
			// width: 11vw;
			// height: 11vw;
			// width: 100px;
			// height: 100px;
			width: 150px;
			height: 150px;
		}
		@include respond-to(fullwidth) {
			// width: 420px;
			// height: 70px;
			
			width: 175px;
			height: 175px;
		}
	}
	.block-logo {
		// @include padding(1);
		// -webkit-transition: top 0.1s ease;
		// -moz-transition: top 0.1s ease;
		// -ms-transition: top 0.1s ease;
		// -o-transition: top 0.1s ease;
		// transition: top 0.1s ease;
		// position: absolute;
		top:0;
		left: 0;
	}

	.one-line-logo {
		max-width: initial; // otherwise will shrink to a tag above when absolutely positioned
		display: none;
		// width:25vw;
		// width:5rem;
		// @include respond-to(break2max) {
			// margin-top: 0.2rem;
		// }
		width: 100px;
		margin-top:0.5rem;
		@include respond-to(break2) {
			margin-top:0.5rem;
			margin-top:0.8rem;
			// width:11vw; // too blurry
			// width: 100px;
			width:150px;
		}
		@include respond-to(fullwidth) {
			margin-top: 1rem;
			width:175px;
		}
	}
	// .tablet-one-line-logo {
	// 	@include respond-to(fullwidth) {
	// 		display: none;
	// 	}
	// }
	// .desktop-one-line-logo {
	// 	display: none;
	// 	@include respond-to(fullwidth) {
	// 		display: block;
	// 	}
	// }
	.one-line-logos {
		display: none;
	}
	.navbar.is-smaller, .one-line-logo, .has-one-line-logo {
		.logo-wrapper {
			margin-top: 0;
			// padding-top:0.8rem;
			// padding-top:0.2rem;
			// @include respond-to(break2) {padding-top:1rem;}
			// @include respond-to(fullwidth) {padding-top:1rem;}
		}	
		// show logo container and logos inside will have rules on when to show or not
		.one-line-logos {
			display: block;
		}
	}
	.navbar.is-smaller, .navbar.has-one-line-logo {
		.block-logos {
			display: none;
		}
	}

	.navbar.has-one-line-logo, .navbar.is-smaller {
		.block-logo	{
			display: none;
		}
		.one-line-logo {display: block;}
		// @include respond-to(break2) {
		// 	.block-logo { top: -45%; }
		// 	.folkways-logo { top: -35%; }
		// 	.block-logo { top: -115%; }
		// }
		// @include respond-to(fullwidth) {
		// 	.tablet-one-line-logo {
		// 		display: none;
		// 	}
		// 	.desktop-one-line-logo {
		// 		display: block;
		// 	}
		// }
	}
	.is-smaller {
		// new logo
		// switch to fixed
		position: fixed;
		top:0;
		width: 100%;
		background-color: $navbar; // duplicate from navbar-open because sometimes close navbar when smaller header and need to keep the opacity
		.block-logo {
			display: none;
		}
		.tablet-one-line-logo {
			display: block;
		}
		@include respond-to(break2) {
			.block-logo { top: -45%; }
			.folkways-logo { top: -35%; }
			.block-logo { top: -115%; }
		}
		@include respond-to(fullwidth) {
			.tablet-one-line-logo {
				display: none;
			}
			.desktop-one-line-logo {
				display: block;
			}
		}
		& + .banner-section.container {
			position: relative;
			top: 142px; // add height of fixed header to next element when activated
		}
	}
	// Only on subpages, navbar gets smaller on scroll
	body:not(.home-page) {
		.is-smaller, .has-one-line-logo {
			@include subpage-smaller-navbarHeight;
			// .logo-wrapper {
			// }
		}
	}

	.nav-icons {
		// position: absolute;
		right: 0;
		text-align:right;
		@include respond-to(break2) {
			position: static;
			float: right;
			margin-top: 0.2rem;
			margin-top:0.8rem;
		}
		@include respond-to(fullwidth) {
			margin-top:1.3rem;
			right: 0;
		}
	}
	.nav-icon {
		display:inline-block;
		cursor: pointer;
		float: right;
		opacity: 1; // so bright white on mobile
	}
	.lighter-nav-icons {
		opacity: 0.2;
	}
	.navbar-toggle {
		position: relative;
		z-index: 2;
	}
	.navbar-toggle .icon-bar {
		color: white;
		background-color: white;
	}
	.social-icons, .search-bar {
		@include respond-to(break2max) {
			height: 5rem;
			// height: 15vw; // responsive with responsive social icons
		}
	}
	.social-icon-link {
		display: inline-block;
		@include respond-to(break2max) {
			padding: 10px;
			// padding: 2vw; // responsive with responsive icon font
		}
	}
	

	// SEARCH BAR
	.search-bar {
		display: none;
		text-align: left;
		color: $searchText;
		padding: 0; // override bootstrap
		@include search-title;
		line-height:1.28; // 32 px at full
		@include respond-to(break2max) {
			width: 100%; // 3/4ish of col-8 to be half of page
		}
		@include respond-to(break2) {
			// margin-top: 12px;
			margin-top: 1vw;
			// margin-top: 1rem;
		}
		@include respond-to(fullwidth) {
			margin-top: 2.4rem;
		}
		input {
			width: 100%;
			background-color: transparent; // override user agent
			border-bottom: 2px solid black; // 2px search per aiden on 12.22
			@include respond-to(break2) {
				padding: 0 15px;
			}
		}
	}
	.desktop-search-bar {
		@include respond-to(break2max) {
			display: none !important;
		}

	}
	.mobile-search-bar {
		padding: 5px 15px;
		// place above outside click
		position: relative;
		z-index: 11;
		@include respond-to(break2) {
			display: none !important;
		}
	}


	.header-nav {
		@include padding-top(3.4);
		@include padding-bottom(2.6);
	}

	.header-nav, .footer-nav {

		// keep above outside click div
		position: relative;

		.active &-title {
			@include respond-to(break2max) {color: white;}
		}
		&-title {
			@include nav-header;
			cursor: pointer;
			padding: 10px 0 0;
			display: block; // for mobile
			&:hover {
				color: $black65;
			}
			@include respond-to(break2) {
				padding: 0;
			}
			@include padding-bottom(0.4);
		}
		&-list {
			display: none;
			@include margin-bottom(2.2);
			@include respond-to(break2max) {
				margin-bottom: 0;
			}
			@include respond-to(break2) {
				display: inline-block;
			}
		}

		&-sub-item {
			display: block;
			@include link-font;
			color:$black65; // 12.12
			a {
				color: $black65;
				display: block;
				&:hover {
					color: black;
				}
			}
			cursor: pointer;
			&:hover {
				color: black;
			}
		}
	}
	.header-nav {
		display: none;
		// background-color: $black65;
		// background-color: $black40; // formerly $black30
		// background-color: rgba(white, 0.95);
		z-index: 10;
	}
	.footer-nav {
		&-title {
			color: $black20;
		}
		&-sub-item {
			&:hover {
				color: $black20;
			}
		}
	}
	.footer-nav-sub-item {
		// @include link-font-sm;
	}
	.nav-show-mobile {
		// display: inline-block;
		display: block;
	}


	// BROWSENAV
	.browsenav {
		display: none; // initial hide
		// background-color: $black40;
		// background-color: $black65; // formerly $black50
		// background-color: $black40; // formerly $black30 // 12.12
		background-color: $black10; // 12.16
		position: relative;
		// z-index: 10;
		z-index: 9; // just below logo
		top: 1rem;
		// color: white;
		// padding: 3rem 0 1rem; // really 40 px with line-height
		@include respond-to(break2) {
			padding: 2.8vw 0 2vw; // really 40 px with line-height
			// top: 3rem;
			top: 0;
		}
		@include respond-to(breaksearch) {
			top: 0;
		}
		@include respond-to(fullwidth) {
			padding: 5rem 0 2rem;
		}
	}
	
	.browsenav-title {
		@include nav-header;
		font-family: $slabNarrow;
		color: $black65;
		margin-bottom: 2vw;
		@include respond-to(break2) {
			text-align: right;
			margin-bottom: 1.5vw;
		}
		@include respond-to(fullwidth) {
			margin-bottom: 2rem;
		}
		// vertically align
		.vertically-align-grandparent {
			// @include height(3.4);
			height: 7vw;
			@include respond-to(break2) {
				height: 34px;
			}
		}
		.vertically-align {
			top: 5vw;
			left: 0;
			@include respond-to(break2) {
				top: 50%;
				right: 0;
			}
		}
	}
	.browsenav-item {
		margin-bottom: 2rem;
		@include respond-to(break2) {
			margin-bottom: 0;
		}
	}

	// browse bar

	select {

		/* make arrow and background */
		// background-color: white;
		// idea from http://stackoverflow.com/a/28274325
		// background-position: 100% 0;
		  // calc(100% - 21px) calc(1em + 2px),
		  // calc(100% - 16px) calc(1em + 2px),
		  // 100% 0;
		// background-size: 2.5em 2.5em;
		  // 5px 5px,
		  // 5px 5px,
		  // 2.5em 2.5em;
		background-repeat: no-repeat;

		/* reset */
		background: transparent;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
		outline: none;

		border-radius: 0;
		// padding: 10px 15px 10px;
		@include padding-top(0);
		@include padding-right(1.5);
		@include padding-bottom(0.5);
		@include padding-left(1.5);
		// padding: 5px 15px 5px;
		width: 100%;
		@include link-font;
		line-height: 1 !important;
		font-weight: 600;
		width: 100%; 
		// height: 44px;
		height: 34px;
		// from http://stackoverflow.com/a/30783140
		// overflow:hidden;
		// position: relative;
		// display: block;

	}
	// icon font as selet dropdown arrow, from http://stackoverflow.com/questions/30782605/customize-a-select-with-font-awesome
	.select {
		width: 100%;
		margin-bottom:0;
		// background-color: $black20;
		background-color: white;
		color: $black65;

		&:after {
			content: "\6f";
			font-family: "vd-icons";
			font-size: 3rem;
			vertical-align: top;
			// color: $black65; // formerly $black50
			color: $black65;
			position: absolute;
			// right: 2rem; // clear padding right
			right: 3rem; // clear padding right // 12.12
			top: 0;
			// background: $black20;
			// z-index: 1;
			// line-height: 1.1;
			line-height:5vw;
			@include respond-to(break2) {line-height:2.5rem;}
			@include respond-to(fullwidth) {line-height:0.7;}
			text-align: center;
			width: 10%;
			height: 100%;      
			pointer-events: none;
			box-sizing: border-box; 
			font-size:3rem;
			@include respond-to(break2) {font-size:2.5vw;}
			@include respond-to(fullwidth) {font-size:3rem;}
		}
		&:hover:after {
			color: $hover;
		}
	}
