/* Festival Program page
-------------------------------------------------- */
	.program-category-main {
		@include margin-bottom(4);
		.section-title {
			@include margin-top(-0.8);
			@include margin-bottom(0);
		}
		.title {
			@include md-serif;
		}
		.subtitle {
			display: none;
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(3);
		}
		.description p {
			@include lg-sans;
		}

		.program-feature {
			figure {
				margin: 0;
			}
		}
		figure {
			@include margin-top(2);
			@include margin-bottom(2);
		}
		figcaption {
			color: #fff;
			@include sm-sans;
			@include margin-top(2);
		}
		.details-inner {
			@include padding-top(1);
		}
	}
	.program-resources .title, #related-content-mag li {
			@include md-sans;
			font-weight: 600;
			line-height: 1 !important;
			@include padding-top(1);
			@include padding-bottom(1);
			@include padding-left(1.5);
		}
	.program-resources {
		.blog-sidebar-feature {
			min-height: initial;
			min-height: auto;
		}
	}	
	.content-subsection {
		@include margin-top(2);
		.title {
			@include sm-serif;
			font-weight: 600;
		}
	}
	.ms-header {		
		@include margin-bottom(3.2);
		.title-height {
			@include height(13.7);
			height: auto; // mobile
		}
		.page-title {
			color: #fff;
			@include respond-to(break2max) {
				padding-top: 0.5vw;
			}
			@include padding-top(2.3);
		}
		.thin-hr {
			margin: 0;
			background-image:url(/themes/festival/assets/images/hr/hr--thin4.png);
		}
		.svg-thin-hr {
			margin: 0;
		}
		.subtitle-height {
			@include height(5.5);
			height: auto;
		}
		.page-subtitle {
			@include sm-magazine-title;
			text-transform: uppercase;
			@include margin-top(0.7);
		}
		.program-year-wrapper {
			// position: relative; // anchor year
			// position this instead of text box so text can grow as vw and not change location
			position: absolute;
			z-index: 20;
			top: 11.6rem;
			right: 2rem;
			@include respond-to(break2) {
				top: 19rem;
				right: 8rem;
			}
			@include respond-to(fullwidth) {
				top: 19rem;
				right: 8rem;
			}
		}
		.program-year {
			@include lg-woodtype-extended;
			color: $black20;
			position: absolute;
			bottom: 0; // anchor to bottom so can grow up instead of down
			right: 0;
		}
        .page-tag {
            @include sans-tag;
            font-weight: 700;
                a{
                    color:$black60;
                }
        }
		&-inner {
			position: relative; // contain caption
			figcaption {
				@include padding-top(2);
				@include padding-right(2);
				@include padding-bottom(1);
				@include padding-left(2);
			}
		}
		.slick-arrow:before {
			color: $black30;
		}
		.slick-arrow:hover:before {
			color: white;
		}
		.slick-prev {
			@include respond-to(break2full) {
				left: -2.8vw;
				left: 0;
			}
			@include respond-to(fullwidth) {
				margin-left: 0;
			}
		}
		.slick-next {
			@include respond-to(break2full) {
				right: -2.8vw;
				right: 0;
			}
			@include respond-to(fullwidth) {
				right: 0;
				margin-right: 0;
			}
		}
	}
	.ms-introduction {
		@include margin-bottom(1);
		.section-title {
			@include margin-bottom(2.6);
		}
		&-blurb {
			@include lg-sans;
			@include margin-bottom(2);
		}
		&-credits p {
			@include caption-sans;
			text-transform: capitalize;
			color: $black50;
			@include margin-top(3.5);
		}
		img {
			@include margin-top(1.2);
			@include margin-bottom(3.3);
		}
	}
	.ms-sidebar-section-title {
		@include md-sans;
		color: $black70;
		border-color: $fs-green;
		font-weight: 600;
		min-height: 3rem;
		&.active {
			.ms-sidebar-sub-nav {
				display: block;
			}
		}
		&.small {
			@include caption-sans;
			color: $black50;
			text-transform: uppercase;
			@include respond-to(break2max) {
				padding-top: 0.5rem;
			}
			@include padding-top(0.7);
		}
		&:last-of-type {
			border-color: $fs-green;
		}
		a {
			display: block;
			@include padding-top(0.4);
			@include padding-bottom(0.6);
			@include padding-left(1.5);
		}
	}
	.ms-sidebar-section-title:active, .program-page  .ms-sidebar-nav li:first-of-type {
		background-color: $black10;
	}

	.ms-sidebar-logo {
		@include margin-bottom(4);
		@include respond-to(break2max) {
			margin-top: 2rem;
		}
	}
	.ms-sidebar-nav {
		@include margin-bottom(4);
	}
	.ms-sidebar-sub-nav {
		display: none; // initial hide
		@include padding-left(2);
		font-weight: 500;
		background-color: white; // override active gray
	}
	.language-buttons {
		@include margin-bottom(4);
		div:nth-of-type(1) {
			padding-right: 2px;
		}
		div:nth-of-type(2) {
			padding-left: 2px;
		}
		.button:hover .button-inner {
			background-color: $black50 !important; // override ~ sibling selector
		}
	}
	.sidebar-card {
		.details-inner {
			@include padding-top(1.4);
		}
	}
	.ms-section {
		margin-bottom:0;
		.card {
			@include margin-bottom(2.5);
		}
		&-copy {
			@include margin-top(-0.5);	
		}
		.section-title {
			@include margin-top(1.5);
			@include margin-bottom(1.5);
		}
		.subtitle {
			@include md-serif;
			color: #000;
			@include margin-bottom(0.5);
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(3.5);
			@include margin-bottom(2.5);
		}
		.blurb {
			@include md-sans;
		}
		.anchor-link {
			@include top(-5);
		}
		.image {
			cursor: initial;
			@include respond-to(break2max) {
				margin-bottom: 1rem;
			}
		}
		.details-inner {
			padding-top:0 !important;
		}
		.description {
			h3 {
				@include margin-top(4);
				&:first-of-type {
					margin-top:0;
				}
			}
			p {
				@include margin-bottom(1);
			}
		}
		.more-link {
			@include margin-top(1);
		}
	}
	.participants-section {
		h3 {
			@include sm-serif;
			@include margin-top(0.5);
		}
		.blurb {
			@include sm-sans;
			line-height: 1.33 !important;
		}
	}