/* Festival Program page
-------------------------------------------------- */
	.basque-americans-page {
		.section-title {
			color: $fs-red;
		}
	}
	.program-page {
		.section-title {
			@include margin-bottom(2);
		}
	}
	.program-category-page {
		.section-title {
			@include margin-top(2);
			@include margin-bottom(4);
		}
		.content .card {
			margin-bottom: 0;
		}
		.title {
			@include md-serif;
		}
		.subtitle {
			display: none;
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(3);
		}
		.description p {
			@include lg-sans;
		}

		.program-feature {
			figure {
				margin: 0;
			}
		}
		figure {
			@include margin-top(2);
			@include margin-bottom(2);
		}
		figcaption {
			color: $black65;
			@include sm-sans;
			@include margin-top(2);
		}
		.program-resources {
			// @include margin-top(12.7);
			.title {
				@include md-sans;
				font-weight: 600;
				line-height: 1 !important;
				@include padding-top(1);
				@include padding-bottom(1);
				@include padding-left(1.5);
			}
			.blog-sidebar-feature {
				min-height: initial;
				min-height: auto;
			}
		}
	}
	.program-page, .program-category-page {

		.page-title {
			@include padding-top(2);
			padding-top: 0.5vw;
		}
	}

	.ms-header {
		@include margin-bottom(4);
		.title-bar {
			// height:195px;
			// @include respond-to(break2) {height:17vw;}
			// @include respond-to(fullwidth) {height:19.5rem;}
		}
		.title-height {
			// height:6rem;
			height: auto;
			@include respond-to(break2) {height:8.7vw;}
			@include respond-to(fullwidth) {height:13.7rem;}
		}
		.page-title {
			color: white;
		}
		.thin-hr {
			margin: 0;
			background-image:url(/assets/images/hr/hr--thin4.png);
			// width: 50%;
		}
		.subtitle-height {
			// height:5rem;
			// @include respond-to(break2) {height:3.2vw;}
			// @include respond-to(fullwidth) {height:5rem;}
			@include height(5);
			height: auto;
		}
		.page-subtitle {
			@include lg-sans;
			font-weight: 600;
			color: $basque-green;
			text-transform: uppercase;
			// margin-top: -1px; // eyeball center
			@include margin-top(0.5);
			@include padding-bottom(2);
			margin-top:1vw;
			@include respond-to(break2) {margin-top:0.2vw;}
			@include respond-to(fullwidth) {margin-top:0.5rem;}
		}
		.basque {
			background-color: $basque-red;
		}
		&-image {
			// @include margin-top(4);
		}
		&-inner {
			position: relative; // contain caption
			figcaption {
				@include padding-top(2);
				@include padding-right(2);
				@include padding-bottom(1);
				@include padding-left(2);
				// background-color: rgba($black70, 0.9);
			}
		}
	}
	.ms-introduction {
		@include margin-bottom(3);
		.section-title {
			color: $basque-red;
			@include margin-bottom(3.1);
		}
		&-blurb {
			@include lg-sans;
			@include margin-bottom(2);
		}
		&-credits {
			@include sm-sans;
			color: $black65; // formerly $black50
			// @include margin-top(5);
		}
		img {
			@include margin-top(2.7);
			@include margin-bottom(3.3);
		}
		p {
			// @include margin-bottom(1.4);
		}
	}
	.ms-sidebar {
		&-logo {
			@include respond-to(break2max) {
				margin-top: 2rem;
			}
			@include margin-bottom(4.2);
		}
		&-nav {
			@include margin-bottom(4);
		}
		.ms-sidebar-section-title {
			@include sidebarBorderTop;
			@include md-sans;
			color: $black65; // formerly $black70
			border-color: $fs-green;
			font-weight: 600;
			&.small {
				@include sm-sans;
				color: $black65; // formerly $black50
				text-transform: uppercase;
			}
			&:last-of-type {
				@include sidebarBorderBottom;
				border-color: $fs-green;
			}
			a {
				display: block;
				@include padding-top(0.8);
				@include padding-bottom(0.8);
				@include padding-left(1.5);
			}
		}
	}
	.sidebar-card {
		
		.details-inner {
			@include padding-top(1);
		}

	}
	.ms-section {
		@include margin-bottom(4);
		&-copy {
			@include margin-top(-0.5);	
		}
		.section-title {
			color: $basque-red;
		}
		.subtitle {
			@include md-serif;
			color: black;
			@include margin-bottom(0.5);
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(4);
		}
		.blurb {
			@include lg-sans;
		}
		.anchor-link {
			@include top(-5);
		}
		.image {
			cursor: initial;
		}

	}
	.participants-section {
		h3 {
			@include sm-serif;
			@include margin-top(0.5);
		}
		.blurb {
			@include sm-sans;
		}
	}