/* Festival Program page
-------------------------------------------------- */
	.basque-americans-page {
		.section-title {
			color: $fs-red;
		}
	}
	.program-page {
		.section-title {
			@include margin-bottom(2);
		}
	}
	.basque-page {
		.ms-section {
			.thin-hr-svg {
				@include margin-bottom(0.5);
				path {
					fill: $basque-green;
				}
			}
		}
	}
	.program-category-page {
		.section-title {
			@include margin-top(-0.8);
			@include margin-bottom(0);
		}
		.content .card {
			margin-bottom: 0;
		}
		.title {
			@include md-serif;
		}
		.subtitle {
			display: none;
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(3);
		}
		.description p {
			@include lg-sans;
		}

		.program-feature {
			figure {
				margin: 0;
			}
		}
		figure {
			@include margin-top(2);
			@include margin-bottom(2);
		}
		figcaption {
			color: #fff;
			@include sm-sans;
			@include margin-top(2);
		}
		.details-inner {
			@include padding-top(1);
		}
		.program-resources {
			.title {
				@include md-sans;
				font-weight: 600;
				line-height: 1 !important;
				@include padding-top(1);
				@include padding-bottom(1);
				@include padding-left(1.5);
			}
			.blog-sidebar-feature {
				min-height: initial;
				min-height: auto;
			}
		}
	}
	.program-page, .program-category-page {

		.page-title {
			@include padding-top(2.3);
			padding-top: 0.5vw;
		}
	}

	.ms-header {
		@include margin-bottom(3.2);
		.title-height {
			@include height(13.7);
			height: auto; // mobile
		}
		.page-title {
			color: #fff;
		}
		.thin-hr {
			margin: 0;
			background-image:url(/assets/images/hr/hr--thin4.png);
		}
		.thin-hr-svg {
			margin: 0;
		}
		.subtitle-height {
			@include height(5.5);
			height: auto;
		}
		.page-subtitle {
			@include sm-magazine-title;
			color: $basque-green;
			text-transform: uppercase;
			// @include padding-bottom();
			@include margin-top(0.7);
		}
		.basque {
			background-color: $basque-red;
		}
		&-inner {
			position: relative; // contain caption
			figcaption {
				@include padding-top(2);
				@include padding-right(2);
				@include padding-bottom(1);
				@include padding-left(2);
			}
		}
	}
	.ms-introduction {
		@include margin-bottom(1);
		.section-title {
			color: $basque-red;
			@include margin-bottom(2.6);
		}
		&-blurb {
			@include lg-sans;
			@include margin-bottom(2);
		}
		&-credits p {
			@include caption-sans;
			text-transform: capitalize;
			color: $black50;
			@include margin-top(3.5);
		}
		img {
			@include margin-top(1.2);
			@include margin-bottom(3.3);
		}
	}
	.ms-sidebar {
		&-logo {
			@include margin-bottom(4.2);
			@include respond-to(break2max) {
				margin-top: 2rem;
			}
		}
		&-nav {
			@include margin-bottom(4);
		}
		.ms-sidebar-section-title {
			@include border(top, 1px, $basque-green)
			@include md-sans;
			color: $black70;
			border-color: $fs-green;
			font-weight: 600;
			&.small {
				@include caption-sans;
				color: $black50;
				text-transform: uppercase;
				@include padding-top(0.7);
			}
			&:last-of-type {
				@include border(bottom, 1px, $basque-green)
				border-color: $fs-green;
			}
			a {
				display: block;
				@include padding-top(0.4);
				@include padding-bottom(0.6);
				@include padding-left(1.5);
			}
			@include height(4.1);
		}
		.top-border-card:before {
			border-color: $basque-green;
		}
	}
	.sidebar-card {
		.details-inner {
			@include padding-top(1.4);
		}
	}
	.ms-section {
		margin-bottom:0;
		.card {
			@include margin-bottom(2.5);
		}
		&-copy {
			@include margin-top(-0.5);	
		}
		.section-title {
			color: $basque-red;
			@include margin-top(1.5);
			@include margin-bottom(1.5);
		}
		.subtitle {
			@include md-serif;
			color: #000;
			@include margin-bottom(0.5);
		}
		.byline {
			@include md-sans;
			font-weight: 600;
			@include margin-bottom(3.5);
		}
		.blurb {
			@include lg-sans;
		}
		.anchor-link {
			@include top(-5);
		}
		.image {
			cursor: initial;
			@include respond-to(break2max) {
				margin-bottom: 1rem;
			}
		}
		.details-inner {
			padding-top:0 !important;
		}
		.description {
			h3 {
				@include margin-top(4);
				&:first-of-type {
					margin-top:0;
				}
			}
			p {
				@include margin-bottom(1);
			}
		}
		.more-link {
			@include margin-top(1);
		}
	}
	.participants-section {
		h3 {
			@include sm-serif;
			@include margin-top(0.5);
		}
		.blurb {
			@include sm-sans;
			line-height: 1.33 !important;
		}
	}