/* Festival Program page
-------------------------------------------------- */
	.basque-americans-page {
		.section-title {
			color: $fs-red;
		}
	}
	.program-page {
		.section-title {
			@include margin-bottom(2);
		}
	}
	.program-category-page {
		.section-title {
			@include margin-top(2);
			@include margin-bottom(4);
		}
		.title {
			@include serif-lg;
		}
		.subtitle {
			display: none;
		}
		.byline {
			@include sans-md;
			font-weight: 600;
			@include margin-bottom(3);
		}
		.description p {
			@include sans-lg;
		}

		.program-feature {
			figure {
				margin: 0;
			}
		}
		figure {
			@include margin-top(2);
			@include margin-bottom(2);
		}
		figcaption {
			color: $black60;
			@include sans-caption;
			@include margin-top(2);
		}
		.program-resources {
			// @include margin-top(12.7);
			.title {
				@include sans-md;
				font-weight: 600;
				line-height: 1 !important;
				@include padding-bottom(1);
			}
			.blog-sidebar-feature {
				min-height: initial;
				min-height: auto;
			}
		}
	}
	.program-page, .program-category-page {

		.page-title {
			@include padding-top(2);
			padding-top: 0.5vw;
		}

		figure {
			position: relative; // contain figcaption
		}
		figcaption {
			position: absolute;
			@include padding-top(1.5);
			@include padding-right(1);
			@include padding-bottom(1.5);
			@include padding-left(2);
			bottom: 0;
			left: 0;
			color: white;
			// background-color: $black50;
			background-color: rgba($black70, 0.9);
			@include sans-caption;
			width: 100%;

			cursor: pointer;

			visibility: hidden; // initial hide
			// @include width(2); // only show enough for plus sign
			// @include height(2); // only show enough for plus sign
			// display: none; // initial hide
			// plus sign
			@include respond-to(break2max) {
				min-height: 4rem;
			}
			&:after {
				display: block;
				content: "+";
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: $black50;
				color: white;
				// @include padding-top(0);
				@include padding-right(0.5);
				@include padding-bottom(0.8);
				@include padding-left(0.5);
				@include margin-top(-5);
				@include sans-plus-icon;
				line-height: 0.8 !important;
				visibility: visible; // initial show, from http://stackoverflow.com/a/4912823/4504073
				@include respond-to(break2max) {
					width: 4rem;
					height: 4rem;
					font-size: 3rem;
					text-align: center;
					padding-top: 0.5rem;
				}
			}
			// minus sign. Need to use other pseudo element b/c chrome not updating content from :after
			&.minus-sign:after {
				display: none;
			}
			&.minus-sign:before {
				content: "–";
				position: absolute;
				bottom: 0;
				right: 0;
				@include right(0.5);
				// background-color: $black50;
				color: white;
				// @include padding-top(0);
				@include padding-right(0.2);
				@include padding-bottom(0.8);
				@include padding-left(0.5);
				@include margin-top(-5);
				@include sans-plus-icon;
				line-height: 0.8 !important;
				visibility: visible; // initial show, counteracts parent visiblity hidden. From http://stackoverflow.com/a/4912823/4504073
				@include respond-to(break2max) {
					width: 4rem;
					height: 4rem;
					font-size: 3rem;
					text-align: center;
					padding-top: 0.5rem;
				}
			}
		}
	}

	.ms-header {
		@include margin-bottom(4);
		.title-bar {
			// height:195px;
			// @include respond-to(break2) {height:17vw;}
			// @include respond-to(fullwidth) {height:19.5rem;}
		}
		.title-height {
			// height:6rem;
			height: auto;
			@include respond-to(break2) {height:8.7vw;}
			@include respond-to(fullwidth) {height:13.7rem;}
		}
		.page-title {
			color: white;
		}
		.thin-hr {
			margin: 0;
			background-image:url(/assets/images/hr--thin4.png);
			// width: 50%;
		}
		.subtitle-height {
			// height:5rem;
			// @include respond-to(break2) {height:3.2vw;}
			// @include respond-to(fullwidth) {height:5rem;}
			@include height(5);
			height: auto;
		}
		.page-subtitle {
			@include sans-lg;
			font-weight: 600;
			color: $basque-green;
			text-transform: uppercase;
			// margin-top: -1px; // eyeball center
			@include margin-top(0.5);
			@include padding-bottom(2);
			margin-top:1vw;
			@include respond-to(break2) {margin-top:0.2vw;}
			@include respond-to(fullwidth) {margin-top:0.5rem;}
		}
		.basque {
			background-color: $basque-red;
		}
		&-image {
			@include margin-top(4);
		}
		&-inner {
			position: relative; // contain caption
			figcaption {
				@include padding-top(2);
				@include padding-right(2);
				@include padding-bottom(1);
				@include padding-left(2);
				// background-color: rgba($black70, 0.9);
			}
		}
	}
	.ms-introduction {
		@include margin-bottom(3);
		.section-title {
			color: $basque-red;
			@include margin-bottom(3.1);
		}
		&-blurb {
			@include sans-lg;
			@include margin-bottom(2);
		}
		&-credits {
			@include sans-caption;
			color: $black50;
			@include margin-top(5);
		}
		img {
			@include margin-top(2.7);
			@include margin-bottom(3.3);
		}
		p {
			// @include margin-bottom(1.4);
		}
	}
	.ms-sidebar {
		&-logo {
			@include respond-to(break2max) {
				margin-top: 2rem;
			}
			@include margin-bottom(4.2);
		}
		&-nav {
			@include margin-bottom(4);
		}
		.ms-sidebar-section-title {
			@include sidebarBorderTop;
			@include sans-md;
			color: $black70;
			border-color: $fs-green;
			font-weight: 600;
			&.small {
				@include sans-caption;
				color: $black50;
				text-transform: uppercase;
			}
			&:last-of-type {
				@include sidebarBorderBottom;
				border-color: $fs-green;
			}
			a {
				display: block;
				@include padding-top(0.8);
				@include padding-bottom(0.8);
				@include padding-left(1.5);
			}
		}
	}
	.related-content {
		
		// li {
		// 	@include margin-bottom(4);
		// }

	}
	.ms-section {
		@include margin-bottom(4);
		&-copy {
			@include margin-top(-0.5);	
		}
		.section-title {
			color: $basque-red;
		}
		.subtitle {
			@include serif-lg;
			color: black;
			@include margin-bottom(0.5);
		}
		.byline {
			@include sans-md;
			font-weight: 600;
			@include margin-bottom(4);
		}
		.blurb {
			@include sans-lg;
		}
		.anchor-link {
			@include top(-5);
		}
		.image {
			cursor: initial;
		}

	}
	.participants-section {
		h3 {
			@include serif-md;
			@include margin-top(0.5);
		}
		.blurb {
			@include sans-caption;
		}
	}