// fonts used:
// Acumin light, regular, semibold, bold
// using modular scale of major second, starting at 24px for serif body copy and
// serif line-height of 1.3333 from body text of 24/32

body {
	font-family: $sans;
	line-height: 1.333333; // 24/32
}

/* Slab Knockout
-------------------------------------------------- */
	%header-nav-font {
		font-family: $slabNarrow;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 5vw;
		@include respond-to(break2) {
			font-size: 1.15vw;
			line-height: 1.2;
		}
		@include respond-to(fullwidth) {
			line-height: 1.2353; // 21px
			font-size: 1.7rem;
		}
	}

	@mixin section-title {
		font-family: $slabWide;
		text-transform: uppercase;
		font-size: 5vw;
		letter-spacing: 0.5px;
		margin-top: 0; // bootstrap reset
		margin-bottom: 1.5rem;
		color: $black65;
		line-height: 1.2;
		@include respond-to(break2) {
			// line-height: 0.7; // so margins accurate
			// line-height: 1.1;
			font-size: 1.9vw;
			margin-bottom: 2.6vw;
		}
		@include respond-to(fullwidth) {
			font-size: 3rem;
			margin-bottom: 3.3rem; // 40px
		}
	}

	// HTML Implementation
	.section-title {@include section-title;}

	@mixin slab-md {
		font-family: $slabWide;
		text-transform: uppercase;
		font-size: 6vw;
		letter-spacing: 0.5px;
		margin-top: 0; // bootstrap reset
		margin-bottom: 5vw;
		@include respond-to(break2) {
			// font-size: 4rem; // ff-good
			// font-size: 2.5rem;
			font-size: 1.9vw;
			// margin-bottom: 2.8vw;
			margin-bottom: 0;
		}
		@include respond-to(fullwidth) {
			// font-size: 3.25rem;
			font-size: 3rem;
			// margin-bottom: 4.2rem;
		}
	}
	@mixin slab-lg {
		font-family: $slabWide;
		text-transform: uppercase;
		// font-size: 6vw;
		// letter-spacing: 0.5px;
		// margin-top: 0; // bootstrap reset
		// margin-bottom: 5vw;
		@include respond-to(break2) {
			font-size: 2.4vw;
			line-height: 1;
			// margin-bottom: 0;
		}
		@include respond-to(fullwidth) {
			font-size: 3.8rem;
			line-height: 1;
		}
	}
	@mixin slab-xl {
		font-family: $slabWide;
		text-transform: uppercase;
		// font-size: 6vw;
		// letter-spacing: 0.5px;
		// margin-top: 0; // bootstrap reset
		// margin-bottom: 5vw;
		font-size: 8vw;
		@include respond-to(break2) {
			font-size: 2.9vw;
			line-height: 1;
			// margin-bottom: 0;
		}
		@include respond-to(fullwidth) {
			font-size: 4.5rem;
			line-height: 1;
		}
	}
	@mixin slab-xxl {
		font-family: $slabWide;
		text-transform: uppercase;
		// font-size: 6vw;
		// letter-spacing: 0.5px;
		// margin-top: 0; // bootstrap reset
		// margin-bottom: 5vw;
		@include respond-to(break2) {
			font-size: 3.1vw;
			line-height: 1.3;
			// margin-bottom: 0;
		}
		@include respond-to(fullwidth) {
			font-size: 5rem;
			line-height: 1.3;
		}
	}

/* Sans Acumin
-------------------------------------------------- */

	@mixin link-font {
		font-family: $sans;
		font-size: 1.7rem;
		line-height: 2;
		// font-weight: 300;
		font-weight: 400;
		@include respond-to(break2) {
			font-size: 1.1vw;
			line-height: 1.45;
		}
		@include respond-to(fullwidth) {
			// font-size: 2rem;
			font-size: 1.6rem;
			// line-height: 1.25;
			line-height: 1.8; // 16 px
		}
	}

	@mixin link-font-sm {
		font-family: $sans;
		font-size: 1.6rem;
		line-height: 1.7;
		// font-weight: 300;
		@include respond-to(break2) {
			font-size: 1.1vw;
			line-height: 1.8;
		}
		@include respond-to(fullwidth) {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	// %title--sans {
	// 	font-family: $sans;
	// 	font-weight: 600; // semibold for acumin
	// 	line-height: 1.2;
	//   	font-size: 5vw;
	// 	@include respond-to(break2) {
	//   		font-size: 1.5vw;
	//   		margin-bottom: 0.3vw;
	// 	}
	// 	@include respond-to(fullwidth) {
	//   		font-size: 2.4rem;
	//   		margin-bottom: 0.5rem;
	// 	}
	// }

	// Plus icon
	@mixin sans-plus-icon {
		font-family: $sans;
		font-size: 5vw;
		@include respond-to(break2) {
			font-size: 2.5vw;
			line-height: 1.2;
		}
		@include respond-to(fullwidth) {
			font-size: 4rem;
		}
	}
	.sans-xl {@include sans-plus-icon}


	// Extra Large Sans (Folkways)
	@mixin sans-xl {
		font-family: $sans;
		font-weight: 300;
		font-size: 5vw;
		@include respond-to(break2) {
			font-size: 1.9vw;
			line-height: 1.2;
		}
		@include respond-to(fullwidth) {
			font-size: 3.5rem;
		}
	}

	// HTML Implementation
	.sans-xl {@include sans-xl;}


	// Large Sans +
	@mixin sans-lg {
		font-family: $sans;
		font-weight: 300; // light for acumin
		line-height: 1.166667; // tighter for festival/learn page // 35px
	  	font-size: 2.37rem;
		@include respond-to(break2) {
	  		font-size: 2.667rem;
		}
		@include respond-to(fullwidth) {
			line-height: 1.166667; // tighter for festival/learn page // 35px
	  		font-size: 3rem;
		}
	}
	// HTML Implementation
	.sans-lg {@include sans-lg;}


	// Medium Sans +
	@mixin sans-md {
		font-family: $sans;
		font-weight: 300; // light for acumin
		line-height: 1.2;
	  	// font-size: 4vw;
	  	font-size: 1.873rem;
		@include respond-to(break2) {
	  		// font-size: 1.6vw;
			// line-height: 1.3;
	  		font-size: 2.107rem;
		}
		@include respond-to(fullwidth) {
	  		// font-size: 2.5rem;
	  		// font-size: 2.4rem; // 12.18
	  		font-size: 2.37rem; // 12.19
		}
	}
	// HTML Implementation
	.sans-md {@include sans-md;}


	// Small Sans +
	@mixin sans-sm {
		font-family: $sans;
		font-weight: 300; // light for acumin
		line-height: 1.2;
	  	font-size: 1.665rem;
		@include respond-to(break2) {
			font-size: 1.873rem;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.107rem;
		}
	}
	// HTML Implementation
	.sans-sm {@include sans-sm;}

	// Sans Caption
	@mixin sans-caption {
		font-family: $sans;
		font-weight: 300; // light for acumin
	  	// font-size: 4vw;
	  	font-size: 1.48rem;
		@include respond-to(break2) {
	  		// font-size: 1.15vw;
	  		// font-size: 1.15vw;
	  		font-size: 1.665rem;
		}
		@include respond-to(fullwidth) {
	  		// font-size: 1.8rem; // oct 19 for fritz
	  		font-size: 1.873rem; // dec 19 for mod scale - major second
		}
	}
	.sans-caption {@include sans-caption;}

	// Tag
	@mixin sans-mini {
		font-family: $sans;
		font-weight: 300; // light for acumin
		line-height: 1.4;
	  	// font-size: 3.8vw;
	  	text-transform: uppercase;
		@include respond-to(break2) {
	  		// font-size: 1vw;
			line-height: 1.3;
	  		font-size: 1.316rem;
		}
		@include respond-to(fullwidth) {
			// line-height: 1.3;
			// line-height: 1.6;
	  		font-size: 1.6rem; // oct 19 for fritz
	  		// font-size: 1.48rem;
	  		// font-size: 1.665rem;
		}
	}
	
	// HTML Implementation
	.sans-mini {@include sans-mini;}

	@mixin sans-tag {
		text-transform: uppercase;
		font-family: $sansWide;
		color: $black65;
		font-weight: 300;
		letter-spacing: 1px;
		margin-bottom: 0;
		font-size: 1.2rem;
		position: relative; // keep from being hidden under highlighted title
		line-height: 1.4;
		@include respond-to(break2) {
			font-size: 1.4rem;
			margin-bottom: 0.4vw;
		}
		@include respond-to(fullwidth) {
			// font-size: 1.4rem; // acumin pro
			font-size: 1.665rem; // acumin pro
			margin-bottom: 0;
			line-height: 1.4;
		}
	}
	
	// HTML Implementation
	.tag {@include sans-tag}


	// search bar
	%small-sans-title {
	  font-family: $sans;
	  font-weight: 500;
	  line-height: 1.7;
	  font-size: 2.5rem;
	  // @include respond-to(break1) {
	  //   font-size: 4vw;
	  // }
	  // @include respond-to(break2) {
	  //   // font-size: 1.8vw;
	  //   font-size: 2vw;
	  //   line-height: 1.25;
	  // }
	  // @include respond-to(fullwidth) {
	  //   // font-size: 1.3rem;
	  //   font-size: 1.4rem;
	  // }
	}

/* Serif
-------------------------------------------------- */

	// Body
	@mixin body-text {
		font-family: $serif;
		font-size:5vw;
		color: black;
		@include respond-to(break2) {font-size:1.5vw;}
		@include respond-to(fullwidth) {font-size:2.4rem;}
	}
	@mixin h3 {
		font-weight: 600;
		font-size:6vw;
		margin-bottom: 1rem;
		@include respond-to(break2) {
			font-size:1.8vw;
			margin-bottom: 0.9vw; 
		}
		@include respond-to(fullwidth) {
			font-size:2.8rem;
			margin-bottom: 1.5rem; // 30px
		}
	}

	// Extra Large Serif Title +
	@mixin serif-xl {
		font-family: $serif;
		font-weight: 700;
		line-height: 1.1;
		font-size: 4.865rem;
		@include respond-to(break2) {
			font-size: 5.474rem;			
		}
		@include respond-to(fullwidth) {
			font-size: 6.158rem;
		}
	}
	.serif-xl {@include serif-xl;}

	// Large Serif Title +
	@mixin serif-lg {
		font-family: $serif;
		font-weight: 700;
		line-height: 1; // smaller for folkways banner titles
		// font-size: 6vw;
		font-size: 3.417rem;
		@include respond-to(break2) {
			// font-size: 2.6vw;
			font-size: 3.844rem;
		}
		@include respond-to(fullwidth) {
			// font-size: 4.2rem;
			font-size: 4.325rem;
		}
	}
	.serif-lg {@include serif-lg;}

	// Medium Serif Title +
	@mixin serif-md {
		font-family: $serif;
		font-weight: 700;
		line-height: 1;
	  	// font-size: 6vw;
	  	// font-size: 5vw;
	  	font-size: 2.133rem;
		@include respond-to(break2) {
			line-height: 1.143; // 28/32
	  		// font-size: 1.8vw;
	  		font-size: 2.4rem;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.7rem;
		}
		@include margin-bottom(1);
	}
	.serif-md {
		@include serif-md;
	}

	// Small Serif Title +
	@mixin serif-sm {
		font-family: $serif;
		font-weight: 400;
		line-height: 1.333333; // 24/32
	  	font-size: 1.896rem; // 18px on medium.com mobile, 1.896 on modular scale
		@include respond-to(break2) {
	  		font-size: 2.133rem; // close to 24px at top
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.4rem;
		}
	}
	.serif-sm {@include serif-sm;}




@mixin buybutton {
	text-transform: uppercase;
	font-family: $sansWide;
	font-weight: 800;
	// letter-spacing: 1px;
	margin-bottom: 0.5rem;
	margin-bottom: 0;
	font-size: 2.7vw;
	@include respond-to(break2) {
		// font-size: 0.95vw;
		font-size: 1.1vw;
		margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
		font-size: 1.8rem; // acumin pro
		margin-bottom: 0.5rem;
		line-height: 1.4;
	}
}

@mixin magazinetitle {
	font-family: $sansWide;
	font-weight: 800;
	line-height: 1.095237; // 46px desktop
	// font-size: 4.5vw;
	font-size: 3.319rem;
	@include respond-to(break2) {
		// font-size: 0.95vw;
		// font-size: 2.7vw;
		// font-size: 2.3vw;
		font-size: 3.733rem;
		// margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
		font-size: 4.2rem; // acumin pro
		// font-size: 3.6rem; // acumin pro
		// margin-bottom: 0.5rem;
		// line-height: 1;
	}
}

@mixin email-newsletter {
	font-family: $sans;
	font-size: 5vw;
	@include respond-to(break2) {
		// padding-top: 0.9vw;
		font-size: 2.2vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3.5rem;
		padding-top: 1.5rem;
	}
}

@mixin smithsonian-institution-logo {
	font-family: $serif;
	font-size: 5vw;
	@include respond-to(break2) {
		font-size: 2.2vw;
	}
	@include respond-to(fullwidth) {
		font-size: 3.5rem;
	}
}

// FONTS
@mixin sans-semibold {
	font-family: $sans;
	font-weight: 600;
}
// SCALES
@mixin fs-18 {
	font-size: 4.1vw;
	@include respond-to(break2) {font-size: 1.1vw;}
	@include respond-to(fullwidth) {font-size: 1.8rem;}
}


@mixin date {
	@include sans-tag;
	font-weight: 700;
}
@mixin date-sm {
	@include sans-tag;
	// font-weight: 300;
	letter-spacing: normal;
	text-transform: initial;
	@include margin-top(0.5);
	// margin-top:rem;
	// @include respond-to(break2) {margin-top:0.2vw;}
	// @include respond-to(fullwidth) {
		// margin-top:0.5rem;
		// margin-bottom:5rem;
	// }
}

// @mixin sidebar-subtitle {
// 	// @include sans-tag;
// 	// font-family: $sans;
// 	// @include sans-caption;
// 	// color: $black70;
// }
// @mixin sidebar-copy {
// 	font-family: $sans;
// 	@include fs-18;
// 	letter-spacing: 0;
// 	// font-weight: 600;
// 	// font-weight: 500;
// 	text-transform: none;
// 	color: $black70;
// 	line-height: 1.33333;
// 	p {
// 		margin-bottom:0;
// 	}

// }


/* CSS type helper classes
-------------------------------------------------- */
	.content {
		h3 {
			@include serif-lg;
		}
		h4 {
			@include serif-md;
			@include margin-bottom(2);
		}
		h5 {
			@include sans-sm;
			font-weight: 500;
			@include margin-bottom(0.5);
		}
		p {
			// @include sans-sm;
			@include serif-sm;
			// font-style: italic;
			// @include margin-bottom(2);
			@include padding-bottom(2); // not margin because then when using columns, the margin carries over!!!, from http://stackoverflow.com/a/12503808
			// font-weight: 200;
		}
		ul {
			@include margin-bottom(1);
		}
		.title {
			@include sans-sm;
			@include margin-bottom(0.3);
			width: initial;
			width: auto;
			font-weight: 600;
		}
	}




/* Sans reference
-------------------------------------------------- */

// Variation 	font-family 	font-weight 	font-style 	Copy CSS
// Thin 				 	100 	 	
// Extra Light 				200 	 	
// Light 				 	300 	 	
// Regular 				 	400 	 	
// Medium 				 	500 	 	
// Semibold 				600 	 	
// Bold 				 	700 	 	
// Black 				 	800 	 	
// Ultra Black 				900 	 	


/* Styleguide explanation
-------------------------------------------------- */
	// Fonts are stored as SASS mixins so they can be used anywhere in
	// the .scss file without concern of being overwritten by the cascade. 
	// Read more here: https://sass-guidelin.es/#mixins

	// Implement the mixin by targeting a specific .title class like so:
	.archives-page {
		.title {@include sans-lg}
	}
	// or, if you must, use a class with the same name of the font style and size
	// although it doesn't seem as clean
	.sans-lg {@include sans-lg}
