/* Serif
 * Freight Text Pro from Typekit
-------------------------------------------------- */
	@mixin lg-serif {
		font-family: $serif;
		font-weight: 700;
		line-height: 1;
		font-size: 4.325rem;
		@include respond-to(break2) {
			font-size: 3.5vw;
		}
		@include respond-to(fullwidth) {
			font-size: 6.158rem;
		}
	}

	@mixin md-serif {
		font-family: $serif;
		font-weight: 700;
		line-height: 1;
		font-size: 2.7rem;
		@include respond-to(break2) {
			font-size: 2.5vw;
		}
		@include respond-to(fullwidth) {
			font-size: 4.2rem;
		}
	}

	@mixin album-serif {
		font-family: $serif;
		font-weight: 600;
		line-height: 1.3333;
	  	font-size: 1.896rem;
		@include respond-to(break2) {
	  		font-size: 2.2vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 3rem;
		}
		@include margin-bottom(1);
	}

	@mixin sm-serif {
		font-family: $serif;
		font-weight: 700;
		line-height: 1;
	  	font-size: 2.489rem;
		@include respond-to(break2) {
			line-height: 1.143;
	  		font-size: 1.8vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.8rem;
		}
		@include margin-bottom(1);
	}

/* Sans serif
* Acumin Pro from Typekit
* minor second (1.125) based on 3rem when needed
-------------------------------------------------- */
	@mixin xl-sans {
		font-family: $sans;
		font-weight: 300;
		font-size: 2.37rem;
		@include respond-to(break2) {
			font-size: 1.9vw;
			line-height: 1.2;
		}
		@include respond-to(fullwidth) {
			font-size: 3.375rem;
		}
	}

	@mixin lg-sans {
		font-family: $sans;
		font-weight: 300;
		line-height: 1.166667; // tighter for festival/learn page // 35px
		font-size: 2.107rem;
		@include respond-to(break2) {
	  		font-size: 1.9vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 3rem;
		}
	}

	@mixin md-sans {
		font-family: $sans;
		font-weight: 300;
		line-height: 1.2;
	  	font-size: 1.873rem;
		@include respond-to(break2) {
	  		font-size: 1.6vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.5rem;
	  		line-height: 1.28; // 25/32
		}
	}

	@mixin sm-sans {
		font-family: $sans;
		font-weight: 300;
		line-height: 1.2;
	  	font-size: 1.48rem;
		@include respond-to(break2) {
			font-size: 1.2vw;
		}
		@include respond-to(fullwidth) {
			line-height: 1.12; // 18/20
	  		font-size: 1.8rem;
		}
	}

	@mixin caption-sans {
		font-family: $sans;
		font-weight: 300;
		line-height: 1.4;
	  	text-transform: uppercase;
	  	font-size: 1.316rem;
		@include respond-to(break2) {
	  		font-size: 1vw;
			line-height: 1.3;
		}
		@include respond-to(fullwidth) {
	  		font-size: 1.6rem;
		}
	}

	@mixin date {
		@include sans-tag;
		font-weight: 700;
	}
	@mixin date-sm {
		@include sans-tag;
		letter-spacing: normal;
		text-transform: initial;
		@include margin-top(0.5);
	}
	@mixin byline {
		@include sm-sans;
	}

	// search bar
	@mixin search-title {
	  font-family: $sans;
	  font-weight: 500;
	  line-height: 1.7;
	  font-size: 2.5rem;
	}

	@mixin email-newsletter {
		font-family: $sans;
		font-size: 5vw;
		@include respond-to(break2) {
			font-size: 2.2vw;
		}
		@include respond-to(fullwidth) {
			font-size: 3.5rem;
			padding-top: 1.5rem;
		}
	}

	@mixin link-font {
		font-family: $sans;
		font-size: 1.7rem;
		line-height: 2;
		font-weight: 400;
		@include respond-to(break2) {
			font-size: 1.1vw;
			line-height: 1.45;
		}
		@include respond-to(fullwidth) {
			font-size: 1.6rem;
			line-height: 1.8; // 16 px
		}
	}

	@mixin link-font-sm {
		font-family: $sans;
		font-size: 1.6rem;
		line-height: 1.7;
		@include respond-to(break2) {
			font-size: 1.1vw;
			line-height: 1.8;
		}
		@include respond-to(fullwidth) {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	// Plus icon
	@mixin sans-plus-icon {
		font-family: $sans;
		font-size: 5vw;
		@include respond-to(break2) {
			font-size: 2.5vw;
			line-height: 1.2;
		}
		@include respond-to(fullwidth) {
			font-size: 4rem;
		}
	}

/* Sans serif - wide
* Acumin Pro Wide from Typekit
* We use the 1.125 modular scale based on 4.2rem
-------------------------------------------------- */
	@mixin lg-magazine-title {
		font-family: $sansWide;
		font-weight: 800;
		line-height: 1.095237;
		font-size: 2.622rem;
		@include respond-to(break2) {
			font-size: 3.319rem;
			font-size: 2.95vw;
		}
		@include respond-to(fullwidth) {
			font-size: 4.2rem;
			// font-size: 4.6rem; // new layout
		}
	}

	@mixin md-magazine-title {
		font-family: $sansWide;
		font-weight: 800;
		line-height: 1.095237;
		font-size: 1.842rem;
		@include respond-to(break2) {
			font-size: 2.4vw;
		}
		@include respond-to(fullwidth) {
			font-size: 3.733rem;
		}
	}

	@mixin sm-magazine-title {
		font-family: $sansWide;
		font-weight: 700; // one weight down for pc rendering
		line-height: 1.2;
		font-size: 1.841rem;
		@include margin-bottom(1);
		@include respond-to(break2) {
			font-size: 1.9vw;
		}
		@include respond-to(fullwidth) {
			font-size: 2.95rem;
		}
	}

	@mixin buy-button {
		text-transform: uppercase;
		font-family: $sansWide;
		font-weight: 800;
		font-size: 1.376rem;
		margin-bottom: 0;
		@include respond-to(break2) {
			font-size: 1.376rem;
			margin-bottom: 0.4vw;
		}
		@include respond-to(fullwidth) {
			font-size: 1.72rem;
			line-height: 1.4;
			margin-bottom: 0.5rem;
		}
	}

	@mixin sans-tag {
		text-transform: uppercase;
		font-family: $sansWide;
		color: $black65;
		font-weight: 300;
		position: relative; // keep from being hidden under highlighted title
		font-size: 1.2rem;
		line-height: 1.1;
		letter-spacing: 0.5px;
		margin-bottom: 0.5rem;
		@include respond-to(break2) {
			font-size: 1.05vw;
			line-height: 1.4;
			letter-spacing: 0.5px;
			margin-bottom: 0.4vw;
		}
		@include respond-to(fullwidth) {
			font-size: 1.665rem;
			letter-spacing: 1px;
			margin-bottom: 0;
		}
	}

	@mixin nav-header {
		text-transform: uppercase;
		font-family: $sansWide;
		font-weight: 800;
		line-height: 1.2;
		font-size: 5vw;
		font-size: 1.7rem;
		@include respond-to(break2) {
			line-height: 1.2;
			font-size: 1.09vw;
		}
		@include respond-to(fullwidth) {
			line-height: 1.4353;
			font-size: 1.7rem;
		}
	}

/* Body type
-------------------------------------------------- */
	@mixin intro-serif {
		// font-family: $serif;
		// font-weight: 400;
		// line-height: 1.333333; // 24/32
	 //  	font-size: 1.896rem; // 18px on medium.com mobile, 1.896 on modular scale
		// @include respond-to(break2) {
	 //  		font-size: 1.5vw;
		// }
		// @include respond-to(fullwidth) {
	 //  		font-size: 2.4rem;
		// }
	}
	@mixin body-serif {
		font-family: $serif;
		font-weight: 400;
		line-height: 1.333333; // 24/32
	  	font-size: 1.896rem; // 18px on medium.com mobile, 1.896 on modular scale
		@include respond-to(break2) {
	  		font-size: 1.5vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.4rem;
		}
	}
	@mixin intro-sans {
		// font-family: $sans;
		// font-weight: 300;
		// line-height: 1.35; // fw magazine article
	 //  	font-size: 1.873rem;
		// @include respond-to(break2) {
		// 	font-size: 1.25vw;
		// }
		// @include respond-to(fullwidth) {
	 //  		font-size: 2.107rem; // fits with scale and folklife education page layout
		// }
	}
	@mixin body-sans {
		font-family: $sans;
		font-weight: 300;
		line-height: 1.35; // fw magazine article
	  	font-size: 1.873rem;
		@include respond-to(break2) {
			font-size: 1.25vw;
		}
		@include respond-to(fullwidth) {
	  		font-size: 2.107rem; // fits with scale and folklife education page layout
		}
	}
	
/* Slab
* Unit Gothic 717 and 718 from Typekit
-------------------------------------------------- */
	@mixin lg-slab {
		font-family: $slabWide;
		text-transform: uppercase;
		font-size: 8vw;
		@include respond-to(break2) {
			font-size: 2.9vw;
			line-height: 1;
		}
		@include respond-to(fullwidth) {
			// font-size: 4.8rem; // past festivals year
			font-size: 4rem; // folkways explore title bar
			line-height: 1;
		}
	}
	@mixin md-slab {
		font-family: $slabWide;
		text-transform: uppercase;
		@include respond-to(break2) {
			font-size: 2.4vw;
			line-height: 1;
		}
		@include respond-to(fullwidth) {
			font-size: 3.8rem;
			line-height: 1;
		}
	}
	@mixin sm-slab {
		font-family: $slabWide;
		text-transform: uppercase;
		font-size: 5vw;
		font-size: 6vw;
		letter-spacing: 0.5px;
		margin-top: 0; // bootstrap reset
		margin-bottom: 1.5rem; // section title
		line-height: 1.2; // section title
		@include respond-to(break2) {
			font-size: 1.9vw;
			margin-bottom: 0;
		}
		@include respond-to(fullwidth) {
			font-size: 3rem;
		}
	}

/* CSS type helper classes
-------------------------------------------------- */
	body {
		font-family: $serif;
		line-height: 1.333333; // 24/32
	}
	.content, .text-card {
		position: relative; // hold abs images that live inside ol or ul
		h2 {
			font-weight: 600;
			@include margin-bottom(1); // lesson plans page
		}
		h3 {
			@include md-serif;
			@include margin-bottom(1.3);
		}
		h4 {
			@include sm-serif;
			@include margin-bottom(2);
		}
		h5 {
			@include sm-sans;
			font-weight: 500;
			@include margin-bottom(0.5);
		}
		p {
			@include body-serif;
			@include padding-bottom(1.6); // 30 - not margin because then when using columns, the margin carries over!!!, from http://stackoverflow.com/a/12503808
		}
		// common to ul and ol
		li {
			list-style-position: inside;
			@include margin-bottom(0.8); // archives detail page
		}
		.title {
			@include sm-sans;
			@include margin-bottom(0.3);
			width: initial;
			width: auto;
			font-weight: 600;
		}
		ul {
			@include padding-bottom(2); // not margin because then when using columns, the margin carries over!!!, from http://stackoverflow.com/a/12503808
			@include margin-bottom(1);
			li:not(.card) {
				// bullets
				&:before {
					content: '\61';
					font-family: 'vd-icons';
					font-size:0.7rem;
					display: inline-block;
					position: relative;
					bottom: 2px;
					@include padding-right(1);
					@include respond-to(break2) {
						font-size:1rem;
					}
					@include respond-to(fullwidth) {
						font-size:0.7rem;
						bottom: 5px;

					}
				}
			}
		}
		ol {
			li {
				list-style-type: decimal;
			}
			ol {
				li {
					list-style-type: upper-alpha;
					@include padding-left(4);
				}
			}
		}
	}
	.content-footer {
		position: relative;
		h2 {
			@include md-sans;
			font-weight: 600;
		}
		p, ul {
			@include body-sans;
		}
	}
