
/* Utilities
-------------------------------------------------- */

// Margins
.top-ten, .top-twenty, .top-forty {
    @include margin-top(4);
}
.top-40 { @include margin-top(4); }
.bottom-20 { @include margin-bottom(2); }
.bottom-30 { @include margin-bottom(3); }
.bottom-40 { @include margin-bottom(4); }


// Folkways page
.show-browse-page {
	.browsenav {
		display: block !important;
		@include respond-to(break2full) {
			padding-top: 0.3vw;
			padding-bottom: 1.2vw;
		}
		@include respond-to(fullwidth) {
			padding-top: 0.2rem;
			padding-bottom: 1.7rem;
		}
	}
}

// Folkways pages with internal browse bars--hide top browsenav, show internal ones
.show-internal-browse-page {
    .internal-browsenav {
        .browsenav-title {
            @extend %internal-browsenav-title;
        }
        .browsenav {
            // display: none !important;
            width: 100%;
            margin-top: 0; // reset for catching
            margin-bottom: 0; // reset
            @include padding-top(0);
            @include padding-bottom(2.5);
        }
        // .internal-browsenav, .internal-browsenav-title-wrapper {
        //     display: block !important;
        // }
        // .internal-browsenav {
        //     position: absolute; // so jump to fixed isn't hard
        // }
        .browsenav-title {
            text-align: left;
        }
    }
}

