
[data-icon]:before {
  font-family: "vd-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vd-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\61";
}
.icon-play:before {
  content: "\62";
}
.icon-facebook:before {
  content: "\63";
}
.icon-flickr:before {
  content: "\64";
}
.icon-left-open-big:before {
  content: "\65";
}
.icon-right-open-big:before {
  content: "\66";
}
.icon-tumblr:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\68";
}
.icon-search:before {
  content: "\69";
}
.icon-share:before {
  content: "\6a";
}
.icon-right-thin:before {
  content: "\6b";
}
.icon-mail:before {
  content: "\6c";
}
.icon-instagrem:before {
  content: "\6d";
}
.icon-menu:before {
  content: "\6e";
}
.icon-sort-desc:before {
  content: "\6f";
}
.icon-audio-progress-bar:before {
  content: "\70";
}
