// Colors
section.container
	h2.section-title Colors
	a.anchor-link#colors

	-foreach($section->children()->visible() as $palette):
		.sub-section
			h3.section-subtitle!= $palette->title()
			a.anchor-link(id="<?= str::slug($palette->title())?>")
			ul.row
				-foreach($palette->colors()->toStructure() as $color):
					//- send rgba to custom rgbToHex function in site/plugins/helpers.php to convert to hex. Must convert to int before sending to function
					-$hex = LJH::rgbToHex($color->r()->int(), $color->g()->int(), $color->b()->int())
					.color.col-xs-6.col-sm-3.col-md-2
						.color-square(style="background-color:<?= $hex ?>")
						.color-name!= $color->name()
						.color-rgb!= 'RGB: ' . $color->r() . ', ' . $color->g() . ', ' . $color->b()
						pre: code
							<?= $hex ?><br><?=$color->sass() ?>
				-endforeach
	-endforeach