// Colors
section.container
	h2.section-title Colors
	a.anchor-link#colors

	.sub-section
		h3.section-subtitle Grays
		ul.row
			.color.col-xs-6.col-sm-2
				.color-square.color-e4e2e1
				.color-name 10% Gray
				.color-rgb RGB: 228, 226, 225
				pre: code.
					#e4e2e1
					$black10
			.color.col-xs-6.col-sm-2
				.color-square.color-cccccc
				.color-name 20% Gray
				.color-rgb RGB: 204, 204, 204
				pre: code.
					#cccccc
					$black20
			.color.col-xs-6.col-sm-2
				.color-square.color-999999
				.color-name 40% Gray
				.color-rgb RGB: 153, 153, 153
				pre: code.
					#999999
					$black40
			.color.col-xs-6.col-sm-2
				.color-square.color-595959
				.color-name 65% Gray
				.color-rgb RGB: 89, 89, 89
				pre: code.
					#595959
					$black65
			.color.col-xs-6.col-sm-2
				.color-square.color-333333
				.color-name 80% Gray
				.color-rgb RGB: 51, 51, 51
				pre: code.
					#333333
					$black80
			.color.col-xs-6.col-sm-2
				.color-square.color-000000
				.color-name Black
				.color-rgb RGB: 0, 0, 0
				pre: code.
					#000000
					black

	.sub-section
		h3.section-subtitle Folklife Palette
		ul.row
			.color.col-xs-6.col-sm-2
				.color-square.color-92c5eb
				.color-name Light Blue
				.color-rgb RGB: 146, 197, 235
				pre: code.
					#92c5eb
					$fl-light-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-4495d1
				.color-name Blue
				.color-rgb RGB: 68, 149, 209
				pre: code.
					#4495d1
					$fl-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-b455a0
				.color-name Purple
				.color-rgb RGB: 180, 85, 160
				pre: code.
					#b455a0
					$fl-purple
			.color.col-xs-6.col-sm-2
				.color-square.color-e4f1de
				.color-name Light Green
				.color-rgb RGB: 228, 241, 222
				pre: code.
					#e4f1de
					$fl-light-green
			.color.col-xs-6.col-sm-2
				.color-square.color-32bcad
				.color-name Green
				.color-rgb RGB: 50, 188, 173
				pre: code.
					#32bcad
					$fl-green
			.color.col-xs-6.col-sm-2
				.color-square.color-248397
				.color-name Teal
				.color-rgb RGB: 36, 131, 151
				pre: code.
					#248397
					$fl-teal
			.color.col-xs-6.col-sm-2
				.color-square.color-bfff00
				.color-name Yellow
				.color-rgb RGB: 255, 239, 198
				pre: code.
					#bfff00
					$fl-yellow
			.color.col-xs-6.col-sm-2
				.color-square.color-ffefc6
				.color-name Orange
				.color-rgb RGB: 223, 119, 86
				pre: code.
					#ffefc6
					$fl-orange
			.color.col-xs-6.col-sm-2
				.color-square.color-c74a34
				.color-name Red
				.color-rgb RGB: 199, 74, 52
				pre: code.
					#c74a34
					$fl-red

	.sub-section
		h3.section-subtitle Folkways Palette
		ul.row
			.color.col-xs-6.col-sm-2
				.color-square.color-cfdcf1
				.color-name Light Blue
				.color-rgb RGB: 207, 220, 241
				pre: code.
					#cfdcf1
					$fw-light-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-b0d5de
				.color-name Blue
				.color-rgb RGB: 176, 213, 222
				pre: code.
					#b0d5de
					$fw-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-a499bc
				.color-name Purple
				.color-rgb RGB: 164, 153, 188
				pre: code.
					#a499bc
					$fw-purple
			.color.col-xs-6.col-sm-2
				.color-square.color-fff2df
				.color-name Light Green
				.color-rgb RGB: 255, 242, 223
				pre: code.
					#fff2df
					$fw-light-green
			.color.col-xs-6.col-sm-2
				.color-square.color-c2e1b7
				.color-name Green
				.color-rgb RGB: 194, 225, 183
				pre: code.
					#c2e1b7
					$fw-green
			.color.col-xs-6.col-sm-2
				.color-square.color-94a094
				.color-name Teal
				.color-rgb RGB: 148, 160, 148
				pre: code.
					#94a094
					$fw-teal
			.color.col-xs-6.col-sm-2
				.color-square.color-fbf6f0
				.color-name Yellow
				.color-rgb RGB: 251, 246, 240
				pre: code.
					#fbf6f0
					$fw-yellow
			.color.col-xs-6.col-sm-2
				.color-square.color-cdc4b3
				.color-name Orange
				.color-rgb RGB: 205, 196, 179
				pre: code.
					#cdc4b3
					$fw-orange
			.color.col-xs-6.col-sm-2
				.color-square.color-ec837a
				.color-name Red
				.color-rgb RGB: 236, 131, 122 
				pre: code.
					#ec837a
					$fw-red

	.sub-section
		h3.section-subtitle Festival Palette
		ul.row
			.color.col-xs-6.col-sm-2
				.color-square.color-75bee9
				.color-name Light Blue
				.color-rgb RGB: 117, 190, 233
				pre: code.
					#75bee9
					$fs-light-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-4e72b8
				.color-name Blue
				.color-rgb RGB: 78, 114, 184
				pre: code.
					#4e72b8
					$fs-blue
			.color.col-xs-6.col-sm-2
				.color-square.color-7c51a1
				.color-name Purple
				.color-rgb RGB: 124, 81, 161
				pre: code.
					#7c51a1
					$fs-purple
			.color.col-xs-6.col-sm-2
				.color-square.color-d5bf90
				.color-name Light Green
				.color-rgb RGB: 213, 191, 144
				pre: code.
					#d5bf90
					$fs-light-green
			.color.col-xs-6.col-sm-2
				.color-square.color-3ea6ae
				.color-name Green
				.color-rgb RGB: 62, 166, 174
				pre: code.
					#3ea6ae
					$fs-green
			.color.col-xs-6.col-sm-2
				.color-square.color-00b26b
				.color-name Teal
				.color-rgb RGB: 0, 178, 107
				pre: code.
					#00b26b
					$fs-teal
			.color.col-xs-6.col-sm-2
				.color-square.color-ffe06a
				.color-name Yellow
				.color-rgb RGB: 255, 224, 106
				pre: code.
					#ffe06a
					$fs-yellow
			.color.col-xs-6.col-sm-2
				.color-square.color-eea557
				.color-name Orange
				.color-rgb RGB: 238, 165, 87
				pre: code.
					#eea557
					$fs-orange
			.color.col-xs-6.col-sm-2
				.color-square.color-de4049
				.color-name Red
				.color-rgb RGB: 222, 64, 73
				pre: code.
					#de4049
					$fs-red