.container
	hr.hr--folklife

//- half sections must be wrapped in container to stay in middle and together
.container
	.row
		section.col-sm-6.section--newsletter-signup
			.newsletter-signup.clearfix
				.newsletter-signup__copy
					.details.details--inset.details--tight.details--tight-bottom
						.details__inner
							.icon-mail
							= $page->newsletter_text()
				form(action="/").newsletter-signup-form.newsletter
						input.newsletter__input.details.details--inset(type="email" placeholder="Enter your email")
		section.col-sm-6.section--support
			.support
				.details.details--inset.details--tight.details--tight-bottom.clearfix
					.details__inner
						= $page->support_text()
				.support__button.button
					.button__inner
						= $page->support_button_text()

footer.footer#footer
	.container
		ul.footer__list.row
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Research
				ul.footer__main-item__list
					li.footer__sub-item Cultural Industries
					li.footer__sub-item Cultural Sustainability
					li.footer__sub-item Endangered
					li.footer__sub-item Languages
					li.footer__sub-item ICH &amp; Museums
					li.footer__sub-item Publications
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Cultural Sustainability
				ul.footer__main-item__list
					li.footer__sub-item My Armenia
					li.footer__sub-item SMILE
					li.footer__sub-item Heritage Policy
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Education
				ul.footer__main-item__list
					li.footer__sub-item Cultural Education
					li.footer__sub-item Resources
					li.footer__sub-item Exhibits
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Archives
				ul.footer__main-item__list
					li.footer__sub-item About the Archives
					li.footer__sub-item Using The Archives
					li.footer__sub-item Collections
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title About Us
				ul.footer__main-item__list
					li.footer__sub-item Mission
					li.footer__sub-item Staff
					li.footer__sub-item Press
					li.footer__sub-item Contact
					li.footer__sub-item Legacy Honorees
					li.footer__sub-item Talk Story
					li.footer__sub-item News &amp; Events
					li.footer__sub-item Donors &amp; Supporters
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Get Involved
				ul.footer__main-item__list
					li.footer__sub-item Employment
					li.footer__sub-item Fellowships
					li.footer__sub-item Internships
					li.footer__sub-item Volunteer
					li.footer__sub-item Donate
		hr
		ul.footer__list.row
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2
				.footer__logo 
					.logo__sunsplash
					| Smithsonian Center for Folklife and Cultural Heritage
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__logo
					.logo__sunsplash
					| Smithsonian Folkways
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__logo
					.logo__sunsplash
					| Smithsonian Folklife Festival
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				ul.footer__main-item__list
					li.footer__sub-item Copyright
					li.footer__sub-item Contact
					li.footer__sub-item Privacy
					li.footer__sub-item Credits
			li.footer__main-item.col-sm-4.col-md-3.col-lg-2 
				.footer__main-item__title Connect with us
				ul.footer__main-item__list
					li.footer__sub-item Facebook
					li.footer__sub-item Twitter
					li.footer__sub-item tumblr
					li.footer__sub-item flickr
					li.footer__sub-item instagram


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="assets/js/scripts.js?v=10.07"></script>
</body>
</html>