footer.footer#footer
	.container
		ul.footer-row.footer-row-1.row
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#grid") Grid
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#colors") Colors
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="#gray-palette") Grays
					li.footer-nav-sub-item: a(href="#folklife-palette") Folklife Palette
					li.footer-nav-sub-item: a(href="#folkways-palette") Folkways Palette
					li.footer-nav-sub-item: a(href="#festival-palette") Festival Palette
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#typography") Typography
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="#serif") Serif
					li.footer-nav-sub-item: a(href="#sans") Sans
					li.footer-nav-sub-item: a(href="#slab") Slab
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#cards") Cards

			
		-snippet('footer-common')

-snippet('footer-remodal')

// jQuery (necessary for Bootstrap's JavaScript plugins) 
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
//- <script src="assets/js/vendor.js?v=<?= time() ?>"></script>
<script src="assets/js/scripts.min.js?v=<?= time() ?>"></script>
//- js fallback for async css if browser doesn't preload css
//- <script>loadCSS( "/assets/css/folklife.css?v=<?= time() ?>" );</script>



//- // syntax highlighter
//- <link rel="stylesheet" href="/assets/css/theme.css">
//- <script src="/assets/js/syntaxhighlighter.js"></script>

//- // Rainbow.js syntax highlighter, from https://craig.is/making/rainbows
//- <script>loadCSS( "/assets/css/rainbow/monokai.css?v=<?= time() ?>" );</script>
//- <script src="/assets/js/rainbow-custom.min.js"></script>

</body>
</html>