.container
	hr.hr--folklife

//- half sections must be wrapped in container to stay in middle and together
.container
	.row
		section.col-sm-6.section--newsletter-signup
			.newsletter-signup.clearfix
				.newsletter-signup__copy
					.details.details--inset.details--tight.details--tight-bottom
						.details__inner
							.icon-mail
							= $page->newsletter_text()
				form(action="/").newsletter-signup-form.newsletter
						input.newsletter__input.details.details--inset(type="email" placeholder="Enter your email")
		section.col-sm-6.section--support
			.support
				.details.details--inset.details--tight.details--tight-bottom.clearfix
					.details__inner
						= $page->support_text()
				.support__button.button
					.button__inner
						= $page->support_button_text()

footer.footer#footer
	.container
		ul.footer__row.footer__row--1.row
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title Research
				ul.footer__list
					li.footer__sub-item Cultural Industries
					li.footer__sub-item Cultural Sustainability
					li.footer__sub-item Endangered
					li.footer__sub-item Languages
					li.footer__sub-item ICH &amp; Museums
					li.footer__sub-item Publications
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title Cultural Sustainability
				ul.footer__list
					li.footer__sub-item My Armenia
					li.footer__sub-item SMILE
					li.footer__sub-item Heritage Policy
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title Education
				ul.footer__list
					li.footer__sub-item Cultural Education
					li.footer__sub-item Resources
					li.footer__sub-item Exhibits
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title Archives
				ul.footer__list
					li.footer__sub-item About the Archives
					li.footer__sub-item Using The Archives
					li.footer__sub-item Collections
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title About Us
				ul.footer__list
					li.footer__sub-item Mission
					li.footer__sub-item Staff
					li.footer__sub-item Press
					li.footer__sub-item Contact
					li.footer__sub-item Legacy Honorees
					li.footer__sub-item Talk Story
					li.footer__sub-item News &amp; Events
					li.footer__sub-item Donors &amp; Supporters
			li.footer__main-item.col-sm-3.col-md-2 
				.footer__title Get Involved
				ul.footer__list
					li.footer__sub-item Employment
					li.footer__sub-item Fellowships
					li.footer__sub-item Internships
					li.footer__sub-item Volunteer
					li.footer__sub-item Donate
		hr
		ul.footer__row.footer__row--2.row
			li.footer__main-item.col-sm-3
				.footer-logo.footer-logo--active
					a
						img.footer-logo__img.footer-logo__img--folklife(src="assets/images/logo/smithsonian_center_for_folklife_and_cultural_heritage.png") 
						//- img.sunsplash(src="assets/images/logo/sunsplash.png")
						//- | Smithsonian Center for Folklife and Cultural Heritage
			li.footer__main-item.col-sm-3 
				.footer-logo
					a
						img.footer-logo__img(src="assets/images/logo/smithsonian_folkways_recordings.png") 
						//- img.sunsplash(src="assets/images/logo/sunsplash.png")
						//- | Smithsonian Folkways
			li.footer__main-item.col-sm-3 
				.footer-logo
					a
						img.footer-logo__img(src="assets/images/logo/smithsonian_folklife_festival.png") 
						//- img.sunsplash(src="assets/images/logo/sunsplash.png")
						//- | Smithsonian Folklife Festival
			//- li.footer__main-item.col-sm-2 
			li.footer__main-item.col-sm-1 
				ul.footer__list.copyright-list
					li.footer__sub-item.copyright-list__item Copyright
					li.footer__sub-item.copyright-list__item Contact
					li.footer__sub-item.copyright-list__item Privacy
					li.footer__sub-item.copyright-list__item Credits
			li.footer__main-item.col-sm-2.social-media
				.footer__sub-item.social-media__title Connect with us
				ul.footer__list
					li.social-media__icon: a(href="https://www.facebook.com/smithsonianfolklifefestival" target="_blank").icon-facebook
					li.social-media__icon: a(href="https://twitter.com/smithsonianfolk" target="_blank").icon-twitter
					li.social-media__icon: a(href="http://smithsonianfolklife.tumblr.com/" target="_blank").icon-tumblr
					li.social-media__icon: a(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank").icon-flickr
					li.social-media__icon: a(href="https://www.instagram.com/smithsonianfolklife/" target="_blank").icon-instagrem
		ul.footer__row.footer__row--3.row
			li.footer__main-item.col-sm-3
				.smithsonian-institution-logo
					img(src="assets/images/logo/smithsonian_institution.png") 
			li.footer__main-item.col-sm-4
				.copyright
					&copy; 2016 Smithsonian Institution

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
//- <script src="assets/js/vendor.js?v=<?= time() ?>"></script>
<script src="assets/js/scripts-min.js?v=<?= time() ?>"></script>
//- js fallback for async css if browser doesn't preload css
<script>loadCSS( "assets/css/folklife.css?v=<?= time() ?>" );</script>
</body>
</html>