footer.footer#footer
	.container
		ul.footer-row.footer-row-1.row
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/colors") Colors
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/colors#folklife") Folklife
					li.footer-nav-sub-item: a(href="/colors#festival") Festival
					li.footer-nav-sub-item: a(href="/colors#folkways") Folkways
					li.footer-nav-sub-item: a(href="/colors#shades-of-black") Shades of Black
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/typography") Typography
				ul.footer-nav-list
					li.footer-nav-sub-item Serif
					li.footer-nav-sub-item Sans Serif
					li.footer-nav-sub-item Slab Serif
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/cards") Cards
				ul.footer-nav-list
					li.footer-nav-sub-item Video Standard
					li.footer-nav-sub-item Video Horizontal
					li.footer-nav-sub-item Audio
					li.footer-nav-sub-item Card Vertical
					li.footer-nav-sub-item Card Horizontal
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/specials") Specials
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/specials#email-signup") Email Signup
					li.footer-nav-sub-item: a(href="/specials#become-a-member") Become a Member
					li.footer-nav-sub-item: a(href="/specials#support") Support
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/structure") Structure
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/framework#sections") Sections
					li.footer-nav-sub-item: a(href="/framework#half-sections") Half Sections
					li.footer-nav-sub-item: a(href="/framework#margins") Margins
					li.footer-nav-sub-item: a(href="/framework#padding") Padding
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/libraries") Libraries
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/libraries#bootstrap") Bootstrap
					li.footer-nav-sub-item: a(href="/libraries#sass") SASS
			
		-snippet('footer-common')

-snippet('footer-remodal')

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
//- <script src="assets/js/vendor.js?v=<?= time() ?>"></script>
<script src="assets/js/scripts-min.js?v=<?= time() ?>"></script>
//- js fallback for async css if browser doesn't preload css
<script>loadCSS( "/assets/css/folklife.css?v=<?= time() ?>" );</script>



//- // syntax highlighter
//- <link rel="stylesheet" href="/assets/css/theme.css">
//- <script src="/assets/js/syntaxhighlighter.js"></script>

//- // Rainbow.js syntax highlighter, from https://craig.is/making/rainbows
//- <script>loadCSS( "/assets/css/rainbow/monokai.css?v=<?= time() ?>" );</script>
//- <script src="/assets/js/rainbow-custom.min.js"></script>

</body>
</html>