footer.footer#footer
	.container
		ul.footer-row.footer-row-1.row
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/colors") Colors
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/colors#folklife") Folklife
					li.footer-nav-sub-item: a(href="/colors#festival") Festival
					li.footer-nav-sub-item: a(href="/colors#folkways") Folkways
					li.footer-nav-sub-item: a(href="/colors#shades-of-black") Shades of Black
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/typography") Typography
				ul.footer-nav-list
					li.footer-nav-sub-item Serif
					li.footer-nav-sub-item Sans Serif
					li.footer-nav-sub-item Slab Serif
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/cards") Cards
				ul.footer-nav-list
					li.footer-nav-sub-item Video Standard
					li.footer-nav-sub-item Video Horizontal
					li.footer-nav-sub-item Audio
					li.footer-nav-sub-item Card Vertical
					li.footer-nav-sub-item Card Horizontal
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/specials") Specials
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/specials#email-signup") Email Signup
					li.footer-nav-sub-item: a(href="/specials#become-a-member") Become a Member
					li.footer-nav-sub-item: a(href="/specials#support") Support
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/structure") Structure
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/framework#sections") Sections
					li.footer-nav-sub-item: a(href="/framework#half-sections") Half Sections
					li.footer-nav-sub-item: a(href="/framework#margins") Margins
					li.footer-nav-sub-item: a(href="/framework#padding") Padding
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="/libraries") Libraries
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="/libraries#bootstrap") Bootstrap
					li.footer-nav-sub-item: a(href="/libraries#sass") SASS
			
		hr
		ul.footer-row.footer-row-2.row
			li.footer-main-item.col-sm-3
				.footer-logo.active-footer-logo
					a
						img.footer-logo-img.folklife-footer-logo-img(src="/assets/images/logo/smithsonian_center_for_folklife_and_cultural_heritage.png?v=2016.10.21") 
						//- img.sunsplash(src="/assets/images/logo/sunsplash.png")
						//- | Smithsonian Center for Folklife and Cultural Heritage
			li.footer-main-item.col-sm-3 
				.footer-logo
					a
						img.footer-logo-img(src="/assets/images/logo/smithsonian_folkways_recordings.png?v=2016.10.21") 
						//- img.sunsplash(src="/assets/images/logo/sunsplash.png")
						//- | Smithsonian Folkways
			li.footer-main-item.col-sm-3 
				.footer-logo
					a
						img.footer-logo-img(src="/assets/images/logo/smithsonian_folklife_festival.png?v=2016.10.21") 
						//- img.sunsplash(src="/assets/images/logo/sunsplash.png")
						//- | Smithsonian Folklife Festival
			//- li.footer-main-item.col-sm-2 
			li.footer-main-item.col-sm-1 
				ul.footer-list.copyright-list
					li.footer-sub-item.copyright-list-item Copyright
					li.footer-sub-item.copyright-list-item Contact
					li.footer-sub-item.copyright-list-item Privacy
					li.footer-sub-item.copyright-list-item Credits
			li.footer-main-item.col-sm-2.social-media
				.footer-sub-item.social-media-title Connect with us
				ul.footer-list
					li.social-media-icon: a(href="https://www.facebook.com/smithsonianfolklifefestival" target="_blank").icon-facebook
					li.social-media-icon: a(href="https://twitter.com/smithsonianfolk" target="_blank").icon-twitter
					li.social-media-icon: a(href="http://smithsonianfolklife.tumblr.com/" target="_blank").icon-tumblr
					li.social-media-icon: a(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank").icon-flickr
					li.social-media-icon: a(href="https://www.instagram.com/smithsonianfolklife/" target="_blank").icon-instagrem
		ul.footer-row.footer-row-3.row
			li.footer-main-item.col-sm-3
				.smithsonian-institution-logo
					img(src="/assets/images/logo/smithsonian_institution.png?v=2016.10.21") 
			li.footer-main-item.col-sm-4.copyright-wrapper
				.copyright
					&copy; 2016 Smithsonian Institution

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
//- <script src="/assets/js/vendor.js?v=<?= time() ?>"></script>
<script src="/assets/js/scripts-min.js?v=<?= time() ?>"></script>
//- js fallback for async css if browser doesn't preload css
<script>loadCSS( "/assets/css/folklife.css?v=<?= time() ?>" );</script>



//- // syntax highlighter
//- <link rel="stylesheet" href="/assets/css/theme.css">
//- <script src="/assets/js/syntaxhighlighter.js"></script>

//- // Rainbow.js syntax highlighter, from https://craig.is/making/rainbows
//- <script>loadCSS( "/assets/css/rainbow/monokai.css?v=<?= time() ?>" );</script>
//- <script src="/assets/js/rainbow-custom.min.js"></script>

</body>
</html>