footer.footer#footer
	.container
		ul.footer-row.footer-row-1.row
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#grid") Grid
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#colors") Colors
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="#grays") Grays
					li.footer-nav-sub-item: a(href="#folklife-palette") Folklife Palette
					li.footer-nav-sub-item: a(href="#folkways-palette") Folkways Palette
					li.footer-nav-sub-item: a(href="#festival-palette") Festival Palette
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#typography") Typography
				ul.footer-nav-list
					li.footer-nav-sub-item: a(href="#serif") Serif
					li.footer-nav-sub-item: a(href="#sans") Sans
					li.footer-nav-sub-item: a(href="#slab") Slab
			li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#cards") Cards
			//- li.footer-nav-main-item.col-sm-2 
				a.footer-nav-title(href="#components") Components
			
		-snippet('footer-common')
-snippet('footer-remodal')

// jQuery (necessary for Bootstrap's JavaScript plugins) 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/assets/js/styleguide-scripts.js?v=<?= time() ?>"></script>
</body>
</html>