// Grid
section.container
	a.anchor-link#grid
	h2.section-title Grid

.grid-item
	.grid-item-inner
		.copy Full width

// Bootstrap grids
.container
	ul.row
		li.grid-item.col-sm-12: .grid-item-inner: .copy .col-sm-12
		li.grid-item.col-sm-8: .grid-item-inner: .copy .col-sm-8
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4
		li.grid-item.col-sm-7: .grid-item-inner: .copy .col-sm-7
		li.grid-item.col-sm-5: .grid-item-inner: .copy .col-sm-5
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2

// Custom grids
.container.custom-grid-container
	ul.row
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6
		li.grid-item.col-sm-6
			.row
				.col-sm-half-image: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home featurette)") .col-sm-half-image
				.col-sm-half-details: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home featurette)") .col-sm-half-details
		li.grid-item.col-sm-6
			.row
				.col-half: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Explore Collections)") .col-half
				.col-half: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Explore Collections)") .col-half
		li.grid-item.col-sm-6
			.row
				.col-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)") .col-thirds
				.col-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)") .col-thirds
				.col-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)") .col-thirds
