// Grid
section.container
	a.anchor-link#grid
	h2.section-title Grid

.grid-item
	.grid-item-inner
		.copy Full banner width

// Bootstrap grids
.container
	ul.row
		li.grid-item.col-sm-12: .grid-item-inner: .copy .col-sm-12 (1400px)
		li.grid-item.col-sm-8: .grid-item-inner: .copy .col-sm-8 (920px)
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4 (440px)
		li.grid-item.col-sm-7: .grid-item-inner: .copy .col-sm-7 (800px)
		li.grid-item.col-sm-5: .grid-item-inner: .copy .col-sm-5 (560px)
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6 (680px)
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6 (680px)
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4 (440px)
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4 (440px)
		li.grid-item.col-sm-4: .grid-item-inner: .copy .col-sm-4 (440px)
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3 (320px)
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3 (320px)
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3 (320px)
		li.grid-item.col-sm-3: .grid-item-inner: .copy .col-sm-3 (320px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)
		li.grid-item.col-sm-2: .grid-item-inner: .copy .col-sm-2 (200px)

// Custom grids
.container.custom-grid-container
	ul.row
		li.grid-item.col-sm-6: .grid-item-inner: .copy .col-sm-6
		li.grid-item.col-sm-6
			.row
				.col-sm-half-image: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home featurette)") .col-sm-half-image (349px)
				.col-sm-half-details: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home featurette)") .col-sm-half-details (291px)
		li.grid-item.col-sm-6
			.row
				.col-half: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Explore Collections)") .col-half (316px)
				.col-half: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Explore Collections)") .col-half (316px)
		li.grid-item.col-sm-6
			.row
				.col-sm-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)   (FW&nbsp;Magazine home)") .col-thirds (196px)
				.col-sm-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)   (FW&nbsp;Magazine home)") .col-thirds (196px)
				.col-sm-thirds: .grid-item-inner.custom-grid-item-inner.hidden-content: .copy(data-hover="(FL home Teach)   (FW&nbsp;Magazine home)") .col-thirds (196px)
