<!DOCTYPE html>
<html lang="en")>
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	meta(robots="none")
	<title>Smithsonian Center for Folklife and Cultural Heritage | <?php echo $page->title()->html() ?></title>
	
	-snippet('header-fonts')

	-snippet('header-shim')

	-snippet('header-favicons')

	//- syntax highlighting, from highlightjs.org
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/solarized-dark.min.css">
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css">
	//- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
	// highlightjs.org for code syntax highlighting
	//- <link href="/assets/css/highlight/styles/monokai-sublime.css" type="text/css" rel="stylesheet">
	//- <link href="/assets/css/highlight/styles/rainbow.css" type="text/css" rel="stylesheet">
	<link href="/assets/css/highlight/styles/atom-one-dark.css" type="text/css" rel="stylesheet">
	//- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
	<script src="/assets/js/highlight.pack.js"></script>

	//- out for firefox and safri, debug later
	<link href="/assets/css/styleguide.css?v=<?= time() ?>" type="text/css" rel="stylesheet">

<body class="folklife-site">
#site-toggle.site-toggle
	.container
		.tagline Bringing Tradition Bearers From Around The World To The National Mall
		a.site-toggle-link.festival-site-toggle-link.active(href="/") Festival
		-if (c::get('isDev')):
			a.site-toggle-link.folklife-site-toggle-link(href="http://localhost:3001") Folklife
		- else:
			a.site-toggle-link.folklife-site-toggle-link(href="http://folklife.lukehatfield.com") Folklife
		-endif
		-if (c::get('isDev')):
			a.site-toggle-link.festival-site-toggle-link(href="http://localhost:3005") Folkways
		- else:
			a.site-toggle-link.folkways-site-toggle-link(href="http://folkways.lukehatfield.com") Folkways
		-endif

.navbar-outside
// Navbar
nav.navbar#navbar
	.navbar-header.container
		ul.row
			// Logo
			.logo-wrapper.col-sm-2
				#logo-wrapper.logo
					a(href="/")
						img#block-logo.block-logo.folkways-block-logo(src="/assets/images/logo/folklife-block-logo_2016.12.17.png")
						img#one-line-logo.one-line-logo.folklife-one-line-logo(src="/assets/images/logo/folklife-one-line-logo_2016.12.22.png")
			-snippet('nav-icons-search')


	// Full Navigation Dropdown
	.header-nav#header-nav
		.container
			ul.header-nav-row.row
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/colors") Colors
					ul.header-nav-list
						li.header-nav-sub-item: a(href="/colors#folklife") Folklife
						li.header-nav-sub-item: a(href="/colors#festival") Festival
						li.header-nav-sub-item: a(href="/colors#folkways") Folkways
						li.header-nav-sub-item: a(href="/colors#shades-of-black") Shades of Black
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/typography") Typography
					ul.header-nav-list
						li.header-nav-sub-item: a(href="/typography#serif") Serif
						li.header-nav-sub-item: a(href="/typography#sans") Sans
						li.header-nav-sub-item: a(href="/typography#slab-serif") Slab Serif
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/cards") Cards
					ul.header-nav-list
						li.header-nav-sub-item Video Standard
						li.header-nav-sub-item Video Horizontal
						li.header-nav-sub-item Audio
						li.header-nav-sub-item Card Vertical
						li.header-nav-sub-item Card Horizontal				
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/specials") Specials
					ul.header-nav-list
						li.header-nav-sub-item: a(href="/specials#email-signup") Email Signup
						li.header-nav-sub-item: a(href="/specials#become-a-member") Become a Member
						li.header-nav-sub-item: a(href="/specials#support") Support
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/structure") Structure
					ul.header-nav-list
						li.header-nav-sub-item: a(href="/framework#sections") Sections
						li.header-nav-sub-item: a(href="/framework#half-sections") Half Sections
						li.header-nav-sub-item: a(href="/framework#margins") Margins
						li.header-nav-sub-item: a(href="/framework#padding") Padding
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/libraries") Libraries
					ul.header-nav-list
						li.header-nav-sub-item: a(href="/libraries#bootstrap") Bootstrap
						li.header-nav-sub-item: a(href="/libraries#sass") SASS

	// Collect the nav links, forms, and other content for toggling 
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")