<!DOCTYPE html>
<html lang="en">
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	meta(robots="none")
	<title>Smithsonian Center for Folklife and Cultural Heritage | <?php echo $page->title()->html() ?></title>
	
	-snippet('header-fonts')

	-snippet('header-shim')

	-snippet('header-favicons')

	//- syntax highlighting, from highlightjs.org
	// highlightjs.org for code syntax highlighting
	<link href="/assets/css/highlight/styles/atom-one-dark.css" type="text/css" rel="stylesheet">
	<script src="/assets/js/highlight.pack.js"></script>

	//- out for firefox and safri, debug later
	<link href="/assets/css/styleguide.css?v=<?= time() ?>" type="text/css" rel="stylesheet">

<body class="folklife-site">
#site-toggle.site-toggle
	.container
		a.site-toggle-link.festival-site-toggle-link.active(href="/") Festival
		-if (c::get('isDev')):
			a.site-toggle-link.folklife-site-toggle-link(href="http://localhost:3001") Folklife
		- else:
			a.site-toggle-link.folklife-site-toggle-link(href="http://folklife.lukehatfield.com") Folklife
		-endif
		-if (c::get('isDev')):
			a.site-toggle-link.festival-site-toggle-link(href="http://localhost:3005") Folkways
		- else:
			a.site-toggle-link.folkways-site-toggle-link(href="http://folkways.lukehatfield.com") Folkways
		-endif

.navbar-outside
// Navbar
nav.navbar#navbar
	.navbar-header.container
		ul.row
			// Logo
			.logo-wrapper.col-sm-2
				.logo
					a(href="/")
						.one-line-logos
							img.one-line-logo.mobile-one-line-logo.visible-xs.visible-sm(src="/assets/images/logo/mobile-folklife-one-line-logo_2016.12.23.png")
							img.one-line-logo.tablet-one-line-logo.visible-md(src="/assets/images/logo/tablet-folklife-one-line-logo_2017.1.2.png")
							img.one-line-logo.desktop-one-line-logo.visible-lg(src="/assets/images/logo/desktop-folklife-one-line-logo_2017.1.2.png")
						.block-logos
							img.block-logo.mobile-block-logo.visible-xs.visible-sm(src="/assets/images/logo/mobile-folklife-block-logo_2016.12.23.png")
							img.block-logo.tablet-block-logo.visible-md(src="/assets/images/logo/tablet-folklife-block-logo_2017.1.2.png")
							img.block-logo.desktop-block-logo.visible-lg(src="/assets/images/logo/desktop-folklife-block-logo_2017.1.2.png")
			-snippet('nav-icons-search')


	// Full Navigation Dropdown
	.header-nav#header-nav
		.container
			ul.header-nav-row.row
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#grid") Grid
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#colors") Colors
					ul.header-nav-list
						li.header-nav-sub-item: a(href="#gray-palette") Grays
						li.header-nav-sub-item: a(href="#folklife-palette") Folklife Palette
						li.header-nav-sub-item: a(href="#folkways-palette") Folkways Palette
						li.header-nav-sub-item: a(href="#festival-palette") Festival Palette
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#typography") Typography
					ul.header-nav-list
						li.header-nav-sub-item: a(href="#serif") Serif
						li.header-nav-sub-item: a(href="#sans") Sans
						li.header-nav-sub-item: a(href="#slab") Slab
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#cards") Cards
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#components") Components

	// Collect the nav links, forms, and other content for toggling 
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")