<!DOCTYPE html>
<html lang="en">
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	meta(robots="none")
	<title>Smithsonian Center for Folklife and Cultural Heritage | <?php echo $page->title()->html() ?></title>
	
	-snippet('header-fonts')

	-snippet('header-shim')

	-snippet('header-favicons')

	// Styles
	<link href="/assets/css/festival.css?v=<?= time() ?>" type="text/css" rel="stylesheet">

<body class="festival-site <?= str::slug(str::lower($page->title())) ?>-page <?= str::slug(str::lower($page->parent()->title())) ?>-child-page <?php if (c::get('on')) echo 'on'; else echo 'off'; ?>-state <?= str::slug(str::lower($page->template())) ?>-page">
// Site Toggle
#site-toggle.site-toggle
	.container
		.tagline Bringing Tradition Bearers From Around The World To The National Mall
		a.site-toggle-link.festival-site-toggle-link.active(href="/") Festival
		-if (c::get('isDev')):
			a.site-toggle-link.folklife-site-toggle-link(href="http://localhost:3001") Folklife
		- else:
			a.site-toggle-link.folklife-site-toggle-link(href="http://folklife.lukehatfield.com") Folklife
		-endif
		-if (c::get('isDev')):
			a.site-toggle-link.festival-site-toggle-link(href="http://localhost:3005") Folkways
		- else:
			a.site-toggle-link.folkways-site-toggle-link(href="http://folkways.lukehatfield.com") Folkways
		-endif
//- nav.navbar.navbar-fixed-top
// Navbar outside is a click area to close open nav
.navbar-outside
// Navbar
nav.navbar#navbar
	.navbar-header.container
		.ul.row
			// Logo
			.logo-wrapper.col-sm-2
				#logo-wrapper.logo
					a(href="/")
						img#logo.block-logo.festival-block-logo(src="/assets/images/logo/festival-block-logo_2016.12.19.png")
						img#one-line-logo.one-line-logo.festival-one-line-logo(src="/assets/images/logo/festival-one-line-logo_2016.12.19.png")
			-snippet('nav-icons-search')
			
	// Full Navigation Dropdown
	.header-nav#header-nav
		.container
			ul.header-nav-row.row
				li.header-nav-main-item.col-sm-2 
					.header-nav-title 2017 Festival
					ul.header-nav-list
						li.header-nav-sub-item Circus Arts
						li.header-nav-sub-item Cuba
						li.header-nav-sub-item NEA @ 50
						li.header-nav-sub-item Evening Concerts
						li.header-nav-sub-item Participants
						li.header-nav-sub-item Related Events
				li.header-nav-main-item.col-sm-2 
					.header-nav-title Visit
					ul.header-nav-list
						li.header-nav-sub-item Directions
						li.header-nav-sub-item Parking
						li.header-nav-sub-item Custom Map
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/learn") Learn*
					ul.header-nav-list
						li.header-nav-sub-item Festival Info
				li.header-nav-main-item.col-sm-2 
					.header-nav-title(href="#") Schedule
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/blog") Blog*
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="/programs/basque") Past Festivals*


	//- Collect the nav links, forms, and other content for toggling 
	//- .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")

	// Social icons
	.social-icons.mobile-social-icons.container
		a.social-icon-link(href="http://www.facebook.com/smithsonianfolklifefestival" target="_blank"): .icon-facebook.social-icon.mobile-social-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://twitter.com/smithsonianfolk" target="_blank"): .icon-twitter.social-icon.mobile-social-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="http://smithsonianfolklife.tumblr.com/" target="_blank"): .icon-tumblr.social-icon.mobile-social-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank"): .icon-flickr.social-icon.mobile-social-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://www.instagram.com/smithsonianfolklife/" target="_blank"): .icon-instagrem.social-icon.mobile-social-icon.nav-icon(aria-hidden="true")

	// Search form
	form.search-bar.mobile-search-bar.mobile-only(action=".")
		input(placeholder="Search..." type="search")