<!DOCTYPE html>
<html lang="en">
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	meta(robots="none")
	<title>CFCH Styleguide | <?php echo $page->title()->html() ?></title>
	
	-snippet('header-fonts')

	-snippet('header-shim')

	-snippet('header-favicons')

	//- syntax highlighting, from highlightjs.org
	// highlightjs.org for code syntax highlighting
	<link href="/themes/styleguide/styles/highlight/styles/atom-one-dark.css" type="text/css" rel="stylesheet">
	<script src="/themes/styleguide/scripts/highlight.pack.js"></script>
    //- global vars
    <script>
        var site = {}; // global
        site.playlist = []; // global playlist var so can access everywhere
    </script>

	//- out for firefox and safri, debug later
	<link href="/themes/styleguide/styles/styleguide.css?v=<?= time() ?>" type="text/css" rel="stylesheet">

<body class="styleguide-site">
a.skip-main(href="#main-content") Skip to main content
-snippet('site-toggle', array('tagline' => 'Championing Culture for, by, and of the People'))

// Navbar
.navbar-outside
nav.navbar#navbar
	.navbar-header.container
		.navbar-header-inner.row
			.logo-wrapper.col-sm-2
				#logo.logo
					.one-line-logos
						a(href="/" tabindex="-1")
							img.one-line-logo.mobile-one-line-logo.visible-xs(src="/themes/styleguide/assets/images/logo/navbar/folklife_oneLine_160.png?v=<?= time() ?>" alt="Folklife Logo")
							img.one-line-logo.tablet-one-line-logo.visible-sm.visible-md(src="/themes/styleguide/assets/images/logo/navbar/folklife_oneLine_224.png?v=<?= time() ?>" alt="Folklife Logo")
							img.one-line-logo.desktop-one-line-logo.visible-lg(src="/themes/styleguide/assets/images/logo/navbar/folklife_oneLine_258.png?v=<?= time() ?>" alt="Folklife Logo")
					.block-logos
						a(href="/")
							img.block-logo.mobile-block-logo.visible-xs.visible-sm(src="/themes/styleguide/assets/images/logo/navbar/folklife_logo_200x200.png?v=<?= time() ?>" alt="Folklife Logo")
							img.block-logo.tablet-block-logo.visible-md(src="/themes/styleguide/assets/images/logo/navbar/folklife_logo_280x280.png?v=<?= time() ?>" alt="Folklife Logo")
							img.block-logo.desktop-block-logo.visible-lg(src="/themes/styleguide/assets/images/logo/navbar/folklife_logo_320x320.png?v=<?= time() ?>" alt="Folklife Logo")
			-snippet('nav-icons-search')


	// Full Navigation Dropdown
	.header-nav#header-nav
		.container
			ul.header-nav-row.row
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#grid") Grid
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#colors") Colors
					ul.header-nav-list
						li.header-nav-sub-item: a(href="#grays") Grays
						li.header-nav-sub-item: a(href="#folklife-palette") Folklife Palette
						li.header-nav-sub-item: a(href="#folkways-palette") Folkways Palette
						li.header-nav-sub-item: a(href="#festival-palette") Festival Palette
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#typography") Typography
					ul.header-nav-list
						li.header-nav-sub-item: a(href="#serif") Serif
						li.header-nav-sub-item: a(href="#sans") Sans
						li.header-nav-sub-item: a(href="#woodtype-extended") Woodtype Extended
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#cards") Cards
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#components") Components
				li.header-nav-main-item.col-sm-2 
					a.header-nav-title(href="#helpers") Helpers

	// Collect the nav links, forms, and other content for toggling 
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")