<!DOCTYPE html>
<html lang="en")>
head
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Smithsonian Center for Folklife and Cultural Heritage | <?php echo $page->title()->html() ?></title>
	
	//- Typekit
	<script src="https://use.typekit.net/roi1emx.js"></script>
	<script>//try{Typekit.load({ async: true });}catch(e){}</script>
	<script>try{Typekit.load();}catch(e){}</script>

	//- Google Fonts - Archivo Narrow substitute for Knockout
	//- LOADING 400 AND 700 RIGHT NOW
	//- <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet"> 

	<!-- “Entypo pictograms by Daniel Bruce — www.entypo.com” -->
	<!-- Font Awesome icons by Dave Gandy -->

	<link href="assets/css/bootstrap.css" rel="stylesheet">

	//- never cache css in development because echoing php time stamp
	<link href="assets/css/folklife.css?v=<?= time() ?>" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
<body class="site--folklife">
.navbar__site-toggle
	.container
		.tagline Championing Culture for, by, and of the People
		a.site-toggle__link.site-toggle__link--folklife(href="/") Folklife
		a.site-toggle__link.site-toggle__link--folkways(href="http://folkways.si.edu") Folkways
		a.site-toggle__link.site-toggle__link--festival(href="http://festival.si.edu") Festival
//- nav.navbar.navbar-fixed-top
nav.navbar
	.navbar-outside
	.navbar-header
		.navbar-header__inner
			.navbar-brand(href="#")
				img.sunsplash(src="assets/images/logo/sunsplash.png")
				.logo-mask
					.logo__copy
						img.logo--folklife(src="assets/images/logo/folklife.png")
						img.logo--center(src="assets/images/logo/center.png")
			.nav-icons											
				//- .search-icon.nav-icon.nav-icon--main#search-icon(aria-hidden="true")
				.icon-search.nav-icon.nav-icon--main#search-icon(aria-hidden="true")
				//- .menu-icon.nav-icon.nav-icon--main#menu-icon(aria-hidden="true")
				.icon-menu.nav-icon.nav-icon--main#menu-icon(aria-hidden="true")
				//- .share-icon.nav-icon(aria-hidden="true")
				.icon-share.nav-icon.nav-icon--main#share-icon(aria-hidden="true")
				.social-icons.social-icons--desktop
					//- a.social-icon-link(href="http://www.facebook.com/smithsonianfolklifefestival" target="_blank"): .facebook-icon.social-icon.nav-icon(aria-hidden="true")
					a.social-icon-link(href="http://www.facebook.com/smithsonianfolklifefestival" target="_blank"): .icon-facebook.social-icon.nav-icon(aria-hidden="true")
					//- a.social-icon-link(href="https://twitter.com/smithsonianfolk" target="_blank"): .twitter-icon.social-icon.nav-icon(aria-hidden="true")
					a.social-icon-link(href="https://twitter.com/smithsonianfolk" target="_blank"): .icon-twitter.social-icon.nav-icon(aria-hidden="true")
					//- a.social-icon-link(href="http://smithsonianfolklife.tumblr.com/" target="_blank"): .tumblr-icon.social-icon.nav-icon(aria-hidden="true")
					a.social-icon-link(href="http://smithsonianfolklife.tumblr.com/" target="_blank"): .icon-tumblr.social-icon.nav-icon(aria-hidden="true")
					//- a.social-icon-link(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank"): .flickr-icon.social-icon.nav-icon(aria-hidden="true")
					a.social-icon-link(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank"): .icon-flickr.social-icon.nav-icon(aria-hidden="true")
					//- a.social-icon-link(href="https://www.instagram.com/smithsonianfolklife/" target="_blank"): .instagram-icon.social-icon.nav-icon(aria-hidden="true")
					a.social-icon-link(href="https://www.instagram.com/smithsonianfolklife/" target="_blank"): .icon-instagrem.social-icon.nav-icon(aria-hidden="true")

				// Search Bar
				form.search-bar.search-bar--desktop.no-mobile.form(action=".")
					input(placeholder="Search..." type="search")

	.meganav#meganav
		.container
			ul.meganav__row.row
				li.meganav__main-item.col-sm-2 
					.meganav__title Research
					ul.meganav__list
						li.meganav__sub-item Cultural Industries
						li.meganav__sub-item Cultural Sustainability
						li.meganav__sub-item Endangered
						li.meganav__sub-item Languages
						li.meganav__sub-item ICH &amp; Museums
						li.meganav__sub-item Publications
				li.meganav__main-item.col-sm-2 
					.meganav__title Cultural Sustainability
					ul.meganav__list
						li.meganav__sub-item My Armenia
						li.meganav__sub-item SMILE
						li.meganav__sub-item Heritage Policy
				li.meganav__main-item.col-sm-2 
					.meganav__title Education
					ul.meganav__list
						li.meganav__sub-item Cultural Education
						li.meganav__sub-item Resources
						li.meganav__sub-item Exhibits
				li.meganav__main-item.col-sm-2 
					.meganav__title Archives
					ul.meganav__list
						li.meganav__sub-item About the Archives
						li.meganav__sub-item Using The Archives
						li.meganav__sub-item Collections
				li.meganav__main-item.col-sm-2 
					.meganav__title About Us
					ul.meganav__list
						li.meganav__sub-item Mission
						li.meganav__sub-item Staff
						li.meganav__sub-item Press
						li.meganav__sub-item Contact
						li.meganav__sub-item Legacy Honorees
						li.meganav__sub-item Talk Story
						li.meganav__sub-item News &amp; Events
						li.meganav__sub-item Donors &amp; Supporters
				li.meganav__main-item.col-sm-2 
					.meganav__title Get Involved
					ul.meganav__list
						li.meganav__sub-item Employment
						li.meganav__sub-item Fellowships
						li.meganav__sub-item Internships
						li.meganav__sub-item Volunteer
						li.meganav__sub-item Donate


	<!-- Collect the nav links, forms, and other content for toggling -->
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
	.social-icons.social-icons--mobile.mobile-only
		//- a.social-icon-link(href="http://www.facebook.com/smithsonianfolklifefestival" target="_blank"): .facebook-icon.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
		a.social-icon-link(href="http://www.facebook.com/smithsonianfolklifefestival" target="_blank"): .icon-facebook.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
		//- a.social-icon-link(href="https://twitter.com/smithsonianfolk" target="_blank"): .twitter-icon.social-icon.social-icon--mobile.nav-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://twitter.com/smithsonianfolk" target="_blank"): .icon-twitter.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
		//- a.social-icon-link(href="http://smithsonianfolklife.tumblr.com/" target="_blank"): .tumblr-icon.social-icon.social-icon--mobile.nav-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="http://smithsonianfolklife.tumblr.com/" target="_blank"): .icon-tumblr.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
		//- a.social-icon-link(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank"): .flickr-icon.social-icon.social-icon--mobile.nav-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://www.flickr.com/groups/2016folklifefestival" target="_blank"): .icon-flickr.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
		//- a.social-icon-link(href="https://www.instagram.com/smithsonianfolklife/" target="_blank"): .instagram-icon.social-icon.social-icon--mobile.nav-icon.nav-icon(aria-hidden="true")
		a.social-icon-link(href="https://www.instagram.com/smithsonianfolklife/" target="_blank"): .icon-instagrem.social-icon.social-icon--mobile.nav-icon(aria-hidden="true")
	form.search-bar.search-bar--mobile.mobile-only(action=".")
		input(placeholder="Search..." type="search")
	.browsenav#browsenav
		.container
			.browsenav__title Browse
			ul.browsenav__categories.row
				li.browsenav__item.col-sm-3
					//- label so bg image will open select box. Otherwise select elements cannot have :after elements
					label.select 
						select
							// first option jade-php complie bug so in html. Selected and disabled from http://stackoverflow.com/a/18180032
							<option selected disabled>GENRE</option>
							option(value="/search?query=African%20American%20Music") African American Music
							option(value="/search?query=African%20American%20Spoken") African American Spoken
							option(value="/search?query=American%20Folk") American Folk
							option(value="/search?query=American%20History") American History
							option(value="/search?query=American%20Indian") American Indian
							option(value="/search?query=American%20Popular") American Popular
							option(value="/search?query=Bluegrass") Bluegrass
							option(value="/search?query=Blues") Blues
							option(value="/search?query=Cajun") Cajun
							option(value="/search?query=Caribbean") Caribbean
							option(value="/search?query=Celtic") Celtic
							option(value="/search?query=Central%20Asia") Central Asia
							option(value="/search?query=Children's") Children's
							option(value="/search?query=Classical") Classical
							option(value="/search?query=Contemporary") Contemporary &amp; Electronic
							option(value="/search?query=Country") Country
							option(value="/search?query=Documentary") Documentary
							option(value="/search?query=Drama") Drama
							option(value="/search?query=Gospel") Gospel
							option(value="/search?query=Hawai'i") Hawai'i
							option(value="/search?query=Historical%20Song") Historical Song
							option(value="/search?query=Holiday") Holiday
							option(value="/search?query=Humor") Humor
							option(value="/search?query=India") India
							option(value="/search?query=Islamica") Islamica
							option(value="/search?query=Jazz") Jazz &amp; Ragtime
							option(value="/search?query=Judaica") Judaica
							option(value="/search?query=Language%20Instruction") Language Instruction
							option(value="/search?query=Latin") Latin
							option(value="/search?query=Miscellany") Miscellany
							option(value="/search?query=Music%20Instruction") Music Instruction
							option(value="/search?query=Old%20Time") Old Time
							option(value="/search?query=Oral%20History") Oral History &amp; Biography
							option(value="/search?query=Poetry") Poetry
							option(value="/search?query=Prose") Prose
							option(value="/search?query=Psychology") Psychology &amp; Health
							option(value="/search?query=Sacred") Sacred
							option(value="/search?query=Science") Science &amp; Nature
							option(value="/search?query=Sounds") Sounds
							option(value="/search?query=Soundtracks") Soundtracks &amp; Musicals
							option(value="/search?query=Spoken%20Word") Spoken Word
							option(value="/search?query=Struggle") Struggle &amp; Protest
							option(value="/search?query=World") World
							option(value="/search?query=World%20History") World History
				li.browsenav__item.col-sm-3
					label.select 
						select
							<option selected disabled>LOCATION</option>
							option(value="") North America
							option(value="") South America
							option(value="") Europe
							option(value="") Africa
							option(value="") Asia
							option(value="") Australia
				li.browsenav__item.col-sm-3
					label.select
						select
							<option selected disabled>ARTISTS</option>
							option(value="") Bobby Susser
							option(value="") Ensemble Hilka
							option(value="") Fannie Lou Hamer
							option(value="") Guillermo Velázquez y Los Leones de la Sierra de Xichú
							option(value="") Josh White
							option(value="") José-Luis Orozco
							option(value="") Koishimaru Izutsuya
							option(value="") Mariachi Los Camperos de Nati Cano
							option(value="") Ophie &amp; Da Websites, Bo Hog &amp; Da Rooters
							option(value="") Pete Seeger
							option(value="") Stanley and the Ten Sleepless Knights
							option(value="") The Brothers Nazaroff
							option(value="") Woodie Guthrie
							option(value="") ...
				li.browsenav__item.col-sm-3
					label.select
						select
							<option selected disabled>LABEL</option>
							option(value="") Arhoolie Records
							option(value="") Cook Records
							option(value="") Fast Folk
							option(value="") Fast Folk Records
							option(value="") Folkways Records
							option(value="") M.O.R.E.
							option(value="") Monitor Records
							option(value="") Paredon Records
							option(value="") ...