// Intro
section.container.first-section.intro-section
	a.anchor-link#intro
	.row
		main.content.col-sm-7
			h2.intro-title Using the Styleguide
			.intro-copy.link-underline
				!= $section->copy()

		aside.sidebar.col-sm-4.col-sm-offset-1
			h3.sidebar-section-title References
			ul
				li.sidebar-item
					h4.sidebar-item-title SASS
					.info
						a(href="http://sass-lang.com" target="_blank") sass-lang.com						
				li.sidebar-item
					h4.sidebar-item-title Oxygen
					.info
						a(href="http://oxygencss.com" target="_blank") oxygencss.com
				li.sidebar-item
					h4.sidebar-item-title Bootstrap
					.info
						a(href="http://getbootstrap.com" target="_blank") getbootstrap.com