/* Hero
-------------------------------------------------- */
	.archives-page {
		.hero__title {
			margin-bottom: 0.2rem;
		}
	}
	.hero {
		&__inner {
			margin-top: 1.2rem;
			@include respond-to(break2) {margin-top: 2.5vw;}
			@include respond-to(fullwidth) {margin-top: 3.8rem;}
		}
		&__description {
			@include subtitle--sans--large;
		}
		.details {
			
		}
		.title {
			@include title--serif--xlarge;
			margin-bottom:1rem;
			.description {
			@include subtitle--sans;
			@include subtitle--sans;
			}
			@include respond-to(break2) {margin-bottom:1.3vw;}
			@include respond-to(fullwidth) {margin-bottom:1.8rem;}
		}	
		.more-link {
			// left:1.5rem;
			position: static;
			float: right;
			margin: 2rem 0 2rem 2rem;
			@include respond-to(break2) {
				margin: 0;
				float: none;
				position: absolute;
				left:1.35vw;
				top: auto;
				bottom: 0;
			}
			@include respond-to(fullwidth) {left:2rem;}
		}
	}


/* Archive or Collection item
-------------------------------------------------- */
	.archive-collection {
		min-height:82vw;
		@include respond-to(break2) {min-height:initial;min-height:auto;} // initial for ios, auto for ie
		// @include respond-to(break2) {min-height:2vw;}
		.title {
			@include title--serif;
			margin-bottom:1.5rem;
			@include respond-to(break2) {margin-bottom:0.5vw;}
			@include respond-to(fullwidth) {margin-bottom:1rem;}
		}
		.description {
			@include subtitle--sans;
		}
		margin-bottom:1.5rem;
		@include respond-to(break2) {margin-bottom:2.65vw;}
		@include respond-to(fullwidth) {margin-bottom:4rem;}
	}
	