/* Colors
-------------------------------------------------- */
// $black50: rgba(black, 0.5);
$black80: hsl(0, 0, 20);
$black65: hsl(0, 0, 35);
$black60: hsl(0, 0, 40);
$black50: hsl(0, 0, 50);
$black40: hsl(0, 0, 60);
$black30: hsl(0, 0, 70);
$black20: hsl(0, 0, 80);
$black15: hsl(0, 0, 85);

/* Color Application
-------------------------------------------------- */
$links: red;
$copylinks: coral;
$hover: blue;
$navbar: $black80;
$tagline: $black50;
$sitelinks: $black30;

$searchText: $black40;

a {
  color: $links;
}
a:hover, .main-copy h2 a:hover  { color: $hover; }
.main-copy a { color: $copylinks; }