@charset "UTF-8";

.container:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after,
.slick-track:after {
  clear: both;
}

img,
label {
  max-width: 100%;
}

.social-icon-link,
img {
  vertical-align: middle;
}

.banner-carousel,
.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.woff) format("woff"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.ttf) format("truetype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: vd-icons;
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot);
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot?#iefix) format("embedded-opentype"),url(/assets/common/css/vd-icons/fonts/vd-icons.woff) format("woff"),url(/assets/common/css/vd-icons/fonts/vd-icons.ttf) format("truetype"),url(/assets/common/css/vd-icons/fonts/vd-icons.svg#vd-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/css/fonts/slick.woff) format("woff"),url(/assets/css/fonts/slick.ttf) format("truetype"),url(/assets/css/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.woff) format("woff"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.ttf) format("truetype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: vd-icons;
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot);
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot?#iefix) format("embedded-opentype"),url(/assets/common/css/vd-icons/fonts/vd-icons.woff) format("woff"),url(/assets/common/css/vd-icons/fonts/vd-icons.ttf) format("truetype"),url(/assets/common/css/vd-icons/fonts/vd-icons.svg#vd-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/css/fonts/slick.woff) format("woff"),url(/assets/css/fonts/slick.ttf) format("truetype"),url(/assets/css/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.woff) format("woff"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.ttf) format("truetype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: vd-icons;
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot);
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot?#iefix) format("embedded-opentype"),url(/assets/common/css/vd-icons/fonts/vd-icons.woff) format("woff"),url(/assets/common/css/vd-icons/fonts/vd-icons.ttf) format("truetype"),url(/assets/common/css/vd-icons/fonts/vd-icons.svg#vd-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/css/fonts/slick.woff) format("woff"),url(/assets/css/fonts/slick.ttf) format("truetype"),url(/assets/css/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@-ms-viewport {
  width: device-width;
}

.slick-slider,
.slick-track {
  position: relative;
  display: block;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.woff) format("woff"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.ttf) format("truetype"),url(/assets/bower_components/slick-carousel/slick/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: vd-icons;
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot);
  src: url(/assets/common/css/vd-icons/fonts/vd-icons.eot?#iefix) format("embedded-opentype"),url(/assets/common/css/vd-icons/fonts/vd-icons.woff) format("woff"),url(/assets/common/css/vd-icons/fonts/vd-icons.ttf) format("truetype"),url(/assets/common/css/vd-icons/fonts/vd-icons.svg#vd-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}

[class^=icon-]:before {
  font-family: vd-icons!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-variant: normal!important;
  text-transform: none!important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\63";
}

.icon-flickr:before {
  content: "\64";
}

.icon-tumblr:before {
  content: "\67";
}

.icon-twitter:before {
  content: "\68";
}

.icon-search:before {
  content: "\69";
}

.icon-share:before {
  content: "\6a";
}

.icon-instagrem:before {
  content: "\6d";
}

.icon-menu:before {
  content: "\6e";
}

.slick-slider {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.slick-list {
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slick-track {
  left: 0;
  top: 0;
}

.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: url(/assets/css/ajax-loader.gif) center center no-repeat #fff;
}

@font-face {
  font-family: slick;
  src: url(/assets/css/fonts/slick.eot);
  src: url(/assets/css/fonts/slick.eot?#iefix) format("embedded-opentype"),url(/assets/css/fonts/slick.woff) format("woff"),url(/assets/css/fonts/slick.ttf) format("truetype"),url(/assets/css/fonts/slick.svg#slick) format("svg");
  font-weight: 400;
  font-style: normal;
}

.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  background: 0 0;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  padding: 0;
  border: none;
  outline: 0;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  outline: 0;
  background: 0 0;
  color: transparent;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: .75;
}

.slick-prev:before {
  content: "←";
}

.slick-next:before {
  content: "→";
}

.slick-dots {
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

.nav-icons,
.social-icons {
  text-align: right;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: .75;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}

img {
  border: 0;
}

input,
select {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

.browsenav__title,
.category,
.meganav__title {
  text-transform: uppercase;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.container,
.navbar-collapse {
  padding-right: 20px;
  padding-left: 20px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 1.42857143;
  background-color: #fff;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:852px) {
  .container {
    width: 760px;
  }
}

@media (min-width:992px) {
  .container {
    width: 980px;
  }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width:852px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .navbar {
    border-radius: 4px;
  }
}

@media (min-width:992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.collapse {
  display: none;
}

.navbar {
  min-height: 50px;
}

.navbar-collapse {
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-overflow-scrolling: touch;
}

@media (min-width:852px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
}

.navbar-brand {
  float: left;
  line-height: 20px;
  height: 50px;
}

.navbar-brand>img {
  display: block;
}

.container:after,
.container:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

img,
nav,
section {
  display: block;
}

@-ms-viewport {
  width: device-width;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container,
.navbar-header {
  max-width: 1560px;
  width: 100%;
}

li {
  list-style-type: none;
}

input {
  border-radius: 0;
}

.nav-icon {
  color: #fff;
  font-size: 2.3rem;
  line-height: .9;
}

@media only screen and (min-width:53.25em) {
  .nav-icon {
    font-size: 3.8rem;
    margin: 14px;
    line-height: .7;
  }

  .social-icons--mobile {
    display: none!important;
  }
}

.social-icons--mobile {
  padding: 0;
  position: relative;
  z-index: 10;
}

.social-icons--desktop {
  display: none;
}

.social-icon {
  color: #999;
}

@media only screen and (max-width:53.25em) {
  .nav-icon--main {
    margin: 1.5vw;
  }

  .social-icons--desktop {
    display: none!important;
  }

  .social-icons {
    display: none;
    background-color: #e6e6e6;
    width: 100%;
    left: 0;
  }

  .social-icon--mobile {
    margin: 4px;
  }
}

.meganav__title {
  font-family: balboa,Arial,sans-serif;
  font-family: acumin-pro,Arial,sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 5vw;
}

@media only screen and (min-width:53.25em) {
  .meganav__title {
    font-size: 1.4vw;
    line-height: 1.2;
  }
}

.search-bar {
  font-family: acumin-pro,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 2.5rem;
}

.section--banner .title {
  font-family: freight-text-pro,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 6vw;
}

.hero__inner {
  margin-top: 1.2rem;
}

@media only screen and (min-width:53.25em) {
  .section--banner .title {
    font-size: 2.7vw;
    line-height: 1.2;
  }

  .hero__inner {
    margin-top: 2.5vw;
  }
}

.hero__description {
  font-family: acumin-pro,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 5vw;
}

@media only screen and (min-width:53.25em) {
  .hero__description {
    font-size: 1.9vw;
  }
}

.hero .title {
  font-family: freight-text-pro,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 8vw;
  margin-bottom: 1rem;
}

@media only screen and (min-width:53.25em) {
  .hero .title {
    font-size: 4.1vw;
    margin-top: -1rem;
  }
}

.hero .title .description {
  font-family: acumin-pro,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.2;
  line-height: 1.4;
  font-size: 4vw;
}

@media only screen and (min-width:53.25em) {
  .hero .title .description {
    font-size: 1.25vw;
    line-height: 1.25;
  }

  .hero .title {
    margin-bottom: 1.3vw;
  }
}

.hero .more-link {
  position: static;
  float: right;
  margin: 2rem 0 2rem 2rem;
}

@media only screen and (min-width:53.25em) {
  .hero .more-link {
    margin: 0;
    float: none;
    position: absolute;
    left: 1.35vw;
    top: auto;
    bottom: 0;
  }
}

.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

[class*=col-] {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media only screen and (min-width:53.25em) {
  .row {
    margin-left: -1.35%;
    margin-right: -1.35%;
  }

  [class*=col-] {
    padding-left: 1.35%;
    padding-right: 1.35%;
  }
}

a {
  text-decoration: none;
  color: #333;
}

@media only screen and (min-width:40em) {
  .mobile-only {
    display: none;
  }
}

.container {
  padding: 0 15px;
}

.site-toggle__link.active {
  color: #666;
}

body {
  font-family: freight-text-pro,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 5vw;
  color: #000;
}

section {
  position: relative;
}

@media only screen and (min-width:53.25em) {
  .container {
    padding: 0 80px;
  }

  body {
    font-size: 1.5vw;
  }

  section {
    margin-bottom: 2.3vw;
  }
}

.section--first {
  padding-top: 1.5rem;
}

.hr {
  display: block;
  border: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hr--folklife {
  height: 11px;
  background-image: url(/assets/images/hr.jpg);
  margin-bottom: 5vw;
}

.hr--thin {
  height: 8px;
  background-image: url(/assets/images/hr--thin.png);
  margin-top: 1vw;
}

@media only screen and (min-width:53.25em) {
  .section--first {
    padding-top: 2.6vw;
  }

  .hr--folklife {
    margin-bottom: 2.6vw;
  }

  .hr--thin {
    margin-top: .5vw;
  }
}

.details {
  padding-top: 12px;
  min-height: 26vw;
}

@media only screen and (min-width:53.25em) {
  .details {
    min-height: initial;
    min-height: auto;
    padding-top: 1.9vw;
  }
}

.details--inset {
  padding: 2vw 2.5vw;
}

.category {
  font-family: acumin-pro-wide,Arial,sans-serif;
  color: #595959;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-size: 2.5vw;
}

@media only screen and (min-width:53.25em) {
  .details--inset {
    padding: 1.5vw 1.2vw 1.2vw;
  }

  .category {
    font-size: .95vw;
    margin-bottom: .3rem;
  }

  .navbar {
    top: 60px;
  }
}

.navbar {
  background-color: #333;
  z-index: 10;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width:53.25em) {
  .navbar {
    position: fixed;
    width: 100%;
  }
}

.navbar__site-toggle {
  display: none;
}

@media only screen and (min-width:53.25em) {
  .navbar__site-toggle {
    display: block;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    background-color: #fff;
    font-family: balboa,Arial,sans-serif;
    color: gray;
    font-size: 2.7rem;
    text-align: right;
    font-weight: 300;
  }
}

.logo__copy,
.navbar-header,
img.sunsplash {
  position: relative;
}

.tagline {
  display: inline-block;
  padding: 11px 0;
}

.site-toggle__link {
  color: #b3b3b3;
  margin-left: 2.5rem;
}

.navbar-outside {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.navbar-header {
  z-index: 10;
  padding: 0 15px;
  margin: 0 auto;
  float: none;
  display: table;
}

.navbar-header__inner {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: table-cell;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

.navspacer {
  background-color: #333;
  height: 50px;
}

@media only screen and (min-width:53.25em) {
  .navbar-header {
    padding: 0 80px;
  }

  .navspacer {
    height: 178px!important;
  }
}

.navbar-brand {
  font-size: 10px;
  padding: 10px 0 0;
}

.logo-mask {
  overflow: hidden;
  display: inline-block;
}

img.sunsplash {
  width: 4.5vw;
  width: 15px;
  vertical-align: top;
  display: none;
}

.logo__copy,
.nav-icon,
.social-icon-link {
  display: inline-block;
}

@media only screen and (min-width:53.25em) {
  .navbar-brand {
    height: 115px;
    padding: 23px 0 10px;
  }

  img.sunsplash {
    display: inline-block;
    width: 30px;
  }
}

.logo__copy,
img.logo--center,
img.logo--folklife {
  width: 193px;
  height: 32px;
}

img.logo--center,
img.logo--folklife {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-icons {
  right: 0;
  margin-top: 7px;
  margin-right: -10px;
}

@media only screen and (min-width:53.25em) {
  .logo__copy,
  img.logo--center,
  img.logo--folklife {
    width: 420px;
    height: 70px;
  }

  .nav-icons {
    margin-top: 0;
    margin-right: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 66.66667%;
  }
}

.browsenav,
.meganav {
  position: relative;
  display: none;
}

.nav-icon {
  float: right;
  opacity: 1;
}

@media only screen and (max-width:53.25em) {
  .search-bar,
  .social-icons {
    height: 5rem;
  }

  .social-icon-link {
    padding: 10px;
  }
}

.search-bar {
  display: none;
  background-color: #fff;
  width: 100%;
  float: right;
  text-align: left;
  color: #999;
  padding: 0;
}

@media only screen and (min-width:74.25em) {
  .search-bar {
    margin-top: 12px;
    width: 70%;
  }

  .search-bar input {
    padding: 0 15px;
  }
}

.search-bar input {
  width: 100%;
}

@media only screen and (max-width:74.25em) {
  .search-bar--desktop {
    display: none!important;
  }
}

.search-bar--mobile {
  padding: 5px 15px;
  position: relative;
  z-index: 11;
}

@media only screen and (min-width:74.25em) {
  .search-bar--mobile {
    display: none!important;
  }
}

.nav-icon,
.slick-dots li button:before {
  background-size: 258px 355px!important;
}

.slick-dots li button:before,
.slick-dots li button:hover:before,
select {
  background: url(/assets/images/icons/navicons--mobile.png);
}

.slick-dots li button:before,
.slick-dots li button:hover:before {
  width: 13px;
  height: 13px;
}

select {
  background-position: -229px -136px;
}

.slick-dots li button:before {
  background-position: -136px -63px;
}

.slick-dots li button:hover:before {
  background-position: -136px -86px;
}

.meganav {
  position: relative;
  padding: 0 0 .5rem;
}

@media only screen and (min-width:53.25em) {
  .slick-dots li button:before,
  .slick-dots li button:hover:before,
  .slick-next::before,
  .slick-next:hover::before,
  .slick-prev::before,
  .slick-prev:hover::before,
  select {
    background: url(/assets/images/icons/navicons--tablet.png);
  }

  .slick-dots li button:before,
  .slick-dots li button:hover:before {
    height: 13px;
  }

  .slick-next::before,
  .slick-next:hover::before,
  .slick-prev:hover::before {
    width: 28px;
    height: 54px;
  }

  .slick-next:hover::before {
    background-position: -173px -297px;
  }

  .slick-next::before {
    background-position: -137px -297px;
  }

  .slick-prev:hover::before {
    background-position: -63px -297px;
  }

  select {
    background-position: -220px -169px;
    width: 25px;
    height: 14px;
  }

  .slick-dots li button:before {
    background-position: -226px -118px;
    width: 13px;
  }

  .slick-dots li button:hover:before {
    background-position: -226px -132px;
    width: 14px;
  }

  .slick-prev::before {
    background-position: -98px -297px;
    width: 29px;
    height: 54px;
  }

  .meganav {
    padding: 4rem 0 2.6rem;
  }
}

.meganav__title {
  padding: 10px 0 0;
  color: #ccc;
}

.meganav__list {
  display: none;
}

.meganav__main-item a {
  display: block;
}

.meganav__sub-item {
  font-family: acumin-pro,Arial,sans-serif;
  font-size: 1.7rem;
  line-height: 2;
  color: #fff;
  font-weight: 400;
}

.meganav {
  background-color: #666;
  z-index: 9;
}

.browsenav {
  background-color: gray;
  z-index: 10;
  top: 3rem;
}

.dots,
.select:after,
.textbox {
  position: absolute;
}

@media only screen and (min-width:53.25em) {
  .meganav__title {
    padding: 0;
    color: #fff;
  }

  .meganav__list {
    display: block;
  }

  .meganav__sub-item {
    font-size: 1.25vw;
    line-height: 1.45;
    color: #ccc;
  }

  .browsenav {
    padding: 2.7vw 0 1.9vw;
    top: 3rem;
  }
}

@media only screen and (min-width:74.25em) {
  .browsenav {
    top: 0;
  }
}

.browsenav__title {
  font-family: unit-gothic-717,Arial,sans-serif;
  font-size: 5vw;
  letter-spacing: .5px;
  line-height: .7;
  margin-top: 0;
  color: #fff;
  margin-bottom: 3rem;
}

@media only screen and (min-width:53.25em) {
  .browsenav__title {
    font-size: 1.9vw;
    margin-bottom: 1.4vw;
  }
}

.browsenav__item {
  margin-bottom: 2rem;
}

.section--banner,
.select {
  margin-bottom: 0;
}

select {
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  border-radius: 0;
  padding: 10px 15px;
  font-family: acumin-pro,Arial,sans-serif;
  font-size: 1.7rem;
  line-height: 2;
  line-height: 1!important;
  font-weight: 600;
  width: 100%;
  height: 44px;
}

@media only screen and (min-width:53.25em) {
  .browsenav__item {
    margin-bottom: 0;
  }

  select {
    font-size: 1.25vw;
    line-height: 1.45;
  }
}

.select {
  width: 100%;
  background-color: #ccc;
}

.select:after {
  content: "\6f";
  font-family: vd-icons;
  font-size: 3rem;
  vertical-align: top;
  color: gray;
  right: 2rem;
  top: 0;
  background: #ccc;
  line-height: 1.1;
  text-align: center;
  width: 10%;
  height: 100%;
  box-sizing: border-box;
}

.section--banner .title {
  margin-bottom: 1rem;
}

.textbox {
  background-color: #fff;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width:53.25em) {
  .section--banner .title {
    margin-bottom: 3rem;
  }

  .textbox {
    bottom: 5%;
    left: 2.8%;
    width: 22.86%;
    min-height: 40%;
  }

  .dots {
    display: block;
  }
}

.dots {
  bottom: 2%;
  left: 5%;
}

@media only screen and (max-width:53.25em) {
  .banner-carousel {
    margin-bottom: 2vw;
  }

  .banner-slide .textbox {
    display: none;
  }
}

.banner__nav--mobile {
  margin-bottom: 6vw;
  padding: 5px 15px;
}

.banner-slide {
  position: relative;
}

.banner-slide .details {
  padding: 2vw 2vw 0;
}

.slick-initialized {
  visibility: visible;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

@media only screen and (min-width:53.25em) {
  .banner__nav--mobile {
    display: none;
  }

  .banner-slide .details {
    padding: 1.25vw 1.2vw 0;
  }

  .banner-slide:not(.slick-active):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
  }

  .slick-dotted.slick-slider {
    margin-bottom: 3.4vw;
  }
}

.slick-list {
  position: relative;
}

.slick-arrow {
  display: none!important;
}

.slick-next::before,
.slick-prev::before {
  content: '';
  -webkit-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  transform: translateY(-49%);
  position: absolute;
  opacity: 1;
}

.slick-prev {
  left: -10px;
  z-index: 1;
}

.slick-next {
  right: 22px;
  z-index: 1;
}

.slick-dots {
  position: static;
}

@media only screen and (min-width:53.25em) {
  .slick-arrow {
    display: block!important;
    width: 45px;
    height: 78px;
  }

  .slick-dots {
    text-align: left;
  }
}

.slick-dots li button:before {
  content: '';
  opacity: 1;
  width: 14px;
  height: 14px;
  display: block;
}