@charset "UTF-8";
/*
	Styleguide.folklife.si
	Author: Visual Dialogue
	URL:    http://visualdialogue.com
	Created: Fall 2016
*/
/* Imports
-------------------------------------------------- */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("../bower_components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("../bower_components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("../bower_components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "vd-icons";
  src: url("vd-icons/fonts/vd-icons.eot");
  src: url("vd-icons/fonts/vd-icons.eot?#iefix") format("embedded-opentype"), url("vd-icons/fonts/vd-icons.woff") format("woff"), url("vd-icons/fonts/vd-icons.ttf") format("truetype"), url("vd-icons/fonts/vd-icons.svg#vd-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "vd-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vd-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-circle:before {
  content: "\61"; }

.icon-play:before {
  content: "\62"; }

.icon-facebook:before {
  content: "\63"; }

.icon-flickr:before {
  content: "\64"; }

.icon-left-open-big:before {
  content: "\65"; }

.icon-right-open-big:before {
  content: "\66"; }

.icon-tumblr:before {
  content: "\67"; }

.icon-twitter:before {
  content: "\68"; }

.icon-search:before {
  content: "\69"; }

.icon-share:before {
  content: "\6a"; }

.icon-right-thin:before {
  content: "\6b"; }

.icon-mail:before {
  content: "\6c"; }

/* Reset
 * from Kirby @ https://github.com/getkirby/starterkit/blob/master/assets/css/main.css
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

a[href^="tel"] {
  border: none; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

li {
  list-style-type: none; }

html {
  -webkit-tap-highlight-color: transparent; }

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%; }

/* #Media Queries
-------------------------------------------------- */
/* Colors
-------------------------------------------------- */
/* Color Application
-------------------------------------------------- */
a {
  color: red; }

a:hover, .main-copy h2 a:hover {
  color: blue; }

.main-copy a {
  color: coral; }

/* Icons
-------------------------------------------------- */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }
  .icon-stack div {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center; }

.icon-play-button .icon-circle {
  color: #cccccc; }

.icon-play-button .icon-play {
  color: #333333; }

[class^="icon-"],
[class*=" icon-"] {
  width: 10vw;
  height: 10vw; }
  @media only screen and (min-width: 53.25em) {
    [class^="icon-"],
    [class*=" icon-"] {
      width: 4vw;
      height: 4vw; } }
  @media only screen and (min-width: 1480px) {
    [class^="icon-"],
    [class*=" icon-"] {
      width: 6rem;
      height: 6rem; } }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-size: 10vw; }
  @media only screen and (min-width: 53.25em) {
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      font-size: 4vw; } }
  @media only screen and (min-width: 1480px) {
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      font-size: 6rem; } }

body {
  font-family: "acumin-pro", Arial, sans-serif; }

.meganav__main-item__title, .footer__main-item__title {
  font-family: "balboa", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4vw; }
  @media only screen and (min-width: 53.25em) {
    .meganav__main-item__title, .footer__main-item__title {
      font-size: 1.5vw;
      line-height: 1.2; } }
  @media only screen and (min-width: 1480px) {
    .meganav__main-item__title, .footer__main-item__title {
      font-size: 2.2rem; } }

.title--sans, .section--audio .title {
  font-family: "acumin-pro", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: 5vw; }
  @media only screen and (min-width: 53.25em) {
    .title--sans, .section--audio .title {
      font-size: 1.6vw;
      margin-bottom: 0.4vw; } }
  @media only screen and (min-width: 1480px) {
    .title--sans, .section--audio .title {
      font-size: 2.4rem;
      margin-bottom: 0.5rem; } }

.section--participate .title {
  font-family: "acumin-pro", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 5vw; }
  @media only screen and (min-width: 53.25em) {
    .section--participate .title {
      font-size: 2vw;
      margin-bottom: 0.4vw; } }
  @media only screen and (min-width: 1480px) {
    .section--participate .title {
      font-size: 3rem;
      line-height: 1.25;
      margin-bottom: 0; } }

.more-link__text, .subtitle--sans, .section--audio .subtitle, .talk-story__featurette .title, .talk-story__featurette .subtitle, .section--teach .title, .section--newsletter-signup, .section--support, .newsletter-signup__copy {
  font-family: "acumin-pro", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  line-height: 1.4;
  font-size: 4vw; }
  @media only screen and (min-width: 53.25em) {
    .more-link__text, .subtitle--sans, .section--audio .subtitle, .talk-story__featurette .title, .talk-story__featurette .subtitle, .section--teach .title, .section--newsletter-signup, .section--support, .newsletter-signup__copy {
      font-size: 1.35vw;
      line-height: 1.25; } }
  @media only screen and (min-width: 1480px) {
    .more-link__text, .subtitle--sans, .section--audio .subtitle, .talk-story__featurette .title, .talk-story__featurette .subtitle, .section--teach .title, .section--newsletter-signup, .section--support, .newsletter-signup__copy {
      line-height: 1.3;
      font-size: 2rem; } }

.talk-story__feature .subtitle {
  font-family: "acumin-pro", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 5vw; }
  @media only screen and (min-width: 53.25em) {
    .talk-story__feature .subtitle {
      font-size: 2vw; } }
  @media only screen and (min-width: 1480px) {
    .talk-story__feature .subtitle {
      font-size: 3rem; } }

.search-bar {
  font-family: "acumin-pro", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 2.5rem; }

.title--serif, .section--video .title, .dive-deep__featurette .title, .explore-collections .title {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 6vw; }
  @media only screen and (min-width: 53.25em) {
    .title--serif, .section--video .title, .dive-deep__featurette .title, .explore-collections .title {
      font-size: 1.9vw; } }
  @media only screen and (min-width: 1480px) {
    .title--serif, .section--video .title, .dive-deep__featurette .title, .explore-collections .title {
      font-size: 2.8rem; } }

.section--banner .title, .dive-deep__textbox .title {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 6vw; }
  @media only screen and (min-width: 53.25em) {
    .section--banner .title, .dive-deep__textbox .title {
      font-size: 2.8vw;
      line-height: 1.2; } }
  @media only screen and (min-width: 1480px) {
    .section--banner .title, .dive-deep__textbox .title {
      font-size: 4.2rem; } }

.date, .category {
  text-transform: uppercase;
  font-family: "acumin-pro-wide", Arial, sans-serif;
  color: #595959;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  font-size: 2.5vw; }
  @media only screen and (min-width: 53.25em) {
    .date, .category {
      font-size: 1.2vw;
      margin-bottom: 0.3rem; } }
  @media only screen and (min-width: 1480px) {
    .date, .category {
      font-size: 1.6rem;
      margin-bottom: 0.5rem; } }

.date {
  font-weight: 700; }

/* Sans reference
-------------------------------------------------- */
/* 

-----------------------------------------------------
item: 						| mobile 	| tablet	| desktop
-----------------------------------------------------
%meganav-font 				| 10vw   	| 4rem		| 4rem
%link-font 					| 1.7rem 	| 2rem   	|
%title--sans 				| 5vw		| 1.6vw		| 2.4rem
%title--sans--alt 			| 5vw		| 2vw		| 3rem
%subtitle--sans  			| 4vw		| 1.35vw	| 2rem
%category 					| 4.1vw		| 1.2vw		| 1.8rem
%section-header				|			| 2vw		| 3rem
-----------------------------------------------------
%title--serif 				| 6vw		| 1.9vw		| 2.8rem
%title--serif--large 		| 5vw		| 2.7vw		|
-----------------------------------------------------
.audio__details padding		| 2vw		| 2rem		|
.item__details--audio padd: | 3vw		| 2vw		| 3rem
.item__details--audio padd: | 2vw		| 1.3vw		| 2rem


-----------------------------------------------------
conversion: 				| mobile 	| tablet	| desktop
-----------------------------------------------------
										| 2.65vw	| 4rem

*/
.featurette-list {
  margin-bottom: 0; }

.featurette {
  margin-bottom: 3vw; }
  @media only screen and (min-width: 53.25em) {
    .featurette {
      margin-bottom: 2vw; } }
  @media only screen and (min-width: 1480px) {
    .featurette {
      margin-bottom: 3rem; } }
  .featurette:last-of-type {
    margin-bottom: 0; }
  .featurette__details, .featurette__image {
    display: inline-block;
    vertical-align: top; }
  .featurette__details {
    width: 50%; }
  .featurette__image {
    display: inline-block;
    vertical-align: top;
    width: 50%; }
  .featurette .title {
    font-weight: 700; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Grid System
-------------------------------------------------- */
.row {
  margin-left: -1.35%;
  margin-right: -1.35%; }
  @media only screen and (min-width: 1480px) {
    .row {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 0; } }

[class*="col-"] {
  padding-left: 1.35%;
  padding-right: 1.35%; }
  @media only screen and (min-width: 1480px) {
    [class*="col-"] {
      padding-left: 20px;
      padding-right: 20px; } }

/* Sizes
-------------------------------------------------- */
/* Mixins
-------------------------------------------------- */
/* #Links
-------------------------------------------------- */
.anchor {
  position: relative;
  top: -40px; }

a {
  color: #595959; }

a:hover {
  color: #999999; }

/* Header styles
-------------------------------------------------- */
/* #Helpers
-------------------------------------------------- */
.sans {
  font-family: "acumin-pro", Arial, sans-serif; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }

.no-mobile, .no-mobile-inline {
  display: none; }

.tablet-only {
  display: none; }

.desktop-only {
  display: none !important; }

.desktop-only-inline {
  display: none; }

.break-2-only-inline {
  display: none; }

@media only screen and (min-width: 40em) {
  .mobile-only {
    display: none; }
  .no-mobile {
    display: block; }
  .no-mobile-inline {
    display: inline-block; }
  .no-tablet {
    display: none; }
  .tablet-only {
    display: block; } }

@media only screen and (min-width: 53.25em) {
  .break-2-only-inline {
    display: inline-block; }
  .mobile-tablet-only {
    display: none; }
  .no-tablet {
    display: block; }
  .no-tablet-inline {
    display: inline-block; }
  .tablet-only {
    display: none; }
  .showroom-narrow {
    display: none; }
  .manufacturer-narrow {
    display: none; }
  .no-desktop {
    display: none !important; }
  .desktop-only {
    display: block !important; }
  .desktop-only-inline {
    display: inline-block !important; } }

/* Widths
-------------------------------------------------- */
.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 15px; }
  @media only screen and (min-width: 53.25em) {
    .container {
      padding: 0 40px; } }

/* Icons
-------------------------------------------------- */
.more-link {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  line-height: 1; }
  @media only screen and (min-width: 53.25em) {
    .more-link {
      right: 4rem; } }
  .more-link__text {
    display: inline-block;
    margin-right: 2vw;
    vertical-align: top;
    line-height: 0.9; }
    @media only screen and (min-width: 53.25em) {
      .more-link__text {
        margin-right: 1vw;
        line-height: 1.2; } }
    @media only screen and (min-width: 1480px) {
      .more-link__text {
        margin-right: 1rem; } }
  .more-link__arrow {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    line-height: 0.8; }
    .more-link__arrow:before {
      font-size: 4vw; }
      @media only screen and (min-width: 53.25em) {
        .more-link__arrow:before {
          font-size: 1.5vw;
          line-height: 1.3; } }
      @media only screen and (min-width: 1480px) {
        .more-link__arrow:before {
          font-size: 2rem;
          line-height: 1.3; } }

.section--vr .more-link {
  right: 2.7%; }

.icon-mail {
  color: #999999;
  float: right;
  margin-left: 3vw; }
  @media only screen and (min-width: 53.25em) {
    .icon-mail {
      margin-left: 2vw; } }
  @media only screen and (min-width: 1480px) {
    .icon-mail {
      margin-left: 2rem; } }

/* General / Sections
-------------------------------------------------- */
.site--folklife .site-toggle__link--folklife {
  color: #666666; }

.section__title {
  font-family: "unit-gothic-717", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 0.5px;
  line-height: 0.65;
  margin-top: 0;
  margin-bottom: 5vw;
  color: #595959; }
  @media only screen and (min-width: 53.25em) {
    .section__title {
      font-size: 2vw;
      margin-bottom: 2.8vw; } }
  @media only screen and (min-width: 1480px) {
    .section__title {
      font-size: 3rem;
      margin-bottom: 4.2rem; } }

section {
  position: relative; }
  @media only screen and (min-width: 53.25em) {
    section {
      margin-bottom: 2.4vw; } }
  @media only screen and (min-width: 1480px) {
    section {
      margin-bottom: 5.5rem;
      margin-bottom: 4rem;
      margin-bottom: 7.3rem; } }

@media only screen and (max-width: 53.25em) {
  section li {
    margin-bottom: 2rem; } }

hr {
  margin: 0; }

.hr--folklife {
  display: block;
  border: 0px;
  height: 11px;
  background-image: url(/assets/images/folklife-hr-10.12.16.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 5vw; }
  @media only screen and (min-width: 53.25em) {
    .hr--folklife {
      margin-bottom: 1.3vw; } }
  @media only screen and (min-width: 1480px) {
    .hr--folklife {
      margin-bottom: 2.2rem;
      margin-bottom: 4rem; } }

.details {
  padding-top: 4vw;
  min-height: 26vw; }
  @media only screen and (min-width: 53.25em) {
    .details {
      min-height: initial;
      padding-top: 2vw; } }
  @media only screen and (min-width: 1480px) {
    .details {
      padding-top: 2.5rem; } }

.details--inset {
  padding: 2vw 2.5vw 2vw; }
  @media only screen and (min-width: 53.25em) {
    .details--inset {
      padding: 1.6vw 1.3vw 1.3vw; } }
  @media only screen and (min-width: 1480px) {
    .details--inset {
      padding: 2.5rem 2rem 2rem; } }

@media only screen and (min-width: 53.25em) {
  .details--tight {
    padding: 0.9vw 0.8vw 0 1.1vw; } }

@media only screen and (min-width: 1480px) {
  .details--tight {
    padding: 1.6rem 1.8rem 0 1.8rem; } }

@media only screen and (min-width: 53.25em) {
  .details--tight-bottom {
    padding-bottom: 1.35vw; } }

@media only screen and (min-width: 1480px) {
  .details--tight-bottom {
    padding-bottom: 1.5rem; } }

.details__inner {
  margin-top: 0; }
  @media only screen and (min-width: 53.25em) {
    .details__inner {
      margin-top: -2px; } }
  @media only screen and (min-width: 1480px) {
    .details__inner {
      margin-top: -3px; } }

/* Nav
-------------------------------------------------- */
.navbar {
  background-color: #333333;
  z-index: 2;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  position: absolute;
  width: 100%; }
  @media only screen and (max-width: 53.25em) {
    .navbar {
      position: fixed;
      width: 100%; } }
  @media only screen and (min-width: 53.25em) {
    .navbar {
      top: 72px; } }

.navbar__site-toggle {
  display: none; }
  @media only screen and (min-width: 53.25em) {
    .navbar__site-toggle {
      display: block;
      position: absolute;
      width: 100%;
      text-transform: uppercase;
      background-color: white;
      font-family: "balboa", Arial, sans-serif;
      color: gray;
      font-size: 2.7rem;
      text-align: right;
      font-weight: 300; } }

.tagline {
  display: inline-block;
  padding: 17px 0; }

.site-toggle__link {
  color: #b3b3b3;
  margin-left: 2.5rem; }
  .site-toggle__link:hover {
    color: #333333;
    text-decoration: none; }

.navbar-outside {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9; }

.navbar-header {
  position: relative;
  z-index: 10;
  max-width: 1480px;
  padding: 0 15px;
  margin: 0 auto;
  display: table;
  width: 100%; }
  @media only screen and (min-width: 53.25em) {
    .navbar-header {
      padding: 0 40px; } }

.navbar-header__inner {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: table-cell;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100; }

.navspacer {
  background-color: #333333;
  height: 50px; }
  @media only screen and (min-width: 53.25em) {
    .navspacer {
      height: 185px !important; } }
  .navspacer-open {
    height: 132px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.navbar-brand {
  font-size: 10px;
  padding: 10px 0 5px 0;
  padding: 10px 0 0 0; }
  @media only screen and (min-width: 53.25em) {
    .navbar-brand {
      height: 115px;
      padding: 23px 0 10px 0; } }
  @media only screen and (min-width: 1480px) {
    .navbar-brand {
      padding: 23px 0 23px 0;
      height: 120px;
      font-size: 25px; } }

.logo-mask {
  overflow: hidden;
  display: inline-block; }

img.sunburst {
  width: 4.5vw;
  width: 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  display: none; }
  @media only screen and (min-width: 53.25em) {
    img.sunburst {
      display: inline-block;
      width: 30px; } }

.logo__copy {
  position: relative;
  display: inline-block; }

.logo__copy, img.logo--folklife, img.logo--center {
  width: 193px;
  height: 32px; }
  @media only screen and (min-width: 53.25em) {
    .logo__copy, img.logo--folklife, img.logo--center {
      width: 420px;
      height: 70px; } }
  @media only screen and (min-width: 1480px) {
    .logo__copy, img.logo--folklife, img.logo--center {
      width: 420px;
      height: 70px; } }

img.logo--center, img.logo--folklife {
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease; }

img.logo--folklife, img.logo--center {
  position: absolute;
  top: 0;
  left: 0; }

.smaller-header {
  position: fixed;
  top: 0;
  width: 100%; }
  .smaller-header .navbar-brand {
    height: 50px; }
    @media only screen and (min-width: 53.25em) {
      .smaller-header .navbar-brand {
        padding: 17px 0;
        height: 70px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; } }
  .smaller-header img.sunburst {
    position: relative;
    top: 0.7rem; }
  .smaller-header img.logo--center {
    top: -100%; }
  .smaller-header img.logo--folklife {
    top: -25%; }
  @media only screen and (min-width: 53.25em) {
    .smaller-header img.sunburst {
      top: 0.3rem; }
    .smaller-header img.logo--center {
      top: -8rem; }
    .smaller-header img.logo--center {
      top: -100%; }
    .smaller-header img.logo--folklife {
      top: -45%; } }
  .smaller-header + .section--banner.container {
    position: relative;
    top: 142px; }

.nav-icons {
  right: 0;
  text-align: right;
  margin-top: 12px; }
  @media only screen and (min-width: 53.25em) {
    .nav-icons {
      margin-top: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 66.66667%; } }

.nav-icon {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  float: right;
  margin: 2px;
  opacity: 1; }
  @media only screen and (min-width: 53.25em) {
    .nav-icon {
      margin: 5px; } }

.lighter-nav-icons {
  opacity: 0.2; }

.navbar-toggle {
  position: relative;
  z-index: 2; }

.navbar-toggle .icon-bar {
  color: white;
  background-color: white; }

@media only screen and (max-width: 53.25em) {
  .social-icons, .search-bar {
    height: 5rem; } }

.social-icon-link {
  display: inline-block; }
  @media only screen and (max-width: 53.25em) {
    .social-icon-link {
      padding: 10px; } }

.social-icons {
  text-align: right; }
  .social-icons--mobile {
    padding: 0;
    position: relative;
    z-index: 10; }
    @media only screen and (min-width: 53.25em) {
      .social-icons--mobile {
        display: none !important; } }
  .social-icons--desktop {
    display: none; }
    @media only screen and (max-width: 53.25em) {
      .social-icons--desktop {
        display: none !important; } }
  @media only screen and (max-width: 53.25em) {
    .social-icons {
      display: none;
      background-color: white;
      width: 100%;
      left: 0; } }

.social-icon {
  margin: 5px 2px; }
  @media only screen and (min-width: 53.25em) {
    .social-icon {
      margin: 4px 2px 0; } }

.search-bar {
  display: none;
  background-color: white;
  width: 100%;
  float: right;
  text-align: left;
  color: #999999;
  padding: 0; }
  @media only screen and (min-width: 74.25em) {
    .search-bar {
      margin-top: 5px;
      width: 70%; } }
  .search-bar input {
    width: 100%; }
    @media only screen and (min-width: 74.25em) {
      .search-bar input {
        padding: 0 15px; } }
  @media only screen and (max-width: 74.25em) {
    .search-bar--desktop {
      display: none !important; } }
  .search-bar--mobile {
    padding: 5px 15px;
    position: relative;
    z-index: 11; }
    @media only screen and (min-width: 74.25em) {
      .search-bar--mobile {
        display: none !important; } }

.nav-icon, .browsenav__inner, .slick-dots li button:before, .play-button, .audio-progress-bar, .volume {
  background-size: 258px 355px !important; }

.audio-progress-bar, .play-button:hover, .play-button:active, .play-button, .volume:hover, .volume, select, .slick-dots li button:before, .slick-dots li button:hover:before, .search-icon:hover, .search-icon, .menu-icon, .menu-icon:hover, .share-icon, .twitter-icon:hover, .twitter-icon, .tumblr-icon:hover, .flickr-icon:hover, .instagram-icon:hover, .instagram-icon, .flickr-icon, .tumblr-icon, .facebook-icon, .facebook-icon:hover, .share-icon:hover {
  background: url(/assets/images/icons/navicons--mobile.png); }

.play-button:hover, .play-button:active, .play-button {
  width: 38px;
  height: 38px; }

.volume:hover, .volume {
  width: 27px;
  height: 23px; }

.slick-dots li button:before, .slick-dots li button:hover:before {
  width: 13px;
  height: 13px; }

.search-icon:hover, .search-icon {
  width: 22px;
  height: 20px; }

.menu-icon, .menu-icon:hover, .share-icon, .twitter-icon:hover, .twitter-icon, .tumblr-icon:hover, .flickr-icon:hover, .instagram-icon:hover, .instagram-icon, .flickr-icon, .tumblr-icon, .facebook-icon, .facebook-icon:hover, .share-icon:hover {
  width: 22px;
  height: 21px; }

.audio-progress-bar {
  background-position: -20px -223px;
  width: 125px;
  height: 4px; }

.play-button:hover, .play-button:active {
  background-position: -67px -177px; }

.play-button {
  background-position: -19px -177px; }

.volume:hover {
  background-position: -175px -213px; }

.volume {
  background-position: -176px -178px; }

select {
  background-position: -229px -136px;
  width: 25px;
  height: 14px; }

.slick-dots li button:before {
  background-position: -136px -63px; }

.slick-dots li button:hover:before {
  background-position: -136px -86px; }

.search-icon:hover {
  background-position: -130px -37px; }

.search-icon {
  background-position: -130px -17px; }

.menu-icon {
  background-position: -73px -17px; }

.menu-icon:hover {
  background-position: -73px -37px; }

.share-icon {
  background-position: -16px -17px; }

.twitter-icon:hover {
  background-position: -36px -78px; }

.twitter-icon {
  background-position: -36px -58px; }

.tumblr-icon:hover {
  background-position: -57px -78px; }

.flickr-icon:hover {
  background-position: -79px -78px; }

.instagram-icon:hover {
  background-position: -100px -78px; }

.instagram-icon {
  background-position: -100px -58px; }

.flickr-icon {
  background-position: -79px -58px; }

.tumblr-icon {
  background-position: -57px -58px; }

.facebook-icon {
  background-position: -16px -58px; }

.facebook-icon:hover {
  background-position: -16px -78px; }

.share-icon:hover {
  background-position: -16px -37px; }

.search-icon:hover {
  background-position: -130px -17px; }

.menu-icon:hover {
  background-position: -73px -17px; }

.share-icon:hover {
  background-position: -16px -17px; }

@media only screen and (min-width: 53.25em) {
  .slick-next:hover::before, .slick-next::before, .slick-prev:hover::before, .audio-progress-bar, .play-button:hover, .play-button, .volume:hover, .volume, select, .slick-dots li button:before, .slick-dots li button:hover:before, .slick-prev::before, .search-icon:hover, .search-icon, .share-icon, .twitter-icon:hover, .twitter-icon, .tumblr-icon:hover, .flickr-icon:hover, .instagram-icon:hover, .instagram-icon, .flickr-icon, .tumblr-icon, .facebook-icon, .facebook-icon:hover, .share-icon:hover, .menu-icon, .menu-icon:hover {
    background: url(/assets/images/icons/navicons--tablet.png); }
  .slick-dots li button:before, .slick-dots li button:hover:before {
    height: 13px; }
  .slick-next:hover::before, .slick-next::before, .slick-prev:hover::before {
    width: 28px;
    height: 54px; }
  .play-button:hover, .play-button {
    width: 61px;
    height: 60px; }
  .volume:hover, .volume {
    width: 28px;
    height: 23px; }
  .search-icon:hover, .search-icon, .share-icon, .facebook-icon, .facebook-icon:hover, .share-icon:hover, .menu-icon:hover {
    width: 41px;
    height: 39px; }
  .twitter-icon:hover, .twitter-icon, .tumblr-icon:hover, .flickr-icon:hover, .instagram-icon:hover, .instagram-icon, .flickr-icon, .tumblr-icon, .menu-icon {
    width: 41px;
    height: 38px; }
  .slick-next:hover::before {
    background-position: -173px -297px; }
  .slick-next::before {
    background-position: -137px -297px; }
  .slick-prev:hover::before {
    background-position: -63px -297px; }
  .audio-progress-bar {
    background-position: -12px -280px;
    width: 201px;
    height: 3px; }
  .play-button:hover {
    background-position: -87px -205px; }
  .play-button {
    background-position: -10px -205px; }
  .volume:hover {
    background-position: -166px -241px; }
  .volume {
    background-position: -167px -206px; }
  select {
    background-position: -220px -169px;
    width: 25px;
    height: 14px; }
  .slick-dots li button:before {
    background-position: -226px -118px;
    width: 13px; }
  .slick-dots li button:hover:before {
    background-position: -226px -132px;
    width: 14px; }
  .slick-prev::before {
    background-position: -98px -297px;
    width: 29px;
    height: 54px; }
  .search-icon:hover {
    background-position: -217px -38px; }
  .search-icon {
    background-position: -217px 0px; }
  .share-icon {
    background-position: 0px 0px; }
  .twitter-icon:hover {
    background-position: -40px -114px; }
  .twitter-icon {
    background-position: -40px -76px; }
  .tumblr-icon:hover {
    background-position: -80px -114px; }
  .flickr-icon:hover {
    background-position: -120px -114px; }
  .instagram-icon:hover {
    background-position: -160px -114px; }
  .instagram-icon {
    background-position: -160px -76px; }
  .flickr-icon {
    background-position: -120px -76px; }
  .tumblr-icon {
    background-position: -80px -76px; }
  .facebook-icon {
    background-position: 0px -75px; }
  .facebook-icon:hover {
    background-position: 0px -113px; }
  .share-icon:hover {
    background-position: 0px -38px; }
  .menu-icon {
    background-position: -109px -1px; }
  .menu-icon:hover {
    background-position: -109px -40px; } }

@media only screen and (min-width: 1480px) {
  .slick-next:hover::before, .slick-next::before, .slick-prev:hover::before, .slick-prev::before {
    width: 36px;
    height: 68px;
    background: url(/assets/images/icons/navicons.png); }
  .slick-next:hover::before {
    background-position: -182px -270px; }
  .slick-next::before {
    background-position: -135px -270px; }
  .slick-prev:hover::before {
    background-position: -41px -270px; }
  .slick-prev::before {
    background-position: -86px -270px; } }

.meganav, .footer {
  position: relative;
  z-index: 10;
  padding: 0 0 0.5rem; }
  @media only screen and (min-width: 53.25em) {
    .meganav, .footer {
      padding: 3.6rem 0 2.6rem; } }
  .meganav__main-item__title, .footer__main-item__title {
    color: white;
    cursor: pointer;
    padding: 10px 0 0; }
    .meganav__main-item__title:hover, .footer__main-item__title:hover {
      color: #cccccc; }
    @media only screen and (min-width: 53.25em) {
      .meganav__main-item__title, .footer__main-item__title {
        padding: 0; } }
  .meganav__main-item__list, .footer__main-item__list {
    display: none; }
    @media only screen and (min-width: 53.25em) {
      .meganav__main-item__list, .footer__main-item__list {
        display: inline-block; } }
  .meganav__sub-item, .footer__sub-item {
    font-family: "acumin-pro", Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2;
    color: #cccccc;
    font-weight: 400;
    cursor: pointer; }
    @media only screen and (min-width: 53.25em) {
      .meganav__sub-item, .footer__sub-item {
        font-size: 2rem;
        line-height: 1.4; } }
    .meganav__sub-item:hover, .footer__sub-item:hover {
      color: white; }

.meganav {
  display: none;
  background-color: #666666; }

.nav-show-mobile {
  display: inline-block; }

.browsenav {
  display: none;
  background-color: #999999;
  position: relative;
  z-index: 10;
  top: 1rem; }
  @media only screen and (min-width: 53.25em) {
    .browsenav {
      padding: 2.8vw 0 2vw; } }
  @media only screen and (min-width: 1480px) {
    .browsenav {
      padding: 4rem 0 4rem; } }

.browsenav__title {
  color: white;
  font-family: "unit-gothic-717", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: 0.5px;
  line-height: 0.65;
  margin-top: 0;
  margin-bottom: 5vw;
  color: #595959;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 53.25em) {
    .browsenav__title {
      font-size: 2vw;
      margin-bottom: 2.8vw; } }
  @media only screen and (min-width: 1480px) {
    .browsenav__title {
      font-size: 3rem;
      margin-bottom: 4.2rem; } }
  @media only screen and (min-width: 53.25em) {
    .browsenav__title {
      margin-bottom: 1.5vw; } }
  @media only screen and (min-width: 1480px) {
    .browsenav__title {
      margin-bottom: 2rem; } }

.browsenav__item {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 53.25em) {
    .browsenav__item {
      margin-bottom: 0; } }

.browsenav__inner {
  background: url(/assets/images/icons/navicons--tablet.png) no-repeat;
  background-position: right 0px top -154px;
  background-color: white; }

select {
  /* make arrow and background */
  background-repeat: no-repeat;
  /* reset */
  background: transparent;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 0;
  padding: 10px 15px 10px;
  width: 100%;
  font-family: "acumin-pro", Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 2;
  line-height: 1;
  font-weight: 600; }
  @media only screen and (min-width: 53.25em) {
    select {
      font-size: 2rem;
      line-height: 1.4; } }

select {
  width: 100%;
  height: 44px; }

/* #Banner
-------------------------------------------------- */
.section--banner {
  margin-bottom: 0; }
  .section--banner .title {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 53.25em) {
      .section--banner .title {
        margin-bottom: 3rem; } }

.textbox {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%; }
  @media only screen and (min-width: 53.25em) {
    .textbox {
      bottom: 5%;
      left: 2.8%;
      width: 22.86%;
      min-height: 40%; } }
  @media only screen and (min-width: 1480px) {
    .textbox {
      bottom: 4rem;
      left: 4rem; } }

.dots {
  position: absolute;
  bottom: 2%;
  left: 5%; }
  @media only screen and (min-width: 53.25em) {
    .dots {
      display: block; } }
  @media only screen and (min-width: 1480px) {
    .dots {
      bottom: 1rem;
      left: 1.6rem; } }

@media only screen and (max-width: 53.25em) {
  .banner-carousel {
    margin-bottom: 2vw; } }

.banner-carousel iframe {
  height: 802px; }

.banner__nav--mobile, .dots--mobile {
  margin-bottom: 6vw; }
  @media only screen and (min-width: 53.25em) {
    .banner__nav--mobile, .dots--mobile {
      display: none; } }

.banner__nav--mobile {
  padding: 5px 15px 5px; }

.banner-slide {
  position: relative; }
  @media only screen and (max-width: 53.25em) {
    .banner-slide .textbox {
      display: none; } }
  .banner-slide .details {
    padding: 2vw 2vw 0; }
    @media only screen and (min-width: 53.25em) {
      .banner-slide .details {
        padding: 1.35vw 1.3vw 0; } }
    @media only screen and (min-width: 1480px) {
      .banner-slide .details {
        padding: 2rem 2.5rem 2rem 2rem; } }

@media only screen and (min-width: 53.25em) {
  .banner-slide:not(.slick-active):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); } }

.slick-dotted.slick-slider {
  margin-bottom: 0; }
  @media only screen and (min-width: 53.25em) {
    .slick-dotted.slick-slider {
      margin-bottom: 3.5vw; } }
  @media only screen and (min-width: 1480px) {
    .slick-dotted.slick-slider {
      margin-bottom: 5rem; } }

.slick-list {
  position: relative; }

.slick-arrow {
  display: none !important; }
  @media only screen and (min-width: 53.25em) {
    .slick-arrow {
      display: block !important;
      width: 45px;
      height: 78px; } }

.slick-prev::before, .slick-next::before {
  content: '';
  -webkit-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  transform: translateY(-49%);
  position: absolute;
  opacity: 1; }

.slick-prev {
  left: -10px;
  z-index: 1; }
  @media only screen and (min-width: 1480px) {
    .slick-prev {
      left: auto;
      margin-left: -57px; } }

.slick-next {
  right: 22px;
  z-index: 1; }
  @media only screen and (min-width: 1480px) {
    .slick-next {
      right: calc((100vw - 1400px) / 2);
      margin-right: -18px; } }

.slick-dots {
  position: static; }
  @media only screen and (min-width: 53.25em) {
    .slick-dots {
      text-align: left; } }

.slick-dots li button:before {
  content: '';
  opacity: 1;
  width: 14px;
  height: 14px;
  display: block; }

@media only screen and (max-width: 53.25em) {
  li[aria-hidden="false"] button:before {
    background-position: -136px -86px; } }

@media only screen and (min-width: 53.25em) {
  .banner-slide[data-slick-index="0"] li:nth-of-type(1) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="0"] li:nth-of-type(1):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="1"] li:nth-of-type(2) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="1"] li:nth-of-type(2):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="2"] li:nth-of-type(3) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="2"] li:nth-of-type(3):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="3"] li:nth-of-type(4) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="3"] li:nth-of-type(4):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="4"] li:nth-of-type(5) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="4"] li:nth-of-type(5):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="5"] li:nth-of-type(6) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="5"] li:nth-of-type(6):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="6"] li:nth-of-type(7) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="6"] li:nth-of-type(7):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="7"] li:nth-of-type(8) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="7"] li:nth-of-type(8):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="8"] li:nth-of-type(9) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="8"] li:nth-of-type(9):hover button:before {
    background-position: -226px -118px; }
  .banner-slide[data-slick-index="9"] li:nth-of-type(10) button:before {
    background-position: -226px -132px; }
  .banner-slide[data-slick-index="9"] li:nth-of-type(10):hover button:before {
    background-position: -226px -118px; } }

/* #video
-------------------------------------------------- */
/* #listen
-------------------------------------------------- */
.section--audio .details {
  border: 2px solid #d9d9d9; }

.section--audio .title-wrapper {
  min-height: 24vw;
  margin-bottom: 3vw; }
  @media only screen and (min-width: 53.25em) {
    .section--audio .title-wrapper {
      min-height: 5.5vw;
      margin-bottom: 3vw; } }
  @media only screen and (min-width: 1480px) {
    .section--audio .title-wrapper {
      min-height: 10rem;
      margin-bottom: 0; } }

.row--listen {
  margin-bottom: 0.6rem; }

.audio-player__details, .audio-progress-bar, .audio-time, .volume {
  display: inline-block;
  vertical-align: bottom; }

@media only screen and (min-width: 53.25em) {
  .audio-player {
    margin-top: 0.8vw; } }

@media only screen and (min-width: 1480px) {
  .audio-player {
    margin-top: 1.2rem; } }

.audio-player__details {
  max-width: 100%; }
  @media only screen and (min-width: 53.25em) {
    .audio-player__details {
      width: 67%;
      margin-left: 5%; } }
  @media only screen and (min-width: 1480px) {
    .audio-player__details {
      width: 72.695%;
      margin-left: 1rem; } }

.audio-progress-bar {
  margin-bottom: 4px;
  max-width: 100%; }

.volume {
  float: right;
  margin-right: 3px; }

/* #participate
-------------------------------------------------- */
.section--participate .details {
  min-height: 27vw; }
  @media only screen and (min-width: 53.25em) {
    .section--participate .details {
      min-height: initial; } }

/* #Talkstory
-------------------------------------------------- */
.section--talk-story {
  background-color: #b3b3b3;
  padding-top: 5vw;
  padding-bottom: 5vw; }
  @media only screen and (max-width: 53.25em) {
    .section--talk-story {
      margin-bottom: 8vw; } }
  @media only screen and (min-width: 53.25em) {
    .section--talk-story {
      padding-top: 2.65vw;
      padding-bottom: 2.65vw; } }
  @media only screen and (min-width: 1480px) {
    .section--talk-story {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .section--talk-story .section__title {
    color: white; }

.feature__inner {
  position: relative; }

.talk-story__feature {
  margin-bottom: 3rem; }
  @media only screen and (min-width: 53.25em) {
    .talk-story__feature {
      margin-bottom: 0; } }
  .talk-story__feature .title {
    font-family: "acumin-pro", Arial, sans-serif;
    font-weight: 700;
    font-size: 5vw; }
    @media only screen and (min-width: 53.25em) {
      .talk-story__feature .title {
        font-size: 2vw;
        line-height: 1.2; } }
    @media only screen and (min-width: 1480px) {
      .talk-story__feature .title {
        font-size: 3rem; } }

.talk-story__featurette {
  background-color: white; }
  .talk-story__featurette .category {
    margin-bottom: 0.5rem; }
    @media only screen and (min-width: 53.25em) {
      .talk-story__featurette .category {
        margin-bottom: 0.3rem; } }
    @media only screen and (min-width: 1480px) {
      .talk-story__featurette .category {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        margin-bottom: 0.1rem; } }
  .talk-story__featurette .title {
    font-weight: 700; }

.talk-story__textbox {
  min-height: auto;
  position: static;
  width: 100%;
  padding-bottom: 3vw; }
  @media only screen and (min-width: 53.25em) {
    .talk-story__textbox {
      position: absolute;
      width: 30.51%;
      padding-bottom: 2vw; } }
  @media only screen and (min-width: 1480px) {
    .talk-story__textbox {
      padding-bottom: 3rem; } }

/* #Dive deep
-------------------------------------------------- */
@media only screen and (max-width: 53.25em) {
  .section--dive-deep {
    margin-bottom: 5vw; } }

.dive-deep__textbox, .dive-deep__featurette {
  background-color: #ebebeb; }

.dive-deep__textbox {
  width: auto;
  position: static; }
  .dive-deep__textbox .title {
    margin-bottom: 0; }

.dive-deep__featurette .featurette__image {
  width: 52.94%; }

.dive-deep__featurette .featurette__details {
  width: 47.06%; }

@media only screen and (max-width: 53.25em) {
  .dive-deep__featurette .title {
    font-size: 5vw; } }

/* #half sections
-------------------------------------------------- */
@media only screen and (min-width: 53.25em) {
  .section--vr:nth-of-type(1) {
    padding-right: 4rem; } }
  @media only screen and (min-width: 53.25em) and (min-width: 53.25em) {
    .section--vr:nth-of-type(1) {
      padding-right: 2.7%; } }
  @media only screen and (min-width: 53.25em) and (min-width: 1480px) {
    .section--vr:nth-of-type(1) {
      padding-right: 4rem; } }

@media only screen and (min-width: 53.25em) {
  .section--vr:nth-of-type(2) {
    padding-left: 4rem; } }
  @media only screen and (min-width: 53.25em) and (min-width: 53.25em) {
    .section--vr:nth-of-type(2) {
      padding-left: 2.7%; } }
  @media only screen and (min-width: 53.25em) and (min-width: 1480px) {
    .section--vr:nth-of-type(2) {
      padding-left: 4rem; } }

.vertical-rule {
  display: none; }
  @media only screen and (min-width: 53.25em) {
    .vertical-rule {
      display: block;
      position: absolute;
      top: -1rem;
      right: -4.5px;
      height: 100%;
      width: 9px;
      background-image: url(/assets/images/folklife-vr.png);
      background-position: right;
      background-repeat: no-repeat;
      background-size: 9px 100%; } }

/* #Explore Collections
-------------------------------------------------- */
@media only screen and (min-width: 53.25em) {
  .explore-collections__featurette, .teach__featurette {
    height: 27vw; } }

@media only screen and (min-width: 1480px) {
  .explore-collections__featurette, .teach__featurette {
    height: 376px; } }

.explore-collections .details {
  padding-left: 0; }
  @media only screen and (max-width: 53.25em) {
    .explore-collections .details {
      min-height: 17vw; } }

.explore-collections .title {
  font-style: italic;
  font-weight: 600; }

/* #Teach
-------------------------------------------------- */
.section--teach .details {
  padding-left: 0; }
  @media only screen and (max-width: 53.25em) {
    .section--teach .details {
      min-height: 17vw; } }

.section--teach .title {
  font-weight: 400; }

/* #Newsletter Signup
-------------------------------------------------- */
.section--newsletter-signup, .section--support {
  margin-bottom: 4rem; }

.section--newsletter-signup .details {
  min-height: initial;
  padding-top: 1vw; }
  @media only screen and (min-width: 53.25em) {
    .section--newsletter-signup .details {
      padding-top: 1.2vw; } }
  @media only screen and (min-width: 1480px) {
    .section--newsletter-signup .details {
      padding-top: 1.5rem; } }

.newsletter-signup__copy {
  background-color: #e6e6e6; }
  @media only screen and (min-width: 53.25em) {
    .newsletter-signup__copy {
      height: 5.3vw; } }
  @media only screen and (min-width: 1480px) {
    .newsletter-signup__copy {
      height: 8.1rem; } }

.newsletter-signup-form {
  width: 100%; }

.newsletter__input {
  background-color: #cccccc;
  width: 100%;
  font-family: "acumin-pro", Arial, sans-serif;
  font-size: 5vw;
  height: 12vw; }
  @media only screen and (min-width: 53.25em) {
    .newsletter__input {
      padding-top: 1vw;
      font-size: 2.3vw; } }
  @media only screen and (min-width: 1480px) {
    .newsletter__input {
      font-size: 3.5rem;
      padding-top: 1.5rem; } }
  @media only screen and (min-width: 53.25em) {
    .newsletter__input {
      height: 5.4vw; } }
  @media only screen and (min-width: 1480px) {
    .newsletter__input {
      height: 7.6rem; } }

/* #Support
-------------------------------------------------- */
.support {
  border: 2px solid #999999;
  position: relative; }
  @media only screen and (min-width: 53.25em) {
    .support .details, .support__button {
      display: inline-block;
      vertical-align: top; } }
  @media only screen and (min-width: 53.25em) {
    .support .details {
      width: 46.45%;
      line-height: 1.25; } }
  .support__button {
    background-color: #999999;
    font-family: "unit-gothic-717", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 0.5px;
    line-height: 0.65;
    margin-top: 0;
    margin-bottom: 5vw;
    color: #595959;
    margin-bottom: 0;
    padding: 3vw;
    color: white;
    text-align: center; }
    @media only screen and (min-width: 53.25em) {
      .support__button {
        font-size: 2vw;
        margin-bottom: 2.8vw; } }
    @media only screen and (min-width: 1480px) {
      .support__button {
        font-size: 3rem;
        margin-bottom: 4.2rem; } }
    @media only screen and (min-width: 53.25em) {
      .support__button {
        padding: 0;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: table-cell;
        width: 100%;
        height: 100%;
        width: 53.55%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0; } }

.button__inner {
  line-height: 1.5; }
  @media only screen and (min-width: 53.25em) {
    .button__inner {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 1.1; } }

/* #footer
-------------------------------------------------- */
.footer {
  background-color: #333333;
  color: white; }
  .footer__logo {
    font-family: "balboa", Arial, sans-serif; }
  .footer__list--1 {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 53.25em) {
      .footer__list--1 {
        margin-bottom: 3.4rem; } }
  .footer__list--2 {
    margin-top: 4vw; }
    @media only screen and (min-width: 53.25em) {
      .footer__list--2 {
        margin-top: 1.7vw; } }
    @media only screen and (min-width: 1480px) {
      .footer__list--2 {
        margin-top: 2.5rem; } }
