@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("../bower_components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("../bower_components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("../bower_components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
// @font-face{ 
//   font-family: 'klinic_slab_light';
//   src: url('fonts/klinicslablight-webfont.eot');
//   src: url('fonts/klinicslablight-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslablight-webfont.woff2') format('woff2'),
//        url('fonts/klinicslablight-webfont.woff') format('woff'),
//        url('fonts/klinicslablight-webfont.ttf') format('truetype'),
//        url('fonts/klinicslablight-webfont.svg#klinic_slablight') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_lightit';
//   src: url('fonts/klinicslablightit-webfont.eot');
//   src: url('fonts/klinicslablightit-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslablightit-webfont.woff2') format('woff2'),
//        url('fonts/klinicslablightit-webfont.woff') format('woff'),
//        url('fonts/klinicslablightit-webfont.ttf') format('truetype'),
//        url('fonts/klinicslablightit-webfont.svg#klinic_slablight_italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_book';
//   src: url('fonts/klinicslabbook-webfont.eot');
//   src: url('fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabbook-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabbook-webfont.woff') format('woff'),
//        url('fonts/klinicslabbook-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_bookit';
//   src: url('fonts/klinicslabbookit-webfont.eot');
//   src: url('fonts/klinicslabbookit-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabbookit-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabbookit-webfont.woff') format('woff'),
//        url('fonts/klinicslabbookit-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabbookit-webfont.svg#klinic_slabbook_italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_medium';
//   src: url('fonts/klinicslabmedium-webfont.eot');
//   src: url('fonts/klinicslabmedium-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabmedium-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabmedium-webfont.woff') format('woff'),
//        url('fonts/klinicslabmedium-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabmedium-webfont.svg#klinic_slabmedium') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_mediumit';
//   src: url('fonts/klinicslabmediumit-webfont.eot');
//   src: url('fonts/klinicslabmediumit-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabmediumit-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabmediumit-webfont.woff') format('woff'),
//        url('fonts/klinicslabmediumit-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabmediumit-webfont.svg#klinic_slabmedium_italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_bold';
//   src: url('fonts/klinicslabbold-webfont.eot');
//   src: url('fonts/klinicslabbold-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabbold-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabbold-webfont.woff') format('woff'),
//        url('fonts/klinicslabbold-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabbold-webfont.svg#klinic_slabbold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face{ 
//   font-family: 'klinic_slab_boldit';
//   src: url('fonts/klinicslabboldit-webfont.eot');
//   src: url('fonts/klinicslabboldit-webfont.eot?#iefix') format('embedded-opentype'),
//        url('fonts/klinicslabboldit-webfont.woff2') format('woff2'),
//        url('fonts/klinicslabboldit-webfont.woff') format('woff'),
//        url('fonts/klinicslabboldit-webfont.ttf') format('truetype'),
//        url('fonts/klinicslabboldit-webfont.svg#klinic_slabbold_italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


/* Nicknames
-------------------------------------------------- */
// $seriflight: "klinic_slab_light", serif;
// $seriflightit: "klinic_slab_lightit", serif;
// $serifbook: "klinic_slab_book", serif;
// $serifbookit: "klinic_slab_bookit", serif;
// $serifmedium: "klinic_slab_medium", serif;
// $serifmediumit: "klinic_slab_mediumit", serif;
// $serifbold: "klinic_slab_bold", serif;
// $serifboldit: "klinic_slab_boldit", serif;

// $sansFallback: 'Josefin Sans', Futura, "Century Gothic", CenturyGothic, Arial, sans-serif; 
$sansFallback: Arial, sans-serif; 
$seriffallback: Georgia, Cambria, "Times New Roman", Times, serif;

$serif: "freight-text-pro", $seriffallback;

$sans: 'acumin-pro', $sansFallback; // typekit
// $sansNarrow: 'Archivo Narrow', $sansFallback; // google font
// $knockoutWide: "ff-good-headline-web-pro-con", $sansFallback; // typekit KNOCKOUT substitution
$knockoutNarrow: "unit-gothic-720", $sansFallback;
$knockoutWide: "unit-gothic-716", $sansFallback; // widest HTW
// $knockoutWide: "unit-gothic-717", $sansFallback;
// $knockout: $sansFallback;

// Serif 'Chronicle ScreenSmart'
// $slab: 'Chronicle SSm A', 'Chronicle SSm B', $sansFallback;
