
/* Icons
-------------------------------------------------- */
.icon-stack {
	// from font-awesome stacking, http://www.w3schools.com/icons/tryit.asp?filename=tryicons_awesome_intro_stack
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	div {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}
}
.icon-play-button {
	.icon-circle {
		color: $black20;
	}
	.icon-play {
		color: $black80;
	}
}
.icon-play-button, .icon-circle, .icon-play {
	width: 10vw;
	height: 10vw;
	@include respond-to(break2) {
		width: 4vw;
		height: 4vw;
	}
	@include respond-to(fullwidth) {
		width: 6rem;
		height: 6rem;
	}
}
.icon-circle:before, .icon-play:before {
	// font sizes for all icons
	font-size: 10vw;
	@include respond-to(break2) {
		font-size: 4vw;
	}
	@include respond-to(fullwidth) {
		font-size: 6rem;
	}
}