
@mixin detail-padding($desktop-px-top, $desktop-px-sides: 0, $desktop-px-bottom: 0) {
	padding-top: 5rem;
    @if $desktop-px-top == 30 {

    }
    @if $desktop-px-sides == 20 {padding-right: 2rem;padding-left: 2rem;}
    @if $desktop-px-bottom == 10 {padding-bottom: 1rem;}

}