/*
	Styleguide.folklife.si
	Author: Visual Dialogue
	URL:    http://visualdialogue.com
	Created: Fall 2016
	Heights based on 1.125 major 2nd scale of 8rem (80px for navbar);
*/

/* Imports
-------------------------------------------------- */
  @charset "UTF-8";
  @import "../common/css/fonts.scss";
  @import "../common/css/vd-icons.scss";
  @import "../bower_components/remodal/dist/remodal.scss";
  @import "../bower_components/remodal/dist/remodal-default-theme.scss";
  @import "../bower_components/slick-carousel/slick/slick.scss";
  @import "../bower_components/slick-carousel/slick/slick-theme.scss";
  @import "../bower_components/mediaelement/build/mediaelementplayer.min.scss";
  @import "../common/css/bootstrap.scss"; // get custom bootstrap built with less
  @import "../common/css/reset.scss";
  @import "../common/css/dimensions.scss";
  @import "../common/css/media-queries.scss";
  @import "../common/css/colors.scss"; // colors may be used in type.scss
  $hover: $fl-hover;
  @import "../common/css/type.scss";
  @import "../common/css/icons.scss";
  @import "../common/css/links.scss";
  @import "../common/css/mixins.scss";
  @import "../common/css/nav.scss";
  @import "../common/css/general.scss";
  @import "../common/css/footer.scss";
  @import "../common/css/article.scss";
  @import "../common/css/cards.scss";
  @import "../common/css/audio.scss";

/* links
-------------------------------------------------- */
	a {
		color: $copy;
		&:hover {
			color: $black40;
		}
	}

/* general
-------------------------------------------------- */
	.styleguide-site {
		.icon-share, .icon-search {
			display: none;
		}
	}
	.sub-section {
		@include margin-top(4);
	}

/* intro
-------------------------------------------------- */
	h2.intro-title { // for specificity override
		@include lg-serif;
		@include margin-top(0.5);
		@include margin-bottom(2.5);
	}
	.intro-copy {
		@include sm-serif;
		line-height: 1.35 !important;
		font-weight: 500;
	}
	.intro-section {
		@include margin-bottom(4);
	}
	h3.sidebar-section-title { // spec war
		@include margin-top(0.5);
	}

/* grid
-------------------------------------------------- */
	.grid-item {
		&-inner {
			background-color: $black50;
			@include height(9);
			@include margin-bottom(4);
			margin-bottom:1.5rem;

			// Reveal more info
			&.hidden-content:hover {
				background-color: $black65;
				cursor: zoom-in;
				.copy {
					color: $black65; // hide existing text
					&:after {
						content: attr(data-hover);
						color: $black20;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
			}

			.copy {
				@include sm-sans;
				color: #fff;
				text-align: center;
				// vertically align
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		@at-root &.blank {
			.grid-item-inner {
				visibility:hidden;
			}
		}
	}
	.custom-grid-item-inner {
		background-color: $black20;
		.copy {
			color: $copy;
		}
	}
	.custom-grid-container {
		@include margin-bottom(4);
	}

/* colors
-------------------------------------------------- */
	.color {
		@include sm-sans;
		margin-bottom: 0 !important;
		pre {
			display: block; // hide other code chunks
		}
	}
	.color-name {
		font-weight: 600;
	}
	.color-square {
		@include height(20);
		@include margin-bottom(1);
	}
	.color code.hljs {
		@include margin-top(0.5);
		@include padding(1);
	}

	// Grays
	.color-e4e2e1 { background-color: #e4e2e1;}
	.color-cccccc { background-color: #cccccc;}
	.color-999999 { background-color: #999999;}
	.color-595959 { background-color: #595959;}
	.color-333333 { background-color: #333333;}
	.color-000000 { background-color: #000000;}

	// Folklife Colors
	.light-blue-color { background-color: #91c5ea;}
	.color-4495d1 { background-color: #4495d1;}
	.color-b455a0 { background-color: #b455a0;}
	.color-e4f1de { background-color: #e4f1de;}
	.color-32bcad { background-color: #32bcad;}
	.color-248397 { background-color: #248397;}
	.color-bfff00 { background-color: #bfff00;}
	.color-ffefc6 { background-color: #ffefc6;}
	.color-c74a34 { background-color: #c74a34;}

	// Folkways Palette
	.color-cfdcf1 { background-color: #cfdcf1;}
	.color-b0d5de { background-color: #b0d5de;}
	.color-a499bc { background-color: #a499bc;}
	.color-fff2df { background-color: #fff2df;}
	.color-c2e1b7 { background-color: #c2e1b7;}
	.color-94a094 { background-color: #94a094;}
	.color-fbf6f0 { background-color: #fbf6f0;}
	.color-cdc4b3 { background-color: #cdc4b3;}
	.color-ec837a { background-color: #ec837a;}

	// Festival Palette
	.color-75bee9 { background-color: #75bee9;}
	.color-4e72b8 { background-color: #4e72b8;}
	.color-7c51a1 { background-color: #7c51a1;}
	.color-d5bf90 { background-color: #d5bf90;}
	.color-3ea6ae { background-color: #3ea6ae;}
	.color-00b26b { background-color: #00b26b;}
	.color-ffe06a { background-color: #ffe06a;}
	.color-eea557 { background-color: #eea557;}
	.color-de4049 { background-color: #de4049;}

/* code
-------------------------------------------------- */
	.title-bar {
		color: #fff;
		background-color: $fl-blue;
	}
	.code_gutter {
		display:none;
	}
	.codeblock {
		@include border(top);
		@include margin-top(4);
	}
	pre {
		display: none; // start hidden
		float: left; // stay under show-code button
		width: 100%;
		font-size:16px;
		font-size:14px;
		border-radius: initial;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
		white-space: initial;
		margin-bottom:4rem;
		@include respond-to(break2) {margin-bottom:2.55vw;}
		@include respond-to(fullwidth) {
			margin-bottom:8rem;
		}

		-moz-tab-size: 4; /* Code for Firefox */
		-o-tab-size: 4; /* Code for Opera 10.6-12.1 */
		tab-size: 4;
	}
	// highlight.js code block
	code.hljs {
		@include padding(3);
		@include respond-to(break2max) {
			font-size:1.2rem;
		}
		@include respond-to(break2) {font-size:1vw;}
		@include respond-to(fullwidth) {font-size:1.4rem;}
	}
	.col-sm-12 code {
		@include margin-top(4);
	}
	.html code {
		width: 400%; // prevent code breaking on html code
	}

	.section-subtitle {
		@include sm-serif;
		@include padding-top(2);
		@include margin-top(3);
		@include margin-bottom(2);
	}
	.section__description {
		@include margin-bottom(4);
	}

	.show-code {
		cursor: pointer;
		background-color: $black10;
		@include caption-sans;
		text-transform: initial;
		@include height(3.4);
		@include padding-top(0.6);
		@include padding-right(1);
		@include padding-bottom(1);
		@include padding-left(1);
		float: left;
		@include respond-to(break2) {
			float: right;
		}
		&:hover {
			color: $black20;
			background-color: #282c34; // from highlight.js atom dark theme
		}
		&.active {
			color: $black20;
			background-color: #282c34;
		}
	}
	.icon-down-arrow {
		float: right;
		font-size: 1.4rem;
		color: $black65;
		line-height: 1;
		@include respond-to(break2) {
			line-height: 0.8;
		}
		@include respond-to(fullwidth) {
			line-height: 1.4;
		}
	}

/* color
-------------------------------------------------- */
	.color {
		@include margin-bottom(4)
		@include respond-to(break2) {
			&:nth-of-type(2n + 1) {
				clear:none;
			}
			&:nth-of-type(6n + 1) {
				clear:left;
			}
		}
	}

/* typography
-------------------------------------------------- */
	.typography-section {
		@include margin-bottom(6);
	}
	.typography-section pre  {
		@include margin-bottom(2);
	}
	.sub-section > div:first-of-type {
		@include border(top, 4px);
	}
	.type-title {
		@include margin-bottom(2);
	}
	.type-title, .show-code {
		@include margin-top(2);
	}
	.type-details {
		@include sm-sans;
	}

	// Serif
	.lg-serif {@include lg-serif;}
	.md-serif {@include md-serif;}
	.sm-serif {@include sm-serif;}
	.sm-serif-italic {@include sm-serif;font-style: italic;}

	// Sans
	.xl-sans {@include xl-sans;}
	.xl-sans-semi {@include xl-sans;font-weight: 600;}
	.lg-sans {@include lg-sans;}
	.lg-sans-semi {@include lg-sans;font-weight: 600;}
	.md-sans {@include md-sans;}
	.md-sans-semi {@include md-sans;font-weight: 600;}
	.sm-sans {@include sm-sans;}
	.sm-sans-semi {@include sm-sans;font-weight: 600;}
	.caption-sans {@include caption-sans;}

	// body type
	.body-serif {@include body-serif;}
	.intro-serif {@include intro-serif;}
	.body-sans {@include body-sans;}
	.intro-sans {@include lg-sans;}

	// Slab
	.lg-slab {@include lg-slab;}
	.md-slab {@include md-slab;}
	.sm-slab {@include sm-slab;}
	.nav-header {@include nav-header;}

	// Magazine
	.lg-magazine-title {@include lg-magazine-title;}
	.md-magazine-title {@include md-magazine-title;}
	.sm-magazine-title {@include sm-magazine-title;}

	.buy-button {@include buy-button;}
	.category-tag-type {@include sans-tag;}
	.category-tag-bold-type {@include sans-tag;font-weight: 700;}

/* cards
-------------------------------------------------- */
	.cards-section {
		.card {
			@include respond-to(break2max) {
				margin-bottom: 0; // don't push show code titles down
			}
		}
		.codeblock {
			// @include border(top);
			@include margin-bottom(4);
			& > .row > [class*="col-"] {
				min-height:0;
			}
		}
		.show-code {
			@include margin-top(5);
		}
		code {
			margin-top:0;
		}
	}
	.video-card {
		.title {
			@include sm-serif;
			font-weight: 600;
		}
	}
	.horizontal-card {
		.title {
			@include lg-magazine-title;
		}
	}
	.feature {
		.title {
			@include lg-magazine-title;
		}
	}

/* video
-------------------------------------------------- */
	.video-section {
		.title {
			@include md-serif;
		}
		.subtitle {
			@include md-sans;
		}
	}

/* structure page
-------------------------------------------------- */
	.structure-page {
		.title-bar {
			color: #fff;
			background-color: $fs-blue;
		}
	}