/*
	Styleguide.folklife.si
	Author: Visual Dialogue
	URL:    http://visualdialogue.com
	Created: Fall 2016
*/

/* Imports
-------------------------------------------------- */
  @charset "UTF-8";
  @import "../common/css/fonts.scss";
  @import "../common/css/vd-icons.scss";
  @import "../common/bower_components/remodal/dist/remodal.scss";
  @import "../common/bower_components/remodal/dist/remodal-default-theme.scss";
  @import "../common/bower_components/slick-carousel/slick/slick.scss";
  @import "../common/bower_components/slick-carousel/slick/slick-theme.scss";
  @import "../common/css/bootstrap.scss"; // get custom bootstrap built with less
  @import "../common/css/reset.scss";
  @import "../common/css/dimensions.scss";
  @import "../common/css/media-queries.scss";
  @import "../common/css/colors.scss"; // colors may be used in type.scss
  @import "../common/css/type.scss";
  @import "../common/css/icons.scss";
  @import "../common/css/features.scss";
  @import "../common/css/padding.scss";
  @import "../common/css/links.scss";
  @import "../common/css/helpers.scss";
  @import "../common/css/mixins.scss";
  // @import "../common/css/nav.scss";
  @import "../common/css/nav-old.scss";
  @import "../common/css/general.scss";
  @import "../common/css/audio.scss";
  @import "../common/css/footer.scss";
  @import "../common/css/card.scss";
  @import "../../../../folklife.si.edu/code/assets/css/archives.scss";
  // @import "archives.scss";


/* #styleguide
-------------------------------------------------- */
	.section--styleguide {
		.title {
			@include serif-xl;
		}
		.card {
			@include margin-bottom(6);
		}
	}

/* #code
-------------------------------------------------- */
	.code_gutter {
		display:none;
	}
	section {
		// background-color: #272822;
	}
	pre {
		background-color: #272822;
		font-size:16px;
		// @include margin-top(0);
		border-radius: initial;
		// @include margin-bottom(8);
		// @include margin-left(-2);
		@include padding-top(3);
		@include padding-right(2);
		@include padding-bottom(3);
		@include padding-left(0);
		border-color: #272822;
		line-height: 0.7;
	}
	.section--typography pre  {
		@include margin-bottom(8);
	}
	.section-subtitle {
		@include serif-lg;
		color: $black50;
		@include margin-top(3);
		@include margin-bottom(2);
	}
	.section__description {
		@include margin-bottom(4);
	}


/* #color
-------------------------------------------------- */
	.color {@include margin-bottom(4)}
	.color__block {@include height(32)}
	// Festival
	.festival-color-list {
		.color:nth-of-type(1) .color__block {background-color:$fs-purple;}
		.color:nth-of-type(2) .color__block {background-color:$fs-orange;}
		.color:nth-of-type(3) .color__block {background-color:$fs-blue;}
	}
	// Folkways
	.folkways-color-list {
		.color:nth-of-type(1) .color__block {background-color:$fw-green;}
		.color:nth-of-type(2) .color__block {background-color:$fw-red;}
		.color:nth-of-type(3) .color__block {background-color:$fw-purple;}
		.color:nth-of-type(4) .color__block {background-color:$fw-lightGreen;}
	}
	// Shades of Gray
	.gray-color-list {
		.color:nth-of-type(1) .color__block {background-color: $black80}
		.color:nth-of-type(2) .color__block {background-color: $black70}
		.color:nth-of-type(3) .color__block {background-color: $black65}
		.color:nth-of-type(4) .color__block {background-color: $black60}
		.color:nth-of-type(5) .color__block {background-color: $black50}
		.color:nth-of-type(6) .color__block {background-color: $black40}
		.color:nth-of-type(7) .color__block {background-color: $black30}
		.color:nth-of-type(8) .color__block {background-color: $black20}
		.color:nth-of-type(9) .color__block {background-color: $black15}
		.color:nth-of-type(10) .color__block {background-color: $black10}
		.color:nth-of-type(11) .color__block {background-color: $black08}
	}

/* #video
-------------------------------------------------- */
	.section--video {
		.title {
			@include serif-lg;
		}
		.subtitle {
			@include sans-sm;
		}
	}

/* Helpers II
-------------------------------------------------- */
	.visually-hidden {display:none;}
	// .displayBlockImportant {display: block !important;} // because jQuery doesn't understand important
	// .hidden {display:none;} // in bootstrap with !important
	