body {
	font-family: $sans;
}

// KNOCKOUT
%meganav-font {
	font-family: $knockoutNarrow;
  text-transform: uppercase;
  font-weight: 700; 
	font-size: 2.2rem;
  letter-spacing: 0.5px;
	@include respond-to(break2) {
		font-size: 2.5rem;
	line-height: 1.2;
	}
}

%section-header {
	font-family: $slabWide;
	text-transform: uppercase;
	font-weight: 700; 
	// font-size: 2.2rem;
	// font-size: 10vw;
	font-size: 5vw;
	letter-spacing: 0.5px;
	line-height: 0.65; // so margins accurate
	margin-top: 0; // bootstrap reset
	margin-bottom: 5vw;
	color: $black65;
	@include respond-to(break2) {
		font-size: 2.5rem;
		// font-size: 4rem; // ff-good
		// font-size: 2.5rem;
		font-size: 3rem;
		margin-bottom: 2.8vw;
	}
	@include respond-to(fullwidth) {
		margin-bottom: 4.2rem;
	}
}

%link-font {
	font-family: $sans;
  // font-size: 1.5rem;
  font-size: 1.7rem;
  line-height: 2;
	@include respond-to(break2) {
		font-size: 2rem;
		line-height: 1.5;
	}
}


%title--sans {
	font-family: $sans;
	font-weight: 600; // semibold for acumin
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 1.6vw;
  		margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 2.4rem;
  		margin-bottom: 0.5rem;
	}
}
%title--sans--large {
	font-family: $sans;
	font-weight: 700;
	// font-size: 5vw;
	font-size: 5vw;
	@include respond-to(break2) {
		font-size: 2vw;
		line-height: 1.2;
	}
	@include respond-to(fullwidth) {
		font-size: 3rem;
	}
}
%title--sans--alt {
	font-family: $sans;
	font-weight: 300;
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 2vw;
  		margin-bottom: 0.4vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 3rem;
  		// margin-bottom: 0.5rem;
  		margin-bottom: 0;
	}
}
%subtitle--sans {
	font-family: $sans;
	font-weight: 300; // light for acumin
	line-height: 1.2;
  	font-size: 4vw;
	@include respond-to(break2) {
  		font-size: 1.35vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 2rem;
	}
}
%subtitle--sans--large {
	font-family: $sans;
	font-weight: 300; // light for acumin
	line-height: 1.2;
  	font-size: 5vw;
	@include respond-to(break2) {
  		font-size: 2vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 3rem;
	}
}

// search bar
%small-sans-title {
  font-family: $sans;
  font-weight: 500;
  line-height: 1.7;
  font-size: 2.5rem;
  // @include respond-to(break1) {
  //   font-size: 4vw;
  // }
  // @include respond-to(break2) {
  //   // font-size: 1.8vw;
  //   font-size: 2vw;
  //   line-height: 1.25;
  // }
  // @include respond-to(fullwidth) {
  //   // font-size: 1.3rem;
  //   font-size: 1.4rem;
  // }
}

%title--serif {
	font-family: $serif;
	font-weight: 700;
	line-height: 1.2;
  	font-size: 6vw;
	@include respond-to(break2) {
  		font-size: 1.9vw;
	}
	@include respond-to(fullwidth) {
  		font-size: 2.8rem;
	}
}
%title--serif--large {
	font-family: $serif;
	font-weight: 700;
	line-height: 1.2;
	font-size: 6vw;
	@include respond-to(break2) {
		font-size: 2.7vw;
		line-height: 1.2;
	}
	@include respond-to(fullwidth) {
		font-size: 4rem;
	}
}

%category {
	text-transform: uppercase;
	font-family: $sans;
	color: $black65;
	line-height: 0.8; // so margins accurate
	margin-bottom: 0.5rem;
	font-size: 2.5vw;
	@include respond-to(break2) {
		font-size: 1.2vw;
	}
	@include respond-to(fullwidth) {
		// margin-top: 0;
	// font-size: 1.6rem;
		// font-size: 1.8rem; // ff good
		font-size: 1.6rem; // acumin pro
	}
}

%type--date {
	@extend %category;
	font-weight: 700;
}



/* Sans reference
-------------------------------------------------- */

// Variation 	font-family 	font-weight 	font-style 	Copy CSS
// Thin 				 	100 	 	
// Extra Light 				200 	 	
// Light 				 	300 	 	
// Regular 				 	400 	 	
// Medium 				 	500 	 	
// Semibold 				600 	 	
// Bold 				 	700 	 	
// Black 				 	800 	 	
// Ultra Black 				900 	 	
