//- Video Card with video, popup, and play button
//- -  if ($card->type() == 'video'):
//- 	li.card.col-xs-6.col-sm-3
//- 		.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
//- 			.center-box
//- 				- if($src = $card->image($card->img())):
//- 					a.modal-trigger
//- 						img.image(src="<?= $src->url() ?>")
//- 				- endif
//- 					.icon-play-button.icon-play-button--video.icon-stack
//- 						.icon-circle
//- 						.icon-play
//- 		.details.card__details.details--inset
//- 			.category!= $card->category()
//- 			.title.card__title: a!= $card->title()
//- 			.description.card__description: a!= $card->copy()

//-----------
	prevent php error if empty var
	------------//
- $excerptData = null;

- if(isset($excerpt)):
	- $excerptData = $excerpt;
- endif

//- store cardtype if exists, make null if not so other functions will complete
- $cardTypeData = null;
- if(isset($type)):
	- $cardTypeData = $type;
- endif

//- passed vars
- if(isset($showCategory) && $showCategory === true):
	- $showCategory = true;
- else:
	- $showCategory = false;
- endif 

//- horizontal card
- if(isset($orientation) && $orientation == 'horizontal'):
	- $cardOrientation = 'horizontal';
- else:
	- $cardOrientation = 'standard';
- endif 


//- Feature blog entry on festival/blog
- if ((isset($type)) && ($type == 'blog-feature')):
	.card.blog-article.blog-article--feature.blog-article--vertical.clearfix

		//- if video is set, add data to card tag for video remodal
		- if((isset($video_id)) && ($video_id != '')):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->copy() ?>")
				.center-box
					- if($src = $card->image($card->img())):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image($card->img())):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif

		.card__details.details(class="")
			.category
				!= $card->festival(), ', ', $card->program();
			//- show card author if it isn't blank
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()
			.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
			- if (isset($excerptData)):
				.description.card__description.link-underline
					p!= excerpt($card->copy()->kt(), $excerptData, 'words')
			- else:
				.description.blog-article__description.link-underline!= $card->copy()->kt()
			- endif

			- snippet('more-link')

//- horizontal blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'horizontal')):
	li.card.col-sm-12.blog-article.clearfix
		.row
			.border.border--inset
			.card__image-wrapper.col-sm-6.clearfix(class="")
				- if($src = $card->image($card->img())):
					img.card__image(src="<?= $src->url() ?>")
				- endif
			.card__details.details.col-sm-6.details--inset.details--tight(class="")
				.time!= $card->time()
				.category
					!= $card->festival(), ', ', $card->program();
				.title.card__title: a(href="<?= $card->url() ?>")= $card->title()

				//- show card author if it isn't blank
				.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
				
				.description.card__description.link-underline!= $card->blurb()->kt()
				
				- if (isset($excerptData)):
					.description.card__description.link-underline
						p!= excerpt($card->copy()->kt(), $excerptData, 'words')
				- else:
					.description.blog-article__description.link-underline!= $card->copy()->kt()
				- endif

				- snippet('more-link')


//- vertical blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'vertical')):
	li.card.col-sm-3.blog-article.blog-article--vertical.clearfix
		.border
		.card__details.details(class="")
			.date!= $card->date('F jS')
			.time!= $card->time()
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()

		//- if video is set, add data to card tag for video remodal
		- if($video_id != ''):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->copy() ?>")
				.center-box
					- if($src = $card->image($card->img())):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image($card->img())):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif


//- festival home page special event entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'special-event')):

	//- separate logic from template, from http://stackoverflow.com/a/14415569
	//- start columns as non-existent because not set
	- $xs = null;
	- $sm = null;
	- $custom_class = null;
	- $details = null;

	//- if column widths are set, make into appropriate size class name for display later
	- if(isset($col_xs)):
		- $xs = 'col-xs-'.$col_xs;
	- endif
	- if(isset($col_sm)):
		- $sm = 'col-sm-'.$col_sm;
	- endif
	- if(isset($classname)):
		- $custom_class = $classname;
	- endif


	li.special-event.clearfix.card(class="<?= $xs ?> <?= $sm ?> <?= $custom_class ?>")
		.border
		.special-event__image
			- if($src = $card->image($card->img())):
				img(src="<?= $src->url() ?>")
			- endif
		.textbox.special-event__textbox
			.details.details--tight
				.date!= $card->date('F jS')
				.time!= $card->time()
				.title: a!= $card->title()
				.description: != excerpt($card->copy(), 20, 'words')

//- folkways new release
- elseif ((isset($type)) && ($type == 'new-release')):
	- if($src = $card->image($card->img())):
		li.col-xs-6.col-sm-2.new-release
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.title: a!= $card->title()
				.artist: a!= $card->artist()
	- endif

//- news item
- elseif ((isset($type)) && ($type == 'news')):
	- if($src = $card->image($card->img())):
		li.col-xs-6.col-sm-3
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.date!= $card->date('n.j.y')
				.title: a!= $card->title()
	- endif

//- Regular text card with image
- else:
	//- separate logic from template, from http://stackoverflow.com/a/14415569
	//- start columns as non-existent because not set
	- $xs = null;
	- $sm = null;
	- $custom_class = null;
	- $details = null;
		
	//- details for video card
	//- .details.card__details.details--inset
	//- 	.category!= $card->category()
	//- 	.title.card__title: a!= $card->title()
	//- 	.description.card__description: a!= $card->copy()

	//- Default for album, although widths can still be overwritten
	- if ((isset($type)) && ($type == 'album')):
		- $xs = 'col-xs-6'
		- $sm = 'col-sm-2'
		- $custom_class = 'album'
	- endif

	//- if column widths are set, make into appropriate size class name for display later
	- if(isset($col_xs)):
		- $xs = 'col-xs-'.$col_xs;
	- endif
	- if(isset($col_sm)):
		- $sm = 'col-sm-'.$col_sm;
	- endif
	- if(isset($classname)):
		- $custom_class = $classname;
	- endif
	//- if excerpt comes through, use it! If not, it's not set anyway
	//- - if(isset($excerpt)):
		//- - $excerptData = $excerpt;
	//- - endif

	- if ((isset($type)) && (($type == 'feature') || ($type == 'featurette'))):
		- $details = 'details--inset'
	- endif

	li.card(class="<?= $xs ?> <?= $sm ?> <?= $custom_class ?> card--<?= $cardTypeData ?> card--<?= $cardOrientation ?>")
	
		- if ((isset($border)) && $border === true):
			.border
		- endif

			- if ($card->type() == 'video' || ((isset($type)) && ($type == 'video'))):
				-if ($cardOrientation == 'standard'):
					.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
						.center-box
							- if($src = $card->image($card->img())):
								.modal-trigger
									img.image(src="<?= $src->url() ?>")
							- endif
								.icon-play-button.icon-play-button--video.icon-stack
									.icon-circle
									.icon-play
					- snippet('card-details', array('card' => $card, 'details' => $details, 'excerpt' => $excerptData, 'showCategory' => $showCategory ))
				- elseif ($cardOrientation == 'horizontal'):
					//- from festival videos
					//- .col-sm-6.festival-video.clearfix
						.row
							.col-sm-6
								.video__thumbnail.festival-video__image(data-video-id='<?= $page->intro_video_id() ?>' data-title='<?= $video->title() ?>' data-description='<?= $page->intro_video_copy() ?>')
									.center-box
										- if($src = $video->image($video->img())):
											a.modal-trigger
												img.image(src="<?= $src->url() ?>")
										- endif
											.icon-play-button.icon-play-button--video.icon-stack
												.icon-circle
												.icon-play
							.textbox.festival-video__textbox.col-sm-6
								.details
									.category!= 'Festival, ', $video->year(), ', ', $video->program()
									.title: a!= $video->title(), ': ', $video->subtitle()
					.festival-video.clearfix
						.row
							.col-sm-6
								.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
									.center-box
										- if($src = $card->image($card->img())):
											a.modal-trigger
												img.image(src="<?= $src->url() ?>")
										- endif
											.icon-play-button.icon-play-button--video.icon-stack
												.icon-circle
												.icon-play
							//- .textbox.festival-video__textbox.col-sm-6
							.festival-video__textbox.col-sm-6
								- snippet('card-details', array('card' => $card, 'details' => $details, 'excerpt' => $excerptData, 'showCategory' => $showCategory, 'video' => true ))
				- endif
			//- for switching folklife homepage to video card someday...
			//- 	//- - if($video->iframe()->isNotEmpty()):
			//- 	//- 	.iframe-wrapper
			//- 	//- 		!= $video->iframe()
			//- 	//- - elseif($src = $page->image($video->img())):
			//- 	.video__thumbnail(data-video-id='<?= $video->id() ?>' data-title='<?= $video->title() ?>' data-description='<?= $video->copy() ?>')
			//- 		.center-box
			//- 			- if($src = $page->image($video->img())):
			//- 				a.modal-trigger
			//- 					img.image(src="<?= $src->url() ?>")
			//- 			- endif
			//- 				.icon-play-button.icon-play-button--video.icon-stack
			//- 					.icon-circle
			//- 					.icon-play
			//- 	.details
			//- 		.category!= $video->category()
			//- 		.title: a(href="<?= $video->url() ?>")!= $video->title()
			//- Audio card with play feature
			- elseif ($card->type() == 'audio' || ((isset($type)) && ($type == 'audio'))):
			.audio
				.card__image-wrapper.clearfix(class="")
					- if($src = $card->image($card->img())):
						img.card__image(src="<?= $src->url() ?>")
					- endif
				.details.card__details.details--inset
					.category.card__category!= $card->category() 
					.title-wrapper.card__title-wrapper
						.title: a!= $card->title()
						- if('' != $card->audio_album()):
							.subtitle!= $card->audio_album()
						- endif
						.artist!= $card->artist()->kt()
					.audio-player
						.icon-play-button.icon-stack
							.icon-circle
							.icon-play
						.audio-player__details
							.audio-progress-bar
								img(src="/assets/images/icons/audio-progress-bar.png")
							.audio-time
								|0:00 &vert;&nbsp;
								!= $card->audio_length()
							.volume
			- elseif($cardOrientation == 'horizontal'):
				//- set image width if not passed as variable
				- if (!isset($img_col)):
					- $img_col = '6';
				- endif;
				//- set text width if not passed as variable
				- if (!isset($text_col)):
					- $text_col = '6';
				- endif;
				
				a.card__inner(href="<?= $card->url() ?>")
					ul.row
						li.card__image-wrapper.clearfix(class="col-sm-<?= $img_col ?>")
							- if($src = $card->image($card->img())):
								img.card__image(src="<?= $src->url() ?>")
							- endif
						li(class="col-sm-<?= $text_col ?>")
							- snippet('card-details', array('card' => $card, 'details' => $details, 'excerpt' => $excerptData, 'showCategory' => $showCategory ))
			- else:
				a.card__inner(href="<?= $card->url() ?>")
					.card__image-wrapper.clearfix(class="")
						- if($src = $card->image($card->img())):
							img.card__image(src="<?= $src->url() ?>")
						- endif
					- snippet('card-details', array('card' => $card, 'details' => $details, 'excerpt' => $excerptData, 'showCategory' => $showCategory ))
			- endif
- endif