//-----------
	prevent php error if empty vars
	------------//
//- excerpt
- $excerptData = null;
- if(isset($excerpt)):
	- $excerptData = $excerpt;
- endif

//- blurb
- $blurbData = null;
- if(isset($blurb)):
	- $blurbData = $blurb;
- endif

//- store cardtype if exists, make null if not so other functions will complete
- $cardTypeData = null;
- if(isset($type)):
	- $cardTypeData = $type;
- endif

//- passed vars
- if(isset($showCategory) && $showCategory === true):
	- $showCategory = true;
- else:
	- $showCategory = false;
- endif 

//- more link
- if (!isset($more_link)):
	- $more_link = false;
- endif;

//- horizontal card
- if(isset($orientation)):
	- if($orientation == 'horizontal'):
		- $cardOrientation = 'horizontal'
	- elseif($orientation == 'vertical'):
		- $cardOrientation = 'vertical'
	- endif 
- else:
	- $cardOrientation = 'standard'
- endif 

//- audio card
- if ($card->type() == 'audio' || ((isset($type)) && ($type == 'audio'))):
	//- set flag for card type
	- $audioCard = true;
	//- make classname for card
	- $cardTypeData = 'audio';
- else:
	- $audioCard = false;
- endif


//- Feature blog entry on festival/blog
- if ((isset($type)) && ($type == 'blog-feature')):
	.card.blog-article.blog-article--feature.blog-article--vertical.clearfix

		//- if video is set, add data to card tag for video remodal
		- if((isset($video_id)) && ($video_id != '')):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->copy() ?>")
				.center-box
					- if($src = $card->image()):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image()):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif

		.card__details.details(class="")
			.category
				!= $card->festival(), ', ', $card->program();
			//- show card author if it isn't blank
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()
			.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
			- if (isset($excerptData)):
				.description.card__description.link-underline
					p!= excerpt($card->copy()->kt(), $excerptData, 'words')
			- else:
				.description.blog-article__description.link-underline!= $card->copy()->kt()
			- endif

			- snippet('more-link')

//- horizontal blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'horizontal')):
	li.card.col-sm-12.blog-article.clearfix
		.row
			.border.border--inset
			.card__image-wrapper.col-sm-6.clearfix(class="")
				- if($src = $card->image()):
					img.card__image(src="<?= $src->url() ?>")
				- endif
			.card__details.details.col-sm-6.details--inset.details--tight(class="")
				.time!= $card->time()
				.category
					!= $card->festival(), ', ', $card->program();
				.title.card__title: a(href="<?= $card->url() ?>")= $card->title()

				//- show card author if it isn't blank
				.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
				
				.description.card__description.link-underline!= $card->blurb()->kt()
				
				- if (isset($excerptData)):
					.description.card__description.link-underline
						p!= excerpt($card->copy()->kt(), $excerptData, 'words')
				- else:
					.description.blog-article__description.link-underline!= $card->copy()->kt()
				- endif

				- snippet('more-link')


//- vertical blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'vertical')):
	li.card.col-sm-3.blog-article.blog-article--vertical.clearfix
		.border
		.card__details.details(class="")
			.date!= $card->date('F jS')
			.time!= $card->time()
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()

		//- if video is set, add data to card tag for video remodal
		- if($video_id != ''):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->copy() ?>")
				.center-box
					- if($src = $card->image()):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image()):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif


//- festival home page special event entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'special-event')):

	//- separate logic from template, from http://stackoverflow.com/a/14415569
	//- start columns as non-existent because not set
	- $xs = null;
	- $sm = null;
	- $custom_class = null;
	- $detailsData = null;

	//- if column widths are set, make into appropriate size class name for display later
	- if(isset($col_xs)):
		- $xs = 'col-xs-'.$col_xs;
	- endif
	- if(isset($col_sm)):
		- $sm = 'col-sm-'.$col_sm;
	- endif
	- if(isset($classname)):
		- $custom_class = $classname;
	- endif
	- if(isset($details)):
		- $detailsData = $details;
	- endif


	li.special-event.clearfix.card(class="<?= $xs ?> <?= $sm ?> <?= $custom_class ?>")
		.border
		.special-event__image
			- if($src = $card->image()):
				img(src="<?= $src->url() ?>")
			- endif
		.textbox.special-event__textbox
			.details.details--tight
				.date!= $card->date('F jS')
				.time!= $card->time()
				.title: a!= $card->title()
				.description: != excerpt($card->copy(), 20, 'words')

//- folkways new release
- elseif ((isset($type)) && ($type == 'new-release')):
	- if($src = $card->image()):
		li.col-xs-6.col-sm-2.new-release
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.title: a!= $card->title()
				.artist: a!= $card->artist()
	- endif

//- news item
- elseif ((isset($type)) && ($type == 'news')):
	- if($src = $card->image()):
		li.col-xs-6.col-sm-3
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.date!= $card->date('n.j.y')
				.title: a!= $card->title()
	- endif

//- Regular text card with image
- else:
	//- separate logic from template, from http://stackoverflow.com/a/14415569
	//- start columns as non-existent because not set
	- $xs = null;
	- $sm = null;
	- $custom_class = null;
	- $detailsData = null;
		
	//- Default for album, although widths can still be overwritten
	- if ((isset($type)) && ($type == 'album')):
		- $xs = 'col-xs-6'
		- $sm = 'col-sm-2'
		- $custom_class = 'album'
	- endif

	//- if column widths are set, make into appropriate size class name for display later
	- if(isset($col_xs)):
		- $xs = 'col-xs-'.$col_xs;
	- endif
	- if(isset($col_sm)):
		- $sm = 'col-sm-'.$col_sm;
	- endif
	- if(isset($classname)):
		- $custom_class = $classname;
	- endif
	- if(isset($details)):
		- $detailsData = $details;
	- endif

	//- - if ((isset($type)) && (($type == 'feature') || ($type == 'featurette'))):
		//- - $detailsData = 'details--inset'
	//- - endif

	li.card(class="<?= $xs ?> <?= $sm ?> <?= $custom_class ?> card--<?= $cardTypeData ?> card--<?= $cardOrientation ?>")
	
		- if ((isset($border)) && $border === true):
			.border
		- endif

			- if ($card->type() == 'video' || ((isset($type)) && ($type == 'video'))):

				//- vertical video card
				-if ($cardOrientation == 'vertical'):
					.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
						.center-box
							- if($src = $card->image()):
								.modal-trigger
									img.image(src="<?= $src->url() ?>")
							- endif
								.icon-play-button.icon-play-button--video.icon-stack
									.icon-circle
									.icon-play
					- snippet('card-details', array('card' => $card, 'details' => $detailsData, 'excerpt' => $excerptData, 'showCategory' => $showCategory, 'more_link' => $more_link ))

				//- horizontal video card
				- elseif ($cardOrientation == 'horizontal'):
					.festival-video.clearfix
						.row
							.col-sm-6
								.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->copy() ?>')
									.center-box
										- if($src = $card->image()):
											a.modal-trigger
												img.image(src="<?= $src->url() ?>")
										- endif
											.icon-play-button.icon-play-button--video.icon-stack
												.icon-circle
												.icon-play
							//- .textbox.festival-video__textbox.col-sm-6
							.festival-video__textbox.col-sm-6
								- snippet('card-details', array('card' => $card, 'details' => $detailsData, 'excerpt' => $excerptData, 'showCategory' => $showCategory, 'video' => true, 'more_link' => $more_link ))
				- endif
			//- Audio card with play feature
			- elseif($audioCard):
			.audio
				- if($src = $card->image()):
					.card__image-wrapper.clearfix(class="")
						a(href="<?= $card->url() ?>")
							img.card__image(src="<?= $src->url() ?>")
				- endif
				.details.card__details.details--inset
					.category.card__category!= $card->category() 
					.title-wrapper.card__title-wrapper
						a.high.title(href="<?= $card->url() ?>"): span.light: span.er= $card->title()
						- if('' != $card->audio_album()):
							.subtitle!= $card->audio_album()
						- endif
						.artist!= $card->artist()->kt()
					.audio-player
						.icon-play-button.icon-stack
							.icon-circle
							.icon-play
						.audio-player__details
							.audio-progress-bar
								img(src="/assets/images/icons/audio-progress-bar.png")
							.audio-time
								|0:00 &vert;&nbsp;
								!= $card->audio_length()
							.volume
			- elseif($cardOrientation == 'horizontal'):
				//- set image width if not passed as variable
				- if (!isset($img_col)):
					- $img_col = '6';
				- endif;
				//- set text width if not passed as variable
				- if (!isset($text_col)):
					- $text_col = '6';
				- endif;
				
				.card__inner
					.row
						.high.card__image-wrapper.clearfix(class="col-sm-<?= $img_col ?>")
							- if($src = $card->image()):
								a(href="<?= $card->url() ?>")
									img.card__image(src="<?= $src->url() ?>")
							- endif
						div(class="col-sm-<?= $text_col ?>")
							- snippet('card-details', array('card' => $card, 'details' => $detailsData, 'blurb' => $blurbData, 'excerpt' => $excerptData, 'showCategory' => $showCategory, 'more_link' => $more_link ))
			- else:
				.card__inner
					- if($src = $card->image()):
						.card__image-wrapper.clearfix(class="")
							a(href="<?= $card->url() ?>")
								img.card__image(src="<?= $src->url() ?>")
					- endif
					- snippet('card-details', array('card' => $card, 'details' => $detailsData, 'blurb' => $blurbData, 'excerpt' => $excerptData, 'showCategory' => $showCategory, 'more_link' => $more_link ))
			- endif
- endif