.card__details.details(class="<?= $details ?>")

	//- category
	//- dont' show category on albums
	- if($showCategory):
		//- show special date if video card
		- if(isset($video) && $video === true):
			.category!= 'Festival, ', $card->year(), ', ', $card->program()
		- else:
			.category!= $card->category()
		- endif

	- endif

	//- date
	- if('' != $card->date()):
		.date!= $card->date('M d, Y')
	- endif

	a.high(href="<?= $card->url() ?>").title.card__title: span.light: span.er= $card->title()

	//- subtitle
	- if('' != $card->subtitle()):	
		.subtitle!= $card->subtitle()
	- endif

	//- artist
	- if('' != $card->artist()):	
		.artist!= $card->artist()
	- endif

	//- author
	- if('' != $card->author()):	
		.author!= $card->author()
	- endif

	//- price
	- if('' != $card->price()):	
		.price!= '$', $card->price()
	- endif

	//- blurb
	//- - if('' != $card->blurb()):	
	- if (isset($blurb)):
		.description.card__description.link-underline.blurb!= $card->blurb()->kt()
	- endif
	
	- if (isset($excerpt)):
		.description.card__description.link-underline
			p!= excerpt($card->copy()->kt(), $excerpt, 'words')
	//- - elseif('' != $card->copy() && $card->type() != 'video'):
		.description.card__description.link-underline!= $card->copy()->kt()
	- endif

	//- order1
	- if('' != $card->order1()):	
		//- text, non-breaking space, right arrow
		.buy-now-button!= $card->order1(), '&nbsp;&#x2192';
	- endif

	//- order2
	- if('' != $card->order2()):	
		//- text, non-breaking space, right arrow
		.buy-now-button!= $card->order2(), '&nbsp;&#x2192';
	- endif

	- if($more_link):
		- snippet('more-link')
	- endif
