//- Video Card with video, popup, and play button
-  if ($card->type() == 'video'):
	li.card.col-xs-6.col-sm-3
		.video__thumbnail(data-video-id='<?= $card->video_id() ?>' data-title='<?= $card->title() ?>' data-description='<?= $card->description() ?>')
			.center-box
				- if($src = $card->image($card->img())):
					a.modal-trigger
						img.image(src="<?= $src->url() ?>")
				- endif
					.icon-play-button.icon-play-button--video.icon-stack
						.icon-circle
						.icon-play
		.details.card__details.details--inset
			.category!= $card->category()
			.title.card__title: a!= $card->title()
			.description.card__description: a!= $card->description()

//- Audio card with play feature
- elseif ($card->type() == 'audio'):
	li.card.audio.col-xs-6.col-sm-3
		- if($src = $card->image($card->img())):
			img(src="<?= $src->url() ?>")
		- endif
		.details.card__details.details--inset
			.category.card__category!= $card->category() 
			.title-wrapper.card__title-wrapper
				.title: a!= $card->title()
				.subtitle!= $card->audio_album()
			.audio-player
				.icon-play-button.icon-stack
					.icon-circle
					.icon-play
				.audio-player__details
					.audio-progress-bar
						img(src="/assets/images/icons/audio-progress-bar.png")
					.audio-time
						|0:00 &vert;&nbsp;
						!= $card->audio_length()
					.volume

//- Feature blog entry on festival/blog
- elseif ((isset($type)) && ($type == 'blog-feature')):
	.card.blog-article.blog-article--feature.blog-article--vertical.clearfix

		//- if video is set, add data to card tag for video remodal
		- if((isset($video_id)) && ($video_id != '')):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->description() ?>")
				.center-box
					- if($src = $card->image($card->img())):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image($card->img())):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif

		.card__details.details(class="")
			.category
				!= $card->festival(), ', ', $card->program();
			//- show card author if it isn't blank
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()
			.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
			- if (isset($excerpt)):
				.description.card__description.link-underline
					p!= excerpt($card->description()->kt(), $excerpt, 'words')
			- else:
				.description.blog-article__description.link-underline!= $card->description()->kt()
			- endif

			- snippet('more-link')

//- horizontal blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'horizontal')):
	li.card.col-sm-12.blog-article.clearfix
		.row
			.border.border--inset
			.card__image-wrapper.col-sm-6.clearfix(class="")
				- if($src = $card->image($card->img())):
					img.card__image(src="<?= $src->url() ?>")
				- endif
			.card__details.details.col-sm-6.details--inset.details--tight(class="")
				.time!= $card->time()
				.category
					!= $card->festival(), ', ', $card->program();
				.title.card__title: a(href="<?= $card->url() ?>")= $card->title()

				//- show card author if it isn't blank
				.date.date-sm!= $card->date('F jS, Y'), e('' != $card->author(), ' | ' . $card->author()), ' | 0 comments'
				
				.description.card__description.link-underline!= $card->blurb()->kt()
				
				- if (isset($excerpt)):
					.description.card__description.link-underline
						p!= excerpt($card->copy()->kt(), $excerpt, 'words')
				- else:
					.description.blog-article__description.link-underline!= $card->copy()->kt()
				- endif

				- snippet('more-link')


//- vertical blog entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'blog-article') && ($orientation == 'vertical')):
	li.card.col-sm-3.blog-article.blog-article--vertical.clearfix
		.border
		.card__details.details(class="")
			.date!= $card->date('F jS')
			.time!= $card->time()
			.title.card__title: a(href="<?= $card->url() ?>")!= $card->title()

		//- if video is set, add data to card tag for video remodal
		- if($video_id != ''):
			.video__thumbnail(data-video-id="<?= $card->video_id() ?>" data-title="<?= $card->title() ?>" data-description="<?= $card->description() ?>")
				.center-box
					- if($src = $card->image($card->img())):
						a.modal-trigger
							img.card__image(src="<?= $src->url() ?>")
					- endif
						.icon-play-button.icon-play-button--video.icon-stack
							.icon-circle
							.icon-play
		- else:
			.card__image-wrapper
				- if($src = $card->image($card->img())):
					a(href="<?= $card->url() ?>")
						img.card__image(src="<?= $src->url() ?>")
				- endif
		- endif


//- festival home page special event entry
//- Audio card with play feature
- elseif ((isset($type)) && ($type == 'special-event')):
	li.col-sm-6.special-event.clearfix
		.border
		.special-event__image
			- if($src = $page->image($card->src())):
				img(src="<?= $src->url() ?>")
			- endif
		.textbox.special-event__textbox
			.details.details--tight
				.date!= $card->date('F jS')
				.time!= $card->time()
				.title: a!= $card->title()
				.description: != excerpt($card->description(), 20, 'words')

//- folkways new release
- elseif ((isset($type)) && ($type == 'new-release')):
	- if($src = $card->image($card->img())):
		li.col-xs-6.col-sm-2.new-release
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.title: a!= $card->title()
				.artist: a!= $card->artist()
	- endif

//- news item
- elseif ((isset($type)) && ($type == 'news')):
	- if($src = $card->image($card->img())):
		li.col-xs-6.col-sm-3
			img(src="<?= $src->url() ?>")
			.details.details--participate
				.date!= $card->date('n.j.y')
				.title: a!= $card->title()
	- endif

//- Regular text card with image
- else:
	//- separate logic from template, from http://stackoverflow.com/a/14415569
	//- start columns as non-existent because not set
	- $xs = null;
	- $sm = null;
	- $custom_class = null;
	- $details = null;

	//- if column widths are set, make into appropriate size class name for display later
	- if(isset($col_xs)):
		- $xs = 'col-xs-'.$col_xs;
	- endif
	- if(isset($col_sm)):
		- $sm = 'col-sm-'.$col_sm;
	- endif
	- if(isset($classname)):
		- $custom_class = $classname;
	- endif

	- if ((isset($type)) && ($type == 'album')):
		- $xs = 'col-xs-6'
		- $sm = 'col-sm-2'
		- $custom_class = 'album'
	- endif

	- if ((isset($type)) && (($type == 'feature') || ($type == 'featurette'))):
		- $details = 'details--inset'
	- endif

	li.card(class="<?= $xs ?> <?= $sm ?> <?= $custom_class ?>")
	
		.card__inner
			.card__image-wrapper.clearfix(class="")
				- if($src = $card->image($card->img())):
					img.card__image(src="<?= $src->url() ?>")
				- endif
			.card__details.details(class="<?= $details ?>")

				//- category
				- if('' != $card->category()):	
					.category!= $card->category()
				- endif

				.title.card__title= $card->title()

				//- artist
				- if('' != $card->artist()):	
					.artist!= $card->artist()->kt()
				- endif

				//- blurb
				- if('' != $card->blurb()):	
					.description.card__description.link-underline!= $card->blurb()->kt()
				- endif
				
				- if (isset($excerpt)):
					.description.card__description.link-underline
						p!= excerpt($card->description()->kt(), $excerpt, 'words')
				- elseif('' != $card->description()):
					.description.card__description.link-underline!= $card->description()->kt()
				- endif

- endif