- snippet('header')

#navspacer.navspacer
.banner
	.banner__carousel#banner
		.banner__slide
			img.banner-img(src="assets/images/banner/banner-01.jpg")
			.banner__textbox
				.item__category Folklife
				.banner__textbox__title.banner__textbox__title--hero Turquoise Mountain Showcases Cultural Sustainability
				.banner__textbox__dots
		.banner__slide
			img.banner-img(src="assets/images/banner/banner-02.jpg")
			.banner__textbox
				.item__category Festival
				.banner__textbox__title.banner__textbox__title--hero Circus Arts <br/>at the 2017 Folklife Festival
				.banner__textbox__dots
		.banner__slide
			img.banner-img(src="assets/images/banner/banner-03.jpg")
			.banner__textbox
				.item__category Folkways
				.banner__textbox__title.banner__textbox__title--hero Freedom Sounds from Smithsonian Folkways
				.banner__textbox__dots
		.banner__slide
			img.banner-img(src="assets/images/banner/banner-04.jpg")
			.banner__textbox
				.item__category Folklife
				.banner__textbox__title.banner__textbox__title--hero Grand Opening of the National Museum <br />of African American History and Culture
				.banner__textbox__dots
		//- <iframe src="https://player.vimeo.com/video/100345550?title=0&byline=0&portrait=0" width="1400" height="788" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	.banner__nav--mobile
		.banner__textbox--mobile
			.item__category Folklife
			.banner__textbox__title.banner__textbox__title--hero Turquoise Mountain Showcases Cultural Sustainability
			.banner__textbox__dots
		.banner__textbox--mobile
			.item__category Festival
			.banner__textbox__title.banner__textbox__title--hero Circus Arts at the <br/>2017 Folklife Festival
			.banner__textbox__dots
		.banner__textbox--mobile
			.item__category Folkways
			.banner__textbox__title.banner__textbox__title--hero Freedom Sounds <br />from Smithsonian Folkways
			.banner__textbox__dots
		.banner__textbox--mobile
			.item__category Folklife
			.banner__textbox__title.banner__textbox__title--hero Grand Opening of the National Museum of African American History and Culture
			.banner__textbox__dots
	.banner__dots--mobile

section.container
	h2.section__title Watch
	ul.row
		- foreach ($page->video_data()->toStructure() as $video):
			li.col-sm-4
				- if($video->iframe()->isNotEmpty()):
					.iframe-wrapper
						!= $video->iframe()
				- elseif($src = $page->image($video->src())):
					img.item__image(src="<?= $src->url() ?>")
				- endif
				.item__details
					.item__category!= $video->category()
					.item__title--serif!= $video->title()
		- endforeach

.container
	hr.hr--folklife

section.container
	h2.section__title Listen
	ul.row.row--listen
		- foreach ($page->audio_data()->toStructure() as $audio):
			- if($src = $page->image($audio->src())):
				li.col-xs-6.col-sm-3
					.audio__block
						img.item__image(src="<?= $src->url() ?>")
						.item__details.item__details--audio
							.item__category!= $audio->category()
							.item__title--sans!= $audio->title()
							.item__subtitle--sans.album-title!= $audio->album()
							.audio-player
								.icon-play-button.icon-stack
									.icon-circle
									.icon-play
								.audio-player__details
									.audio-progress-bar
									.audio-time
										|0:00 &vert;
										!= $audio->length()
									.volume
			- endif
		- endforeach

.container
	hr.hr--folklife

section.container
	h2.section__title Participate
	ul.row
		- foreach ($page->events()->toStructure() as $event):
			- if($src = $page->image($event->src())):
				li.col-xs-6.col-sm-3
					img.item__image(src="<?= $src->url() ?>")
					.item__details
						.item__date!= $event->event_date()
						.item__title--sans--alt!= $event->title()
			- endif
		- endforeach

section.container.section--talk-story
	h2.section__title Talk Story
	.row
		.col-sm-8.talk-story__feature.clearfix
			.talk-story__feature__inner
				- if($src = $page->image($page->talk_story_feature_image())):
					img(src="<?= $src->url() ?>")
				- endif
				.banner__textbox.banner__textbox--talk-story
					.item__category!= $page->talk_story_feature_category()
					.banner__textbox__title.banner__textbox__title--talk-story!= $page->talk_story_feature_title()
					.banner__textbox__subtitle.banner__textbox__subtitle--talk-story!= $page->talk_story_feature_subtitle()
		ul.col-sm-4.talk-story__featurette-list.featurette-list
			- foreach ($page->talk_story_featurettes()->toStructure() as $featurette):
				- if($src = $page->image($featurette->src())):
					li.featurette.featurette--talk-story
						img.featurette__image(src="<?= $src->url() ?>")
						.featurette__details
							.item__category.item__category--talk-story-featurette= $featurette->category()
							.featurette--talk-story__title= $featurette->title()
							.featurette--talk-story__subtitle= $featurette->subtitle()
				- endif
			- endforeach

section.container.section--dive-deep
	h2.section__title Dive Deep
	.row
		.col-sm-6.dive-deep__feature.clearfix
			.dive-deep__feature__inner
				- if($src = $page->image($page->dive_deep_feature_image())):
					img(src="<?= $src->url() ?>")
				- endif
				.banner__textbox.banner__textbox--dive-deep
					.item__category!= $page->dive_deep_feature_category()
					.dive-deep__textbox__title.banner__textbox__title!= $page->dive_deep_feature_title()
		ul.col-sm-6.dive-deep__featurette-list.featurette-list
			- foreach ($page->dive_deep_featurettes()->toStructure() as $featurette):
				- if($src = $page->image($featurette->src())):
					li.featurette.featurette--dive-deep
						img.featurette__image.featurette__image--dive-deep(src="<?= $src->url() ?>")
						.featurette__details.featurette__details--dive-deep
							.item__category= $featurette->category()
							.dive-deep__featurette__title.featurette__title= $featurette->title()
				- endif
			- endforeach

.container
	hr.hr--folklife

.container
	.row
		section.col-sm-6.section--half.section--explore-collections
			h2.section__title Explore Collections		
			ul.row.explore-collections__featurette-list
				- foreach ($page->explore_collections_featurettes()->toStructure() as $featurette):
					- if($src = $page->image($featurette->src())):
						li.col-sm-6.explore-collections__featurette
							img.explore-collections__featurette__image(src="<?= $src->url() ?>")
							.explore-collections__featurette__details
								.explore-collections__featurette__title= $featurette->title()
					- endif
				- endforeach

		section.col-sm-6.section--half.section--teach
			h2.section__title Teach
		
			ul.row.teach__featurette-list
				- foreach ($page->teach_featurettes()->toStructure() as $featurette):
					- if($src = $page->image($featurette->src())):
						li.col-sm-4.teach__featurette
							img.teach__featurette__image(src="<?= $src->url() ?>")
							.teach__featurette__details
								.teach__featurette__category.item__category= $featurette->category()
								.teach__featurette__title= $featurette->title()
					- endif
				- endforeach

- snippet('footer')
