-snippet('header')

#navspacer.navspacer

-snippet('title-bar', array('title' => 'Styleguide'))

// Sections
-foreach($pages->visible() as $section):
	//- call each visible section, so can reorder, and pass relevant data to templates
	-snippet($section->uid(), array('section' => $section))
	.container: hr.thick-hr
-endforeach

-snippet('footer')