- snippet('header')

#navspacer.navspacer

//- Banner
//- Introduction Section
section.container
	.row
		.col-sm-7.ms-introduction
			// Typography
			h2.section__title Typography
			a.anchor-link#typography
			h1 h1
			h2 h2
			h3 h3
			h4 h4
			h5 h5
			h6 h6
			.section__title .section__title

			// Video
			hr.hr--thick
			h2.section__title Video
			a.anchor-link#video
			ul.row.cards
				- foreach($pages->find('videos')->children()->visible()->limit(1) as $video):
					- snippet('card', array('card' => $video, 'type' => 'video', 'col_sm' => 6, 'showCategory' => true ))
				- endforeach

			// Horizontal Video
			hr.hr--thick
			h2.section__title.section--horizontal-cards Horizontal Video
			a.anchor-link#video
			ul.row.cards
				- foreach($pages->find('videos')->children()->visible()->limit(1) as $video):
					- snippet('card', array('card' => $video, 'type' => 'video', 'col_sm' => 12, 'orientation' => 'horizontal', 'showCategory' => true ))
				- endforeach

			// Audio
			hr.hr--thick
			h2.section__title Audio
			a.anchor-link#audio


		div.col-sm-1.spacer
		aside.col-sm-4.ms-sidebar
			- if($src = $page->image($page->logo())):
				img(src="<?= $src->url() ?>")
			- endif
			//- get all program categories
			ul
				li.ms-sidebar__section-title.active: a(href="#typography") Typography
				li.ms-sidebar__section-title.active: a(href="#video") Video
				li.ms-sidebar__section-title.active: a(href="#audio") Audio
				
				li.ms-sidebar__section-title.small: a(href="#credits") Small Title
			//- h2.blog-sidebar__header Related Content
			//- ul.ms-related-content
				- foreach($pages->find('blog')->children()->visible()->filterBy('tags','basque',',')->limit(5) as $entry):
					li.clearfix
						.border
						.image-wrapper.clearfix(class="")
							- if($src = $entry->image($entry->img())):
								img.card__image(src="<?= $src->url() ?>")
							- endif
						.details(class="")
							.title.card__title: a(href="<?= $entry->url() ?>")= $entry->title()

							.description.card__description.link-underline
								p!= excerpt($entry->copy()->kt(), '25', 'words')

				- endforeach


//- Watch
section.section--video.container.section--first
	h2.section__title Videos
	ul.row
		- foreach ($page->video_data()->toStructure() as $video):
			:php
				//- replace double with single quotes for use in jade below
				$iframe = str_replace('"', "'", $video->iframe()) 
			li.col-sm-4(class="video" data-iframe='<?= $iframe ?>' data-video-id='<?= $video->id() ?>' data-title='<?= $video->title() ?>' data-description='<?= $video->copy() ?>')
				//- - if($video->iframe()->isNotEmpty()):
				//- 	.iframe-wrapper
				//- 		!= $video->iframe()
				//- - elseif($src = $page->image($video->img())):
				.video__thumbnail
					.center-box
						- if($src = $page->image($video->img())):
							a.modal-trigger
								img.image(src="<?= $src->url() ?>")
						- endif
							.icon-play-button.icon-stack
								.icon-circle
								.icon-play
				.details
					.category!= $video->category()
					.title: a!= $video->title()
		- endforeach

//- Cards
.container: hr.hr--thick
section.container
	h2.section__title Cards
	h3 Horizontal Cards
	p A class of .section--horizontal-cards must be added to the section tag with horizontal cards as children. Horizontal cards have an extra margin below each card, and the last few cards would push the next section down too far. This class takes the extra spacing into account and removes the bottom margin from the section.

//- Listen
.container: hr.hr--thick
section.section--audio.container
	h2.section__title Audio
	ul.row.row--listen
		- foreach ($page->audio_data()->toStructure() as $audio):
			- if($src = $page->image($audio->img())):
				li.col-xs-6.col-sm-3
					img(src="<?= $src->url() ?>")
					.details.details--inset
						.category!= $audio->category()
						.title-wrapper
							.title: a!= $audio->title()
							.subtitle!= $audio->album()
						.audio-player
							.icon-play-button.icon-stack
								.icon-circle
								.icon-play
							.audio-player__details
								.audio-progress-bar
								.audio-time
									|0:00 &vert;
									!= $audio->length()
								.volume
			- endif
		- endforeach

.container: hr.hr--thick

//- Participate
section.section--participate.container
	h2.section__title Participate
	- snippet('more-link')
	ul.row
		- foreach ($page->events()->toStructure() as $event):
			- if($src = $page->image($event->img())):
				li.col-xs-6.col-sm-3
					img(src="<?= $src->url() ?>")
					.details.details--participate
						.date!= $event->event_date()
						.title: a!= $event->title()
			- endif
		- endforeach

//- Talk Story
section.container.section--talk-story
	h2.section__title Talk Story
	.row
		.col-sm-8.talk-story__feature.clearfix
			.feature__inner
				- if($src = $page->image($page->talk_story_feature_image())):
					img(src="<?= $src->url() ?>")
				- endif
				.textbox.talk-story__textbox
					.details.details--inset.details--tight
						.details__inner
							.category!= $page->talk_story_feature_category()
							.title: a!= $page->talk_story_feature_title()
							.subtitle!= $page->talk_story_feature_subtitle()
		ul.col-sm-4.talk-story__featurette-list.featurette-list
			- foreach ($page->talk_story_featurettes()->toStructure() as $featurette):
				- if($src = $page->image($featurette->img())):
					li.talk-story__featurette.featurette
						img.featurette__image(src="<?= $src->url() ?>")
						.featurette__details.details.details--inset.details--tight
							.details__inner
								.category= $featurette->category()
								.title: a= $featurette->title()
								.subtitle= $featurette->subtitle()
				- endif
			- endforeach

//- Dive Deep
section.container.section--dive-deep
	h2.section__title Dive Deep
	- snippet('more-link')
	.row
		.col-sm-6.dive-deep__feature.clearfix
			.feature__inner
				- if($src = $page->image($page->dive_deep_feature_image())):
					img(src="<?= $src->url() ?>")
				- endif
				.textbox.dive-deep__textbox
					.details.details--inset
						.category!= $page->dive_deep_feature_category()
						.title: a!= $page->dive_deep_feature_title()
		ul.col-sm-6.dive-deep__featurette-list.featurette-list
			- foreach ($page->dive_deep_featurettes()->toStructure() as $featurette):
				- if($src = $page->image($featurette->img())):
					li.dive-deep__featurette.featurette
						img.featurette__image(src="<?= $src->url() ?>")
						.featurette__details.details.details--inset
							.category= $featurette->category()
							.title: a= $featurette->title()
				- endif
			- endforeach

.container: hr.hr--thick

//- half sections - Explore Collections and Teach
.container
	.row
		section.col-sm-6.section--vr.section--explore-collections.explore-collections
			h2.section__title.hidden-md Collections		
			h2.section__title.visible-md Explore Collections		
			- snippet('more-link')
			ul.row.explore-collections__featurette-list
				- foreach ($page->explore_collections_featurettes()->toStructure() as $featurette):
					- if($src = $page->image($featurette->img())):
						li.col-xs-6.col-sm-6.explore-collections__featurette
							img(src="<?= $src->url() ?>")
							.details.details--tight
								.title: a= $featurette->title()
					- endif
				- endforeach
			.vertical-rule

		hr.hr--thick.hidden-sm.hidden-md.hidden-lg
		section.col-sm-6.section--vr.section--teach
			h2.section__title Teach
			- snippet('more-link')
			ul.row.teach__featurette-list
				- foreach ($page->teach_featurettes()->toStructure() as $featurette):
					- if($src = $page->image($featurette->img())):
						li.col-xs-6.col-sm-4.teach__featurette
							img(src="<?= $src->url() ?>")
							.details.details--tight
								.title: a= $featurette->title()
					- endif
				- endforeach

button(data-remodal-action="close" class="remodal-close visually-hidden")
div(data-remodal-id="modal")
	.remodal__iframe#remodal__iframe
	.remodal__copy
		h3.remodal__title
		.remodal__description
			p

- snippet('footer')