-snippet('header')
#navspacer.navspacer
-snippet('title-bar', array('title' => 'Styleguide'))

// Sections
-$n=0;
-foreach($pages->visible() as $section): $n++;
	-if ($n != 1):
		.container: hr.thick-hr
	-endif
	-snippet($section->uid(), array('section' => $section))

-endforeach

-snippet('footer')