-snippet('header')

#navspacer.navspacer

// Styleguide
section.container.section--first.section--styleguide
	h2.section-title Styleguide

	ul.row.cards
		-foreach($pages->visible() as $card):
			//- get card for current content item
			-snippet('card', array('card' => $card, 'col_sm' => 4 ))
		-endforeach

-snippet('footer')